{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{% set exampleComponent = "item-folder" %}

{% set tablaAvanzada %}
  <div class="max-w-full overflow-x-auto">
    {{ componentTableAdvanced({
      "idPrefix": "table-with-checkboxes",
      "hasCheckboxes": true,
      "head": [
        {
          "text": "Month you apply"
        },
        {
          "text": "Rate for bicycles",
          "classes": "text-right"
        },
        {
          "text": "Rate for vehicles",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "January"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "February"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "March"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
{% endset %}


{% set examples =  [
  {
    "name": "default",
    "data": {
      "id": "item-example-1",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Carpeta"
      }
    }
  },
  {
    "name": "default with html",
    "data": {
      "id": "item-example-2",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "html": 'Carpeta <strong class="font-bold">con html</strong>'
      }
    }
  },
  {
    "name": "type document",
    "data": {
      "id": "item-example-3",
      "type": "document",
      "headingLevel": 4,
      "title": {
        "text": "Descripción del documento"
      }
    }
  },
  {
    "name": "type document with href",
    "data": {
      "id": "item-example-4",
      "type": "document",
      "href": "#",
      "headingLevel": 4,
      "title": {
        "html": "Descripción del documento"
      }
    }
  },
  {
    "name": "with countText",
    "data": {
      "id": "item-example-5",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "html": "Carpeta 1"
      },
      "countText":{
        "text": "12 documentos"
      }
    }
  },
  {
    "name": "with dateText",
    "data": {
      "id": "item-example-6",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "html": "Carpeta 2"
      },
      "dateText":{
        "html": '<span class="inline-block mr-xs text-neutral-dark">Última consulta:</span>12/10/2020'
      }
    }
  },
  {
    "name": "with countText and dateText",
    "data": {
      "id": "item-example-7",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "html": "Carpeta 3"
      },
      "countText":{
        "text": "12 documentos"
      },
      "dateText":{
        "html": '<span class="inline-block mr-xs text-neutral-dark">Última consulta:</span>12/10/2020'
      }
    }
  },
  {
    "name": "type document with description list",
    "data": {
      "id": "item-example-8",
      "type": "document",
      "href": "#",
      "headingLevel": 4,
      "title": {
        "text": "Lista de admitidos y excluidos de la convocatoria publicado en el BOA"
      },
      "descriptionList": {
        "classes": "lg:flex w-full",
        "items": [
          {
            "term": {
              "text": "CSV"
            },
            "definition": {
              "text": "CSVBA264ME75I1W0BENT"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Incorporación"
            },
            "definition": {
              "text": "19/10/2020"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "html": '<abbr title="Procedimiento">Proc.</abbr>'
            },
            "definition": {
              "text": "1520"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Tipo documento"
            },
            "definition": {
              "text": "Copia simple"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Fase"
            },
            "definition": {
              "text": "Actuaciones previas"
            },
            "classes": "flex-auto lg:pl-base"
          }
        ]
      }
    }
  },
  {
    "name": "with caller",
    "data": {
      "id": "item-example-9",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Carpeta 4"
      },
      "caller": tablaAvanzada
    }
  },
  {
    "name": "draggable",
    "description": "isDraggable: true",
    "data": {
      "id": "item-example-10",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Descripción del documento"
      },
      "isDraggable": true
    }
  },
  {
    "name": "Con checkbox",
    "description": "hasCheckbox: true",
    "data": {
      "id": "item-example-11",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Descripción del documento"
      },
      "hasCheckbox": true
    }
  },
  {
    "name": "with custom icon",
    "data": {
      "id": "item-example-13",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Lista de admitidos y excluidos de la convocatoria publicado en el BOA"
      },
      "content":{
        "html": "<a class=\" c-link break-all \" href=\" # \">Lista de admitidos y excluidos de la convocatoria publicado en el BOA (PDF, 150 Kb)</a> "
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="text-neutral-dark" aria-label="Solicitud" focusable="false" role="img"><path d="M96.25 52.5h-52.5a4.375 4.375 0 000 8.75h52.5a4.375 4.375 0 000-8.75zM100.625 77.286a4.375 4.375 0 00-4.375-4.375h-52.5a4.375 4.375 0 000 8.75h52.5a4.375 4.375 0 004.375-4.375zM58.333 37.917h23.334a5.833 5.833 0 005.833-5.834V17.5A17.54 17.54 0 0065.287.624 17.762 17.762 0 0052.5 18.007v14.076a5.833 5.833 0 005.833 5.834zm7.292-21.875A4.375 4.375 0 1170 20.417a4.375 4.375 0 01-4.375-4.381z" fill="currentColor"/><path d="M113.75 17.5H97.708a1.458 1.458 0 00-1.458 1.458v8.75a1.458 1.458 0 001.458 1.459h13.125a2.917 2.917 0 012.917 2.916v74.62a2.917 2.917 0 01-.852 2.065l-18.713 18.708a2.917 2.917 0 01-2.06.851H29.168a2.917 2.917 0 01-2.917-2.916V32.083a2.917 2.917 0 012.917-2.916h13.125a1.458 1.458 0 001.458-1.459v-8.75a1.458 1.458 0 00-1.458-1.458H26.25a11.667 11.667 0 00-11.667 11.667v99.166A11.667 11.667 0 0026.25 140h87.5a11.667 11.667 0 0011.667-11.667V29.167A11.667 11.667 0 00113.75 17.5z" fill="currentColor"/><path d="M43.75 93.333a4.375 4.375 0 000 8.75h21.875a4.375 4.375 0 000-8.75z" fill="currentColor"/></svg>'
      }
    }
  },
  {
    "name": "type folder con todo",
    "description": "isDraggable: true, hasCheckbox: true",
    "data": {
      "id": "item-example-14",
      "type": "folder",
      "headingLevel": 4,
      "title": {
        "text": "Carpeta"
      },
      "countText":{
        "text": "12 documentos"
      },
      "dateText":{
        "html": '<span class="inline-block mr-xs text-neutral-dark">Última consulta:</span>12/10/2020'
      },
      "isDraggable": true,
      "hasCheckbox": true,
      "caller": tablaAvanzada
    }
  },
  {
    "name": "type document con todo",
    "description": "isDraggable: true, hasCheckbox: true",
    "data": {
      "id": "item-example-15",
      "type": "document",
      "href": "#",
      "headingLevel": 4,
      "title": {
        "text": "Lista de admitidos y excluidos de la convocatoria publicado en el BOA"
      },
      "descriptionList": {
        "classes": "lg:flex w-full",
        "items": [
          {
            "term": {
              "text": "CSV"
            },
            "definition": {
              "text": "CSVBA264ME75I1W0BENT"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Incorporación"
            },
            "definition": {
              "text": "19/10/2020"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "html": '<abbr title="Procedimiento">Proc.</abbr>'
            },
            "definition": {
              "text": "1520"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Tipo documento"
            },
            "definition": {
              "text": "Copia simple"
            },
            "classes": "flex-auto lg:pl-base"
          },
          {
            "term": {
              "text": "Fase"
            },
            "definition": {
              "text": "Actuaciones previas"
            },
            "classes": "flex-auto lg:pl-base"
          }
        ]
      },
      "isDraggable": true,
      "hasCheckbox": true
    }
  }
] %}