{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}

{% set idTitle = params.id + '-title' %}
{% set idLabel = params.id + '-label' %}
{% set idCheckbox = params.id + '-checkbox' %}
{% set idSvg = params.id + '-svg' %}
{% set idCollapse = params.id + '-collapse' %}

{% set commonContent %}
  {% if params.title.html %}
    {{ params.title.html | safe}}
  {% else %}
    {{ params.title.text }}
  {% endif %}
{% endset %}
{% set commonAttributes %}
  id="{{ idTitle }}" {%- if params.title.classes %} class="{{ params.title.classes }}"{% endif %}
{% endset %}

{% set commonTitle %}
  {% if params.type == 'document' and params.href %}
    {% if params.headingLevel == "1" %}
      <h1 {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></h1>
    {% elseif params.headingLevel == "2" %}
      <h2 {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></h2>
    {% elseif params.headingLevel == "3" %}
      <h3 {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></h3>
    {% elseif params.headingLevel == "4" %}
      <h4 {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></h4>
    {% elseif params.headingLevel == "5" %}
      <h5 {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></h5>
    {% else %}
      <p {{ commonAttributes | trim | safe }}><a href="{{ params.href }}" class="c-link">{{ commonContent | trim | safe }}</a></p>
    {% endif %}
  {% else %}
    {% if params.headingLevel == "1" %}
      <h1 {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</h1>
    {% elseif params.headingLevel == "2" %}
      <h2 {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</h2>
    {% elseif params.headingLevel == "3" %}
      <h3 {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</h3>
    {% elseif params.headingLevel == "4" %}
      <h4 {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</h4>
    {% elseif params.headingLevel == "5" %}
      <h5 {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</h5>
    {% else %}
      <p {{ commonAttributes | trim | safe }}>{{ commonContent | trim | safe }}</p>
    {% endif %}
  {% endif %}
{% endset %}

<!-- item-folder -->
<div x-data="{ isOpen: {%- if params.open == true %}true{% else %}false{% endif %}, isChecked: false }">
  <div {%- if params.id %} id="{{ params.id }}"{% endif %} class="flex flex-wrap py-sm px-base border border-neutral-base rounded {%- if params.classes %} {{ params.classes }}{% endif %}"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    <div class="lg:flex flex-1 self-center">
      <div class="lg:flex lg:flex-1 lg:self-center {%- if params.descriptionList %} lg:max-w-sm{% endif %}">
        <div class="flex-1">
          {{ commonTitle | safe }}
          {% if params.content %}
            <p class="text-sm {%- if params.content.classes %} {{ params.content.classes }}{% endif %}">
                {{ params.content.html | safe if params.content.html else params.content.text }}
            </p>
          {% endif %}
        </div>
        {% if params.type == 'folder' %}
          {% if params.countText %}
            <div class="lg:ml-xl">
              <p {%- if params.countText.classes %} class="{{ params.countText.classes }}"{% endif %}>
                  {{ params.countText.html | safe if params.countText.html else params.countText.text }}
              </p>
            </div>
          {% endif %}
          {% if params.dateText %}
            <div class="lg:ml-xl">
              <p {%- if params.dateText.classes %} class="{{ params.dateText.classes }}"{% endif %}>
                  {{ params.dateText.html | safe if params.dateText.html else params.dateText.text }}
              </p>
            </div>
          {% endif %}
        {% endif %}
      </div>
      {% if params.type == 'document' and params.descriptionList %}
        <div class="flex-auto mt-sm lg:mt-0 lg:w-1/2">
          {{ componentDescriptionList( params.descriptionList )  }}
        </div>
      {% endif %}
    </div>
    {% if params.isDraggable %}
      <div class="flex self-center order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"/><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"/><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"/><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"/><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"/><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"/></g></svg>
      </div>
    {% endif %}
    {% if params.hasCheckbox %}
      <div class="flex lg:self-center order-first h-full mt-xs lg:mt-0 c-checkboxes c-checkboxes--sm mr-base">
        <label id="{{ idLabel }}" for="{{ idCheckbox }}" class="sr-only">Selecciona</label>
        <input x-model="isChecked" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base" id="{{ idCheckbox }}" name="{{ idCheckbox }}" type="checkbox" value="item-checkbox" aria-labelledby="{{ idLabel }} {{ idTitle }}">
      </div>
    {% endif %}
    {% if caller %}
      {% set myCaller = caller() %}
      {% if myCaller | string != '' %}
        <div class="flex lg:self-center order-first h-full mt-xs lg:mt-0 mr-base">
          <button @click="isOpen = !isOpen" x-bind:aria-expanded="String(isOpen)" {%- if params.id %} id="{{params.id}}-button"{% endif %} class="group relative cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" {%- if params.id %} aria-controls="{{ idCollapse }}"{% endif %} aria-labelledby="{{ idTitle }}">
            <svg x-show="isOpen" id="{{ idSvg }}-a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="text-neutral-dark fill-current" aria-label="Información de detalle de " focusable="false" role="img"><path d="M137.07 34a10 10 0 00-14.14 0L71.77 85.13a2.5 2.5 0 01-3.54 0L17.07 34A10 10 0 002.93 48.11l56.46 56.47a15 15 0 0021.22 0l56.46-56.47a10 10 0 000-14.11z"/></svg>
            <svg x-show="!isOpen" id="{{ idSvg }}-b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="text-neutral-dark fill-current" aria-label="Información de detalle de " focusable="false" role="img"><path d="M34 137.07a10 10 0 010-14.14l51.13-51.16a2.5 2.5 0 000-3.54L34 17.07A10 10 0 0148.11 2.93l56.46 56.46a15 15 0 010 21.22l-56.46 56.46a10 10 0 01-14.11 0z"/></svg>
          </button>
        </div>
      {% endif %}
    {% endif %}
    <div class="lg:self-center order-first h-full mt-xs lg:mt-0 mr-base">
      {% if params.icon.html %}
        {{ params.icon.html | safe }}
      {% elseif params.type == 'document' %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false" role="img"><path d="M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z"/><path d="M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z"/></svg>
      {% elseif params.type == 'folder' %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false" role="img"><path d="M120 35H67.89l-13-22.5a5 5 0 00-4.33-2.5H20A20 20 0 000 30v80a20 20 0 0020 20h100a20 20 0 0020-20V55a20 20 0 00-20-20z"/></svg>
      {% endif %}
    </div>
  </div>
  <p class="sr-only">
      Este item es:
      {% if params.isDraggable %}arrastable, {% endif %}
      {% if params.hasCheckbox %}seleccionable, {% endif %}
      {% if params.type == 'document' %}tipo documento, {% endif %}
      {% if params.type == 'folder' %}tipo carpeta, {% endif %}
      {% if params.icon.html %}tiene un icono personalizado {% endif %}
  </p>
  <div  {%- if params.id %} id="{{ idCollapse }}"{% endif %}
        x-show="isOpen"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-y-95"
        x-transition:enter-end="opacity-100 scale-y-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-y-100"
        x-transition:leave-end="opacity-0 scale-y-95" class="py-sm">
    {% if caller %}
      {% set myCaller = caller() %}
      {% if myCaller | string != '' %}
      <div class="w-full">
        {{ myCaller }}
      </div>
      {% endif %}
    {% elseif params.caller %}
     <div class="w-full">
        {{ params.caller | safe }}
      </div>
    {% endif %}
  </div>
</div>
<!-- /item-folder -->