{# Titulo de pagina #}
{% set title = "Admin - Visibilidad - Listado de módulos - Mensajes de éxito/error. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  
  <h2 class="c-h3">Mostrar apartados</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "Los apartados seleccionados se muestran correctamente."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se han podido mostrar los apartados seleccionados. Por favor, inténtalo de nuevo más tarde"
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

  <h2 class="c-h3">Ocultar apartados</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "Los apartados seleccionados se han ocultado correctamente."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se han podido ocultar los apartados seleccionados. Por favor, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}


{% endblock %}
{# fin Contenido de la página #}