{# Titulo de pagina #}
{% set title = "Admin - Analítica - Listado de Tareas - Programadas - Aviso éxito. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      {# aviso #}
      <div class="mb-lg">
        {{ componentNotification({
          "title": {
            "text": "La tarea se ha programado correctamente."
          },
          "isDismissible": true,
          "type": "success",
          "id": "type-success"
        }) }}
      </div>
     {# fin aviso #}     
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h1 flex-1">Tareas ejecutadas y programadas</h1>
        {# Botones de accion de pagina #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
          <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Programar tarea",
                "classes": "c-button--primary lg:ml-sm mb-sm"
              })  }}
            </li>
          </ul>
        </section>
        {# fin Botones de accion de pagina #}
      </div>
      {# Menu de Tareas #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Tareas ejecutadas"
          },
          {
            "href": "#",
            "text": "Tareas programadas",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de Tareas"
        }
      })  }}
      {# fin Menu de Tareas #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h2">Tareas programadas</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-tareas",
      "caption": "Listado de tareas",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Entrenamiento',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Puntual/Periódico',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Puntual"
              },
              {
                "value": 2,
                "text": "Periódico"
              }
            ]
          }
        },
        {
          "html": 'Incio',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Fin',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Frecuencia',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Visibilidad externa del expediente</a>'
          },
          {
            "html": 'Periódico'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": '12/10/2020, 13:45'
          },
          {
            "html": 'Primer lunes, cada mes'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Tipo de documento</a>'
          },
          {
            "html": 'Puntual'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": ''
          },
          {
            "html": ''
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Visibilidad externa del expediente</a>'
          },
          {
            "html": 'Periódico'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": '12/10/2020, 13:45'
          },
          {
            "html": 'Primer lunes, cada mes'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Tipo de docuemnto</a>'
          },
          {
            "html": 'Puntual'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": ''
          },
          {
            "html": ''
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Visibilidad externa del expediente</a>'
          },
          {
            "html": 'Periódico'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": '12/10/2020, 13:45'
          },
          {
            "html": 'Primer lunes, cada mes'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Tipo de docuemnto</a>'
          },
          {
            "html": 'Puntual'
          },
          {
            "html": '21/09/2020, 10:30'
          },
          {
            "html": ''
          },
          {
            "html": ''
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-tareas",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}
{% endblock %}
{# fin Contenido de la página #}