{# Titulo de pagina #}
{% set title = "Admin - Analítica - Tareas - Programar tarea. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set checkPuntual %}
  {{ componentDateInput({
    "id": "fecha-ejecucion-puntual",
    "namePrefix": "fecha-ejecucion-puntual",
    "fieldset": {
      "legend": {
        "html": 'Fecha de ejecución del entrenamiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "hint": {
      "html": 'El entrenamiento se ejecutará a las 01:00 de la fecha indicada'
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }}  
{% endset %}
{% set checkPeriodico %}
  {{ componentDateInput({
    "id": "fecha-inicio-periodico",
    "namePrefix": "fecha-inicio-periodico",
    "fieldset": {
      "legend": {
        "html": 'Fecha de inicio del entrenamiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "hint": {
      "html": 'El entrenamiento se iniciará a las 01:00 de la fecha indicada'
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }} 
  {{ componentDateInput({
    "id": "fecha-fin-periodico",
    "namePrefix": "fecha-fin-periodico",
    "fieldset": {
      "legend": {
        "html": 'Fecha de fin del entrenamiento'
      }
    },
    "hint": {
      "html": 'El entrenamiento finalizará a las 01:00 de la fecha indicada'
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }}   
  {{ componentSelect({
    "id": "select-frecuencia",
    "name": "select-frecuencia",
    "label": {
      "html": '¿Cada cuánto debe ejecutarse el entrenamiento? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona la frecuencia de ejecución...",
        "selected": true,
        "disabled": true
      },
      {
        "value": 1,
        "text": "Opción 1"
      },
      {
        "value": 2,
        "text": "Opción 2"
      },
      {
        "value": 3,
        "text": "Opción 3"
      }
    ],
    "classes": "w-full lg:w-1/2"
  }) }}    
  {{ componentSelect({
    "id": "select-dia-ejecucion",
    "name": "select-dia-ejecucion",
    "label": {
      "html": '¿Cuándo debe ejecutarse el entrenamiento? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona el día de ejcución...",
        "selected": true,
        "disabled": true
      },
      {
        "value": 1,
        "text": "Opción 1"
      },
      {
        "value": 2,
        "text": "Opción 2"
      },
      {
        "value": 3,
        "text": "Opción 3"
      }
    ],
    "classes": "w-full lg:w-1/2"
  }) }}    
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M2.373.015a.515.515 0 0 0-.358.36C2.003.421 2 .495 2 .716v.282l-.347.005c-.383.005-.431.01-.615.07a1.5 1.5 0 0 0-.964.965c-.075.229-.069-.08-.069 3.462 0 3.541-.006 3.233.069 3.462.17.521.6.901 1.15 1.015.075.016.348.017 3.716.02 2.652.003 3.66.001 3.73-.007a1.504 1.504 0 0 0 1.316-1.293.208.208 0 0 1 .015-.073c.005-.003.009-1.402.009-3.135 0-1.722-.004-3.128-.008-3.125-.004.003-.013-.037-.02-.087A1.5 1.5 0 0 0 8.92 1.06C8.756 1.01 8.638 1 8.3 1H8V.717c0-.306-.005-.349-.056-.45A.591.591 0 0 0 7.74.062a.508.508 0 0 0-.473-.005.591.591 0 0 0-.207.203C7.006.364 7 .405 7 .717V1H3V.717c0-.306-.005-.349-.056-.45A.591.591 0 0 0 2.74.062a.525.525 0 0 0-.368-.046M1.405 2.01a.514.514 0 0 0-.377.327l-.023.068v6.19l.024.068a.53.53 0 0 0 .308.308l.068.024h7.19l.068-.024a.53.53 0 0 0 .308-.308l.024-.068v-6.19l-.024-.068a.541.541 0 0 0-.302-.308l-.064-.024-3.58-.001c-1.969-.001-3.598.002-3.62.006M.005 5.5c0 1.724.001 2.43.002 1.567.002-.862.002-2.272 0-3.135 0-.862-.002-.156-.002 1.568M4.86 2.895a.535.535 0 0 0-.334.313c-.02.056-.021.065-.024.925L4.5 5H3.66c-.861 0-.895.001-.985.04a.579.579 0 0 0-.267.28c-.019.046-.022.075-.022.18 0 .107.002.133.022.18a.581.581 0 0 0 .267.28c.09.039.124.04.985.04h.84v.84c0 .861.001.895.04.985a.58.58 0 0 0 .28.267c.046.019.074.022.18.022s.134-.003.18-.022a.58.58 0 0 0 .28-.267c.039-.09.04-.124.04-.985V6h.84c.861 0 .895-.001.985-.04a.58.58 0 0 0 .267-.28c.019-.046.022-.074.022-.18s-.003-.134-.022-.18a.58.58 0 0 0-.267-.28C7.235 5.001 7.2 5 6.34 5H5.5v-.84c0-.861-.001-.895-.04-.985a.573.573 0 0 0-.28-.266.685.685 0 0 0-.32-.014"/></svg>
{% endblock %}
{% block titleText %}
  Programar tarea
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Programar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-lg mt-base lg:mt-0">Configuración de la tarea</h2>

  {{ componentSelect({
    "id": "select-entrenamiento",
    "name": "select-entrenamiento",
    "label": {
      "html": 'Entrenamiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona el entrenamiento...",
        "selected": true,
        "disabled": true
      },
      {
        "value": 1,
        "text": "Opción 1"
      },
      {
        "value": 2,
        "text": "Opción 2"
      },
      {
        "value": 3,
        "text": "Opción 3"
      }
    ],
    "classes": "w-full lg:w-1/2"
  }) }}  

  {{ componentRadios({
    "idPrefix": "tipo-entrenamiento",
    "name": "tipo-entrenamiento",
    "fieldset": {
      "legend": {
        "html": '¿Es un entrenamiento puntual o periódico? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold mb-xs"
      }
    },
    "items": [
      {
        "value": "puntual",
        "html": 'Puntual',
        "conditional": {
          "html": checkPuntual
        }
      },
      {
        "value": "periodico",
        "html": 'Periódico',
        "conditional": {
          "html": checkPeriodico
        }
      }
    ]
  })  }}  

{% endblock %}
{# fin Contenido de la página #}