{# Titulo de pagina #}
{% set title = "Admin - Visibilidad - Listado de módulos - Mensaje de error. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se han podido ocultar los apartados seleccionados. Por favor, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

  <h1 class="c-h1 flex-1">Visibilidad de módulos</h1>


  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-sm text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar los módulos para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los módulos con la casilla de verificación "Seleccionar todo".</p>
        <p>La cabecera de las filas tiene opción de ordenación.</p>
        <p>La segunda fila tiene campos de formulario para filtrar los datos de cada columna. A medida que escribas dentro del campo de búsqueda los datos de la tabla se actualizarán automáticamente.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de modulos</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-modulos",
        "name": "todos-modulos",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            },
            "attributes": {
              "onclick": "openDialog('modal-ocultar-todo', this, 'ocultar-todo')"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Ocultar",
            "classes": "c-button--sm",
            "attributes": {
              "onclick": "openDialog('modal-ocultar-modulo', this, 'ocultar-modulo')"
            }
          })  }}       
        </li>
        <li>
          {{ componentButton({
            "text": "Mostrar",
            "classes": "c-button--sm c-button--primary",
            "attributes": {
              "onclick": "openDialog('modal-mostrar-modulo', this, 'mostrar-modulo')"
            }
          })  }}       
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de modulos #}
  {{ componentTableAdvanced({
    "idPrefix": "listado-modulos",
    "caption": "Listado de módulos",
    "captionClasses": "sr-only",
    "hasCheckboxes": true,
    "checkboxesClasses": "w-16",
    "head": [
      {
        "html": 'Módulo',
        "orderBy": "none",
        "select": {
          "items": [
            {
              "value": "",
              "text": "Filtrar por...",
              "disabled": true,
              "selected": true,
              "hidden": true
            },
            {
              "value": 1,
              "text": "Bandejas"
            },
            {
              "value": 2,
              "text": "Documentos"
            },
            {
              "value": 3,
              "text": "Expedientes"
            },
            {
              "value": 4,
              "text": "Home"
            },
            {
              "value": 5,
              "text": "Indicadores"
            },
            {
              "value": 6,
              "text": "Notificaciones"
            }
          ]
        }
      },
      {
        "html": 'Apartado',
        "orderBy": "none",
        "hasFilter": true
      },
      {
        "html": 'Visibilidad',
        "orderBy": "none",
        "select": {
          "items": [
            {
              "value": "",
              "text": "Filtrar por...",
              "disabled": true,
              "selected": true,
              "hidden": true
            },
            {
              "value": 1,
              "text": "Oculto"
            },
            {
              "value": 2,
              "text": "Visible"
            }
          ]
        }
      }
    ],
    "rows": [
      [
        {
          "html": 'Bandejas',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Documentos',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-alert-base"></span>Oculto</div>'
        }
      ],
      [
        {
          "html": 'Expedientes',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Expedientes',
          "classes": "font-semibold"
        },
        {
          "html": 'Apartado de consultas'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Expedientes',
          "classes": "font-semibold"
        },
        {
          "html": 'Pestaña subvenciones en el detalle del expediente'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Home',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Indicadores',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Notificaciones',
          "classes": "font-semibold"
        },
        {
          "html": 'Módulo completo'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Notificaciones',
          "classes": "font-semibold"
        },
        {
          "html": 'Preparación de notificaciones desde expediente'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ],
      [
        {
          "html": 'Notificaciones',
          "classes": "font-semibold"
        },
        {
          "html": 'Preparación de notificaciones desde documentos firmados'
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Visible</div>'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}
  {# fin Tabla-Listado de modulos #}





  <!-- modal Ocultar modulo -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-ocultar-modulo" class="hidden" role="dialog" aria-labelledby="label-ocultar-modulo" aria-modal="true">
      {{ componentModal({
        "id": "ocultar-modulo",
        "title": {
          "text": "Ocultar apartados"
        },
        "description": {
          "html": '¿Deseas ocultar los apartados seleccionados? Dejarán de mostrarse para todas las personas que utilicen la aplicación.'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Ocultar apartados",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.19 10.51a20.64 20.64 0 0 0-4.3-3.59l4-4a.91.91 0 0 0-.05-1.34.87.87 0 0 0-1.31 0L2 21.07a1 1 0 1 0 1.35 1.35l4.15-4.15a10.85 10.85 0 0 0 4.61.94c4.25 0 8.49-3 11-5.8a2.16 2.16 0 0 0 .08-2.9Zm-6.88 2.72a4.59 4.59 0 0 1-3 3 4.3 4.3 0 0 1-3.1-.19.24.24 0 0 1-.06-.4l5.55-5.56a.25.25 0 0 1 .41.06 4.3 4.3 0 0 1 .2 3.09ZM7.61 13.36a.24.24 0 0 0 .07-.24A4 4 0 0 1 7.5 12 4.51 4.51 0 0 1 12 7.46a4 4 0 0 1 1.16.18.26.26 0 0 0 .24-.06l1.95-1.95a.26.26 0 0 0-.11-.42 10.58 10.58 0 0 0-3.24-.5c-4.3 0-8.6 3-11.19 5.8a2.16 2.16 0 0 0 0 2.9 21.36 21.36 0 0 0 3.43 3 .26.26 0 0 0 .33 0Z"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Ocultar modulo  -->

  <!-- modal Ocultar todo -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-ocultar-todo" class="hidden" role="dialog" aria-labelledby="label-ocultar-todo" aria-modal="true">
      {{ componentModal({
        "id": "ocultar-todo",
        "title": {
          "text": "Ocultar todo"
        },
        "description": {
          "html": '¿Deseas ocultar todos los apartados? La aplicación dejará de estar disponible y aparecerá un aviso indicándolo.'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Ocultar todo",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.19 10.51a20.64 20.64 0 0 0-4.3-3.59l4-4a.91.91 0 0 0-.05-1.34.87.87 0 0 0-1.31 0L2 21.07a1 1 0 1 0 1.35 1.35l4.15-4.15a10.85 10.85 0 0 0 4.61.94c4.25 0 8.49-3 11-5.8a2.16 2.16 0 0 0 .08-2.9Zm-6.88 2.72a4.59 4.59 0 0 1-3 3 4.3 4.3 0 0 1-3.1-.19.24.24 0 0 1-.06-.4l5.55-5.56a.25.25 0 0 1 .41.06 4.3 4.3 0 0 1 .2 3.09ZM7.61 13.36a.24.24 0 0 0 .07-.24A4 4 0 0 1 7.5 12 4.51 4.51 0 0 1 12 7.46a4 4 0 0 1 1.16.18.26.26 0 0 0 .24-.06l1.95-1.95a.26.26 0 0 0-.11-.42 10.58 10.58 0 0 0-3.24-.5c-4.3 0-8.6 3-11.19 5.8a2.16 2.16 0 0 0 0 2.9 21.36 21.36 0 0 0 3.43 3 .26.26 0 0 0 .33 0Z"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Ocultar todo  -->

  <!-- modal Mostrar modulo -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-mostrar-modulo" class="hidden" role="dialog" aria-labelledby="label-mostrar-modulo" aria-modal="true">
      {{ componentModal({
        "id": "mostrar-modulo",
        "title": {
          "text": "Mostrar apartados"
        },
        "description": {
          "html": '¿Deseas mostrar los apartados seleccionados? Dejarán de ocultarse para todas las personas que utilicen la aplicación.'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Mostrar apartados",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M23.43 10.52c-2.64-2.91-7-6-11.43-5.92S3.21 7.61.57 10.52a2.22 2.22 0 0 0 0 3C2.33 15.42 6.74 19.4 12 19.4s9.66-4 11.43-5.93a2.22 2.22 0 0 0 0-2.95ZM7.4 12a4.6 4.6 0 1 1 4.6 4.6A4.6 4.6 0 0 1 7.4 12Z"/><path d="M10 12a2 2 0 1 0 4 0 2 2 0 1 0-4 0"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Mostrar modulo  -->
{% endblock %}
{# fin Contenido de la página #}