{# Titulo de pagina #}
{% set title = "Admin - Analítica - Detalle de tarea - Ejecutada. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
    <a href="#" class="c-link">Volver a Tareas ejecutadas y programadas</a>
  </p>
  <div class="lg:flex lg:flex-wrap">
    <h1 class="c-h2 mb-sm flex-1 lg:place-self-center pr-lg">Visibilidad externa del expediente</h1>
  </div>
  <div class="mb-base lg:mb-lg">
    {# Estado notificacion #}
    <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Ejecutada</p></div>
    <hr class="border-neutral-base my-base"><!--linea separadora-->
  </div>  

  <h2 class="c-h3 mb-base">Resultado de la tarea</h2>
  {{ componentDescriptionList({
    "classes": "w-full lg:w-2/3",
    "items": [
      {
        "term": {
          "text": "Precisión",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "80,33%",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      }
    ]
  })  }}   

  <div class="pb-lg"></div><!--espaciador-->
  
  <h2 class="c-h3 mb-base">Datos del entrenamiento</h2>
  {{ componentDescriptionList({
    "classes": "w-full lg:w-2/3",
    "items": [
      {
        "term": {
          "text": "Entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Visibilidad externa del expediente",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Puntual/Periódico",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Periódico",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Fecha de inicio del entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "05/07/2024, 01:00",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Fecha de fin del entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "08/08/2024, 01:00",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "¿Cada cuánto tiene que ejecutarse el entrenamiento?",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Cada mes",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "¿Cuándo debe ejecutarse el entrenamiento?",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Primer lunes",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      }
    ]
  })  }}    
{% endblock %}
{# fin Contenido de la página #}