{# Titulo de pagina #}
{% set title = "Admin - Analítica - Detalle de tarea - Programada. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
    <a href="#" class="c-link">Volver a Tareas ejecutadas y programadas</a>
  </p>
  <div class="lg:flex lg:flex-wrap">
    <h1 class="c-h2 mb-sm flex-1 lg:place-self-center pr-lg">Visibilidad externa del expediente</h1>
    {{ componentButton({
      "text": "Eliminar",
      "classes": "c-button--transparent mb-sm lg:mb-0",
      "attributes": {
        "onclick": "openDialog('modal-eliminar-tarea', this, 'eliminar-tarea')"
      }
    }) }} 
  </div>
  <div class="mb-base lg:mb-lg">
    {# Estado notificacion #}
    <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Programada</p></div>
    <hr class="border-neutral-base my-base"><!--linea separadora-->
  </div>  
  
  <h2 class="c-h3 mb-base">Datos del entrenamiento</h2>
  {{ componentDescriptionList({
    "classes": "w-full lg:w-2/3",
    "items": [
      {
        "term": {
          "text": "Entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Visibilidad externa del expediente",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Puntual/Periódico",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Periódico",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Fecha de inicio del entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "05/07/2024, 01:00",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "Fecha de fin del entrenamiento",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "08/08/2024, 01:00",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "¿Cada cuánto tiene que ejecutarse el entrenamiento?",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Cada mes",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      },
      {
        "term": {
          "text": "¿Cuándo debe ejecutarse el entrenamiento?",
          "classes": "text-base font-semibold"
        },
        "definition": {
          "text": "Primer lunes",
          "classes": "text-neutral-dark"
        },
        "classes": "mb-base"
      }
    ]
  })  }}    




  <!-- modal Eliminar tarea -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-eliminar-tarea" class="hidden" role="dialog" aria-labelledby="label-eliminar-tarea" aria-modal="true">
      {{ componentModal({
        "id": "eliminar-tarea",
        "title": {
          "text": "Eliminar tarea"
        },
        "description": {
          "html": '¿Estás seguro de que deseas borrar esta tarea?',
          "classes": "text-center mb-lg"
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Eliminar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2.373.015a.476.476 0 0 0-.224.134.6.6 0 0 0-.093.118C2.006.368 2 .411 2 .717V1h-.298c-.317 0-.41.007-.562.046-.182.045-.37.132-.521.24-.103.074-.259.23-.333.333a1.855 1.855 0 0 0-.19.356c-.035.092-.072.24-.085.344-.015.119-.015 6.243 0 6.362a1.507 1.507 0 0 0 .43.878 1.507 1.507 0 0 0 .878.43c.06.008 1.144.011 3.685.01 3.863 0 3.682.003 3.871-.047a1.514 1.514 0 0 0 1.11-1.255.208.208 0 0 1 .016-.073c.005-.003.009-1.402.009-3.135 0-1.757-.004-3.128-.009-3.125-.004.003-.011-.025-.015-.062a1.465 1.465 0 0 0-.161-.5 1.379 1.379 0 0 0-.266-.36 1.472 1.472 0 0 0-.699-.396C8.708 1.007 8.615 1 8.298 1H8V.717c0-.306-.005-.349-.056-.45a.643.643 0 0 0-.211-.21.511.511 0 0 0-.466 0 .643.643 0 0 0-.21.21C7.004.368 7 .411 7 .717V1H3V.717c0-.306-.005-.349-.056-.45a.643.643 0 0 0-.211-.21.53.53 0 0 0-.36-.042m-.99 2a.536.536 0 0 0-.115.042.674.674 0 0 0-.211.21C.997 2.38 1 2.177 1 5.5s-.003 3.12.057 3.233a.674.674 0 0 0 .21.21c.113.06-.136.057 3.729.057 2.5 0 3.558-.003 3.6-.01a.51.51 0 0 0 .393-.394c.008-.042.01-.959.01-3.1 0-3.318.004-3.116-.056-3.229a.674.674 0 0 0-.21-.21C8.62 1.997 8.87 2 4.995 2c-2.95 0-3.56.003-3.612.014M.005 5.5c0 1.724.001 2.43.002 1.567.002-.862.002-2.272 0-3.135 0-.862-.002-.156-.002 1.568m3.368-1.985a.476.476 0 0 0-.224.134.6.6 0 0 0-.093.118.513.513 0 0 0 0 .466c.02.041.153.18.632.66l.607.607-.607.607c-.479.48-.611.619-.632.66a.513.513 0 0 0 0 .466.643.643 0 0 0 .211.21.513.513 0 0 0 .466.001c.041-.02.18-.153.66-.632L5 6.205l.607.607c.48.479.619.611.66.632a.513.513 0 0 0 .466 0 .643.643 0 0 0 .21-.211.513.513 0 0 0 .001-.466c-.02-.041-.153-.18-.632-.66L5.705 5.5l.607-.607c.479-.48.611-.619.632-.66a.513.513 0 0 0 0-.466.643.643 0 0 0-.211-.21.513.513 0 0 0-.466-.001c-.041.02-.18.153-.66.632L5 4.795l-.607-.607c-.645-.643-.641-.64-.77-.673a.57.57 0 0 0-.25 0"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Eliminar tarea  -->

{% endblock %}
{# fin Contenido de la página #}