{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Documento de urgencia - Detalle asunto a validar - Añadir documento de urgencia. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H7.5a.25.25 0 0 0-.25.25V20a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H4a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H9a.75.75 0 0 1 0 1.5Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadir documento
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  {{ componentRadios({
    "idPrefix": "radios-opciones-doc",
    "name": "opciones-doc",
    "formGroup": {
      "classes": "mt-lg lg:mt-base"
    },
    "fieldset": {
      "legend": {
        "html": 'Opciones de añadir documento',
        "classes": "c-h2"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Búsqueda por CSV"
      },
      {
        "value": "2",
        "text": "Búsqueda por expediente"
      },
      {
        "value": "3",
        "text": "Preparar documento"
      }
    ]
  }) }}


{% endblock %}
{# fin Contenido de la página #}