{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Asuntos de mi departamento - Enviar varios asuntos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M13.331 1.719A.75.75 0 1 0 12.16.782L6.96 7.28 4.396 5.357a.75.75 0 1 0-.9 1.2l3.146 2.36a.75.75 0 0 0 1.035-.131l5.654-7.067ZM2.208 2.5h6.667a.75.75 0 0 0 0-1.5H2.208C1.265 1 .5 1.765.5 2.708v9.084c0 .943.765 1.708 1.708 1.708h9.084c.943 0 1.708-.765 1.708-1.708V6.375a.75.75 0 0 0-1.5 0v5.417a.208.208 0 0 1-.208.208H2.208A.208.208 0 0 1 2 11.792V2.708c0-.115.093-.208.208-.208Z" clip-rule="evenodd"/></svg>
{% endblock %}
{% block titleText %}
  Enviar varios asuntos
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a convocatoria",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h2 mb-base mt-base lg:mt-0">Asuntos pendientes de enviar a convocatoria </h2>
  <p class="c-paragraph-base">Sólo se muestran los asuntos cuyo estado es 'en validación'. Los asuntos en estado 'borrador' no se incluyen en esta lista.</p>

  <p class="c-paragraph-lg font-semibold">7 asuntos pendientes</p>

  {{ componentCheckboxes({
    "idPrefix": "check-todos",
    "name": "todos",
    "formGroup": {
      "classes": "mb-sm ml-xs"
    },
    "classes": "c-checkboxes--sm",
    "items": [
      {
        "value": "todos",
        "text": "Seleccionar todo",
        "classes": "-mt-base",
        "label": {
          "classes": "text-sm -mt-1"
        }
      }
    ]
  }) }}

  {# Asuntos convocatoria #}
  {{ componentCheckboxes({
    "idPrefix": "asuntos-convocatoria",
    "fieldset": {
      "legend": {
        "text": "Asuntos convocatoria 17 diciembre 2024",
        "classes": "c-h3"
      }
    },
    "hasDividers": true,
    "items": [
      {
        "name": "asunto-1",
        "id": "check-asunto-1",
        "value": "check-asunto-1",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "classes": "font-semibold"
      },
      {
        "name": "asunto-2",
        "id": "check-asunto-2",
        "value": "check-asunto-2",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "checked": true,
        "classes": "font-semibold bg-primary-light"
      },
      {
        "name": "asunto-3",
        "id": "check-asunto-3",
        "value": "check-asunto-3",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "classes": "font-semibold"
      },
      {
        "name": "asunto-4",
        "id": "check-asunto-4",
        "value": "check-asunto-4",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "classes": "font-semibold"
      },
      {
        "name": "asunto-5",
        "id": "check-asunto-5",
        "value": "check-asunto-5",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "classes": "font-semibold"
      }
    ]
  }) }}
  {# fin Asuntos convocatoria #}

  <div class="pb-lg"></div><!--espaciador-->  

  {# Asuntos convocatoria extraordinaria #}
  {{ componentCheckboxes({
    "idPrefix": "asuntos-convocatoria extra",
    "fieldset": {
      "legend": {
        "text": "Asuntos convocatoria extraordinaria",
        "classes": "c-h3"
      }
    },
    "hasDividers": true,
    "items": [
      {
        "name": "asunto-extra-1",
        "id": "check-asunto-extra-1",
        "value": "check-asunto-extra-1",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "classes": "font-semibold"
      },
      {
        "name": "asunto-extra-2",
        "id": "check-asunto-extra-2",
        "value": "check-asunto-extra-2",
        "text": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el Ministerio de Defensa, la Diputación General de Aragón, la Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca) para la puesta en valor cultural del Castillo de San Pedro de Jaca (Huesca). (MAT)",
        "hint": {
          "text": "Departamento de Hacienda, Interior y Administración Pública",
          "classes": "font-normal !text-black mt-1.5"
        },
        "checked": true,
        "classes": "font-semibold bg-primary-light"
      }
    ]
  }) }}
  {# fin Asuntos convocatoria extraordinaria #}

{% endblock %}
{# fin Contenido de la página #}