{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Detalle asunto - Enviado a convocatoria - Información complementaria. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a asuntos</a>
      </p>
      {# Cabecera asunto #}
      <h1 class="c-h2 mb-sm">Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</h1>
      <div class="whitespace-nowrap"><p><span class="inline-block min-w-3.5 h-3.5 mr-sm bg-primary-base"></span>Enviado a convocatoria</p></div>
      {{ componentButton({
        "text": "Retirar asunto de la convocatoria",
        "classes": "mt-base",
        "attributes": {
          "onclick": "openDialog('modal-retirar-asunto', this, 'retirar-asunto')"
        }
      }) }}
      <div class="w-full lg:w-3/4 mt-lg mb-base lg:mb-lg">
        <h2 class="c-h3 ">Datos del asunto</h2>
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Tipo',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'Decreto'
              },
              "classes": "flex-auto pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Expediente',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<a href="#" class="c-link">ZA-SP-ENE-AT-2020-014</a>'
              },
              "classes": "flex-auto pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Fecha de creación',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '10 septiembre 2023 12:00'
              },
              "classes": "flex-auto pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Preparador',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'María Pérez Pérez '
              },
              "classes": "flex-auto pr-xl mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Departamento',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<span class="block">Departamento de Hacienda y Administración Pública (Preparador) (presenta en consejillo)</span> <span class="block">Departamento de Economía (presenta en consejo)</span>'
              },
              "classes": "flex-auto pr-xl mb-sm"
            }
          ]
        })  }}
        <div class="pb-base"></div><!--espaciador-->
        <h2 class="c-h3 ">Convocatoria asignada</h2>
        <p class="c-paragraph-base lg:c-paragraph-lg"><a href="#" class="c-link font-semibold">17 abril 2024</a> | en plazo para presentar asuntos hasta el 13 abril <span class="font-semibold text-alert-base">(quedan 3 días)</span></p>
        <div class="pb-base"></div><!--espaciador-->
        <h2 class="c-h3 ">Validadores asignados</h2>
        {{ componentDescriptionList({
          "classes": "w-full",
          "items": [
            {
              "term": {
                "html": 'Asesor/a',
                "classes": "lg:w-3/5 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '<span class="bg-warning-light px-xs py-px"><strong>Pendiente de validar</strong></span>',
                "classes": "lg:w-2/5 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Secretario/a general técnico de Hacienda',
                "classes": "lg:w-3/5 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '<span class="bg-success-light px-xs py-px"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-flex mb-1 mr-px" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"></path></svg> Validado</span>',
                "classes": "lg:w-2/5 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Consejero/a de Hacienda',
                "classes": "lg:w-3/5 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '<span class="bg-warning-light px-xs py-px"><strong>Pendiente de validar</strong></span>',
                "classes": "lg:w-2/5 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <div class="pb-base"></div><!--espaciador-->
      </div>
      {# fin Cabecera asunto #}
      {# Menu asunto #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Documentos"
          },
          {
            "href": "#",
            "text": "Información complementaria",
            "active": true
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menú del asunto"
        }
      })  }}
      {# fin Menu asunto #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Información complementaria</h2>
  <div class="divide-y divide-neutral-base border-y border-neutral-base">
    {# Pregunta 1 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Asunto conjunto con otros departamentos?</span>
        </div>
        {# Anidadas #}
        <div class="divide-y divide-neutral-base divide-dashed border-t border-neutral-base border-dashed mt-sm -mb-sm">
          {# pregunta anidada 1 #}
          <div class="flex gap-x-base py-sm">
            <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
            <div>
              <div class="flex gap-x-base">
                <span class="py-0.5">¿Su contenido afecta a otros Departamentos además de al proponente?</span>
              </div>
            </div>
          </div>
        </div>
        {# fin Anidadas #}
      </div>
    </div>
    {# Pregunta 2 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-success-light px-sm py-0.5 text-center uppercase font-semibold">Sí</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Conlleva coste económico?</span>
          <span class="bg-primary-light px-sm py-0.5 font-semibold">Importe: 150.000€</span>
        </div>
        {# Anidadas #}
        <div class="divide-y divide-neutral-base divide-dashed border-t border-neutral-base border-dashed mt-sm -mb-sm">
          {# pregunta anidada 1 #}
          <div class="flex gap-x-base py-sm">
            <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
            <div>
              <div class="flex gap-x-base">
                <span class="py-0.5">¿Conlleva coste para el Gobierno de Aragón?</span>
              </div>
            </div>
          </div>
          {# pregunta anidada 2 #}
          <div class="flex gap-x-base py-sm">
            <div class="w-10 h-fit bg-success-light px-sm py-0.5 text-center uppercase font-semibold">Sí</div>
            <div>
              <div class="flex gap-x-base">
                <span class="py-0.5">¿Conlleva coste para otras administraciones o entidades?</span>
                <span class="bg-primary-light px-sm py-0.5 font-semibold">Importe: 150.000€</span>
              </div>
            </div>
          </div>
          {# pregunta anidada 3 #}
          <div class="flex gap-x-base py-sm">
            <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
            <div>
              <div class="flex gap-x-base">
                <span class="py-0.5">¿Se trata de un gasto plurianual?</span>
              </div>
            </div>
          </div>
        </div>
        {# fin Anidadas #}
      </div>
    </div>
    {# Pregunta 3 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-success-light px-sm py-0.5 text-center uppercase font-semibold">Sí</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Reviste especial complejidad o es especialmente transcendente?</span>
        </div>
      </div>
    </div>
    {# Pregunta 4 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Es necesario informe de la DG de presupuestos?</span>
        </div>
      </div>
    </div>
    {# Pregunta 5 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Es necesario informe de la Intervención General?</span>
        </div>
      </div>
    </div>
    {# Pregunta 6 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Es necesario informe de la DG de Servicios Jurídicos?</span>
        </div>
      </div>
    </div>
    {# Pregunta 7 #}
    <div class="flex gap-x-base py-sm">
      <div class="w-10 h-fit bg-alert-light px-sm py-0.5 text-center uppercase font-semibold">No</div>
      <div class="w-full">
        <div class="flex gap-x-base">
          <span class="py-0.5">¿Es necesario algún otro informe además de los anteriores? </span>
        </div>
      </div>
    </div>
  </div>    



  <!-- modal Retirar asunto -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-retirar-asunto" class="hidden" role="dialog" aria-labelledby="label-retirar-asunto" aria-modal="true">
      {{ componentModal({
        "id": "retirar-asunto",
        "title": {
          "text": "Retirar asunto de la convocatoria"
        },
        "description": {
          "html": 'Si retiras el asunto, será eliminado de la convocatoria actual y se moverá al listado de asuntos con el estado "borrador".'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Retirar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M19.5 7.5h-15A.5.5 0 0 0 4 8v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a.5.5 0 0 0-.5-.5Zm-9.25 13a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0Zm5 0a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0ZM22 4h-4.75a.25.25 0 0 1-.25-.25V2.5A2.5 2.5 0 0 0 14.5 0h-5A2.5 2.5 0 0 0 7 2.5v1.25a.25.25 0 0 1-.25.25H2a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2ZM9 3.75V2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1.25a.25.25 0 0 1-.25.25h-5.5A.25.25 0 0 1 9 3.75Z"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Retirar asunto  -->  
{% endblock %}
{# fin Contenido de la página #}