{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Aviso - Problemas encontrados. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksConjunto %}
  {{ componentCheckboxes({
    "idPrefix": "check-Conjunto",
    "name": "Conjunto",
    "fieldset": {
      "legend": {
        "text": "Selecciona los departamentos que correspondan"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Departamento de Desarrollo Territorial, Despoblación y Justicia"
      },
      {
        "value": "2",
        "text": "Departamento de Economía, Empleo e Industria"
      },
      {
        "value": "3",
        "text": "Departamento de Presidencia, Interior y Cultura"
      },
      {
        "value": "4",
        "text": "Departamento de Hacienda y Administración Pública"
      },
      {
        "value": "5",
        "text": "Departamento de Fomento, Vivienda, Movilidad y Logística"
      },
      {
        "value": "6",
        "text": "Departamento de Agricultura, Ganadería y Alimentación"
      },
      {
        "value": "7",
        "text": "Departamento de Medio Ambiente y Turismo"
      },
      {
        "value": "8",
        "text": "Departamento de Educación, Ciencia y Universidades"
      },
      {
        "value": "9",
        "text": "Departamento de Sanidad"
      },
      {
        "value": "10",
        "text": "Departamento de Bienestar Social y Familia "
      }
    ]
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H7.5a.25.25 0 0 0-.25.25V20a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H4a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H9a.75.75 0 0 1 0 1.5Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Crear asunto
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a validar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-auto">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Información básica</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de expediente</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de documentos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Información complementaria</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">5</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Validación</div>
      </div>
    </div>
    {# fin Pasos #}
    {# Notificacion Error #}
    <div class="w-full lg:w-3/4 mb-lg">
      {{ componentNotification({
        "title": {
          "text": "Problemas encontrados"
        },
        "description": {
          "html": "Por favor, corrige los errores siguientes:"
        }, 
        "items": [
          {
            "text": "Campo Tipo de asunto está incompleto",
            "href": "#select-tipo-asunto"
          },
          {
            "text": "Campo Titulo del asunto está incompleto",
            "href": "#textarea-titulo-asunto"
          }
        ],  
        "isDismissible": true,     
        "type": "alert",
        "id": "type-alert"
      }) }}
    </div>
    {# fin Notificacion Error #}    
    <h2 class="c-h2">1. Información básica</h2>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base mb-lg">Todos los campos marcados con un asterisco (*) son obligatorios.</p>

    {# Tipo asunto #}
    {{ componentSelect({
      "label": {
        "html": 'Tipo de asunto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "select-tipo-asunto",
      "name": "tipo-asunto",
      "classes": "w-full lg:w-2/5 scroll-mt-36",
      "errorMessage": {
        "text": "Error: Este campo es obligatorio"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo de asunto",
          "disabled": true,
          "selected": true
        },      
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "attributes": {
        "aria-required": true
      }
    })  }} 

    {# Titulo asunto #}
    {{ componentTextarea({
      "name": "titulo-asunto",
      "id": "textarea-titulo-asunto",
      "label": {
        "html": 'Título del asunto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "classes": "w-full scroll-mt-36",
      "errorMessage": {
        "text": "Error: Este campo es obligatorio"
      },
      "attributes": {
        "aria-required": true
      }
    }) }}

    {# Convocatoria #}
    {{ componentRadios({
      "idPrefix": "radio-convocatoria",
      "name": "convocatoria",
      "fieldset": {
        "legend": {
          "html": 'Convocatoria <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Actual - 17 abril 2024",
          "checked": true,
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "2",
          "text": "Ninguna",
          "attributes": {
            "aria-required": true
          }
        }
      ]
    }) }}    
    
    {# Departamento #}
    {{ componentInput({
      "label": {
        "html": 'Departamento'
      },
      "id": "input-departamento",
      "name": "departamento",
      "value": "Departamento de Hacienda y Administración Pública",
      "classes": "w-full lg:w-2/3",
      "disabled": true
    }) }}

    {# Asunto conjunto #}
    {{ componentRadios({
      "idPrefix": "radio-asunto-conjunto",
      "name": "asunto-conjunto",
      "fieldset": {
        "legend": {
          "html": '¿El asunto es multi-departamental? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Sí",
          "conditional": {
            "html": checksConjunto
          },
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "2",
          "text": "No",
          "checked": true,
          "attributes": {
            "aria-required": true
          }
        }
      ]
    }) }}


    {# Botonera atras-siguiente #}
    <ul class="flex flex-wrap gap-sm my-lg">
      <li>
        {{ componentButton({
          "text": "Atrás",
          "classes": "c-button--transparent"
        })  }}  
      </li>
      <li>
        {{ componentButton({
          "text": "Siguiente",
          "classes": "c-button--primary"
        })  }}  
      </li>
    </ul>

  </div>
{% endblock %}
{# fin Contenido de la página #}