{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Historial - Asuntos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %} 
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set formFiltro %}
  <div class="grid md:grid-cols-4 gap-x-7 pt-base">
    {{ componentInput({
      "label": {
        "text": "Nombre"
      },
      "id": "input-nombre",
      "name": "nombre",
      "placeholder": "Nombre del asunto",
      "classes": "w-full"
    })  }}  
    {{ componentSelect({
      "id": "select-tipo",
      "name": "tipo",
      "classes": "w-full",
      "label": {
        "text": "Tipo"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-departamento",
      "name": "departamento",
      "classes": "w-full",
      "label": {
        "text": "Departamento"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona por departamento",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "disabled": true
        },
        {
          "value": 100,
          "text": "Todos",
          "selected": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}  
    {% call componentDatepicker({
      "id": "datepicker-desde",
      "name": "fecha-desde",
      "label": {
        "text": "Fecha convocatoria desde"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
    {% call componentDatepicker({
      "id": "datepicker-hasta",
      "name": "fecha-hasta",
      "label": {
        "text": "Fecha convocatoria hasta"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
  </div>
  <div class="grid md:grid-cols-4 gap-x-7 pb-base">
    {{ componentCheckboxes({
      "idPrefix": "check-coste-economico",
      "name": "coste-economico",
      "fieldset": {
        "legend": {
          "text": "Coste económico",
          "classes": "font-semibold"
        }
      },
      "formGroup": {
        "classes": "mb-0"
      },
      "items": [
        {
          "value": "con-coste-economico",
          "text": "Con coste económico"
        },
        {
          "value": "sin-coste-economico",
          "text": "Sin coste económico"
        }
      ]
    }) }}
    {{ componentCheckboxes({
      "idPrefix": "check-multi-departamental",
      "name": "multi-departamental",
      "fieldset": {
        "legend": {
          "text": "Multi departamental",
          "classes": "font-semibold"
        }
      },
      "formGroup": {
        "classes": "mb-0"
      },
      "items": [
        {
          "value": "varios-departamentos",
          "text": "Tiene más de un departamento"
        },
        {
          "value": "un-departamento",
          "text": "No tiene más de un departamento"
        }
      ]
    }) }}
    {{ componentCheckboxes({
      "idPrefix": "check-informes",
      "name": "informes",
      "fieldset": {
        "legend": {
          "text": "Informes",
          "classes": "font-semibold"
        }
      },
      "formGroup": {
        "classes": "mb-0"
      },
      "items": [
        {
          "value": "mas-informes",
          "text": "Contiene más informes"
        },
        {
          "value": "no-mas-informes",
          "text": "No contiene más informes"
        }
      ]
    }) }}
    <ul class="md:col-span-4 flex flex-wrap gap-sm justify-end">
      <li>
        {{ componentButton({
          "text": "Buscar"
        })  }}
      </li>
    </ul>               
  </div>
{% endset %}
{# fin Definiciones #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"></path></svg>
        <a href="#" class="c-link">Consejo de Gobierno</a>
      </p>      
      <h1 class="c-h1 mb-sm lg:mb-lg">Historial</h1>
      {# Menu de Historial #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Asuntos",
            "active": true
          },
          {
            "href": "#",
            "text": "Convocatorias"
          }
        ],
        "attributes": {
          "aria-label": "Menu de Historial"
        }
      })  }}
      {# fin Menu de Historial #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h2">Asuntos</h2>
  
  {# Filtros de Busqueda #}
  <section class="w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "filtros",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda de asuntos",
          "html": formFiltro
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  {# Listado de asuntos #}
  <section aria-labelledby="asuntos">
    <h2 id="asuntos" class="sr-only">Listado de asuntos</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# asunto filtrado por todo estado Retirado #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
            <li class="lg:inline-block px-sm">Departamento de Presidencia y Relaciones Institucionales</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto Retirado con mas de 2 departamentos #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <div class="-mt-sm">
          {% call componentDetails({
            "summary": {
              "html": "3 departamentos"
            }
          }) %}
            <ul class="c-ul -mt-sm ml-base text-sm lg:text-base">
                <li class="!mb-xs">Departamento de Hacienda y Administración Pública</li>
                <li class="!mb-xs">Departamento de Presidencia y Relaciones Institucionales</li>
                <li class="!mb-xs">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
            </ul>
          {% endcall  %}
        </div>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto filtrado solo por estado Aprobado #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
        </ul>
      </div>
      {# asunto Aprobado con mas de 2 departamentos #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <div class="-mt-sm">
          {% call componentDetails({
            "summary": {
              "html": "3 departamentos"
            }
          }) %}
            <ul class="c-ul -mt-sm ml-base text-sm lg:text-base">
                <li class="!mb-xs">Departamento de Hacienda y Administración Pública</li>
                <li class="!mb-xs">Departamento de Presidencia y Relaciones Institucionales</li>
                <li class="!mb-xs">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
            </ul>
          {% endcall  %}
        </div>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
            <li class="!mb-0 lg:inline-block !px-sm"><span class="bg-info-light px-xs">Trascendente</span></li>
        </ul>
      </div>
      {# asunto filtrado por todo estado Aprobado #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
            <li class="lg:inline-block px-sm">Departamento de Presidencia y Relaciones Institucionales</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
            <li class="!mb-0 lg:inline-block !px-sm"><span class="bg-info-light px-xs">Trascendente</span></li>
        </ul>
      </div>
    </div>  
  </section>
  {# fin Listado de asuntos #}


  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado",
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "hasSelect": true,
      "itemsPerPageSelector": {
        "items": [
          {
            "value": "10",
            "text": "10",
            "selected": true
          },
          {
            "value": "25",
            "text": "25"
          },
          {
            "value": "50",
            "text": "50"
          },
          {
            "value": "75",
            "text": "75"
          },
          {
            "value": "100",
            "text": "100"
          }
        ]
      },
      "items": [
        {
          "value": "1",
          "text": 1,
          "selected": true
        },
        {
          "value": "2",
          "text": 2
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}
{% endblock %}
{# fin Contenido de la página #}