{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Editar asunto - Información básica. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksConjunto %}
  {{ componentCheckboxes({
    "idPrefix": "check-Conjunto",
    "name": "Conjunto",
    "fieldset": {
      "legend": {
        "text": "Selecciona los departamentos que correspondan"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Departamento de Desarrollo Territorial, Despoblación y Justicia"
      },
      {
        "value": "2",
        "text": "Departamento de Economía, Empleo e Industria"
      },
      {
        "value": "3",
        "text": "Departamento de Presidencia, Interior y Cultura"
      },
      {
        "value": "4",
        "text": "Departamento de Hacienda y Administración Pública"
      },
      {
        "value": "5",
        "text": "Departamento de Fomento, Vivienda, Movilidad y Logística"
      },
      {
        "value": "6",
        "text": "Departamento de Agricultura, Ganadería y Alimentación"
      },
      {
        "value": "7",
        "text": "Departamento de Medio Ambiente y Turismo"
      },
      {
        "value": "8",
        "text": "Departamento de Educación, Ciencia y Universidades"
      },
      {
        "value": "9",
        "text": "Departamento de Sanidad"
      },
      {
        "value": "10",
        "text": "Departamento de Bienestar Social y Familia "
      }
    ]
  })  }}
{% endset %}
{% set checksNoConjunto %}
  {{ componentCheckboxes({
    "idPrefix": "check-NoConjunto",
    "name": "NoConjunto",
    "items": [
      {
        "value": "1",
        "text": "El contenido del asunto afecta a otros Departamentos además de al proponente"
      }
    ]
  })  }}
{% endset %}
{% set checkCosteEconomico %}
  <div class="lg:w-2/3 grid md:grid-cols-2 gap-x-7 mb-base md:mb-0">
    {{ componentInput({
      "label": {
        "html": 'Importe total <span class="font-bold">sin</span> IVA'
      },
      "id": "input-importe-total-sin-iva",
      "name": "importe-total-sin-iva",
      "classes": "w-full",
      "formGroup": {
        "classes": "mb-base"
      }
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Importe total <span class="font-bold">con</span> IVA'
      },
      "id": "input-importe-total-con-iva",
      "name": "importe-total-con-iva",
      "classes": "w-full",
      "formGroup": {
        "classes": "mb-base"
      }
    }) }}
  </div>
  {{ componentCheckboxes({
    "idPrefix": "check-tipo-coste",
    "name": "tipo-coste",
    "items": [
      {
        "value": "1",
        "text": "Conlleva coste para el Gobierno de Aragón",
        "conditional": {
          "html": '<!-- input -->
                    <div class="c-form-group">  
                      <label class="block" for="input-fondo-financiador">Indicar fondo financiador</label>
                      <input class="c-input block w-full lg:w-2/3 mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base" id="input-fondo-financiador" name="fondo-financiador" type="text">
                    </div>
                  <!-- /input -->'
        }
      },
      {
        "value": "2",
        "text": "Conlleva coste para otras administraciones o entidades",
        "conditional": {
          "html": '<div class="c-form-group">  
                      <label class="block" for="textarea-coste-entidades">Importe por anualidades y entidades <strong>con</strong> y <strong>sin</strong> IVA</label>
                      <textarea class="block w-full lg:w-2/3 mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base" id="textarea-coste-entidades" name="coste-entidades" rows="2" aria-required="true"></textarea>
                    </div>'
        }
      },
      {
        "value": "3",
        "text": "Se trata de un gasto plurianual",
        "conditional": {
          "html": '<div class="c-form-group">  
                      <label class="block" for="textarea-gasto-plurianual">Importe por anualidades y entidades <strong>con</strong> y <strong>sin</strong> IVA</label>
                      <textarea class="block w-full lg:w-2/3 mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base" id="textarea-gasto-plurianual" name="gasto-plurianual" rows="2" aria-required="true"></textarea>
                    </div>'
        }
      }
    ]
  }) }}
{% endset %}
{% set checkComplejidad %}
  {{ componentCheckboxes({
    "idPrefix": "check-conformidad",
    "name": "conformidad",
    "items": [
      {
        "value": "1",
        "text": "Consta de su conformidad"
      }
    ]
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M12.75 5h-6a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5ZM13.5 9.25a.76.76 0 0 0-.75-.75h-8a.75.75 0 0 0 0 1.5h8a.76.76 0 0 0 .75-.75ZM4.75 12a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5Z"/><path d="M11.3 17.65a.25.25 0 0 0-.23-.15H2.5A.5.5 0 0 1 2 17V2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v10.07a.25.25 0 0 0 .15.23.26.26 0 0 0 .28-.05l1.28-1.28a1.05 1.05 0 0 0 .29-.71V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15.5a2 2 0 0 0 2 2h7.87a.5.5 0 0 0 .48-.35 1.86 1.86 0 0 1 .5-.82l.4-.4a.26.26 0 0 0 .05-.28ZM12.06 20.13a.25.25 0 0 0-.42.13L11 23.4a.51.51 0 0 0 .14.45.47.47 0 0 0 .35.15h.1l3.14-.63a.24.24 0 0 0 .19-.17.23.23 0 0 0-.06-.25ZM23.23 11.77a2.61 2.61 0 0 0-3.7 0L13 18.27a.48.48 0 0 0 0 .7l3 3a.48.48 0 0 0 .7 0l6.51-6.5a2.61 2.61 0 0 0 .02-3.7Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Editar asunto
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Del expediente ZA-SP-ENE-AT-2020-014</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a validar",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Información básica</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de expediente</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de documentos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de validadores</div>
      </div>
    </div>
    {# fin Pasos #}
    <h2 class="c-h2">1. Información básica</h2>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base mb-lg">Todos los campos marcados con un asterisco (*) son obligatorios.</p>

    {# Tipo asunto #}
    {{ componentSelect({
      "label": {
        "html": 'Tipo de asunto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "select-tipo-asunto",
      "name": "tipo-asunto",
      "classes": "w-full lg:w-2/5",
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo de asunto",
          "disabled": true
        },      
        {
          "value": 1,
          "text": "Proyecto de ley"
        },
        {
          "value": 2,
          "text": "Decreto"
        },
        {
          "value": 3,
          "text": "Acuerdo",
          "selected": true
        },
        {
          "value": 4,
          "text": "Informe"
        }
      ],
      "attributes": {
        "aria-required": true
      }
    })  }} 

    {# Titulo asunto #}
    {{ componentTextarea({
      "name": "titulo-asunto",
      "id": "textarea-titulo-asunto",
      "label": {
        "html": 'Título del asunto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "value": "Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)",
      "classes": "w-full",
      "attributes": {
        "aria-required": true
      }
    }) }}
    
    {# Departamento #}
    {{ componentInput({
      "label": {
        "html": 'Departamento'
      },
      "id": "input-departamento",
      "name": "departamento",
      "value": "Departamento de Hacienda y Administración Pública",
      "classes": "w-full lg:w-2/3",
      "disabled": true
    }) }}

    {# Convocatoria #}
    {{ componentRadios({
      "idPrefix": "radio-convocatoria",
      "name": "convocatoria",
      "fieldset": {
        "legend": {
          "html": 'Convocatoria a la que se quiere presentar el asunto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        }
      },
      "hint": {
        "text": "Recuerda que es necesario asignar el asunto a una convocatoria para poder enviarlo a validar."
      },
      "items": [
        {
          "value": "1",
          "text": "Actual - 17 abril 2024",
          "checked": true,
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "2",
          "text": "No asignar a ninguna convocatoria",
          "attributes": {
            "aria-required": true
          }
        }
      ]
    }) }}

    {# Asunto conjunto #}
    {{ componentRadios({
      "idPrefix": "radio-asunto-conjunto",
      "name": "asunto-conjunto",
      "fieldset": {
        "legend": {
          "html": 'Relación del asunto con otros departamentos <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Se presenta en conjunto con otros departamentos",
          "conditional": {
            "html": checksConjunto
          },
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "2",
          "text": "No se presenta de manera conjunta",
          "conditional": {
            "html": checksNoConjunto
          },
          "checked": true,
          "attributes": {
            "aria-required": true
          }
        }
      ]
    }) }}

    {# Coste economico #}
    {{ componentCheckboxes({
      "idPrefix": "check-coste-economico",
      "name": "coste-economico",
      "fieldset": {
        "legend": {
          "text": "Coste económico"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Conlleva coste económico",
          "conditional": {
            "html": checkCosteEconomico
          }
        }
      ]
    })  }}

    {# Contenido asunto #}
    {{ componentCheckboxes({
      "idPrefix": "check-contenido-asunto",
      "name": "contenido-asunto",
      "fieldset": {
        "legend": {
          "text": "Sobre el contenido del asunto"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Trata una cuestión que se plantea por primera vez",
          "checked": true
        },
        {
          "value": "2",
          "text": "Reviste especial complejidad o es especialmente transcendente",
          "conditional": {
            "html": checkComplejidad
          }
        }
      ]
    })  }}

    {# Informes necesarios #}
    {{ componentCheckboxes({
      "idPrefix": "check-informes-necesarios",
      "name": "informes-necesarios",
      "fieldset": {
        "legend": {
          "text": "Indica los informes que son necesarios para este asunto"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Informe de Dirección General de Presupuestos",
          "checked": true
        },
        {
          "value": "2",
          "text": "Informe de Intervención General"
        },
        {
          "value": "3",
          "text": "Informe de Dirección General de Servicios Jurídicos",
          "checked": true
        },
        {
          "value": "4",
          "text": "Otros"
        }
      ]
    })  }}

    {# Notas #}
    {{ componentTextarea({
      "name": "notas",
      "id": "textarea-notas",
      "label": {
        "html": 'Notas sobre este asunto'
      },
      "classes": "w-full"
    }) }}

    {# Botonera atras-siguiente #}
    <ul class="flex flex-wrap gap-sm my-lg">
      <li>
        {{ componentButton({
          "text": "Atrás",
          "classes": "c-button--transparent"
        })  }}  
      </li>
      <li>
        {{ componentButton({
          "text": "Siguiente",
          "classes": "c-button--primary"
        })  }}  
      </li>
    </ul>

  </div>
{% endblock %}
{# fin Contenido de la página #}