{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Convocatoria fases. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{# fin Dependencias #}

{# Definiciones #}
{% set titlePresentacionAbierto %}
  <span class="font-bold pointer-events-none">Presentacion de asuntos</span>
  <span class="block pointer-events-none mt-px"><span class="bg-success-light px-xs py-px">Plazo abierto</span></span>
  <span class="block pointer-events-none">
     <span class="font-normal">Se cierra el lunes, 18 abril 2024, 10:00h</span> <span class="text-alert-base">(quedan 10 días)</span>
  </span>
{% endset %}
{% set contentPresentacionAbierto %}
  <p class="mb-sm">Añade los asuntos que deseas incorporar en esta convocatoria</p>
  <p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>
  {{ componentButton({
    "html": 'Crear asuntos',
    "classes": "mb-sm"
  })  }}   
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Convocatoria fases</h1>
  <div class="w-full lg:w-3/4">
    <h2 class="c-h2">Convocatoria programada sin abrir</h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-1",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentación de asuntos</span> <span class="block font-normal pointer-events-none">Se abre el lunes, 8 abril 2024, 10:00h (quedan 4 días)</span> <span class="block font-normal pointer-events-none">Se cierra el lunes, 18 abril 2024, 10:00h (quedan 10 días)</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}

    <div class="pb-xl"></div><!--espaciador-->
    
    <h2 class="c-h2">Convocatoria abierta - Presentación de asuntos</h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-2",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titlePresentacionAbierto,
          "html": contentPresentacionAbierto,
          "open": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}

    <div class="pb-xl"></div><!--espaciador-->
    
    <h2 class="c-h2">Presentación de asuntos  en plazo cerrado - Comisión de Secretarios</h2>
    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-3",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
          "disabled": true,
          "open": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}   

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-4",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h <span class="font-semibold text-alert-base">(quedan 10 días)</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
          "disabled": true,
          "open": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}   

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2">En Consejo de Gobierno</h2>
    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-5",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024</span>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
          "disabled": true,
          "open": true,
          "status": "current"
        }
      ]
    })  }}  

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-6",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h <span class="font-semibold text-alert-base">(quedan 10 días)</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
          "disabled": true,
          "open": true,
          "status": "current"
        }
      ]
    })  }} 

    <div class="pb-xl"></div><!--espaciador-->

    <h2 class="c-h2">En Consejo de Gobierno - celebrado</h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria-7",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
          "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024',
          "disabled": true,
          "open": true,
          "status": "past"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Celebrado el miércoles, 17 abril 2024</span>',
          "disabled": true,
          "open": true,
          "status": "past"
        }
      ]
    })  }}    
    
  </div>

{% endblock %}
{# fin Contenido de la página #}