{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Revisor - Listado de asuntos - Mensajes de éxito/error. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h4 pt-base">RECHAZAR ASUNTO</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "El asunto se ha rechazado correctamente y ha pasado a estado Borrador."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}    
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se ha podido rechazar el asunto de la convocatoria. Por favor, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #} 

  <h2 class="c-h4 pt-base">VALIDAR</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "El asunto se ha validado correctamente."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}    
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se ha podido validar el asunto. Por favor, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #} 

  <h2 class="c-h4 pt-base">RETIRAR VALIDACIÓN</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La validación del asunto se ha retirado correctamente."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}    
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se ha podido retirar la validación del asunto. Por favor, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #} 

{% endblock %}
{# fin Contenido de la página #}