{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Crear asunto - Selección de documentos. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/item-folder/_macro.item-folder.njk" import componentItemFolder %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar doc1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H7.5a.25.25 0 0 0-.25.25V20a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H4a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H9a.75.75 0 0 1 0 1.5Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Crear asunto
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Del expediente ZA-SP-ENE-AT-2020-014 y del expediente ZA-SP-ENE-AT-2020-022 </span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a validar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Información básica</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Selección de expediente</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Selección de documentos</div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Validación</div>
        </div>
      </div>
      {# fin Pasos #}
    <h2 class="c-h2">3. Selecciona los documentos que quieres incluir en el asunto</h2>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}

  {# Expediente 1 #}
  <section aria-labelledby="expediente1">
    <h2 id="expediente1" class="c-h3">Expediente ZA-SP-ENE-AT-2020-014</h2>    
    <div class="mb-xl">
      {# Barra de Acciones documentos1 #}
      <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-documentos-expediente1">
        <h2 id="acciones-documentos-expediente1" class="sr-only">Selección sobre el listado de carpetas y documentos</h2>
        <div class="flex lg:items-start lg:ml-auto lg:pl-base gap-sm">
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--primary c-button--sm mb-sm"
          })  }}
        </div>
      </section>
      {# fin Barra de Acciones documentos1 #}
      {# Listado de carpetas y documentos1 #}
      <section aria-labelledby="documentos-expediente1">
        <h2 id="documentos-expediente1" class="sr-only">Listado de carpetas y documentos del expediente</h2>
        <ul>
          <li>
            {% call componentItemFolder({
              "id": "expediente1-carpeta1-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 1"
              },
              "countText": {
                "text": "3 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta1-expediente1",
                  "caption": "Listado de Documentos de la Carpeta 1",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {% call componentItemFolder({
              "id": "expediente1-carpeta2-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 2"
              },
              "countText": {
                "text": "12 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta2-expediente1",
                  "caption": "Listado de Documentos de la Carpeta 2",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {% call componentItemFolder({
              "id": "expediente1-carpeta3-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 3"
              },
              "countText": {
                "text": "7 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta3-expediente1",
                  "caption": "Listado de Documentos de la Carpeta 3",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {{ componentItemFolder({
              "id": "documento1-expediente1",
              "type": "document",
              "title": {
                "text": "Descripción del documento"
              },
              "descriptionList": {
                "classes": "lg:flex w-full",
                "items": [
                  {
                    "term": {
                      "text": "CSV:"
                    },
                    "definition": {
                      "text": "CSVBA264ME75I1W0BENT"
                    },
                    "classes": "flex-auto lg:pl-base w-1/4"
                  },
                  {
                    "term": {
                      "text": "Incorporación:"
                    },
                    "definition": {
                      "text": "21/02/2022 12:16"
                    },
                    "classes": "flex-auto lg:pl-base w-1/7"
                  },
                  {
                    "term": {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    "definition": {
                      "text": "1520"
                    },
                    "classes": "flex-auto lg:pl-base w-1/7"
                  },
                  {
                    "term": {
                      "text": "Original/copia:"
                    },
                    "definition": {
                      "text": "Copia simple"
                    },
                    "classes": "flex-auto lg:pl-base w-1/5"
                  },
                  {
                    "term": {
                      "text": "Fase:"
                    },
                    "definition": {
                      "text": "Actuaciones previas"
                    },
                    "classes": "flex-auto lg:pl-base w-1/5"
                  }
                ]
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  }}
          </li>
        </ul>
      </section>
      {# fin Listado de carpetas y documentos1 #}
    </div> 
  </section>
  {# fin Expediente 1 #}

  {# Expediente 2 #}
  <section aria-labelledby="expediente2">
    <h2 id="expediente2" class="c-h3">Expediente ZA-SP-ENE-AT-2020-022</h2>    
    <div class="mb-xl">
      {# Barra de Acciones documentos2 #}
      <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-documentos-expediente2">
        <h2 id="acciones-documentos-expediente2" class="sr-only">Selección sobre el listado de carpetas y documentos</h2>
        <div class="flex lg:items-start lg:ml-auto lg:pl-base gap-sm">
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--primary c-button--sm mb-sm"
          })  }}
        </div>
      </section>
      {# fin Barra de Acciones documentos2 #}
      {# Listado de carpetas y documentos2 #}
      <section aria-labelledby="documentos-expediente2">
        <h2 id="documentos-expediente2" class="sr-only">Listado de carpetas y documentos del expediente</h2>
        <ul>
          <li>
            {% call componentItemFolder({
              "id": "expediente2-carpeta1-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 1"
              },
              "countText": {
                "text": "3 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta1-expediente2",
                  "caption": "Listado de Documentos de la Carpeta 1",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {% call componentItemFolder({
              "id": "expediente2-carpeta2-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 2"
              },
              "countText": {
                "text": "12 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta2-expediente2",
                  "caption": "Listado de Documentos de la Carpeta 2",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {% call componentItemFolder({
              "id": "expediente2-carpeta3-documentos",
              "type": "folder",
              "title": {
                "text": "Carpeta 3"
              },
              "countText": {
                "text": "7 documentos"
              },
              "dateText": {
                "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  %}
              <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
                {{ componentTableAdvanced({
                  "idPrefix": "lista-documentos-carpeta3-expediente2",
                  "caption": "Listado de Documentos de la Carpeta 3",
                  "captionClasses": "sr-only",
                  "hasCheckboxes": true,
                  "head": [
                    {
                      "html": 'Documento'
                    },
                    {
                      "html": 'CSV'
                    },
                    {
                      "html": 'Incorporación'
                    },
                    {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    {
                      "html": 'Original/copia'
                    },
                    {
                      "html": 'Fase'
                    }
                  ],
                  "rows": [
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Actuaciones previas'
                      }
                    ],
                    [
                      {
                        "html": 'Descripción del documento'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Copia simple'
                      },
                      {
                        "html": 'Audiencia pública'
                      }
                    ],
                    [
                      {
                        "html": 'Documento de resolución'
                      },
                      {
                        "html": 'CSVK45WT8V57T110CPPC'
                      },
                      {
                        "html": '02/04/2024 14:02'
                      },
                      {
                        "html": tooltipTabla
                      },
                      {
                        "html": 'Original'
                      },
                      {
                        "html": 'Solicitud'
                      }
                    ]
                  ],
                  "classes": "min-w-full mb-sm"
                })  }}
              </div>
            {% endcall %}
          </li>
          <li>
            {{ componentItemFolder({
              "id": "documento1-expediente2",
              "type": "document",
              "title": {
                "text": "Descripción del documento"
              },
              "descriptionList": {
                "classes": "lg:flex w-full",
                "items": [
                  {
                    "term": {
                      "text": "CSV:"
                    },
                    "definition": {
                      "text": "CSVBA264ME75I1W0BENT"
                    },
                    "classes": "flex-auto lg:pl-base w-1/4"
                  },
                  {
                    "term": {
                      "text": "Incorporación:"
                    },
                    "definition": {
                      "text": "21/02/2022 12:16"
                    },
                    "classes": "flex-auto lg:pl-base w-1/7"
                  },
                  {
                    "term": {
                      "html": '<abbr title="Procedimiento">Proc.</abbr>'
                    },
                    "definition": {
                      "text": "1520"
                    },
                    "classes": "flex-auto lg:pl-base w-1/7"
                  },
                  {
                    "term": {
                      "text": "Original/copia:"
                    },
                    "definition": {
                      "text": "Copia simple"
                    },
                    "classes": "flex-auto lg:pl-base w-1/5"
                  },
                  {
                    "term": {
                      "text": "Fase:"
                    },
                    "definition": {
                      "text": "Actuaciones previas"
                    },
                    "classes": "flex-auto lg:pl-base w-1/5"
                  }
                ]
              },
              "hasCheckbox": true,
              "classes": "mb-sm"
            })  }}
          </li>
        </ul>
      </section>
      {# fin Listado de carpetas y documentos2 #}
    </div> 
  </section>
  {# fin Expediente 2 #}

  {# Documentos seleccionados #}
  <section aria-labelledby="docs-seleccionados">
    <h2 id="docs-seleccionados" class="c-h3">Documentos seleccionados</h2>  
    <p class="c-paragraph-base">Organiza los documentos tal y como quieras que te aparezcan en el documento final.</p>
    {# Listado documentos seleccionados #}
    {{ componentTable({
      "idPrefix": "documentos-seleccionados",
      "caption": "Listado de documentos seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Documento'
        },
        {
          "html": 'CSV'
        },
        {
          "html": 'Incorporación'
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>'
        },
        {
          "html": 'Original/copia'
        },
        {
          "html": 'Fase'
        },
        {
          "html": '<span id="descartar" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z" /></g></svg>
                      Descripción del documento
                    </div>',
            "attributes": {
              "id": "doc1"
            }
          },
          {
            "html": 'CSVBA26ME75I1W0BENT'
          },
          {
            "html": '19/02/2022'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Original'
          },
          {
            "html": 'Actuaciones previas'
          },
          {
            "html": botonDescartar
          }
        ],
        [
          {
            "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z" /></g></svg>
                      Descripción del documento
                    </div>',
            "attributes": {
              "id": "doc2"
            }
          },
          {
            "html": 'CSVBA26ME75I1W0BENT'
          },
          {
            "html": '19/02/2022'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Copia simple'
          },
          {
            "html": 'Audencia pública'
          },
          {
            "html": botonDescartar
          }
        ],
        [
          {
            "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z" /></g></svg>
                      Descripción del documento
                    </div>',
            "attributes": {
              "id": "doc3"
            }
          },
          {
            "html": 'CSVBA26ME75I1W0BENT'
          },
          {
            "html": '19/02/2022'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Copia auténtica'
          },
          {
            "html": 'Solicitud'
          },
          {
            "html": botonDescartar
          }
        ],
        [
          {
            "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z" /></g></svg>
                      Descripción del documento
                    </div>',
            "attributes": {
              "id": "doc4"
            }
          },
          {
            "html": 'CSVBA26ME75I1W0BENT'
          },
          {
            "html": '19/02/2022'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Copia simple'
          },
          {
            "html": 'Actuaciones previas'
          },
          {
            "html": botonDescartar
          }
        ],
        [
          {
            "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z" /><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z" /></g></svg>
                      Descripción del documento
                    </div>',
            "attributes": {
              "id": "doc5"
            }
          },
          {
            "html": 'CSVBA26ME75I1W0BENT'
          },
          {
            "html": '19/02/2022'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Copia simple'
          },
          {
            "html": 'Audencia pública'
          },
          {
            "html": botonDescartar
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Listado documentos seleccionados #}
  </section>
  {# fin Documentos seleccionados #}

  <div class="pb-base"></div><!--espaciador-->

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}