{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Secretario - Editar convocatoria. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M2.5 16.5A.5.5 0 0 1 2 16V7.5a.5.5 0 0 1 .5-.5H16a.5.5 0 0 1 .5.5v4.78a.25.25 0 0 0 .15.23.26.26 0 0 0 .28-.06l1.5-1.5a.26.26 0 0 0 .07-.17V3a1 1 0 0 0-1-1H15a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H7a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H1a1 1 0 0 0-1 1v13.5a2 2 0 0 0 2 2h8.78a.26.26 0 0 0 .17-.07l1.5-1.5a.27.27 0 0 0 .06-.27.25.25 0 0 0-.23-.16ZM11.64 24l3.1-.88a.5.5 0 0 0 .22-.84l-2.22-2.21a.48.48 0 0 0-.48-.13.48.48 0 0 0-.35.34L11 23.36a.5.5 0 0 0 .62.62ZM13.053 18.248l5.013-5.014s.354-.353.707 0l2.999 2.999s.353.353 0 .707l-5.014 5.013s-.353.354-.707 0l-2.998-2.998s-.354-.354 0-.707M23.23 15.48a2.62 2.62 0 1 0-3.75-3.66.48.48 0 0 0 0 .7l3 3a.56.56 0 0 0 .75-.04Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Editar convocatoria
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">17 abril 2024</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  {# Datos convocatoria #}
  <section aria-labelledby="datos-convocatoria">
    <h2 id="datos-convocatoria" class="c-h2 mt-base lg:mt-0">Datos de la convocatoria</h2>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-apertura",
        "namePrefix": "fecha-apertura",
        "fieldset": {
          "legend": {
            "html": 'Fecha de apertura <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que se abrirá la convocatoria para poder empezar a añadir asuntos"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "12"
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "04"
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2024"
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-apertura",
        "namePrefix": "hora-fecha-apertura",
        "fieldset": {
          "legend": {
            "html": 'Hora apertura'
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-cierre",
        "namePrefix": "fecha-cierre",
        "fieldset": {
          "legend": {
            "html": 'Fecha de cierre del orden del día <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que se cerrará la entrega de asuntos"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "17"
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "04"
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2024"
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-cierre",
        "namePrefix": "hora-fecha-cierre",
        "fieldset": {
          "legend": {
            "html": 'Hora de cierre del orden del día'
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "12"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    {{ componentRadios({
      "idPrefix": "radios-clase",
      "name": "radios-clase",
      "fieldset": {
        "legend": {
          "html": 'Clase <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "c-h3"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Ordinaria",
          "checked": true
        },
        {
          "value": "2",
          "text": "Extraordinaria"
        }
      ]
    }) }}
  </section>
  {# fin Datos convocatoria #}

  {# Reuniones #}
  <section aria-labelledby="reuniones">
    <h2 id="reuniones" class="c-h2">Reuniones</h2>
    <h3 class="c-h3">Comisión de Secretarios</h3>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-reunion-comision",
        "namePrefix": "fecha-reunion-comision",
        "fieldset": {
          "legend": {
            "html": 'Fecha reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que tendrá lugar la reunión de la comisión"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "21"
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "04"
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2024"
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-reunion-comision",
        "namePrefix": "hora-fecha-reunion-comision",
        "fieldset": {
          "legend": {
            "html": 'Hora reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Hora en la que tendrá lugar la reunión de la comisión"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "11"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    {{ componentInput({
      "id": "input-lugar-reunion-comision",
      "name": "lugar-reunion-comision",
      "label": {
        "text": "Lugar de la reunión"
      },
      "value": "Cúpula Moncayo",
      "classes": "w-full lg:w-1/3"
    }) }}
    <h3 class="c-h3">Consejo de Gobierno</h3>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-reunion-consejo",
        "namePrefix": "fecha-reunion-consejo",
        "fieldset": {
          "legend": {
            "html": 'Fecha reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que tendrá lugar la reunión del consejo"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "22"
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "04"
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            },
            "value": "2024"
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-reunion-consejo",
        "namePrefix": "hora-fecha-reunion-consejo",
        "fieldset": {
          "legend": {
            "html": 'Hora reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Hora en la que tendrá lugar la reunión del consejo"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "11"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    {{ componentInput({
      "id": "input-lugar-reunion-consejo",
      "name": "lugar-reunion-consejo",
      "label": {
        "text": "Lugar de la reunión"
      },
      "value": "Cúpula Moncayo",
      "classes": "w-full lg:w-1/3"
    }) }}
  </section>
  {# fin Reuniones #}

{% endblock %}
{# fin Contenido de la página #}