{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Editar asunto - Selección de expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M12.75 5h-6a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5ZM13.5 9.25a.76.76 0 0 0-.75-.75h-8a.75.75 0 0 0 0 1.5h8a.76.76 0 0 0 .75-.75ZM4.75 12a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5Z"/><path d="M11.3 17.65a.25.25 0 0 0-.23-.15H2.5A.5.5 0 0 1 2 17V2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v10.07a.25.25 0 0 0 .15.23.26.26 0 0 0 .28-.05l1.28-1.28a1.05 1.05 0 0 0 .29-.71V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15.5a2 2 0 0 0 2 2h7.87a.5.5 0 0 0 .48-.35 1.86 1.86 0 0 1 .5-.82l.4-.4a.26.26 0 0 0 .05-.28ZM12.06 20.13a.25.25 0 0 0-.42.13L11 23.4a.51.51 0 0 0 .14.45.47.47 0 0 0 .35.15h.1l3.14-.63a.24.24 0 0 0 .19-.17.23.23 0 0 0-.06-.25ZM23.23 11.77a2.61 2.61 0 0 0-3.7 0L13 18.27a.48.48 0 0 0 0 .7l3 3a.48.48 0 0 0 .7 0l6.51-6.5a2.61 2.61 0 0 0 .02-3.7Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Editar asunto
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Del expediente ZA-SP-ENE-AT-2020-014</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a validar",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Información básica</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Selección de expediente</div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de documentos</div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de validadores</div>
        </div>
      </div>
      {# fin Pasos #}
      <h2 class="c-h2 lg:mb-lg">2. Selección de expediente</h2>
      {# Menu horizontal #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Últimos expedientes consultados",
            "active": true
          },
          {
            "href": "#",
            "text": "Búsqueda por CSV"
          },
          {
            "href": "#",
            "text": "Búsqueda avanzada"
          }
        ],
        "attributes": {
          "aria-label": "Opciones de selección de expediente"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h3">Últimos expedientes consultados</h2>
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes consultados</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-expedientes-consultados",
        "name": "todos-expedientes-consultados",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--sm c-button--primary"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de expedientes consultados #}
  <section aria-labelledby="expedientes-consultados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-consultados",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de expedientes consultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes consultados #}

  <h2 class="c-h3">Expedientes seleccionados</h2>
  {# Tabla-Listado de expedientes seleccionados #}
  <section aria-labelledby="expedientes-seleccionados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-seleccionados",
      "caption": "Listado de expedientes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]      
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes seleccionados #}  

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}