{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Preparador - Listado de asuntos - Mensajes de éxito/error. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "El asunto ha pasado a estado Borrador correctamente."
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}    
  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "No se ha podido pasar el asunto a Borrador."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #} 

{% endblock %}
{# fin Contenido de la página #}