{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Secretario - Detalle de convocatoria - Orden del día. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"></path></svg>
    <a href="#" class="c-link">Volver a convocatorias</a>
  </p>

  <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
    <span class="sr-only">Convocatoria</span> 
    <span class="pb-sm">17 abril 2024</span>
    <span class="text-base font-normal">Comisión de Secretarios</span>
  </h1>

  {# Datos #}
  <section aria-labelledby="datos-convocatoria">
    <h2 id="datos-convocatoria" class="c-h3 mb-sm">Datos de la convocatoria</h2>
    {{ componentDescriptionList({
      "classes": "lg:flex w-full mb-base",
      "items": [
        {
          "term": {
            "html": 'Fecha de apertura'
          },
          "definition": {
            "html": 'Miércoles, 24 septiembre 2024, 12:00'
          },
          "classes": "w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Fecha de cierre del orden del día'
          },
          "definition": {
            "html": 'Miércoles, 26 septiembre 2024, 12:00'
          },
          "classes": "w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Clase'
          },
          "definition": {
            "html": 'Ordinaria'
          },
          "classes": "w-1/3 pr-lg mb-sm"
        }
      ]
    }) }}
    {{ componentDescriptionList({
      "classes": "lg:flex w-full mb-lg",
      "items": [
        {
          "term": {
            "html": 'Comisión de Secretarios',
            "classes": "font-bold"
          },
          "definition": {
            "html": 'Miércoles, 16 septiembre 2024, 10:00h <span class="block">Lugar de celebración</span>'
          },
          "classes": "w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Consejo de Gobierno',
            "classes": "font-bold"
          },
          "definition": {
            "html": 'Miércoles, 17 septiembre 2024, 10:00h <span class="block">Lugar de celebración</span>'
          },
          "classes": "w-1/3 pr-lg mb-sm"
        }
      ]
    }) }}
  </section>
  {# fin Datos #}

  <h2 id="asuntos-anadidos" class="c-h2">Orden del día de Comisión de Secretarios</h2>
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Descargar orden del día",
        "classes": "mb-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir asunto de urgencia",
        "classes": "mb-sm"
      })  }}
    </li>
  </ul>

  <div class="pb-lg"></div><!--espaciador-->

  {# Asuntos de urgencia #}
  <section aria-labelledby="asuntos-urgencia">
    <h2 id="asuntos-urgencia" class="c-h3">Asuntos de urgencia</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-primary-base"></span>Consejo de Gobierno</li>
            <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
            <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
            <li class="lg:inline-block px-sm"><span class="bg-info-light px-xs">Asunto de urgencia</span></li>
        </ul>
      </div>
    </div>
  </section>
  {# fin Asuntos de urgencia  #}

  <div class="pb-xl"></div><!--espaciador-->  

  {# Asuntos de departamento 1 #}
  <section aria-labelledby="asuntos-departamento-1">
    <h2 id="asuntos-departamento-1" class="c-h3">Vicepresidencia Primera. Departamento de Desarrollo Territorial, Despoblación y Justicia</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
        </ul>
      </div>
    </div>
  </section>
  {# fin Asuntos de departamento 1 #}

  <div class="pb-xl"></div><!--espaciador-->  

  {# Asuntos de departamento 2 #}
  <section aria-labelledby="asuntos-departamento-2">
    <h2 id="asuntos-departamento-2" class="c-h3">Vicepresidencia Segunda. Departamento de Economía, Empleo e Industria</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Economía, Empleo e Industria</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Economía, Empleo e Industria</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Economía, Empleo e Industria</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Economía, Empleo e Industria</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
        </ul>
      </div>
    </div>
  </section>
  {# fin Asuntos de departamento 2 #}

  <div class="pb-xl"></div><!--espaciador-->  

  {# Asuntos de departamento 3 #}
  <section aria-labelledby="asuntos-departamento-3">
    <h2 id="asuntos-departamento-3" class="c-h3">Departamento de Presidencia, Interior y Cultura</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Presidencia, Interior y Cultura</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Presidencia, Interior y Cultura</li>
            <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Presidencia, Interior y Cultura</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
            <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
        </ul>
      </div>
      {# asunto #}
      <div class="p-base">
        <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
            <li class="lg:inline-block px-sm">Departamento de Presidencia, Interior y Cultura</li>
        </ul>
        <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
            <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
        </ul>
      </div>
    </div>
  </section>
  {# fin Asuntos de departamento 3 #}


{% endblock %}
{# fin Contenido de la página #}