{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Convocatoria fases. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{# fin Dependencias #}

{# Definiciones #}
{% set titlePresentacionAbierto %}
  <span class="font-bold pointer-events-none">Presentacion de asuntos</span>
  <span class="block pointer-events-none mt-px"><span class="bg-success-light px-xs py-px">Plazo abierto</span></span>
  <span class="block pointer-events-none">
     <span class="font-normal">Se cierra el lunes, 18 abril 2024, 10:00h</span> <span class="text-alert-base">(quedan 3 días)</span>
  </span>
{% endset %}
{% set contentPresentacionAbierto %}
  <p class="mb-sm">Añade los asuntos que deseas incorporar en esta convocatoria</p>
  <p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>
  {{ componentButton({
    "html": 'Crear asunto',
    "classes": "mb-sm"
  })  }}   
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Convocatoria fases</h1>

  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria programada sin abrir</h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-1",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentación de asuntos</span> <span class="block font-normal pointer-events-none">Se abre el lunes, 8 abril 2024, 10:00h (quedan 4 días)</span> <span class="block font-normal pointer-events-none">Se cierra el lunes, 18 abril 2024, 10:00h (quedan 10 días)</span>',
            "disabled": true,
            "status": "pending"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
            "disabled": true,
            "status": "pending"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "disabled": true,
            "status": "pending"
          }
        ]
      })  }}
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal"><strong class="bg-warning-light px-xs">Programada</strong></span>
      </h1>      
    </div>
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria abierta - Presentación de asuntos</h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-2",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": titlePresentacionAbierto,
            "html": contentPresentacionAbierto,
            "open": true,
            "status": "current"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
            "disabled": true,
            "status": "pending"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "disabled": true,
            "status": "pending"
          }
        ]
      })  }}
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Presentación de asuntos</span>
        <span class="text-base font-normal"><strong class="bg-success-light px-xs">Plazo abierto</strong></span>
      </h1>  
    </div>
  </div>  
    
  <div class="pb-xl"></div><!--espaciador-->

  <h2 class="c-h2">Presentación de asuntos  en plazo cerrado - Comisión de Secretarios</h2>
  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-3",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
            "disabled": true,
            "open": true,
            "status": "current"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "disabled": true,
            "status": "pending"
          }
        ]
      })  }}   
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Presentación de asuntos</span>
        <span class="text-base font-normal"><strong class="bg-alert-light px-xs">Plazo cerrado</strong></span>
      </h1>   
    </div>
  </div>  
    
  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Si quedan 3 días o menos</p>
  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-4",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h <span class="font-semibold text-alert-base">(quedan 3 días)</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
            "disabled": true,
            "open": true,
            "status": "current"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "disabled": true,
            "status": "pending"
          }
        ]
      })  }}  
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Presentación de asuntos</span>
        <span class="text-base font-normal"><strong class="bg-alert-light px-xs">Plazo cerrado</strong></span>
      </h1> 
    </div>
  </div>  

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">El día de la Comisión de Secretarios</p>
  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-4",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h <span class="font-semibold text-alert-base">(HOY)</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
            "disabled": true,
            "open": true,
            "status": "current"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "disabled": true,
            "status": "pending"
          }
        ]
      })  }}  
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Comisión de Secretarios</span>
      </h1> 
    </div>
  </div> 

  <div class="pb-2xl"></div><!--espaciador-->

  <h2 class="c-h2">En Consejo de Gobierno</h2>
  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-5",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024</span>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
            "disabled": true,
            "open": true,
            "status": "current"
          }
        ]
      })  }}  
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Comisión de Secretarios</span>
      </h1> 
      {{ componentDescriptionList({
        "classes": "lg:flex w-full mb-lg",
        "items": [
          {
            "term": {
              "html": 'Comisión de Secretarios',
              "classes": "font-bold"
            },
            "definition": {
              "html": 'Martes, 16 abril 2024, 10:00h <span class="block">Lugar de celebración</span> <span class="blocks"><strong class="bg-success-light px-xs">Celebrado</strong></span> <a href="#" class="c-link block"><strong>Descargar orden del día</strong></a> <a href="#" class="c-link block"><strong>Descargar acta (V2)</strong></a>'
            },
            "classes": "pr-lg mb-sm"
          }
        ]
      }) }}
    </div>
  </div>  

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Si quedan 3 días o menos</p>
  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-6",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h <span class="font-semibold text-alert-base">(quedan 3 días)</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">Ver orden del día</a></p>',
            "disabled": true,
            "open": true,
            "status": "current"
          }
        ]
      })  }} 
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Comisión de Secretarios</span>
      </h1> 
      {{ componentDescriptionList({
        "classes": "lg:flex w-full mb-lg",
        "items": [
          {
            "term": {
              "html": 'Comisión de Secretarios',
              "classes": "font-bold"
            },
            "definition": {
              "html": 'Martes, 16 abril 2024, 10:00h <span class="block">Lugar de celebración</span> <span class="blocks"><strong class="bg-success-light px-xs">Celebrado</strong></span> <a href="#" class="c-link block"><strong>Descargar orden del día</strong></a> <a href="#" class="c-link block"><strong>Descargar acta (V2)</strong></a>'
            },
            "classes": "pr-lg mb-sm"
          }
        ]
      }) }}
    </div>
  </div>  

  <div class="pb-xl"></div><!--espaciador-->

  <div class="grid lg:grid-cols-4 gap-x-xl gap-y-base">
    <div class="lg:col-span-3">
      <h2 class="c-h2">En Consejo de Gobierno - celebrado</h2>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-convocatoria-7",
        "allowMultiple": true,
        "classes": "border-t border-b border-neutral-base",
        "items": [
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Presentacion de asuntos</span> <span class="block pointer-events-none mt-px"><span class="bg-alert-light px-xs py-px">Plazo cerrado</span></span>',
            "html": '<p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Celebrado el martes, 16 abril 2024',
            "disabled": true,
            "open": true,
            "status": "past"
          },
          {
            "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Celebrado el miércoles, 17 abril 2024</span>',
            "disabled": true,
            "open": true,
            "status": "past"
          }
        ]
      })  }}    
    </div>
    <div class="lg:col-span-1 lg:pt-xl">
      <p class="text-sm font-bold">Estado en el detalle de la convocatoria</p>
      <h1 class="c-h1 mb-base lg:mb-lg flex flex-col">
        <span class="sr-only">Convocatoria</span> 
        <span class="pb-sm">17 abril 2024</span>
        <span class="text-base font-normal">Comisión de Secretarios</span>
      </h1> 
      {{ componentDescriptionList({
        "classes": "lg:flex w-full mb-lg",
        "items": [
          {
            "term": {
              "html": 'Comisión de Secretarios',
              "classes": "font-bold"
            },
            "definition": {
              "html": 'Martes, 16 abril 2024, 10:00h <span class="block">Lugar de celebración</span> <span class="blocks"><strong class="bg-success-light px-xs">Celebrado</strong></span> <a href="#" class="c-link block"><strong>Descargar orden del día</strong></a> <a href="#" class="c-link block"><strong>Descargar acta (V2)</strong></a>'
            },
            "classes": "pr-lg mb-sm"
          }
        ]
      }) }}
      {{ componentDescriptionList({
        "classes": "lg:flex w-full mb-lg",
        "items": [
          {
            "term": {
              "html": 'Consejo de Gobierno',
              "classes": "font-bold"
            },
            "definition": {
              "html": 'Miércoles, 17 abril 2024, 10:00h <span class="block">Lugar de celebración</span> <span class="blocks"><strong class="bg-success-light px-xs">Celebrado</strong></span> <a href="#" class="c-link block"><strong>Descargar orden del día</strong></a> <a href="#" class="c-link block"><strong>Descargar acta (V2)</strong></a>'
            },
            "classes": "pr-lg mb-sm"
          }
        ]
      }) }}
    </div>
  </div>  

   
{% endblock %}
{# fin Contenido de la página #}