{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Aviso - Sin convocatoria asignada. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H7.5a.25.25 0 0 0-.25.25V20a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H4a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H9a.75.75 0 0 1 0 1.5Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Crear asunto
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Del expediente ZA-SP-ENE-AT-2020-014</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar a validar",
        "href": "#",
        "disabled": true, 
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Información básica</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Selección de expediente</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Selección de documentos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Validación</div>
      </div>
    </div>
    {# fin Pasos #}
    {# Notificacion Error #}
    <div class="w-full lg:w-3/4 mb-lg">
      {{ componentNotification({
        "title": {
          "text": "Asunto sin convocatoria asignada"
        },
        "description": {
          "html": "Es necesario asignar el asunto a una convocatoria para poder enviarlo a validar."
        },   
        "isDismissible": true,     
        "type": "alert",
        "id": "type-alert"
      }) }}
    </div>
    {# fin Notificacion Error #}
    <h2 class="c-h2">4. Validación</h2>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}

  <div class="w-full lg:w-3/4">
    <p class="c-paragraph-base mb-lg">Todos los campos marcados con un asterisco (*) son obligatorios.</p>

    {{ componentCheckboxes({
      "idPrefix": "check-visibilidad",
      "name": "visibilidad",
      "fieldset": {
        "legend": {
          "text": "Visibilidad reservada",
          "classes": "text-lg font-bold"
        }
      },
      "items": [
        {
          "value": "visibilidad-reservada",
          "text": "Este es un asunto de visibilidad reservada",
          "hint": {
            "text": "Un asunto reservado será visible solo por mí y los validadores hasta la celebración del consejo."
          }
        }
      ]
    }) }}

    {{ componentCheckboxes({
      "idPrefix": "validador",
      "name": "check-validadores",
      "fieldset": {
        "legend": {
          "html": 'Personas validadoras <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        }
      },
      "hint": {
        "text": "Selecciona las personas que van a validar el asunto"
      },
      "items": [
        {
          "value": "persona1",
          "text": "Martín Martinez Marín, Secretario/a General Técnico de Hacienda",
          "disabled": true,
          "checked": true
        },
        {
          "value": "persona2",
          "text": "Alonso Bello Gracia, Consejero/a de Hacienda"
        },
        {
          "value": "persona3",
          "text": "Nombre Apellido 1 Apellido 2, Cargo de persona designada como posible validadora"
        },
        {
          "value": "persona4",
          "text": "Nombre Apellido 1 Apellido 2, Cargo de persona designada como posible validadora"
        },
        {
          "value": "persona5",
          "text": "Nombre Apellido 1 Apellido 2, Cargo de persona designada como posible validadora"
        },
        {
          "value": "persona6",
          "text": "Nombre Apellido 1 Apellido 2, Cargo de persona designada como posible validadora"
        }
      ]
    }) }}    
    
  </div>

  <div class="pb-base"></div><!--espaciador-->

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}