{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Detalle del asunto de otro departamento. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a 17 abril 2024</a>
      </p>
      {# Cabecera asunto #}
      <h1 class="c-h2 mb-sm">Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</h1>
      <div class="whitespace-nowrap mb-base lg:mb-0 lg:mr-base"><p><span class="inline-block min-w-3.5 h-3.5 mr-sm bg-primary-base"></span>Comisión de Secretarios</p></div>

      <div class="w-full lg:w-3/4 mt-lg mb-base lg:mb-lg">
        <h2 class="c-h3 ">Datos del asunto</h2>
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Tipo',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'Decreto'
              },
              "classes": "pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Fecha de creación',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '10 septiembre 2023'
              },
              "classes": "pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Preparador',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'María Pérez Pérez '
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Expediente',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<a href="#" class="c-link">ZA-SP-ENE-AT-2020-014</a>, <a href="#" class="c-link">ZA-SP-ENE-AT-2020-015</a>, <a href="#" class="c-link">ZA-SP-ENE-AT-2020-016</a>'
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Departamento',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<span class="block">Departamento de Hacienda y Administración Pública</span> <span class="block">Departamento de Economía</span>'
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        <div class="pb-base"></div><!--espaciador-->
        <h2 class="c-h3 ">Convocatoria asignada</h2>
        <p class="c-paragraph-base lg:c-paragraph-lg"><a href="#" class="c-link font-semibold">17 abril 2024</a> | en plazo para presentar asuntos hasta el 13 abril <span class="font-semibold text-alert-base">(quedan 3 días)</span></p>
      </div>
      {# fin Cabecera asunto #}
      {# Menu asunto #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Documentos",
            "active": true
          },
          {
            "href": "#",
            "text": "Información complementaria"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menú del asunto"
        }
      })  }}
      {# fin Menu asunto #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Documentos</h2>
  {{ componentTable({
    "caption": "Listado de documentos",
    "captionClasses": "sr-only",
    "head": [
      {
        "html": 'Nombre'
      },
      {
        "html": 'CSV'
      },
      {
        "html": 'Expediente'
      }
    ],
    "rows": [
      [
        {
          "html": '<a href="#" class="c-link">Descripción del documento</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<a href="#" class="c-link">Descripción del documento</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<a href="#" class="c-link">Informe de Intervención General</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<a href="#" class="c-link">Descripción del documento</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<a href="#" class="c-link">Descripción del documento</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<a href="#" class="c-link">Informe de Intervención General</a>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto"
    },
    "classes": "w-full"
  }) }}    

{% endblock %}
{# fin Contenido de la página #}