{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Superadmin - Detalle de convocatoria - Nueva apertura. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"></path></svg>
    <a href="#" class="c-link">Volver a convocatorias</a>
  </p>

  <div class="lg:flex lg:flex-wrap">
    <h1 class="c-h1 mb-base lg:mb-lg flex flex-col flex-1">
      <span class="sr-only">Convocatoria</span> 
      <span class="pb-sm">17 abril 2024</span>
      <span class="text-base font-normal">Presentación de asuntos</span>
      <span class="text-base font-normal"><strong class="bg-success-light px-xs">Plazo abierto</strong></span>
    </h1>
    <ul class="flex flex-wrap gap-sm mb-base lg:mb-0">
      <li>
        {{ componentButton({
          "text": "Cancelar",
          "classes": "mb-sm"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Editar",
          "classes": "mb-sm"
        })  }}
      </li>
    </ul>
  </div>

  {# Datos #}
  <section aria-labelledby="datos-convocatoria">
    <h2 id="datos-convocatoria" class="c-h3 mb-sm">Datos de la convocatoria</h2>
    {{ componentDescriptionList({
      "classes": "lg:flex w-full mb-base",
      "items": [
        {
          "term": {
            "html": 'Fecha de apertura'
          },
          "definition": {
            "html": 'Miércoles, 24 septiembre 2024, 12:00'
          },
          "classes": "lg:w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Fecha de cierre del orden del día'
          },
          "definition": {
            "html": 'Miércoles, 26 septiembre 2024, 12:00'
          },
          "classes": "lg:w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Clase'
          },
          "definition": {
            "html": 'Ordinaria'
          },
          "classes": "lg:w-1/3 pr-lg mb-sm"
        }
      ]
    }) }}
    {{ componentDescriptionList({
      "classes": "lg:flex w-full mb-lg",
      "items": [
        {
          "term": {
            "html": 'Comisión de Secretarios',
            "classes": "font-bold"
          },
          "definition": {
            "html": 'Miércoles, 16 septiembre 2024, 10:00h <span class="block">Lugar de celebración</span>'
          },
          "classes": "lg:w-1/3 pr-lg mb-sm"
        },
        {
          "term": {
            "html": 'Consejo de Gobierno',
            "classes": "font-bold"
          },
          "definition": {
            "html": 'Miércoles, 17 septiembre 2024, 10:00h <span class="block">Lugar de celebración</span>'
          },
          "classes": "lg:w-1/3 pr-lg mb-sm"
        }
      ]
    }) }}
  </section>
  {# fin Datos #}

  {# Asuntos #}
  <section aria-labelledby="asuntos-anadidos">
    <h2 id="asuntos-anadidos" class="c-h2">Asuntos añadidos</h2>
    <p class="lg:w-3/4 bg-neutral-light p-base">Actualmente no hay asuntos añadidos por ningún departamento.</p>
  </section>
  {# fin Asuntos #}


{% endblock %}
{# fin Contenido de la página #}