{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Superadmin - Listado de convocatorias - Mensajes éxito/error. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h4 pt-base">CREAR CONVOCATORIA</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria se ha creado correctamente"
      },
      "description": {
        "html": '<a class="c-link" href="#">Acceder al detalle de la convocatoria</a>'
      },   
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria no se ha podido crear, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

  <h2 class="c-h4 pt-base">EDITAR CONVOCATORIA</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria se ha editado correctamente"
      },
      "description": {
        "html": '<a class="c-link" href="#">Acceder al detalle de la convocatoria</a>'
      },   
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria no se ha podido editar, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

  <h2 class="c-h4 pt-base">CANCELAR CONVOCATORIA</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria se ha cancelado correctamente"
      },
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria no se ha podido cancelar, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

  <h2 class="c-h4 pt-base">DUPLICAR CONVOCATORIA</h2>
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria se ha duplicado correctamente"
      },
      "description": {
        "html": '<a class="c-link" href="#">Acceder al detalle de la convocatoria</a>'
      },   
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  {# Notificacion Eror #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "La convocatoria no se ha podido duplicar, inténtalo de nuevo más tarde."
      },
      "isDismissible": true,     
      "type": "alert",
      "id": "type-alert"
    }) }}
  </div>
  {# fin Notificacion Eror #}

{% endblock %}
{# fin Contenido de la página #}