{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Modales. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Modales</h1>

  <div class="grid lg:grid-cols-3 gap-7">
    <div>
      <h2 class="c-h3">Rechazar asunto</h2>
      {{ componentButton({
        "text": "Rechazar",
        "attributes": {
          "onclick": "openDialog('modal-rechazar-asunto', this, 'rechazar-asunto')"
        }
      })  }}       
      <!-- modal Rechazar asunto -->
      <div class="dialog-backdrop z-10000">
        <div id="modal-rechazar-asunto" class="hidden" role="dialog" aria-labelledby="label-rechazar-asunto" aria-modal="true">
          {{ componentModal({
            "id": "rechazar-asunto",
            "title": {
              "text": "Rechazar asunto"
            },
            "description": {
              "html": 'Si rechazas el asunto, se moverá al listado de asuntos con el estado "borrador".'
            },
            "itemsPrimary": [
              {
                "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
                "attributes": {
                  "onclick": "closeDialog(this)"
                }
              }
            ],
            "itemsSecondary": [
              {
                "text": "Rechazar",
                "classes": "c-button--alert"
              }
            ],
            "isDismissible": true,
            "icon": {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M12 8.5h7a1 1 0 0 0 0-2h-7a1 1 0 0 0 0 2Z"/><path d="M24 4.41A2 2 0 0 0 23.41 3L21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2Z"/><path d="M17.5 12a1 1 0 0 0-1-1h-4a1 1 0 0 0-.65.26.2.2 0 0 0 0 .31A8.32 8.32 0 0 1 13 12.9a.24.24 0 0 0 .19.1h3.31a1 1 0 0 0 1-1ZM6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11Zm2.65 9.15a.75.75 0 0 1-1.06 0l-1.41-1.41a.25.25 0 0 0-.36 0l-1.41 1.41a.75.75 0 0 1-1.06-1.06l1.41-1.41a.25.25 0 0 0 0-.36l-1.41-1.41a.75.75 0 1 1 1.06-1.06l1.41 1.41a.25.25 0 0 0 .36 0l1.41-1.41a.75.75 0 1 1 1.06 1.06l-1.41 1.41a.25.25 0 0 0 0 .36l1.41 1.41a.75.75 0 0 1 0 1.06Z"/></g></svg>'
            },
            "classes": "lg:w-lg mt-2xl"
          })  }}
        </div>
      </div>
      <!-- /modal Rechazar asunto  -->
    </div>
    <div>
      <h2 class="c-h3">Cancelar convocatoria</h2>
      {{ componentButton({
        "text": "Cancelar",
        "attributes": {
          "onclick": "openDialog('modal-cancelar-convocatoria', this, 'cancelar-convocatoria')"
        }
      })  }}       
      <!-- modal Cancelar convocatoria -->
      <div class="dialog-backdrop z-10000">
        <div id="modal-cancelar-convocatoria" class="hidden" role="dialog" aria-labelledby="label-cancelar-convocatoria" aria-modal="true">
          {{ componentModal({
            "id": "cancelar-convocatoria",
            "title": {
              "text": "Cancelar convocatoria"
            },
            "description": {
              "html": 'Si cancelas la convocatoria todos los asuntos añadidos a esta convocatoria pasaran a estado “en borrador” y no se podrán añadir nuevos asuntos.'
            },
            "itemsPrimary": [
              {
                "html": "Volver <span class=\"sr-only\">y cerrar la ventana modal</span>",
                "attributes": {
                  "onclick": "closeDialog(this)"
                }
              }
            ],
            "itemsSecondary": [
              {
                "text": "Cancelar convocatoria",
                "classes": "c-button--alert"
              }
            ],
            "isDismissible": true,
            "icon": {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M9.57 16.5H2.5A.5.5 0 0 1 2 16V7.5a.5.5 0 0 1 .5-.5H16a.5.5 0 0 1 .5.5v2.07a7.18 7.18 0 0 1 2 0V3a1 1 0 0 0-1-1H15a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H7a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H1a1 1 0 0 0-1 1v13.5a2 2 0 0 0 2 2h7.57a7.18 7.18 0 0 1 0-2Z"/><path d="M17.5 11a6.5 6.5 0 1 0 6.5 6.5 6.51 6.51 0 0 0-6.5-6.5Zm-2.65 4.91a.75.75 0 1 1 1.06-1.06l1.41 1.41a.25.25 0 0 0 .36 0l1.41-1.41a.75.75 0 0 1 1.06 1.06l-1.41 1.41a.25.25 0 0 0 0 .36l1.41 1.41a.75.75 0 0 1 0 1.06.74.74 0 0 1-1.06 0l-1.41-1.41a.25.25 0 0 0-.36 0l-1.41 1.41a.74.74 0 0 1-1.06 0 .75.75 0 0 1 0-1.06l1.41-1.41a.25.25 0 0 0 0-.36Z"/></g></svg>'
            },
            "classes": "lg:w-lg mt-2xl"
          })  }}
        </div>
      </div>
      <!-- /modal Cancelar convocatoria -->
    </div>
    <div>
      <h2 class="c-h3">Retirar asunto</h2>
      {{ componentButton({
        "text": "Retirar",
        "attributes": {
          "onclick": "openDialog('modal-retirar-asunto', this, 'retirar-asunto')"
        }
      })  }}       
      <!-- modal Retirar asunto -->
      <div class="dialog-backdrop z-10000">
        <div id="modal-retirar-asunto" class="hidden" role="dialog" aria-labelledby="label-retirar-asunto" aria-modal="true">
          {{ componentModal({
            "id": "retirar-asunto",
            "title": {
              "text": "Retirar asunto de la convocatoria"
            },
            "description": {
              "html": 'Si retiras el asunto, será eliminado de la convocatoria actual y se moverá al listado de asuntos con el estado "borrador".'
            },
            "itemsPrimary": [
              {
                "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
                "attributes": {
                  "onclick": "closeDialog(this)"
                }
              }
            ],
            "itemsSecondary": [
              {
                "text": "Retirar",
                "classes": "c-button--alert"
              }
            ],
            "isDismissible": true,
            "icon": {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M19.5 7.5h-15A.5.5 0 0 0 4 8v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a.5.5 0 0 0-.5-.5Zm-9.25 13a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0Zm5 0a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0ZM22 4h-4.75a.25.25 0 0 1-.25-.25V2.5A2.5 2.5 0 0 0 14.5 0h-5A2.5 2.5 0 0 0 7 2.5v1.25a.25.25 0 0 1-.25.25H2a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2ZM9 3.75V2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1.25a.25.25 0 0 1-.25.25h-5.5A.25.25 0 0 1 9 3.75Z"/></g></svg>'
            },
            "classes": "lg:w-lg mt-2xl"
          })  }}
        </div>
      </div>
      <!-- /modal Retirar asunto -->
    </div>    
  </div>

{% endblock %}
{# fin Contenido de la página #}