{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Detalle asunto - Borrador. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a asuntos</a>
      </p>
      {# Cabecera asunto #}
      <h1 class="c-h2 mb-sm">Acuerdo del Gobierno de Aragón por el que se determina instar la reincorporación del Gobierno de Aragón como miembro promotor del Consorcio del Castillo de San Pedro de Jaca, constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</h1>
      <div class="lg:flex lg:flex-wrap items-center border-y border-neutral-base py-base mt-base">
        <div class="flex-1 whitespace-nowrap mb-base lg:mb-0 lg:mr-base"><p><span class="inline-block min-w-3.5 h-3.5 mr-sm bg-neutral-base"></span>Borrador</p></div>
        <ul class="flex flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Editar"
            })  }}            
          </li>
          <li>
            {{ componentButton({
              "text": "Eliminar",
              "attributes": {
                "onclick": "openDialog('modal-eliminar-asunto', this, 'eliminar-asunto')"
              }
            })  }} 
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-3/4 mt-lg mb-base lg:mb-lg">
        <h2 class="c-h3 ">Datos del asunto</h2>
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Tipo',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'Acuerdo'
              },
              "classes": "pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Fecha de creación',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '10 septiembre 2023'
              },
              "classes": "pr-xl mb-sm"
            },
            {
              "term": {
                "html": 'Preparador',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": 'María Pérez Pérez '
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Expediente',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<a href="#" class="c-link">ZA-SP-ENE-AT-2020-014</a>, <a href="#" class="c-link">ZA-SP-ENE-AT-2020-015</a>, <a href="#" class="c-link">ZA-SP-ENE-AT-2020-016</a>'
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full mb-sm",
          "items": [
            {
              "term": {
                "html": 'Departamento',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "html": '<span class="block">Departamento de Hacienda y Administración Pública</span> <span class="block">Departamento de Economía</span>'
              },
              "classes": "pr-xl mb-sm"
            }
          ]
        })  }}
        <div class="pb-base"></div><!--espaciador-->
        <h2 class="c-h3 ">Convocatoria asignada</h2>
        <p class="c-paragraph-base lg:c-paragraph-lg">Ninguna</p>
        <div class="pb-base"></div><!--espaciador-->
        <h2 class="c-h3 ">Validadores asignados</h2>
        {{ componentDescriptionList({
          "classes": "w-full",
          "items": [
            {
              "term": {
                "html": 'Nombre Apellido1 Apellido2, cargo de persona designada como posible validadora',
                "classes": "lg:w-3/4 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '',
                "classes": "lg:w-1/4 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Martín Martinez Marín, Secretario/a General Técnico de Hacienda',
                "classes": "lg:w-3/4 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '',
                "classes": "lg:w-1/4 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            },
            {
              "term": {
                "html": 'Fernando Alonso Díaz, Consejero/a de Hacienda',
                "classes": "lg:w-3/4 pt-sm lg:pb-sm text-sm lg:text-base"
              },
              "definition": {
                "html": '',
                "classes": "lg:w-1/4 py-sm lg:text-right"
              },
              "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
            }
          ]
        }) }}
        <div class="pb-base"></div><!--espaciador-->
      </div>
      {# fin Cabecera asunto #}
      {# Menu asunto #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Documentos",
            "active": true
          },
          {
            "href": "#",
            "text": "Información complementaria"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menú del asunto"
        }
      })  }}
      {# fin Menu asunto #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Documentos</h2>
  {{ componentTable({
    "caption": "Listado de documentos",
    "captionClasses": "sr-only",
    "head": [
      {
        "html": 'Nombre'
      },
      {
        "html": 'CSV'
      },
      {
        "html": 'Expediente'
      }
    ],
    "rows": [
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Descripción del documento</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Descripción del documento</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Informe de Intervención General</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Descripción del documento</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Descripción del documento</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ],
      [
        {
          "html": '<div class="flex">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="self-center min-w-6 h-6 mr-xs text-neutral-base" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
                      <a href="#" class="c-link">Informe de Intervención General</a>
                    </div>'
        },
        {
          "html": 'CSVK45WT8V57TI10CPPC'
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-014'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto"
    },
    "classes": "w-full"
  }) }}     





  <!-- modal Eliminar asunto -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-eliminar-asunto" class="hidden" role="dialog" aria-labelledby="label-eliminar-asunto" aria-modal="true">
      {{ componentModal({
        "id": "eliminar-asunto",
        "title": {
          "text": "Eliminar asunto"
        },
        "description": {
          "html": 'Si eliminas el asunto se borrará definitivamente.'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Eliminar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M19.5 7.5h-15A.5.5 0 0 0 4 8v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a.5.5 0 0 0-.5-.5Zm-9.25 13a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0Zm5 0a.75.75 0 0 1-1.5 0v-9a.75.75 0 0 1 1.5 0ZM22 4h-4.75a.25.25 0 0 1-.25-.25V2.5A2.5 2.5 0 0 0 14.5 0h-5A2.5 2.5 0 0 0 7 2.5v1.25a.25.25 0 0 1-.25.25H2a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2ZM9 3.75V2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1.25a.25.25 0 0 1-.25.25h-5.5A.25.25 0 0 1 9 3.75Z"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Eliminar asunto -->
{% endblock %}
{# fin Contenido de la página #}