{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Home plazo abierto. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item/_macro.item.njk" import componentItem %}
{# fin Dependencias #}

{# Definiciones #}
{% set titlePresentacion %}
  <span class="font-bold pointer-events-none">Presentacion de asuntos</span>
  <span class="block pointer-events-none mt-px"><span class="bg-success-light px-xs py-px">Plazo abierto</span></span>
  <span class="block pointer-events-none">
     <span class="font-normal">Se cierra el lunes, 18 abril 2024, 10:00h</span> <span class="text-alert-base">(quedan 10 días)</span>
  </span>
{% endset %}
{% set contentPresentacion %}
  <p class="mb-sm">Añade los asuntos que deseas incorporar en esta convocatoria</p>
  <p class="mb-sm"><a href="#" class="c-link">11 Asuntos añadidos por mi departamento</a></p>
  {{ componentButton({
    "html": 'Crear asunto',
    "classes": "mb-sm"
  })  }}   
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Consejo de Gobierno</h1>
  <div class="w-full lg:w-3/4">
    {{ componentItem({
      "title": {
        "html": '<a href="#" class="c-link text-lg font-bold">Asuntos de mi departamento</a>'
      },
      "description": {
        "html": 'Crea, consulta y gestiona tus asuntos',
        "classes": "text-neutral-dark"
      },
      "content": {
        "html": '<span class="text-base">Tienes <span class="font-semibold text-alert-base">3</span> asuntos <span class="font-semibold text-alert-base">sin validar</span></span>'
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Icono de asuntos" focusable="false" role="img"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"/><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"/></g></svg>'
      },
      "classes": "mb-sm"
    }) }}
    {{ componentItem({
      "title": {
        "html": '<a href="#" class="c-link text-lg font-bold">Convocatorias</a>'
      },
      "description": {
        "html": 'Consulta las convocatorias',
        "classes": "text-neutral-dark"
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Icono de calendario" focusable="false" role="img"><g fill="currentColor"><path d="M7.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Z"/><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z"/></g></svg>'
      },
      "classes": "mb-sm"
    }) }}
    {{ componentItem({
      "title": {
        "html": '<a href="#" class="c-link text-lg font-bold">Historial</a>'
      },
      "description": {
        "html": 'En esta sección, tendrás acceso al histórico completo de convocatorias y asuntos.',
        "classes": "text-neutral-dark"
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Icono de historial" focusable="false" role="img"><g fill="currentColor"><path d="M19.879 7.517a.97.97 0 0 0-.97-.97h-6.793a.97.97 0 1 0 0 1.94h6.793a.97.97 0 0 0 .97-.97Z"/><path d="M23.197 3.15 20.85.804A1.94 1.94 0 0 0 19.481.24H8.235a1.94 1.94 0 0 0-1.94 1.94v7.055c0 .134.108.242.242.242.35 0 .97 0 1.436.078a.233.233 0 0 0 .262-.243V2.666c0-.268.217-.485.485-.485h10.557a.504.504 0 0 1 .35.135l2.076 2.058c.088.094.137.22.136.349v12.982a.485.485 0 0 1-.485.486h-6.666a.223.223 0 0 0-.233.203 7.476 7.476 0 0 1-.36 1.368.243.243 0 0 0 .224.33h7.5a1.94 1.94 0 0 0 1.941-1.94V4.519a1.94 1.94 0 0 0-.563-1.368Z"/><path d="M12.602 10.913a.97.97 0 0 0-.612.233.242.242 0 0 0 0 .34 7.64 7.64 0 0 1 1.116 1.261.233.233 0 0 0 .194.107h3.163a.97.97 0 0 0 0-1.94ZM6.78 10.661c-5.042.008-8.185 5.47-5.658 9.833 2.528 4.362 8.83 4.353 11.344-.017A6.55 6.55 0 0 0 6.78 10.66Zm0 11.158c-3.548-.007-5.758-3.852-3.977-6.921 1.78-3.07 6.215-3.06 7.983.017a4.61 4.61 0 0 1-4.006 6.904Z"/><path d="M8.72 16.25h-.786a.175.175 0 0 1-.184-.194v-1.262a.97.97 0 0 0-1.94 0v2.426c0 .536.434.97.97.97h1.94a.97.97 0 1 0 0-1.94Z"/></g></svg>'
      },
      "classes": "mb-sm"
    }) }}
    

    <div class="pb-lg"></div><!--espaciador-->
    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titlePresentacion,
          "html": contentPresentacion,
          "open": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}
  </div>

{% endblock %}
{# fin Contenido de la página #}