{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Presentación de asuntos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{# fin Dependencias #}


{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Presentación de asuntos</h1>

  <h2 class="c-h3">Estados asuntos</h2>
  <div class="divide-y divide-neutral-base border-y border-neutral-base">
    {# asunto borrador #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-base"></span>Borrador</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria por definir</li>
      </ul>
    </div>
    {# asunto en validacion multidepartamental #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
          <li class="lg:inline-block px-sm">Departamento de Presidencia y Relaciones Institucionales </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-warning-base"></span>En validación</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria por definir</li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto enviado a convocatoria #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-primary-base"></span>Enviado a convocatoria</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto comision de secretarios #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-primary-base"></span>Comisión de secretarios</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto consejo de gobierno #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-primary-base"></span>Consejo de Gobierno</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto aprobado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto retirado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto de urgencia #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-primary-base"></span>Consejo de Gobierno</li>
          <li class="lg:inline-block px-sm">Creado el 10 septiembre 2023 a 11:23 horas</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
          <li class="lg:inline-block px-sm"><span class="bg-alert-light px-xs">Asunto de urgencia</span></li>
      </ul>
    </div>
  </div>  

  <div class="pb-xl"></div><!--espaciador-->
    
  <h2 class="c-h3">Asuntos en orden del día</h2>
  <div class="divide-y divide-neutral-base border-y border-neutral-base">
    {# asunto multidepartamental con coste #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
          <li class="!mb-0 lg:inline-block !px-sm"><span class="bg-info-light px-xs">Trascendente</span></li>
      </ul>
    </div>
    {# asunto multidepartamental #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto con coste #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
      </ul>
    </div>
    {# asunto sin coste #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
      </ul>
    </div>
  </div>      

  <div class="pb-xl"></div><!--espaciador-->
    
  <h2 class="c-h3">Asuntos en orden del día aprobados- rechazados</h2>
  <div class="divide-y divide-neutral-base border-y border-neutral-base">
    {# asunto aprobado multidepartamental con coste #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto retirado multidepartamental #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública </li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto aprobado con coste #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
      </ul>
    </div>
    {# asunto aprobado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Decreto-ley de medidas urgentes para el impulso de las  Inversiones Estratégicas Sanitarias en Aragón y de mejora de la  eficiencia y calidad en la prestación de servicios de salud a las  personas y de adquisición pública de medicamentos para obtener la  mejor solución asistencial al servicio del paciente. (SAN)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
      </ul>
    </div>
  </div>

  <div class="pb-xl"></div><!--espaciador-->
    
  <h2 class="c-h3">Historial</h2>
  <div class="divide-y divide-neutral-base border-y border-neutral-base">
    {# asunto filtrado por todo estado Retirado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
          <li class="lg:inline-block px-sm">Departamento de Presidencia y Relaciones Institucionales</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto Retirado con mas de 2 departamentos #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <div class="-mt-sm">
        {% call componentDetails({
          "summary": {
            "html": "3 departamentos"
          }
        }) %}
          <ul class="c-ul -mt-sm ml-base text-sm lg:text-base">
              <li class="!mb-xs">Departamento de Hacienda y Administración Pública</li>
              <li class="!mb-xs">Departamento de Presidencia y Relaciones Institucionales</li>
              <li class="!mb-xs">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          </ul>
        {% endcall  %}
      </div>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-neutral-light border border-neutral-dark"></span>Retirado</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto filtrado solo por estado Aprobado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
      </ul>
    </div>
    {# asunto Aprobado con mas de 2 departamentos #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <div class="-mt-sm">
        {% call componentDetails({
          "summary": {
            "html": "3 departamentos"
          }
        }) %}
          <ul class="c-ul -mt-sm ml-base text-sm lg:text-base">
              <li class="!mb-xs">Departamento de Hacienda y Administración Pública</li>
              <li class="!mb-xs">Departamento de Presidencia y Relaciones Institucionales</li>
              <li class="!mb-xs">Departamento de Desarrollo Territorial, Despoblación y Justicia</li>
          </ul>
        {% endcall  %}
      </div>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
    {# asunto filtrado por todo estado Aprobado #}
    <div class="p-base">
      <h3 class="c-h4 font-semibold"><a href="#" class="c-link">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a></h3>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base mb-px">
          <li class="lg:inline-block px-sm">Departamento de Hacienda y Administración Pública</li>
          <li class="lg:inline-block px-sm">Departamento de Presidencia y Relaciones Institucionales</li>
      </ul>
      <ul class="-ml-sm lg:divide-x lg:divide-neutral-base text-sm lg:text-base">
          <li class="lg:inline-block px-sm"><span class="inline-block w-3.5 h-3.5 mr-sm -mb-px bg-success-base"></span>Aprobado</li>
          <li class="lg:inline-block px-sm">Convocatoria 17 abril 2024</li>
          <li class="lg:inline-block px-sm"><span class="bg-warning-light px-xs">Con coste económico</span></li>
          <li class="lg:inline-block px-sm"><span class="bg-primary-light px-xs">Multidepartamental</span></li>
      </ul>
    </div>
  </div>

{% endblock %}
{# fin Contenido de la página #}