{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Documento de urgencia - Detalle asunto a validar - Añadir documento de urgencia. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set busquedaCSV %}
  <div class="lg:w-1/2 pb-base mb-base">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>  
  <h2 class="c-h3">Listado de resultados</h2>
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes consultados</h2>
    {{ componentCheckboxes({
      "idPrefix": "todos-expedientes-consultados",
      "name": "todos-expedientes-consultados",
      "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
      "items": [
        {
          "value": "todos",
          "text": "Seleccionar todo",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1 text-nowrap"
          }
        }
      ]
    })  }}
    <div class="lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--sm c-button--primary"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}
  {# Tabla-Listado de expedientes consultados #}
  <section aria-labelledby="expedientes-consultados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-consultados",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de expedientes consultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes consultados #}
  <h2 class="c-h3">Expedientes seleccionados</h2>
  {# Tabla-Listado de expedientes seleccionados #}
  <section aria-labelledby="expedientes-seleccionados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-seleccionados",
      "caption": "Listado de expedientes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        },
        {
          "html": '<span id="descartar" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          },
          {
            "html": botonDescartar
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          },
          {
            "html": botonDescartar
          }
        ]     
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes seleccionados #}  
{% endset %}
{% set busquedaExpdte %}
  <h2 class="c-h3">Últimos expedientes consultados</h2>
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes consultados</h2>
    {{ componentCheckboxes({
      "idPrefix": "todos-expedientes-consultados",
      "name": "todos-expedientes-consultados",
      "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
      "items": [
        {
          "value": "todos",
          "text": "Seleccionar todo",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1 text-nowrap"
          }
        }
      ]
    })  }}
    <div class="lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--sm c-button--primary"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}
  {# Tabla-Listado de expedientes consultados #}
  <section aria-labelledby="expedientes-consultados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-consultados",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de expedientes consultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes consultados #}
  <h2 class="c-h3">Expedientes seleccionados</h2>
  {# Tabla-Listado de expedientes seleccionados #}
  <section aria-labelledby="expedientes-seleccionados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-seleccionados",
      "caption": "Listado de expedientes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    <p class="c-paragraph-base text-center">No se ha seleccionado ningún expediente</p>
  </section>
  {# fin Tabla-Listado de expedientes seleccionados #} 
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H7.5a.25.25 0 0 0-.25.25V20a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H4a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H9a.75.75 0 0 1 0 1.5Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadir documento
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h2 mb-0 mt-lg lg:mt-base">Opciones de añadir documento</h2>
  {{ componentRadios({
    "idPrefix": "radios-opciones-doc",
    "name": "opciones-doc",
    "formGroup": {
      "classes": "mt-lg lg:mt-base"
    },
    "items": [
      {
        "value": "1",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": busquedaCSV
        }
      },
      {
        "value": "2",
        "text": "Búsqueda por expediente",
        "conditional": {
          "html": busquedaExpdte
        }
      },
      {
        "value": "3",
        "text": "Preparar documento"
      }
    ]
  }) }}


{% endblock %}
{# fin Contenido de la página #}