{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Secretario - Listado de convocatorias. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set formFiltro %}
  <div class="grid md:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "text": "Nombre"
      },
      "id": "input-nombre",
      "name": "nombre",
      "placeholder": "Escribe el nombre",
      "classes": "w-full"
    })  }}    
    {% call componentDatepicker({
      "id": "datepicker-desde",
      "name": "fecha-desde",
      "label": {
        "text": "Fecha desde"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
    {% call componentDatepicker({
      "id": "datepicker-hasta",
      "name": "fecha-hasta",
      "label": {
        "text": "Fecha hasta"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
    {{ componentSelect({
      "id": "select-clase",
      "name": "clase",
      "classes": "w-full",
      "label": {
        "text": "Clase"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la clase",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    <ul class="md:col-span-4 flex flex-wrap gap-sm justify-end">
      <li>
        {{ componentButton({
          "text": "Eliminar filtro"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Filtrar",
          "classes": "c-button--primary"
        })  }}
      </li>
    </ul>               
  </div>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"></path></svg>
    <a href="#" class="c-link">Consejo de Gobierno</a>
  </p>

  {# Titulo y boton de pagina #}
  <div class="lg:flex lg:flex-wrap w-full">
    <h1 class="c-h1 mb-sm lg:mb-lg flex-1">Convocatorias</h1>
    {# Botones de accion de pagina #}
    <section class="flex lg:items-start mb-sm lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="lg:flex gap-sm">
        <li>
          {{ componentButton({
            "text": "Accede al historial",
            "classes": "c-button--transparent mb-sm"
          })  }}
        </li>
      </ul>
    </section>
    {# fin Botones de accion de pagina #}
  </div>
  {# fin Titulo y boton de pagina #}

  {# Filtros de Busqueda #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "filtros",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtrar",
          "html": formFiltro
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de convocatorias</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todas-convocatorias",
        "name": "todas-convocatorias",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todas",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="lg:flex">
        <li>
          {{ componentButton({
            "text": "Cancelar",
            "classes": "c-button--sm lg:ml-sm mb-sm",
            "attributes": {
              "onclick": "openDialog('modal-cancelar-convocatoria', this, 'cancelar-convocatoria')"
            }
          })  }}        
        </li>
        <li>
          {{ componentButton({
            "text": "Duplicar",
            "classes": "c-button--sm lg:ml-sm mb-sm",
            "disabled": true
          })  }}        
        </li>
        <li>
          {{ componentButton({
            "text": "Editar",
            "classes": "c-button--sm lg:ml-sm mb-sm",
            "disabled": true
          })  }}        
        </li>
        <li>
          {{ componentButton({
            "text": "Nueva convocatoria",
            "classes": "c-button--sm c-button--primary lg:ml-sm mb-sm"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="convocatorias">
    <h2 id="convocatorias" class="sr-only">Listado de convocatorias</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-convocatorias",
      "hasCheckboxes": true,
      "caption": "Listado de convocatorias",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre'
        },
        {
          "html": 'Fecha de apertura'
        },
        {
          "html": 'Fecha de cierre del orden del día'
        },
        {
          "html": 'Clase'
        },
        {
          "html": 'Estado'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">25 abril 2024</a>'
          },
          {
            "html": '15 abril 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Comisión de Secretarios'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">10 abril 2024</a>'
          },
          {
            "html": '3 abril 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Programada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">28 marzo 2024</a>'
          },
          {
            "html": '19 marzo 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Programada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">15 marzo 2024</a>'
          },
          {
            "html": '5 marzo 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Programada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">1 marzo 2024</a>'
          },
          {
            "html": '15 febrero 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Programada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">16 febrero 2024</a>'
          },
          {
            "html": '3 febrero 2024'
          },
          {
            "html": '19 abril 2024 23:59'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": 'Cancelada'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}  



  <!-- modal Cancelar convocatoria -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-cancelar-convocatoria" class="hidden" role="dialog" aria-labelledby="label-cancelar-convocatoria" aria-modal="true">
      {{ componentModal({
        "id": "cancelar-convocatoria",
        "title": {
          "text": "Cancelar convocatoria"
        },
        "description": {
          "html": 'Si cancelas la convocatoria todos los asuntos añadidos a esta convocatoria pasarán a estado “en borrador” y no se podrán añadir nuevos asuntos.'
        },
        "itemsPrimary": [
          {
            "html": "Volver <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Cancelar convocatoria",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentColor"><path d="M9.57 16.5H2.5A.5.5 0 0 1 2 16V7.5a.5.5 0 0 1 .5-.5H16a.5.5 0 0 1 .5.5v2.07a7.18 7.18 0 0 1 2 0V3a1 1 0 0 0-1-1H15a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H7a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H1a1 1 0 0 0-1 1v13.5a2 2 0 0 0 2 2h7.57a7.18 7.18 0 0 1 0-2Z"/><path d="M17.5 11a6.5 6.5 0 1 0 6.5 6.5 6.51 6.51 0 0 0-6.5-6.5Zm-2.65 4.91a.75.75 0 1 1 1.06-1.06l1.41 1.41a.25.25 0 0 0 .36 0l1.41-1.41a.75.75 0 0 1 1.06 1.06l-1.41 1.41a.25.25 0 0 0 0 .36l1.41 1.41a.75.75 0 0 1 0 1.06.74.74 0 0 1-1.06 0l-1.41-1.41a.25.25 0 0 0-.36 0l-1.41 1.41a.74.74 0 0 1-1.06 0 .75.75 0 0 1 0-1.06l1.41-1.41a.25.25 0 0 0 0-.36Z"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Cancelar convocatoria  -->
{% endblock %}
{# fin Contenido de la página #}