{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Revisor - Home plazo abierto. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item/_macro.item.njk" import componentItem %}
{# fin Dependencias #}

{# Definiciones #}
{% set titlePresentacion %}
  <span class="font-bold pointer-events-none">Presentacion de asuntos</span>
  <span class="block pointer-events-none mt-px"><span class="bg-success-light px-xs py-px">Plazo abierto</span></span>
  <span class="block pointer-events-none">
     <span class="font-normal">Se cierra el lunes, 18 abril 2024, 10:00h</span> <span class="text-alert-base">(quedan 10 días)</span>
  </span>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h1">Consejo de Gobierno</h1>
  <div class="w-full lg:w-3/4">
    {{ componentItem({
      "title": {
        "html": '<a href="#" class="c-link text-lg font-bold">Mis asuntos</a>'
      },
      "description": {
        "html": 'Crea, consulta y gestiona tus asuntos',
        "classes": "text-neutral-dark"
      },
      "content": {
        "html": '<span class="text-base">Tienes <span class="font-semibold text-alert-base">2</span> asuntos <span class="font-semibold text-alert-base">sin validar</span></span>'
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Icono de asuntos" focusable="false" role="img"><g fill="currentColor"><path d="m15.32 2.15 4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5H15a.49.49 0 0 1 .32.15ZM15.59 0H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7L16.29.29a1 1 0 0 0-.7-.29Z"/><path d="M16 11H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM16 15H7a1 1 0 0 1 0-2h9a1 1 0 0 1 0 2ZM11.5 19H7a1 1 0 0 1 0-2h4.5a1 1 0 0 1 0 2Z"/></g></svg>'
      },
      "classes": "mb-sm"
    }) }}
    {{ componentItem({
      "title": {
        "html": '<a href="#" class="c-link text-lg font-bold">Convocatorias</a>'
      },
      "description": {
        "html": 'Consulta las convocatorias',
        "classes": "text-neutral-dark"
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="w-8 h-8" aria-label="Icono de calendario" focusable="false" role="img"><g fill="currentColor"><path d="M7.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 10.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 14.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM7.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM12.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2ZM17.5 18.5h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Z"/><path d="M21.5 3h-2.75a.25.25 0 0 1-.25-.25V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5a.5.5 0 0 0-.5-.5H8.25A.25.25 0 0 1 8 2.75V1a1 1 0 0 0-2 0v4.75a.75.75 0 0 1-1.5 0V3.5A.5.5 0 0 0 4 3H2.5a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Zm0 18.5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-12A.5.5 0 0 1 3 9h18a.5.5 0 0 1 .5.5Z"/></g></svg>'
      },
      "classes": "mb-sm"
    }) }}
    

    <div class="pb-lg"></div><!--espaciador-->
    <h2 class="c-h2">Convocatoria actual - <a href="#" class="c-link">17 abril 2024</a></h2>
    {{ componentAccordionHistory({
      "idPrefix": "accordion-convocatoria",
      "allowMultiple": true,
      "classes": "border-t border-b border-neutral-base",
      "items": [
        {
          "headerHtml": titlePresentacion,
          "disabled": true,
          "open": true,
          "status": "current"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Comisión de Secretarios</span> <span class="block font-normal pointer-events-none">Martes, 16 abril 2024, 10:00h</span>',
          "disabled": true,
          "status": "pending"
        },
        {
          "headerHtml": '<span class="font-bold pointer-events-none">Consejo de Gobierno</span> <span class="block font-normal pointer-events-none">Miércoles, 17 abril 2024, 10:00h </span>',
          "disabled": true,
          "status": "pending"
        }
      ]
    })  }}
  </div>

{% endblock %}
{# fin Contenido de la página #}