{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Superadmin - Nueva convocatoria. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M9.57 16.5H2.5A.5.5 0 0 1 2 16V7.5a.5.5 0 0 1 .5-.5H16a.5.5 0 0 1 .5.5v2.07a7.18 7.18 0 0 1 2 0V3a1 1 0 0 0-1-1H15a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H7a.25.25 0 0 1-.25-.25v-1a.75.75 0 0 0-1.5 0V4.5a.75.75 0 0 1-1.5 0v-2a.5.5 0 0 0-.5-.5H1a1 1 0 0 0-1 1v13.5a2 2 0 0 0 2 2h7.57a7.18 7.18 0 0 1 0-2Z"/><path d="M17.5 11a6.5 6.5 0 1 0 6.5 6.5 6.51 6.51 0 0 0-6.5-6.5Zm.75 9a.75.75 0 0 1-1.5 0v-1.5a.25.25 0 0 0-.25-.25H15a.75.75 0 0 1 0-1.5h1.5a.25.25 0 0 0 .25-.25V15a.75.75 0 0 1 1.5 0v1.5a.25.25 0 0 0 .25.25H20a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Nueva convocatoria
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Crear",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  {# Datos convocatoria #}
  <section aria-labelledby="datos-convocatoria">
    <h2 id="datos-convocatoria" class="c-h2 mt-base lg:mt-0">Datos de la convocatoria</h2>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-apertura",
        "namePrefix": "fecha-apertura",
        "fieldset": {
          "legend": {
            "html": 'Fecha de apertura <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que se abrirá la convocatoria para poder empezar a añadir asuntos"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-apertura",
        "namePrefix": "hora-fecha-apertura",
        "fieldset": {
          "legend": {
            "html": 'Hora apertura'
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-cierre",
        "namePrefix": "fecha-cierre",
        "fieldset": {
          "legend": {
            "html": 'Fecha de cierre del orden del día <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que se cerrará la entrega de asuntos"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-cierre",
        "namePrefix": "hora-fecha-cierre",
        "fieldset": {
          "legend": {
            "html": 'Hora de cierre del orden del día'
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "12"
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            },
            "value": "00"
          }
        ]
      }) }}
    </div>
    {{ componentRadios({
      "idPrefix": "radios-clase",
      "name": "radios-clase",
      "fieldset": {
        "legend": {
          "html": 'Clase <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "c-h3"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Ordinaria",
          "checked": true
        },
        {
          "value": "2",
          "text": "Extraordinaria"
        }
      ]
    }) }}
  </section>
  {# fin Datos convocatoria #}

  {# Reuniones #}
  <section aria-labelledby="reuniones">
    <h2 id="reuniones" class="c-h2">Reuniones</h2>
    <h3 class="c-h3">Comisión de Secretarios</h3>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-reunion-comision",
        "namePrefix": "fecha-reunion-comision",
        "fieldset": {
          "legend": {
            "html": 'Fecha reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que tendrá lugar la reunión de la comisión"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-reunion-comision",
        "namePrefix": "hora-fecha-reunion-comision",
        "fieldset": {
          "legend": {
            "html": 'Hora reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Hora en la que tendrá lugar la reunión de la comisión"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          }
        ]
      }) }}
    </div>
    {{ componentInput({
      "id": "input-lugar-reunion-comision",
      "name": "lugar-reunion-comision",
      "label": {
        "text": "Lugar de la reunión"
      },
      "placeholder": "Escribe el lugar de la reunión",
      "classes": "w-full lg:w-1/3"
    }) }}
    <h3 class="c-h3">Consejo de Gobierno</h3>
    <div class="grid lg:grid-cols-2 gap-x-2 items-end">
      {{ componentDateInput({
        "id": "dateinput-fecha-reunion-consejo",
        "namePrefix": "fecha-reunion-consejo",
        "fieldset": {
          "legend": {
            "html": 'Fecha reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Fecha en la que tendrá lugar la reunión del consejo"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "time-fecha-reunion-consejo",
        "namePrefix": "hora-fecha-reunion-consejo",
        "fieldset": {
          "legend": {
            "html": 'Hora reunión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
          }
        },
        "hint": {
          "text": "Hora en la que tendrá lugar la reunión del consejo"
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "hora",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "divider": {
              "text": ":",
              "classes": "flex items-end mb-sm mr-base"
            }
          },
          {
            "name": "minutos",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          }
        ]
      }) }}
    </div>
    {{ componentInput({
      "id": "input-lugar-reunion-consejo",
      "name": "lugar-reunion-consejo",
      "label": {
        "text": "Lugar de la reunión"
      },
      "placeholder": "Escribe el lugar del consejo",
      "classes": "w-full lg:w-1/3"
    }) }}
  </section>
  {# fin Reuniones #}

{% endblock %}
{# fin Contenido de la página #}