{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Consejero - Historial - Convocatorias. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set formFiltro %}
  <div class="grid md:grid-cols-4 gap-x-7 py-base">
    {% call componentDatepicker({
      "id": "datepicker-desde",
      "name": "fecha-desde",
      "label": {
        "text": "Fecha convocatoria desde"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
    {% call componentDatepicker({
      "id": "datepicker-hasta",
      "name": "fecha-hasta",
      "label": {
        "text": "Fecha convocatoria hasta"
      },
      "placeholder": "aaaa-mm-dd",
      "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
    }) %}
      <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
        <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
        <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-date>
    {% endcall  %}
    {{ componentSelect({
      "id": "select-asuntos-urgencia",
      "name": "asuntos-urgencia",
      "classes": "w-full",
      "label": {
        "text": "¿Hay asuntos de urgencia?"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona si hay asuntos de urgencia",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-clase",
      "name": "clase",
      "classes": "w-full",
      "label": {
        "text": "Clase"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la clase",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-departamento",
      "name": "departamento",
      "classes": "w-full",
      "label": {
        "text": "Departamento"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona por departamento",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "disabled": true,
          "selected": true
        },
        {
          "value": 100,
          "text": "Todos"
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}   
    <ul class="md:col-span-4 flex flex-wrap gap-sm justify-end">
      <li>
        {{ componentButton({
          "text": "Buscar"
        })  }}
      </li>
    </ul>               
  </div>
{% endset %}
{# fin Definiciones #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"></path></svg>
        <a href="#" class="c-link">Consejo de Gobierno</a>
      </p>      
      <h1 class="c-h1 mb-sm lg:mb-lg">Historial</h1>
      {# Menu de Historial #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Asuntos"
          },
          {
            "href": "#",
            "text": "Convocatorias",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de Historial"
        }
      })  }}
      {# fin Menu de Historial #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h2">Convocatorias</h2>
  
  {# Filtros de Busqueda #}
  <section class="w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "filtros",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda de convocatorias",
          "html": formFiltro
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="convocatorias">
    <h2 id="convocatorias" class="sr-only">Listado de convocatorias</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-convocatorias",
      "caption": "Listado de convocatorias",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Fecha de celebración',
          "orderBy": "none"
        },
        {
          "html": 'Clase',
          "orderBy": "none"
        },
        {
          "html": 'Número asuntos',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">25 abril 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Celebrada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">10 abril 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Celebrada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">28 marzo 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Cancelada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">15 marzo 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Celebrada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">1 marzo 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Cancelada'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">16 febrero 2024</a>'
          },
          {
            "html": 'Ordinaria'
          },
          {
            "html": '50'
          },
          {
            "html": 'Celebrada'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}  

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-convocatorias",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}