{# Titulo de pagina #}
{% set title = "Consejo de Gobierno - Crear asunto de urgencia - Selección de expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="currentColor"><path d="M20 7.5a1 1 0 0 0-1-1h-7a1 1 0 0 0 0 2h7a1 1 0 0 0 1-1ZM12.5 11a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2Z"/><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.82a.25.25 0 0 0 .23.25 8.31 8.31 0 0 1 1.45.21.24.24 0 0 0 .32-.23V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-8.34a.26.26 0 0 0-.23.37l.79 1.5a.25.25 0 0 0 .22.13H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z"/><path d="M7.78 12.27a1.45 1.45 0 0 0-2.56 0L.16 21.9A1.44 1.44 0 0 0 1.44 24h10.12a1.43 1.43 0 0 0 1.28-2.09ZM5.75 16a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0Zm.75 6.25a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadir asunto de urgencia
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir asunto",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-2/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Información básica</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Selección de expediente</div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Selección de documentos</div>
        </div>
      </div>
      {# fin Pasos #}
      <h2 class="c-h2 lg:mb-lg">2. Selección de expediente</h2>
      {# Menu horizontal #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Últimos expedientes consultados",
            "active": true
          },
          {
            "href": "#",
            "text": "Búsqueda por CSV"
          },
          {
            "href": "#",
            "text": "Búsqueda avanzada"
          }
        ],
        "attributes": {
          "aria-label": "Opciones de selección de expediente"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h3">Últimos expedientes consultados</h2>
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes consultados</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-expedientes-consultados",
        "name": "todos-expedientes-consultados",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Añadir a seleccionados",
            "classes": "c-button--sm c-button--primary"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de expedientes consultados #}
  <section aria-labelledby="expedientes-consultados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-consultados",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de expedientes consultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de expedientes consultados #}

  <h2 class="c-h3">Expedientes seleccionados</h2>
  {# Tabla-Listado de expedientes seleccionados #}
  <section aria-labelledby="expedientes-seleccionados" class="mb-xl">
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes-seleccionados",
      "caption": "Listado de expedientes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none"
        },
        {
          "html": 'Descripción',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Estado',
          "orderBy": "none"
        }
      ],
      "rows": [
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    <p class="c-paragraph-base text-center">No se ha seleccionado ningún expediente</p>
  </section>
  {# fin Tabla-Listado de expedientes seleccionados #}  

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}