{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento notificación - Original - Envío a firma. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set ordenSi %}
  <p class="c-paragraph-base mb-sm">Organiza a los firmantes en el orden en el que vana tener que firmar, situando arriba al primero en firmar y abajo al último.</p> 
  <!-- firmante -->
  <div id="firmante1" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante1-title" class="flex-1 font-semibold">Marta Martín Martínez <span class="block font-normal">ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma anónima",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
    <hr class="border-neutral-base">
    <div class="p-sm">
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "text": "Revisores"
            },
            "definition": {
              "text": "Pedro Pérez Perea, Marina Marín Marinez, Sancho Sánchez Sanchis"
            }
          }
        ],
        "classes": "ml-16 lg:pl-2"
      }) }}
    </div>
  </div> 
  <!-- firmante -->
  <div id="firmante2" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante2-title" class="flex-1 font-semibold">Begoña Garcia Garcés <span class="block font-normal">ORG07462 - Departamento de Cultura y Deporte</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma personal",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
    <hr class="border-neutral-base">
    <div class="p-sm">
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "text": "Revisores"
            },
            "definition": {
              "text": "Pedro Pérez Perea, Marina Marín Marinez, Sancho Sánchez Sanchis"
            }
          }
        ],
        "classes": "ml-16 lg:pl-2"
      }) }}
    </div>
  </div>  
  <!-- firmante -->
  <div id="firmante3" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante3-title" class="flex-1 font-semibold">Marco Marquinez Marcos <span class="block font-normal">Saneamientos Marquinez S.L. Director general</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma personal",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
  </div>  
{% endset %}
{% set ordenNo %}
  {{ componentInput({
    "id": "input-num-firmas",
    "name": "num-firmas",
    "label": {
      "text": "Firmas obligatorias",
      "classes": "font-semibold"
    },
    "hint": {
      "text": "Indica el número de firmas necesarias para que el documento pase a estado Firmado."
    },
    "type": "number",
    "classes": "w-24"
  }) }}
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h9.504v-2.016H1.992l.006-8.994.006-8.994 2.28-.006 2.28-.006 1.5 1.5 1.5 1.5h10.428v4.512h2.016V3h-11.58l-1.5-1.5-1.5-1.5H0v11.004m16.992.01c-1.257.107-2.38.536-3.426 1.309-.338.25-.993.905-1.243 1.243a6.497 6.497 0 0 0-1.262 3.023c-.061.406-.075 1.272-.025 1.651.157 1.193.574 2.242 1.249 3.141a6.5 6.5 0 0 0 4.659 2.597 8.121 8.121 0 0 0 1.46-.037 6.513 6.513 0 0 0 5.487-7.635c-.474-2.57-2.5-4.643-5.049-5.169a7.364 7.364 0 0 0-1.85-.122m-.096 2.03a4.453 4.453 0 0 0-2.569 1.282 4.413 4.413 0 0 0-1.319 3.162 4.42 4.42 0 0 0 1.269 3.133 4.499 4.499 0 0 0 2.647 1.339c.257.037.952.03 1.224-.012a4.53 4.53 0 0 0 3.561-2.87c.29-.747.36-1.679.19-2.515a4.903 4.903 0 0 0-.555-1.39 4.801 4.801 0 0 0-1.52-1.52 4.58 4.58 0 0 0-1.735-.61 5.469 5.469 0 0 0-1.193 0m-.408 2.952V18h2.016v-4.008h-2.016v2.004m0 4.008V21h2.016v-1.992h-2.016v.996"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de notificación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Original</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-auto">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Personas destinatarias</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Firmantes</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">5</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Envío a firma</h2>
  <div class="flex gap-x-sm">
    <div class="h-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
    </div>
    <div class="flex-1 mb-lg">
        <h3 class="lg:flex-1 lg:flex-1 mb-xs lg:mb-0">Por defecto, se asigna una fecha límite para firmar de <strong>3 meses desde la fecha de fin de la preparación</strong></h3>
    </div>
  </div>

  {# Orden de firma #}
  {{ componentRadios({
    "idPrefix": "orden-firma",
    "name": "orden-firma",
    "fieldset": {
      "legend": {
        "html": '¿Quieres definir un orden de firma?',
        "classes": "font-semibold mb-xs"
      }
    },
    "hint": {
      "text": "Define un orden para indicar que cada firma valida a la anterior"
    },
    "items": [
      {
        "value": "si",
        "html": 'Sí',
        "conditional": {
          "html": ordenSi
        }
      },
      {
        "value": "no",
        "html": 'No',
        "conditional": {
          "html": ordenNo
        }
      }
    ]
  })  }} 

  {# Resumen #}
  <div class="lg:flex gap-x-base items-baseline">
      <h2 class="c-h3 flex-1">Resumen del documento de notificación preparado</h2>
      {{ componentButton({
        "text": "Abrir documento",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Datos básicos #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Datos básicos</h3>
      {{ componentButton({
        "text": "Volver a Datos básicos",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Procedimiento',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '1520 - Subvención para actividades de educación de personas adultas',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Visibilidad',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Visibilidad compartida (órganos gestores)',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Acceso a la consulta y verificación del documento desde el verificador de documentos y Mi Aragón (MiA)',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '<p>Limitado</p>
                  <p>Accesible desde el verificador de documentos para cualquiera que se identifique previamente y disponga del CSV.</p>
                  <p>Visible en el módulo de Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.</p>',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Metadatos #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Metadatos</h3>
      {{ componentButton({
        "text": "Volver a Metadatos",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Descripción',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución de la convocatoria de 2024',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo documental',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Organismo emisor',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Organismo 1',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Días de plazo',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '10 días',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo de acto',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución del trámite',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Sentido del acto',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Informar',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Personas destinatarias #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Personas destinatarias</h3>
      {{ componentButton({
        "text": "Volver a Personas destinatarias",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Persona destinataria 1',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'María García García',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Persona destinataria 2',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Ana García García',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": '¿Misma notificación?',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Sí',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo de envío',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Programado: 20/04/2024',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Firmantes #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Firmantes</h3>
      {{ componentButton({
        "text": "Volver a Firmantes",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Firmante 1',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Marta Martín Martínez',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Firmante 2',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Sancho Sánchez Sánchez',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}


  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}