{# Titulo de pagina #}
{% set title = "Documentos - Enviar notificación - Selección expediente. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set ayudaSeleccionFase %}
  <p class="mt-xs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="align-text-bottom inline-block text-primary-base -mt-1" role="img" aria-label="ayuda: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z"  fill="currentColor" /></svg> 
    <a href="#" class="c-link text-sm font-semibold" onclick="openDialog('modal-fases-expediente', this, 'fases-expediente')">¿Qué fase selecciono?</a>
  </p>
{% endset %}
{% set infoFasesExpediente %}
  <div class="lg:max-h-96 scrolling-touch overflow-y-auto mb-sm pr-sm text-left">
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
  </div>  
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="m.46 1.843 5.53 3.686 5.528-3.686"/><path d="M3.686 8.754H1.382a.921.921 0 0 1-.921-.922v-6.45c0-.509.412-.921.921-.921h9.214c.51 0 .922.412.922.921v2.764"/><path d="M9.214 12.44a3.225 3.225 0 1 0 0-6.45 3.225 3.225 0 0 0 0 6.45Z"/><path d="M9.214 10.827a.23.23 0 1 1 0-.46M9.214 10.827a.23.23 0 1 0 0-.46M9.214 7.602v1.382"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar notificación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Documento de resolución</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar notificación",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  {# Seleccion expediente #}
  <h2 class="c-h3 mb-base mt-base lg:mt-0">Selección de expediente</h2>
  {{ componentRadios({
    "idPrefix": "seleccion-expdte",
    "name": "seleccion-expdte",
    "fieldset": {
      "legend": {
        "text": "Selecciona el expediente al que se añadirá la documentación relacionada con la notificación.",
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "recomendados",
        "text": "Búsqueda por expedientes recomendados"
      },
      {
        "value": "ultimos",
        "text": "Últimos expedientes consultados"
      },
      {
        "value": "csv",
        "text": "Búsqueda por CSV"
      },
      {
        "value": "avanzada",
        "text": "Búsqueda avanzada"
      }
    ]
  }) }}

  {{ componentSelect({
    "id": "select-fases",
    "name": "select-fases",
    "label": {
      "html": 'Fase del expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "hint": {
      "html": ayudaSeleccionFase
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona fase...",
        "selected": true,
        "disabled": true
      },
      {
        "optgroup": {
          "label": "Agrupamiento 1",
          "items": [
            {
              "value": 1,
              "text": "Nombre de la fase 2"
            },
            {
              "value": 2,
              "text": "Nombre de la fase 2"
            },
            {
              "value": 3,
              "text": "Nombre de la fase 3"
            }
          ]
        }
      },
      {
        "optgroup": {
          "label": "Agrupamiento 2",
          "items": [
            {
              "value": 4,
              "text": "Nombre de la fase 4"
            },
            {
              "value": 5,
              "text": "Nombre de la fase 5"
            },
            {
              "value": 6,
              "text": "Nombre de la fase 6"
            }
          ]
        }
      }
    ],
    "classes": "w-full lg:w-1/2"
  }) }}  

  {{ componentRadios({
    "idPrefix": "seleccion-carpeta",
    "name": "seleccion-carpeta",
    "fieldset": {
      "legend": {
        "text": "Seleccionar carpeta",
        "classes": "font-semibold"
      }
    },
    "hint": {
      "text": "Selecciona la carpeta en la que se almacenará la documentación asociada a la notificación."
    },
    "items": [
      {
        "value": "nueva",
        "text": "Nueva carpeta"
      },
      {
        "value": "existente",
        "text": "Carpeta existente"
      },
      {
        "value": "ninguna",
        "text": "No quiero seleccionar ninguna carpeta"
      }
    ]
  }) }}

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>


<!-- modal info fases expediente -->
<div class="dialog-backdrop z-10000">
    <div id="modal-fases-expediente" class="hidden" role="dialog" aria-labelledby="label-fases-expediente" aria-modal="true">
      {{ componentModal({
        "id": "fases-expediente",
        "title": {
          "text": "Fases del expediente"
        },
        "description": {
          "html": infoFasesExpediente
        },
        "itemsPrimary": [
          {
            "html": "Aceptar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "isDismissible": true,
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal info fases expediente -->
{% endblock %}
{# fin Contenido de la página #}