{# Titulo de pagina #}
{% set title = "Documentos - Documentos revisados - Listado. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <div id="form-busqueda-avanzada" class="grid lg:grid-cols-2 gap-x-7 py-base items-end">
    <fieldset class="lg:col-span-2 mb-lg">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimiento"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "input-descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción...",
      "classes": "w-full"
    })  }} 
    {{ componentSelect({
      "id": "select-firmante",
      "name": "firmante",
      "classes": "w-full",
      "label": {
        "text": "Firmante"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la persona firmante...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "	Jesús Castilla Tassani"
        },
        {
          "value": 2,
          "text": "Cristina Plaza Rojo"
        },
        {
          "value": 3,
          "text": "Usuario Interno"
        }
      ]
    }) }} 
    {{ componentSelect({
      "id": "select-estado-revision-firma",
      "name": "estado-revision-firma",
      "classes": "w-full",
      "label": {
        "text": "Estado de revisión y firma"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado de revisión y firma...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Revisado sin firmar"
        },
        {
          "value": 2,
          "text": "Sin revisar y firmado (parcial o completamente)"
        },
        {
          "value": 3,
          "text": "Revisado y firmado (parcial o completamente)"
        }
      ]
    }) }} 
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentDateInput({
        "id": "fin-preparacion-desde",
        "namePrefix": "fin-preparacion-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de preparación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fin-preparacion-hasta",
        "namePrefix": "fin-preparacion-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de preparación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="lg:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set descripcionModal %}
  <p>¿Estás seguro de que deseas rechazar este documento? <span class="block">Por favor, introduce el motivo de rechazo.</span></p>
  {{ componentTextarea({
    "id": "textarea-motivo-rechazo",
    "name": "motivo-rechazo",
    "label": {
      "text": "Motivo de rechazo",
      "classes": "sr-only"
    },
    "placeholder": "Introduce el motivo del rechazo...",
    "classes": "w-full",
    "formGroup": {
      "classes": "mt-lg"
    }
  }) }}  
{% endset %}
{# fin Definiciones #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Documentos</a>
      </p>
      <h1 class="c-h1">Documentos sin revisar y revisados</h1>
      {# Menu de documentos sin revisar y revisados #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Pendientes de revisar"
          },
          {
            "href": "#",
            "text": "Histórico: documentos revisados y/o firmados",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de documentos sin revisar y revisados"
        }
      })  }}
      {# fin Menu de documentos sin revisar y revisados #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  {# Filtros de Busqueda #}
  <section class="mb-lg" aria-labelledby="filtros-busqueda">
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda por CSV",
          "html": formBusquedaCSV
        },
        {
          "headerText": "Buscar en revisados y/o firmados",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  <h2 class="c-h3 py-sm">Documentos revisados y/o firmados</h2>

  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de documentos</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-documentos",
        "name": "todos-documentos",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Descargar",
            "classes": "c-button--sm"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="documentos">
    {{ componentTableAdvanced({
      "idPrefix": "listado-documentos",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de documentos",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Descripción',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Selecccionar...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "html": 'Preparador',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Fin preparación',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Revisado',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Selecccionar...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Sí"
              },
              {
                "value": 2,
                "text": "No"
              }
            ]
          }
        },
        {
          "html": 'Firmante',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Firmado',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Selecccionar...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'María Marín Marín'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'No'
          },
          {
            "html": 'Jesús Castilla Tassani, Cristina Plaza Rojo y 1 más'
          }
          ,
          {
            "html": '1/1'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Antonio López López'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'Sí'
          },
          {
            "html": 'Cristina Plaza Rojo y 2 más'
          },
          {
            "html": '1/3'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Angel Martinez Martinez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'No'
          },
          {
            "html": 'Jesús Castilla Tassani'
          },
          {
            "html": '1/1'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Begoña Fernandez Fernandez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'No'
          },
          {
            "html": 'Cristina Plaza Rojo y Jesús Castilla Tassani'
          },
          {
            "html": '0/1'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Silvia Sanchez Sanchez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'No'
          },
          {
            "html": 'Jesús Castilla Tassani y 1 más'
          },
          {
            "html": '1/2'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Pedro Alonso Alonso'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020 12:00</span>'
          },
          {
            "html": 'Sí'
          },
          {
            "html": 'Usuario Interno'
          },
          {
            "html": '1/1'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "itemsPerPageSelector": {
        "items": [
          {
            "value": "10",
            "text": "10",
            "selected": true
          },
          {
            "value": "25",
            "text": "25"
          },
          {
            "value": "50",
            "text": "50"
          },
          {
            "value": "75",
            "text": "75"
          },
          {
            "value": "100",
            "text": "100"
          }
        ]
      },
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}




  <!-- modal -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-rechazar-documento" class="hidden" role="dialog" aria-labelledby="label-rechazar-documento" aria-modal="true">
      {{ componentModal({
        "id": "rechazar-documento",
        "title": {
          "text": "Rechazar documento"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Rechazar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 134" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentcolor" fill-rule="evenodd"><path d="M84 109.95V84.849c0-3.86 3.141-7 7-7h25.101L84 109.949zm56-81.101c0-11.58-9.421-21-21-21H77a7 7 0 100 14h42c3.859 0 7 3.14 7 7v35H91c-11.579 0-21 9.42-21 21v35H21c-3.859 0-7-3.14-7-7v-42a7 7 0 10-14 0v42c0 11.58 9.421 21 21 21h56c.02 0 .039-.003.059-.003.21-.001.419-.01.626-.031.102-.01.202-.03.302-.044.125-.017.25-.031.374-.055.108-.022.212-.053.318-.08.115-.028.231-.052.345-.086.099-.03.195-.07.292-.104.119-.041.237-.078.352-.126.089-.036.173-.081.259-.121.121-.056.243-.107.361-.17.081-.044.158-.095.238-.142.118-.07.238-.134.352-.21.091-.06.175-.13.263-.194.097-.071.198-.138.292-.216.179-.146.352-.302.517-.467l56-56a7.08 7.08 0 00.747-.896c.175-.245.339-.498.481-.763.01-.02.018-.041.029-.061.13-.25.24-.508.339-.772a6.955 6.955 0 00.318-1.089l.004-.023a6.88 6.88 0 00.12-1.113c.003-.078.012-.155.012-.234v-42z"/><path d="M8.2 41.648a6.979 6.979 0 004.95 2.05 6.979 6.979 0 004.95-2.05l9.9-9.9 9.898 9.9a6.979 6.979 0 004.95 2.05A7 7 0 0047.8 31.749l-9.9-9.9 9.9-9.9a7.002 7.002 0 00-9.9-9.9l-9.9 9.9-9.899-9.9a7.002 7.002 0 00-9.9 0 7.002 7.002 0 000 9.9l9.9 9.9-9.9 9.9a7 7 0 000 9.899"/></g></svg>'
        },
        "classes": "mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal -->
{% endblock %}
{# fin Contenido de la página #}