{# Titulo de pagina #}
{% set title = "Documentos - Documentos pendientes de revisar y revisados - Revisar - Añadir nota. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set descriptionItem %}
  {{ componentDescriptionList({
    "classes": "lg:flex w-full mt-sm mb-sm lg:mb-0",
    "items": [
      {
        "term": {
          "html": 'Preparador:',
          "classes": "font-semibold mr-xs"
        },
        "definition": {
          "text": "Marta Gomez Berrio"
        },
        "classes": "lg:flex pr-2xl"
      },
      {
        "term": {
          "html": 'Fin de preparación:',
          "classes": "font-semibold mr-xs"
        },
        "definition": {
          "text": "20/12/2024"
        },
        "classes": "lg:flex pr-2xl"
      }
    ]
  })  }}  
{% endset %}
{% set contentItem %}
  <div class="mt-sm">
    <a class="c-link font-semibold" href="#">Abrir documento</a>
    {% call componentDetails({
      "summary": {
        "html": "Mostrar notas del documento"
      },
      "classes": "mt-sm text-sm"
    }) %}
    <p>Este documento no contiene notas.</p>
    {% endcall  %}
  </div>
{% endset %}  
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base -mt-2 text-neutral-dark"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M9.316 5.145a.67.67 0 0 1 0 .922C8.586 6.855 6.928 8.375 5 8.375S1.414 6.855.684 6.067a.67.67 0 0 1 0-.922A6.485 6.485 0 0 1 5 2.875"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m4 4.875 1.25 1.25 4-4.5"/></svg>
{% endblock %}
{% block titleText %}
  Añadir notas de revisión
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Nombre_documento</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar notas de revisión",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg mt-sm">
    <legend class="c-h3">Documentos seleccionados</legend>
    <ul>
      <li>
        {% call componentItem({
          "title": {
            "html": 'Nombre_documento',
            "classes": "font-bold",
            "attributes": {
              "id": "doc1"
            }
          },
          "description": {
            "html": descriptionItem
          },
          "items": [
            {
              "text": "Firmantes: MARTA GÓMEZ BERRIO, Emilio Tolosa Ortiz, Daniel Calvo Jiménez"
            },
            {
              "text": "CSV: CSVD4588305G81B0XFIL"
            }
          ],
          "content": {
            "html": contentItem
          },
          "classes": "mb-sm"
        })  %}
            <button class="rounded p-sm text-primary-base focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-labelledby="boton1 doc1">
              <span id="boton1" class="rounded lg:sr-only py-2.5 px-base -mx-sm border border-primary-base font-semibold text-sm">Descartar documento</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="sr-only lg:not-sr-only w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
    </ul>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Seleccionar más documentos',
      "href": "#",
      "classes": "c-button--sm mt-sm"
    })  }}
  </fieldset>  
  
  <h2 class="c-h3 mt-base">Notas de la revisión del documento Nombre_documento</h2>
  {{ componentCharacterCount({
    "name": "more-detail-a",
    "id": "more-detail-a",
    "maxlength": 450,
    "label": {
      "html": 'Comentarios de la revisión',
      "classes": "sr-only"
    },
    "hint": {
      "text": "Puedes introducir comentarios sobre la revisión. Solo serán visibles para la persona firmante para la que has realizado la revisión y sus revisores."
    },
    "placeholder": "Introduce aquí los comentarios sobre la revisión realizada...",
    "classes": "w-full",
    "countMessage": {
      "classes": "text-right"
    }
  }) }}


 
{% endblock %}
{# fin Contenido de la página #}