{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento comunicación - Original - Datos básicos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h12.504v-2.016H1.992l.006-8.994.006-8.994 2.291-.006 2.292-.006 1.5 1.5 1.502 1.5H19.992v5.016h2.016V3H10.404l-1.5-1.5-1.5-1.5H0v11.004M15.084 15l-3 3 2.958 2.958L18 23.916l3-3 3-3V12h-5.916l-3 3m1.836.996L14.916 18l1.542 1.542L18 21.084l2.004-2.004 2.004-2.004-.006-1.536-.006-1.536-1.536-.006-1.536-.006-2.004 2.004"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de comunicación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Original</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-auto">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Datos básicos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Metadatos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Personas destinatarias</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Firmantes</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">5</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-lg">Datos básicos</h2>

  {# Procedimiento #}
  {{ componentSelect({
    "id": "select-procedimiento",
    "name": "select-procedimiento",
    "label": {
      "html": 'Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona el procedimiento...",
        "selected": true,
        "disabled": true
      },
      {
        "value": 1,
        "text": "Opción 1"
      },
      {
        "value": 2,
        "text": "Opción 2"
      },
      {
        "value": 3,
        "text": "Opción 3"
      }
    ],
    "classes": "w-full"
  }) }}  

  {# Visibilidad #}
  {{ componentRadios({
    "idPrefix": "tipo-visibilidad",
    "name": "tipo-visibilidad",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold mb-xs"
      }
    },
    "items": [
      {
        "value": "puntual",
        "html": 'Visibilidad limitada (preparador)'
      },
      {
        "value": "periodico",
        "html": 'Visibilidad compartida (órganos gestores)',
        "checked": true
      }
    ]
  })  }} 

  {# Organos gestores #}
  {{ componentCheckboxes({
    "idPrefix": "organos",
    "name": "organos",
    "fieldset": {
      "legend": {
        "html": 'Óganos gestores <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "1",
        "text": "ORG17495 - Servicio de Administración Electrónica",
        "disabled": true,
        "checked": true
      },
      {
        "value": "2",
        "text": "ORG17495 - Dirección General de Administración Electrónica y Sociedad de la Información"
      }
      ,
      {
        "value": "3",
        "text": "ORG17495 - Departamento de Ciencia, Universidad y Sociedad del Conocimiento"
      }
    ]
  })  }}

  {# Acceso consulta #}
  {{ componentRadios({
    "idPrefix": "acceso-consulta",
    "name": "acceso-consulta",
    "fieldset": {
      "legend": {
        "html": 'Acceso a la consulta y verificación del documento desde el verificador de documentos y Mi Aragón (MiA) <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold mb-xs"
      }
    },
    "items": [
      {
        "value": "publico",
        "html": 'Público',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        }
      },
      {
        "value": "limitado",
        "html": 'Limitado',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        },
        "checked": true
      },
      {
        "value": "restringido",
        "html": 'Restringido',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquier persona interesada o representante del expediente que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente y del documento.'
        }
      },
      {
        "value": "no-permitido",
        "html": 'No permitido',
        "hint": {
          "html": 'No accesible desde el verificador de documentos ni en el módulo Trámites de Mi Aragón (MiA).'
        }
      }
    ]
  })  }}   

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}