{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento - Copia electrónica auténtica - Firmantes. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{# fin Dependencias #}

{# Definiciones #}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{% set selectFirma %}
  {{ componentSelect({
    "id": "select-firma-seudonimo",
    "name": "firma-seudonimo",
    "classes": "c-select--sm mt-0",
    "formGroup": {
      "classes": "mb-0"
    },    
    "label": {
      "text": "Firma con seudónimo",
      "classes": "sr-only"
    },
    "items": [
      {
        "value": 1,
        "text": "No"
      },
      {
        "value": 2,
        "text": "Sí"
      }
    ]
  }) }}
{% endset %}
{% set tablasFirmantesSugeridos %}
  <h2 class="c-h3 mb-base">Firmantes sugeridos</h2>
  {# Listado firmantes sugeridos #}
  <section aria-labelledby="firmantes-sugeridos">
    <h3 id="firmantes-sugeridos" class="sr-only">Selecciona los firmantes sugeridos del documento</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-firmantes-sugeridos",
          "name": "todos-firmantes-sugeridos",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "firmantes-sugeridos",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de firmantes sugeridos #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-firmantes-sugeridos",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de firmantes sugeridos",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre',
          "orderBy": "none"
        },
        {
          "html": 'Órgano',
          "orderBy": "none"
        },
        {
          "html": 'Revisores',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": 'Marta Martín Martínez'
          },
          {
            "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos'
          },
          {
            "html": 'Pedro Pérez Pereira, Sancho Sanchez Sanchis y 2 más'
          }
        ],
        [
          {
            "html": 'Luis Hernán Herranz'
          },
          {
            "html": 'ORG07462 - Departamento de Cultura y Deporte'
          },
          {
            "html": 'Marina Marín Moreno, Ramiro Ramirez Ramos'
          }
        ],
        [
          {
            "html": 'Marta Martín Martínez'
          },
          {
            "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos'
          },
          {
            "html": 'Sancho Sancez Sanchis, Pedro Pérez Pereira y 2 más'
          }
        ],
        [
          {
            "html": 'Marta Martín Martínez'
          },
          {
            "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos'
          },
          {
            "html": 'Ramiro Ramirez Ramos, Sancho Sancez Sanchis y 2 más'
          }
        ],
        [
          {
            "html": 'Luis Hernán Herranz'
          },
          {
            "html": 'ORG07462 - Departamento de Cultura y Deporte'
          },
          {
            "html": 'Pedro Pérez Pereira, Ramiro Ramirez Ramos'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de firmantes sugeridos #}
  </section>
  <div class="pb-lg"></div><!--espaciador-->
  {# Listado firmantes seleccionados #}
  <section aria-labelledby="firmantes-sugeridos-seleccionados">
    <h3 id="firmantes-sugeridos-seleccionados" class="c-h3">Firmantes seleccionados</h3>
    <p class="c-paragraph-base">Recuerda que, para que los firmantes puedan firmar con seudónimo, deben disponer de un certificado de seudónimo, en caso contrario, no podrán firmar.</p>
    {# Tabla-Listado de firmantes seleccionados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-firmantes-sugeridos-seleccionados",
      "caption": "Listado de firmantes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Firmantes seleccionados',
          "orderBy": "none"
        },
        {
          "html": 'Órgano (internos) / Entidad y cargo (externos)',
          "orderBy": "none"
        },
        {
          "html": 'Revisores',
          "orderBy": "none"
        },
        {
          "html": 'Firma con seudónimo',
          "orderBy": "none"
        },
        {
          "html": '<span id="descartar" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "html": 'Luis Hernán Herranz'
          },
          {
            "html": 'ORG07462 - Departamento de Cultura y Deporte'
          },
          {
            "html": 'Marina Marín Moreno, Ramiro Ramirez Ramos'
          },
          {
            "html": selectFirma
          },
          {
            "html": botonDescartar
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de firmantes seleccionados #}
    {# Mensaje cuando no hay firmantes seleccionados #}
    <!--<p class="c-paragraph-base text-center">No se ha seleccionado ningún firmante</p>-->
  </section>
{% endset %}
{% set tablasFirmantesInternos %}
  <h2 class="c-h3 mb-base">Búsqueda de firmantes</h2>
  <p class="c-paragraph-base">Busca un empleado público introduciendo, al menos, su DNI, su emali o su nombre y primer apellido.</p>
  <div class="grid lg:grid-cols-3 gap-x-7">
    {{ componentInput({
      "label": {
        "text": "Nombre"
      },
      "formGroup": {
        "classes": "mb-base"
      },
      "id": "input-nombre",
      "name": "nombre",
      "placeholder": "Escribe el nombre...",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "text": "Primer apellido"
      },
      "formGroup": {
        "classes": "mb-base"
      },
      "id": "input-apellido-1",
      "name": "apellido-1",
      "placeholder": "Escribe el primer apellido...",
      "classes": "w-full"
    })  }}
    {{ componentInput({
      "label": {
        "text": "Segundo apellido"
      },
      "formGroup": {
        "classes": "mb-base"
      },
      "id": "input-apellido-2",
      "name": "apellido-2",
      "placeholder": "Escribe el segundo apellido...",
      "classes": "w-full"
    })  }}
    {{ componentInput({
      "label": {
        "text": "DNI"
      },
      "formGroup": {
        "classes": "mb-base lg:self-end"
      },
      "id": "input-dni",
      "name": "dni",
      "placeholder": "Escribe el DNI...",
      "classes": "w-full"
    })  }}
    {{ componentInput({
      "label": {
        "text": "Email"
      },
      "hint": {
        "text": "Introduce, al menos, 5 caracteres",
        "classes": "text-sm"
      },
      "formGroup": {
        "classes": "mb-base"
      },
      "type": "email",
      "id": "input-email",
      "name": "email",
      "placeholder": "Escribe el email...",
      "classes": "w-full"
    })  }}
    <div class="mb-base lg:self-end">
      {{ componentButton({
        "text": "Buscar"
      })  }}   
    </div> 
  </div>
  <div class="pb-lg"></div><!--espaciador-->
  {# Listado firmantes internos #}
  <section aria-labelledby="firmantes-internos">
    <h3 id="firmantes-internos" class="c-h3">Resultados de la búsqueda</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-firmantes-internos",
          "name": "todos-firmantes-internos",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "firmantes-internos",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de firmantes internos #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-firmantes-internos",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de firmantes internos",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre',
          "orderBy": "none"
        },
        {
          "html": 'Órgano',
          "orderBy": "none"
        },
        {
          "html": 'Revisores',
          "orderBy": "none"
        }
      ],
      "rows": [
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de firmantes internos #}
    {# Mensaje cuando no hay firmantes seleccionados #}
    <p class="c-paragraph-base text-center">No se han introducido criterios de búsqueda para poder mostrar resultados</p>
  </section>
  <div class="pb-lg"></div><!--espaciador-->
  {# Listado firmantes seleccionados #}
  <section aria-labelledby="firmantes-internos-seleccionados">
    <h3 id="firmantes-internos-seleccionados" class="c-h3">Firmantes seleccionados</h3>
    <p class="c-paragraph-base">Recuerda que, para que los firmantes puedan firmar con seudónimo, deben disponer de un certificado de seudónimo, en caso contrario, no podrán firmar.</p>
    {# Tabla-Listado de firmantes seleccionados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-firmantes-internos-seleccionados",
      "caption": "Listado de firmantes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Firmantes seleccionados',
          "orderBy": "none"
        },
        {
          "html": 'Órgano (internos) / Entidad y cargo (externos)',
          "orderBy": "none"
        },
        {
          "html": 'Revisores',
          "orderBy": "none"
        },
        {
          "html": 'Firma con seudónimo',
          "orderBy": "none"
        },
        {
          "html": '<span id="descartar" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "html": 'Luis Hernán Herranz'
          },
          {
            "html": 'ORG07462 - Departamento de Cultura y Deporte'
          },
          {
            "html": 'Marina Marín Moreno, Ramiro Ramirez Ramos'
          },
          {
            "html": selectFirma
          },
          {
            "html": botonDescartar
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de firmantes seleccionados #}
    {# Mensaje cuando no hay firmantes seleccionados #}
    <!--<p class="c-paragraph-base text-center">No se ha seleccionado ningún firmante</p>-->
  </section>
{% endset %}
{% set tablasFirmantesExternos %}
  <h2 class="c-h3 mb-base">Datos del firmante</h2>
  <div class="grid lg:grid-cols-3 gap-x-4">
    {{ componentInput({
      "label": {
        "html": 'DNI <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "formGroup": {
        "classes": "lg:self-end"
      },
      "id": "input-dni-externo",
      "name": "dni-externo",
      "placeholder": "Escribe el DNI...",
      "classes": "w-full",
      "attributes": {
        "aria-required": true
      }
    })  }}
    <div class="mb-8 lg:self-end">
      {{ componentButton({
        "text": "Buscar"
      })  }}   
    </div> 
  </div>
  {{ componentRadios({
    "idPrefix": "radio-calidad-firma",
    "name": "calidad-firma",
    "fieldset": {
      "legend": {
        "text": "Firma en calidad de"
      }
    },
    "items": [
      {
        "value": "particular-autonomo",
        "text": "Autónomo o particular",
        "disabled": true
      },
      {
        "value": "entidad",
        "text": "Entidad",
        "disabled": true
      }
    ]
  }) }}
  {# Listado firmantes seleccionados #}
  <section aria-labelledby="firmantes-externos-seleccionados">
    <h3 id="firmantes-externos-seleccionados" class="c-h3">Firmantes seleccionados</h3>
    <p class="c-paragraph-base">Recuerda que, para que los firmantes puedan firmar con seudónimo, deben disponer de un certificado de seudónimo, en caso contrario, no podrán firmar.</p>
    {# Tabla-Listado de firmantes seleccionados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-firmantes-externos-seleccionados",
      "caption": "Listado de firmantes seleccionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Firmantes seleccionados',
          "orderBy": "none"
        },
        {
          "html": 'Órgano (internos) / Entidad y cargo (externos)',
          "orderBy": "none"
        },
        {
          "html": 'Revisores',
          "orderBy": "none"
        },
        {
          "html": 'Firma con seudónimo',
          "orderBy": "none"
        },
        {
          "html": '<span id="descartar" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "html": 'Luis Hernán Herranz'
          },
          {
            "html": 'ORG07462 - Departamento de Cultura y Deporte'
          },
          {
            "html": 'Marina Marín Moreno, Ramiro Ramirez Ramos'
          },
          {
            "html": selectFirma
          },
          {
            "html": botonDescartar
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de firmantes seleccionados #}
    {# Mensaje cuando no hay firmantes seleccionados #}
    <!--<p class="c-paragraph-base text-center">No se ha seleccionado ningún firmante</p>-->
  </section>
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M4.008 3v3H6V1.992h8.58l1.71 1.71L18 5.412V9h1.992V4.572l-2.286-2.286L15.42 0H4.008v3M1.992 15.996V24h20.016V10.992H12.42l-1.5-1.5-1.5-1.5H1.992v8.004m2.016.012v6h15.984v-9H11.58l-1.5-1.5-1.5-1.5H4.008v6"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Copia electrónica auténtica</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    <h2 class="c-h3">Preparando 2 documentos</h2>
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Firmantes</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Selección de firmantes</h2>
  <div class="mb-lg">
  {{ componentCharacterCount({
    "name": "nota-firmante",
    "id": "text-nota-firmante",
    "maxlength": 500,
    "label": {
      "text": "Nota para el firmante del documento",
      "classes": "font-semibold"
    },
    "placeholder": "Escribe una nota dirigida al firmante o firmantes del documento...",
    "classes": "w-full",
    "rows": 4,
    "countMessage": {
      "classes": "text-right"
    }
  }) }}
  </div>

  <h2 class="c-h3 lg:mb-lg">Opciones de selección de firmantes</h2>
  {# Tabs #}
  {{ componentTabs({
    "tablistAriaLabel": "Listado de firmantes",
    "idPrefix": "listado-firmantes",
    "items": [
      {
        "text": "Firmantes sugeridos",
        "panel": {
          "html": tablasFirmantesSugeridos
        }
      },
      {
        "text": "Firmantes internos",
        "panel": {
          "html": tablasFirmantesInternos
        }
      },
      {
        "text": "Firmantes externos",
        "panel": {
          "html": tablasFirmantesExternos
        }
      }
    ],
    "attributes": {
      "id": "tabs-default"
    }
  }) }}  
  {# fin Tabs #}

  <div class="pb-base"></div><!--espaciador-->

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}