{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento desde el equipo (comunicación). Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h12.504v-2.016H1.992l.006-8.994.006-8.994 2.291-.006 2.292-.006 1.5 1.5 1.502 1.5H19.992v5.016h2.016V3H10.404l-1.5-1.5-1.5-1.5H0v11.004M15.084 15l-3 3 2.958 2.958L18 23.916l3-3 3-3V12h-5.916l-3 3m1.836.996L14.916 18l1.542 1.542L18 21.084l2.004-2.004 2.004-2.004-.006-1.536-.006-1.536-1.536-.006-1.536-.006-2.004 2.004"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de comunicación
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <p class="c-h3 mb-base mt-base lg:mt-0">Añadir documento desde el equipo</p>
  {{ componentFileUpload({
    "id": "file-upload-doc",
    "name": "file-upload-doc",
    "label": {
      "text": "Sube el documento o documentos a añadir"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}


  {{ componentRadios({
    "idPrefix": "radios-original-copia",
    "name": "radios-original-copia",
    "fieldset": {
      "legend": {
        "html": 'Original/copia',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Original"
      },
      {
        "value": "2",
        "text": "Copia electrónica auténtica"
      },
      {
        "value": "3",
        "text": "Copia simple"
      }
    ]
  }) }}


{% endblock %}
{# fin Contenido de la página #}