{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento desde el equipo. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M4.008 3v3H6V1.992h8.58l1.71 1.71L18 5.412V9h1.992V4.572l-2.286-2.286L15.42 0H4.008v3M1.992 15.996V24h20.016V10.992H12.42l-1.5-1.5-1.5-1.5H1.992v8.004m2.016.012v6h15.984v-9H11.58l-1.5-1.5-1.5-1.5H4.008v6"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <p class="c-h3 mb-base mt-base lg:mt-0">Añadir documento desde el equipo</p>
  {{ componentFileUpload({
    "id": "file-upload-doc",
    "name": "file-upload-doc",
    "label": {
      "text": "Sube el documento o documentos a añadir"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}


  {{ componentRadios({
    "idPrefix": "radios-original-copia",
    "name": "radios-original-copia",
    "fieldset": {
      "legend": {
        "html": 'Original/copia',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Original"
      },
      {
        "value": "2",
        "text": "Copia electrónica auténtica"
      },
      {
        "value": "3",
        "text": "Copia simple"
      }
    ]
  }) }}

  {{ componentRadios({
    "idPrefix": "radios-tipo-preparacion",
    "name": "radios-tipo-preparacion",
    "fieldset": {
      "legend": {
        "html": 'Tipo de preparación',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Documento"
      },
      {
        "value": "2",
        "text": "Documento de notificación"
      },
      {
        "value": "3",
        "text": "Documento de comunicación"
      }
    ]
  }) }}

{% endblock %}
{# fin Contenido de la página #}