{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento notificación. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set radioTabla %}
  {{ componentRadios({
    "idPrefix": "radio-resultados-1",
    "name": "resultados",
    "formGroup": {
      "classes": "mb-0 -ml-sm"
    },
    "classes": "c-radios--sm",
    "items": [
      {
        "value": "resultado1",
        "text": "ZA-SP-ENE-AT-2020-011",
        "classes": "-my-base",
        "label": {
          "classes": "sr-only"
        }
      }
    ]
  })  }}  
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set expdtesConsultados %}
  {{ componentTableAdvanced({
    "idPrefix": "listado-expedientes",
    "caption": "Listado de expedientes",
    "captionClasses": "sr-only",
    "head": [
      {
          "html": 'Seleccionar fila',
          "classes": "sr-only pr-sm w-4"
        },
      {
        "html": 'Expediente',
        "orderBy": "none"
      },
      {
        "html": 'Última consulta',
        "orderBy": "none"
      },
      {
        "html": 'Descripción',
        "orderBy": "none"
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>',
        "orderBy": "none"
      },
      {
        "html": 'Estado',
        "orderBy": "none"
      }
    ],
    "rows": [
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En prepración</div>'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto overflow-y-hidden mb-base"
    },
    "classes": "w-full"
  })  }}
{% endset %}
{% set ayudaSeleccionFase %}
  <p class="mt-xs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="align-text-bottom inline-block text-primary-base -mt-1" role="img" aria-label="ayuda: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z"  fill="currentColor" /></svg> 
    <a href="#" class="c-link text-sm font-semibold" onclick="openDialog('modal-fases-expediente', this, 'fases-expediente')">¿Qué fase selecciono?</a>
  </p>
{% endset %}
{% set infoFasesExpediente %}
  <div class="lg:max-h-96 scrolling-touch overflow-y-auto mb-sm pr-sm text-left">
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
    <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
    <dl class="ml-base mb-sm">
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
      <div class="mb-xs">
        <dt class="text-sm font-semibold">
          Nombre de la Fase
        </dt>
        <dd class="text-sm">
          Descripción detallada de la fase...
        </dd>
      </div>
    </dl>
  </div>  
{% endset %}
{% set labelCSV %}
    {% call componentTooltip({
      "id": "label-CSV",
      "text": "Búsqueda por CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar doc1"
    }
  })  }}
{% endset %}
{% set anadirAdjuntos %}
  {# Busqueda CSV #}
  {{ componentInput({
    "id": "input-buscar-csv",
    "name": "input-buscar-csv",
    "label": {
      "html": labelCSV
    },
    "hint": {
        "html": 'Introduce uno o varios CSV separados por ; y haz clic en <strong>Añadir adjuntos</strong>',
        "classes": "text-sm"
      },
    "classes": "w-full lg:w-5/12",
    "placeholder": "Introducir CSV",
    "formGroup": {
      "classes": "mb-base"
    }
  }) }}
  {{ componentButton({
    "text": "Añadir adjuntos"
  })  }}  
  {# Listado documentos seleccionados #}
  {{ componentTable({
    "idPrefix": "documentos-seleccionados",
    "caption": "Listado de resultados",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Documento'
      },
      {
        "html": 'CSV'
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>'
      },
      {
        "html": 'Preparador'
      },
      {
        "html": 'Fin preparación'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Documento de resolución',
          "attributes": {
            "id": "doc1"
          }
        },
        {
          "html": 'CSVBA26ME75I1W0BENT'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": 'Laura López Martínez'
        },
        {
          "html": '01/12/2024'
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full mt-lg"
  })  }}
{% endset %}  
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h9.504v-2.016H1.992l.006-8.994.006-8.994 2.28-.006 2.28-.006 1.5 1.5 1.5 1.5h10.428v4.512h2.016V3h-11.58l-1.5-1.5-1.5-1.5H0v11.004m16.992.01c-1.257.107-2.38.536-3.426 1.309-.338.25-.993.905-1.243 1.243a6.497 6.497 0 0 0-1.262 3.023c-.061.406-.075 1.272-.025 1.651.157 1.193.574 2.242 1.249 3.141a6.5 6.5 0 0 0 4.659 2.597 8.121 8.121 0 0 0 1.46-.037 6.513 6.513 0 0 0 5.487-7.635c-.474-2.57-2.5-4.643-5.049-5.169a7.364 7.364 0 0 0-1.85-.122m-.096 2.03a4.453 4.453 0 0 0-2.569 1.282 4.413 4.413 0 0 0-1.319 3.162 4.42 4.42 0 0 0 1.269 3.133 4.499 4.499 0 0 0 2.647 1.339c.257.037.952.03 1.224-.012a4.53 4.53 0 0 0 3.561-2.87c.29-.747.36-1.679.19-2.515a4.903 4.903 0 0 0-.555-1.39 4.801 4.801 0 0 0-1.52-1.52 4.58 4.58 0 0 0-1.735-.61 5.469 5.469 0 0 0-1.193 0m-.408 2.952V18h2.016v-4.008h-2.016v2.004m0 4.008V21h2.016v-1.992h-2.016v.996"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de notificación
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#",
        "disabled": true 
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  {# Añadir documento #}
  <p class="c-h3 mb-base mt-base lg:mt-0">Añadir el documento de la notificación</p>
  {{ componentFileUpload({
    "id": "file-upload-doc",
    "name": "file-upload-doc",
    "label": {
      "text": "Sube el documento a añadir"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}

  {# Original o copia #}
  {{ componentRadios({
    "idPrefix": "radios-original-copia",
    "name": "radios-original-copia",
    "fieldset": {
      "legend": {
        "html": 'Original/copia',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Original"
      },
      {
        "value": "2",
        "text": "Copia electrónica auténtica"
      },
      {
        "value": "3",
        "text": "Copia simple"
      }
    ]
  }) }}

  {# Seleccion expediente #}
  <p class="c-h3 mb-base mt-base lg:mt-0">Selección de expediente</p>
  {{ componentRadios({
    "idPrefix": "seleccion-expdte",
    "name": "seleccion-expdte",
    "fieldset": {
      "legend": {
        "text": "Opciones de selección de expediente",
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "ultimos",
        "text": "Últimos expedientes consultados",
        "checked": true,
        "conditional": {
          "html": expdtesConsultados
        }
      },
      {
        "value": "csv",
        "text": "Búsqueda por CSV"
      },
      {
        "value": "avanzada",
        "text": "Búsqueda avanzada"
      }
    ]
  }) }}

  {# Fase del expediente #}
  {{ componentSelect({
    "id": "select-fases",
    "name": "select-fases",
    "label": {
      "html": 'Fase del expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "hint": {
      "html": ayudaSeleccionFase
    },
    "items": [
      {
        "value": 0,
        "text": "Selecciona fase...",
        "selected": true,
        "disabled": true
      },
      {
        "optgroup": {
          "label": "Agrupamiento 1",
          "items": [
            {
              "value": 1,
              "text": "Nombre de la fase 2"
            },
            {
              "value": 2,
              "text": "Nombre de la fase 2"
            },
            {
              "value": 3,
              "text": "Nombre de la fase 3"
            }
          ]
        }
      },
      {
        "optgroup": {
          "label": "Agrupamiento 2",
          "items": [
            {
              "value": 4,
              "text": "Nombre de la fase 4"
            },
            {
              "value": 5,
              "text": "Nombre de la fase 5"
            },
            {
              "value": 6,
              "text": "Nombre de la fase 6"
            }
          ]
        }
      }
    ],
    "classes": "w-full lg:w-1/2"
  }) }}  

  {# Seleccion de carpeta #}
  {{ componentRadios({
    "idPrefix": "seleccion-carpeta",
    "name": "seleccion-carpeta",
    "fieldset": {
      "legend": {
        "text": "Seleccionar carpeta",
        "classes": "font-semibold"
      }
    },
    "hint": {
      "text": "Selecciona la carpeta en la que se almacenará la documentación asociada a la notificación."
    },
    "items": [
      {
        "value": "nueva",
        "text": "Nueva carpeta"
      },
      {
        "value": "existente",
        "text": "Carpeta existente"
      },
      {
        "value": "ninguna",
        "text": "No quiero seleccionar ninguna carpeta"
      }
    ]
  }) }}

  {# Añadir docs adjuntos #}
  {{ componentRadios({
    "idPrefix": "radios-doc-adjunto",
    "name": "radios-doc-adjunto",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir documentos adjuntos a la notificación?',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "No"
      },
      {
        "value": "2",
        "text": "Sí",
        "checked": true,
        "conditional": {
          "html": anadirAdjuntos
        }
      }
    ]
  }) }}  

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>


  <!-- modal info fases expediente -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-fases-expediente" class="hidden" role="dialog" aria-labelledby="label-fases-expediente" aria-modal="true">
      {{ componentModal({
        "id": "fases-expediente",
        "title": {
          "text": "Fases del expediente"
        },
        "description": {
          "html": infoFasesExpediente
        },
        "itemsPrimary": [
          {
            "html": "Aceptar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "isDismissible": true,
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
<!-- /modal info fases expediente -->
{% endblock %}
{# fin Contenido de la página #}