{# Titulo de pagina #}
{% set title = "Documentos - Enviar notificación - Metadatos. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Selecciona organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1",
        "disabled": true,
        "checked": true
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="m.46 1.843 5.53 3.686 5.528-3.686"/><path d="M3.686 8.754H1.382a.921.921 0 0 1-.921-.922v-6.45c0-.509.412-.921.921-.921h9.214c.51 0 .922.412.922.921v2.764"/><path d="M9.214 12.44a3.225 3.225 0 1 0 0-6.45 3.225 3.225 0 0 0 0 6.45Z"/><path d="M9.214 10.827a.23.23 0 1 1 0-.46M9.214 10.827a.23.23 0 1 0 0-.46M9.214 7.602v1.382"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar notificación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Documento de resolución</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar notificación",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-1/4">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Metadatos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Personas destinatarias</div>
      </div>
    </div>
    {# fin Pasos #}
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Metadatos</h2>
  <p class="c-paragraph-base">Todos los campos marcados con un asterisco (*) son obligatorios.</p>

  {# Asunto #}
  {{ componentInput({
    "label": {
      "html": 'Asunto de la notificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "id": "asunto-notificacion",
    "name": "asunto-notificacion",
    "placeholder": "Notificación de resolución",
    "classes": "w-full lg:w-3/4"
  }) }}

  {# Porcedimiento #}
  <fieldset class="mt-base mb-xl">
    <legend class="mb-sm font-semibold">
      Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>
    </legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-procedimientos",
        "label": {
          "text": "Filtrar procedimientos"
        },
        "placeholder": "Filtrar procedimientos",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-40 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "procedimientos-lista",
          "name": "procedimientos-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-5",
              "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-6",
              "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-7",
              "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-9",
              "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-10",
              "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-11",
              "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>

  {# Visibilidad #}
  {{ componentRadios({
    "idPrefix": "visibilidad",
    "name": "visibilidad",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida (órganos gestores)",
        "checked": true,
        "conditional": {
          "html": checksVisibCompartida
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}  
  
  {# Organismo emisor #}
  {{ componentRadios({
    "idPrefix": "organismo emisor",
    "name": "organismo emisor",
    "fieldset": {
      "legend": {
        "html": 'Selecciona el organismo emisor <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1",
        "checked": true
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  }) }}

  {# Tiempo y Acto #}
  <div class="grid lg:grid-cols-4 gap-x-7">
    {{ componentSelect({
      "label": {
        "html": 'Días de plazo <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "id": "dias-plazo",
      "name": "dias-plazo",
      "classes": "w-full",
      "items": [
        {
          "value": 0,
          "text": "Selecciona días",
          "disabled": true
        },      
        {
          "value": 1,
          "text": "10",
          "selected": true
        },
        {
          "value": 2,
          "text": "20"
        },
        {
          "value": 3,
          "text": "30"
        }
      ]
    })  }}  
    {{ componentSelect({
      "label": {
        "html": 'Tipo de acto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "id": "tipo-acto",
      "name": "tipo-acto",
      "classes": "w-full",
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo del acto",
          "disabled": true,
          "selected": true
        },      
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    })  }} 
    {{ componentSelect({
      "label": {
        "html": 'Sentido del acto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "id": "sentido-acto",
      "name": "sentido-acto",
      "classes": "w-full",
      "items": [
        {
          "value": 0,
          "text": "Selecciona el sentido del acto",
          "disabled": true,
          "selected": true
        },      
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    })  }}   
  </div>

  {# Añadir docs adjuntos #}
  {{ componentRadios({
    "idPrefix": "radios-doc-adjunto",
    "name": "radios-doc-adjunto",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir documentos adjuntos a la notificación?',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "No",
        "checked": true
      },
      {
        "value": "2",
        "text": "Sí"
      }
    ]
  }) }}

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}