{# Titulo de pagina #}
{% set title = "Documentos pendientes firma - Detalle de documento - Firmas (secuencial). Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Documentos pendientes de firma</a>
      </p>
      {# Cabecera documento #}
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h2 mb-sm flex-1 lg:place-self-center">Acta de no inicio de actividad</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado documento #}
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>Pendiente de firma</div>         
          {# Descripción documento #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "CSV4567891234567891"
                },
                "classes": "pr-2xl mb-sm"
              },
              {
                "term": {
                  "html": 'Original/copia',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Copia electrónica auténtica"
                },
                "classes": "pr-2xl mb-sm"
              },
              
              {
                "term": {
                  "html": 'Preparador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Marta Pérez Martínez"
                },
                "classes": "pr-2xl mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre documento #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-documento">
          <h2 id="acciones-sobre-documento" class="sr-only">Acciones sobre el documento</h2>
          <ul class="flex flex-wrap gap-sm">
            <li>
              {{ componentButton({
                "text": "Descargar",
                "classes": "c-button--sm"
              })  }}        
            </li>
            <li>
              {{ componentButton({
                "text": "Recuperar",
                "classes": "c-button--sm"
              })  }}        
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera documento #}
      {# Menu documento #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista previa"
          },
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Notas"
          },
          {
            "href": "#",
            "text": "Firmas",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menú de la notificación"
        }
      })  }}
      {# fin Menu documento #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="lg:flex lg:flex-wrap items-center mb-base">
    <h2 class="c-h3 flex-1">Firmas</h2>
    <ul class="flex flex-wrap gap-sm">
      <li>
        {{ componentButton({
          "text": "Descargar firma",
          "classes": "c-button--sm"
        }) }}
      </li>
      <li>
        {{ componentButton({
          "text": "Verificar firma",
          "classes": "c-button--sm c-button--primary"
        }) }}
      </li>
    </ul>
  </div>
  {{ componentTableAdvanced({
    "idPrefix": "listado-traza",
    "caption": "Listado de traza",
    "captionClasses": "sr-only",
    "head": [
      {
        "text": "Orden de firma",
        "orderBy": "none"
      },
      {
        "text": "Firmantes",
        "orderBy": "none"
      },
      {
        "text": "Organismo",
        "orderBy": "none"
      },
      {
        "text": "Revisado",
        "orderBy": "none"
      },
      {
        "text": "Firma con seudónimo",
        "orderBy": "none"
      },
      {
        "text": "Fecha y hora de firma",
        "orderBy": "none"
      }
    ],
    "rows": [
      [
        {
          "html": 'Firmante 3',
          "classes": "align-top"
        },
        {
          "html": 'Marta Martín Martínez',
          "classes": "align-top"
        },
        {
          "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos',
          "classes": "align-top"
        },
        {
          "html": 'No',
          "classes": "align-top"
        },
        {
          "html": 'Sí',
          "classes": "align-top"
        },
        {
          "html": '14/04/2024, 14:01',
          "classes": "align-top"
        }
      ],
      [
        {
          "html": 'Firmante 2',
          "classes": "align-top"
        },
        {
          "html": 'Pedro Hernández Pérez',
          "classes": "align-top"
        },
        {
          "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos',
          "classes": "align-top"
        },
        {
          "html": 'No',
          "classes": "align-top"
        },
        {
          "html": 'No',
          "classes": "align-top"
        },
        {
          "html": '14/04/2024, 13:32',
          "classes": "align-top"
        }
      ],
      [
        {
          "html": 'Firmante 1',
          "classes": "align-top"
        },
        {
          "html": 'María Pérez Pérez',
          "classes": "align-top"
        },
        {
          "html": 'ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos',
          "classes": "align-top"
        },
        {
          "html": 'No',
          "classes": "align-top"
        },
        {
          "html": 'Sí',
          "classes": "align-top"
        },
        {
          "html": '14/04/2024, 13:17',
          "classes": "align-top"
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}     
{% endblock %}
{# fin Contenido de la página #}