{# Titulo de pagina #}
{% set title = "Documentos - Documentos pendientes de revisar y revisados - Detalle de documento - Notas. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a documentos sin revisar y revisados</a>
      </p>
      {# Cabecera documento #}
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h2 mb-sm flex-1 lg:place-self-center">Nombre_documento</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado documento #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de firmar</p></div>
          {# Descripción documento #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "CSV4567891234567891"
                },
                "classes": "pr-2xl mb-sm"
              },
              {
                "term": {
                  "html": 'Original/copia',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Original"
                },
                "classes": "pr-2xl mb-sm"
              },
              
              {
                "term": {
                  "html": 'Preparador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Marta Pérez Martínez"
                },
                "classes": "pr-2xl mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre documento #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-documento">
          <h2 id="acciones-sobre-documento" class="sr-only">Acciones sobre el documento</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Descargar",
                "classes": "c-button--sm lg:ml-sm mb-sm"
              })  }}        
            </li>
            <li>
              {% call componentDropdown({
                "text": "Revisar",
                "classes": "c-dropdown--sm lg:ml-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "revisar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-revisar",
                    "aria-label": "Revisar"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Añadir notas de revisión"
                    },
                    {
                      "href": "#",
                      "text": "Marcar como revisado"
                    }
                  ]
                })  }}
              {% endcall %}                   
            </li>
            <li>
              {{ componentButton({
                "text": "Rechazar",
                "classes": "c-button--sm lg:ml-sm mb-sm"
              })  }}        
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera documento #}
      {# Menu documento #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista previa"
          },
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Notas",
            "active": true
          },
          {
            "href": "#",
            "text": "Firmas"
          }
        ],
        "attributes": {
          "aria-label": "Menú de la notificación"
        }
      })  }}
      {# fin Menu documento #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Notas</h2>

  <h3 class="c-h4">Notas de la revisión</h3>
  <ul class="w-full lg:w-3/4">
    <li class="lg:flex lg:flex-wrap p-base hover:bg-neutral-lighter focus-within:bg-neutral-light">
      <div class="flex-1">
        {{ componentDescriptionList({
          "items": [
            {
              "term": {
                "html": 'JUAN ESPAÑOL ESPAÑOL - Revisor/a de Jesús Castilla Tassani - 28/11/2024',
                "classes": "text-base font-semibold"
              },
              "definition": {
                "html": 'Esto es una nota de revisión del documento en cuestión.',
                "classes": "text-neutral-dark"
              }
            }
          ]
        })  }}            
      </div>
      <div class="mt-sm lg:mt-0 lg:ml-base">
        {{ componentButton({
          "text": "Editar",
          "classes": "c-button--sm c-button--transparent"
        }) }}
      </div>
    </li>
    <li class="lg:flex lg:flex-wrap p-base hover:bg-neutral-lighter focus-within:bg-neutral-light">
      <div class="flex-1">
        {{ componentDescriptionList({
          "items": [
            {
              "term": {
                "html": 'JUAN ESPAÑOL ESPAÑOL - Revisor/a de Jesús Castilla Tassani - 15/12/2024',
                "classes": "text-base font-semibold"
              },
              "definition": {
                "html": 'Esto sería una segunda nota de revisión del mismo documento.',
                "classes": "text-neutral-dark"
              }
            }
          ]
        })  }}            
      </div>
      <div class="mt-sm lg:mt-0 lg:ml-base">
        {{ componentButton({
          "text": "Editar",
          "classes": "c-button--sm c-button--transparent"
        }) }}
      </div>
    </li>
  </ul>   

{% endblock %}
{# fin Contenido de la página #}