{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento comunicación - Original - Metadatos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p class="c-paragraph-base">Antes de salir, introduce una descripción para poder identificar la comunicación cuando quieras seguir preparándola.</p>
  <div class="my-lg">
    {{ componentCharacterCount({
      "name": "descripcion-comunicacion",
      "id": "descripcion-comunicacion",
      "maxlength": 200,
      "placeholder": "Introduce una descripción para la comunicación",
      "label": {
        "text": "Motivo",
        "classes": "sr-only"
      },
      "classes": "w-full",
      "rows": 3,
      "countMessage": {
        "classes": "text-right"
      }
    }) }}
  </div>
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h12.504v-2.016H1.992l.006-8.994.006-8.994 2.291-.006 2.292-.006 1.5 1.5 1.502 1.5H19.992v5.016h2.016V3H10.404l-1.5-1.5-1.5-1.5H0v11.004M15.084 15l-3 3 2.958 2.958L18 23.916l3-3 3-3V12h-5.916l-3 3m1.836.996L14.916 18l1.542 1.542L18 21.084l2.004-2.004 2.004-2.004-.006-1.536-.006-1.536-1.536-.006-1.536-.006-2.004 2.004"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de comunicación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Original</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "attributes": {
            "onclick": "openDialog('modal-intro-descripcion', this, 'intro-descripcion')"
          }
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-auto">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Metadatos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Personas destinatarias</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Firmantes</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">5</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <div class="w-full lg:w-3/4">
    <h2 class="c-h3 mb-base">Metadatos del documento de comunicación</h2>

    {# Descripcion #}
    {{ componentInput({
      "id": "input-descripcion-doc",
      "name": "descripcion-doc",
      "label": {
        "html": 'Descripción del documento de comunicación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "value": "lista_002_ask_2020.pdf",
      "classes": "w-full"
    }) }}

    {# Tipo documental #}
    {{ componentSelect({
      "id": "select-tipo-documental",
      "name": "select-tipo-documental",
      "label": {
        "html": 'Tipo documental <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo...",
          "disabled": true
        },
        {
          "value": 1,
          "text": "Notificación",
          "selected": true
        },
        {
          "value": 2,
          "text": "Comunicación"
        }
      ],
      "classes": "w-full lg:w-2/3"
    }) }} 

    {# Otros metadatos #}
    {% call componentDetails({
      "summary": {
        "html": 'Otros metadatos sugeridos'
      },
      "classes": "mb-lg"
    }) %}
      <p class="c-paragraph-base font-bold">Documento lista_001_ask_2020.pdf</p>
      <div class="grid lg:grid-cols-3 gap-x-7">
        {{ componentSelect({
          "label": {
            "html": 'Formato <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
            "classes": "font-semibold"
          },
          "id": "select-formato",
          "name": "formato",
          "classes": "w-full",
          "items": [
            {
              "value": 0,
              "text": "Selecciona el formato",
              "disabled": true
            },      
            {
              "value": 1,
              "text": "PDF",
              "selected": true              
            },
            {
              "value": 2,
              "text": "Opción 2"
            },
            {
              "value": 3,
              "text": "Opción 3"
            }
          ]
        })  }} 
        {{ componentInput({
          "id": "input-num-paginas",
          "name": "num-paginas",
          "label": {
            "html": 'Número de páginas <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
            "classes": "font-semibold"
          },
          "value": "20",
          "classes": "w-full"
        }) }}
        {{ componentSelect({
          "label": {
            "html": 'Idioma <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
            "classes": "font-semibold"
          },
          "id": "select-idioma",
          "name": "idioma",
          "classes": "w-full",
          "items": [
            {
              "value": 0,
              "text": "Selecciona el idioma",
              "disabled": true   
            },      
            {
              "value": 1,
              "text": "Español",
              "selected": true
            },
            {
              "value": 2,
              "text": "Opción 2"
            },
            {
              "value": 3,
              "text": "Opción 3"
            }
          ]
        })  }}   
        {{ componentInput({
          "id": "input-tamaño-archivo",
          "name": "tamaño-archivo",
          "label": {
            "html": 'Tamaño del archivo <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
            "classes": "font-semibold"
          },
          "value": "2,3",
          "classes": "w-full"
        }) }}
        {{ componentSelect({
          "label": {
            "html": 'Unidad de tamaño <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
            "classes": "font-semibold"
          },
          "id": "select-unidad-tamaño",
          "name": "unidad-tamaño",
          "classes": "w-full",
          "items": [
            {
              "value": 0,
              "text": "Selecciona la unidad de tamaño",
              "disabled": true  
            },      
            {
              "value": 1,
              "text": "Mb",
              "selected": true
            },
            {
              "value": 2,
              "text": "Opción 2"
            },
            {
              "value": 3,
              "text": "Opción 3"
            }
          ]
        })  }}
      </div>
    {% endcall  %}

    <h2 class="c-h3 mb-base">Metadatos de la comunicación</h2> 

    {# Organismo emisor #}
    {{ componentRadios({
      "idPrefix": "organismo emisor",
      "name": "organismo emisor",
      "fieldset": {
        "legend": {
          "html": 'Selecciona el organismo emisor <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Organismo 1",
          "checked": true
        },
        {
          "value": "2",
          "text": "Organismo 2"
        }
      ]
    }) }}
  
  </div>

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>



  <!-- modal Introducir descripcion -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-intro-descripcion" class="hidden" role="dialog" aria-labelledby="label-intro-descripcion" aria-modal="true">
      {{ componentModal({
        "id": "intro-descripcion",
        "title": {
          "text": "Introduce una descripción"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Guardar y salir",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M8.016.011a1.18 1.18 0 0 0-.541.197c-.092.06-.258.224-2.049 2.012a151.24 151.24 0 0 0-1.98 1.995.664.664 0 0 0-.05.095 69.971 69.971 0 0 0-.386 2.18.506.506 0 0 0 .495.5c.054 0 2.118-.365 2.172-.384a.692.692 0 0 0 .09-.042c.063-.035 3.92-3.887 4.002-3.994a1.165 1.165 0 0 0 0-1.39c-.031-.041-.25-.267-.485-.501C8.943.341 8.838.242 8.77.197A1.176 1.176 0 0 0 8.225.01 2.007 2.007 0 0 0 8.11.001c-.003.001-.045.006-.094.01M1.004 1.016c-.25.042-.465.154-.65.338a1.164 1.164 0 0 0-.339.66c-.023.138-.023 6.834 0 6.973.042.257.152.471.34.659.185.186.392.293.651.338.08.014.461.016 3.494.016 3.033 0 3.415-.002 3.494-.016.258-.045.466-.153.652-.338.187-.188.297-.402.339-.66.023-.138.022-2.3 0-2.395a.514.514 0 0 0-.221-.3.526.526 0 0 0-.528 0 .59.59 0 0 0-.175.182c-.062.11-.06.074-.061 1.272 0 1.04-.001 1.092-.019 1.13a.196.196 0 0 1-.105.106C7.836 8.999 7.733 9 4.5 9s-3.336-.001-3.376-.02a.196.196 0 0 1-.105-.105C1.001 8.836 1 8.729 1 5.5s.001-3.336.019-3.375a.196.196 0 0 1 .105-.106c.04-.018.09-.019 1.161-.019.974 0 1.129-.002 1.18-.015a.51.51 0 0 0 .365-.413.506.506 0 0 0-.365-.557c-.052-.013-.207-.015-1.22-.014-.926 0-1.176.004-1.24.015m7.034.023c-.024.016-.869.854-1.877 1.863L4.33 4.736l-.1.564c-.054.31-.098.565-.096.566 0 0 .256-.043.567-.098l.565-.1 1.84-1.836c1.012-1.01 1.85-1.85 1.862-1.866a.152.152 0 0 0 .023-.14c-.01-.034-.07-.099-.369-.4a8.178 8.178 0 0 0-.4-.387.153.153 0 0 0-.182 0"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Introducir descripcion  -->

{% endblock %}
{# fin Contenido de la página #}