{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento - Original - Datos básicos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Selecciona organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1",
        "disabled": true,
        "checked": true
      }
    ]
  })  }}
{% endset %}
{% set tableRestringido %}
  <p class="flex text-sm mb-sm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-primary-base mt-px mr-1.5" role="img"  aria-label="Información: "><path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
    <span class="flex-1">Si no seleccionas ninguna persona interesada o representante en la preparación de los documentos, deberás hacerlo más tarde desde su detalle. <span class="block">Hasta ese momento, ninguna de las personas interesadas o representantes del expediente tendrá acceso a estos documentos.</span></span>
  </p>
  {{ componentTableAdvanced({
    "idPrefix": "listado-interesados-representantes",
    "hasCheckboxes": true,
    "caption": "Listado de interesados y representantes",
    "captionClasses": "sr-only",
    "head": [
      {
        "html": 'Nombre/Razón Social'
      },
      {
        "html": 'Apellido 1'
      },
      {
        "html": 'Apellido 2'
      },
      {
        "html": 'Email'
      },        
      {
        "html": 'Personalidad'
      },        
      {
        "html": 'Documento'
      },        
      {
        "html": '<abbr title="Número">Nº</abbr> de identificación'
      }
    ],
    "rows": [
      [
        {
          "html": 'Daniel'
        },
        {
          "html": 'Calvo'
        },
        {
          "html": 'Jiménez'
        },
        {
          "html": 'dcalvoj@oesia.com'
        },
        {
          "html": 'Persona física'
        },
        {
          "html": 'DNI'
        },
        {
          "html": '12345678Z'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto overflow-y-hidden pb-base"
    },
    "classes": "w-full"
  })  }}
  <ul class="flex flex-wrap gap-sm mt-base lg:mt-0">
    <li>
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir otro interesado',
        "href": "#",
        "classes": "c-button--sm"
      })  }}
    </li>
    <li>  
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir otro representante',
        "href": "#",
        "classes": "c-button--sm"
      })  }}
    </li>
  </ul>
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M4.008 3v3H6V1.992h8.58l1.71 1.71L18 5.412V9h1.992V4.572l-2.286-2.286L15.42 0H4.008v3M1.992 15.996V24h20.016V10.992H12.42l-1.5-1.5-1.5-1.5H1.992v8.004m2.016.012v6h15.984v-9H11.58l-1.5-1.5-1.5-1.5H4.008v6"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Original</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    <h2 class="c-h3">Preparando 1 documento</h2>
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Datos básicos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Metadatos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Firmantes</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Datos básicos</h2>

  {# Procedimiento #}
  <fieldset class="mb-lg">
    <legend class="mb-sm font-semibold">Procedimiento</legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-procedimientos-2",
        "label": {
          "text": "Filtrar procedimiento"
        },
        "value": "1 - Reclamación de indemnización por daños a causa de carreteras",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-24 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "procedimientos-lista-2",
          "name": "procedimientos-lista-2",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
              "classes": "-mt-base",
              "checked": true,
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-5",
              "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-6",
              "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-7",
              "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-9",
              "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-10",
              "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-11",
              "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>  

  {# Visibilidad #}
  {{ componentRadios({
    "idPrefix": "visibilidad2",
    "name": "visibilidad2",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (preparador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida (órganos gestores)",
        "checked": true,
        "conditional": {
          "html": checksVisibCompartida
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}   

  {# Acceso consulta #}
  {{ componentRadios({
    "idPrefix": "acceso-consulta",
    "name": "acceso-consulta",
    "hint": {
      "html": 'Acceso a la consulta y verificación del documento desde el verificador de documentos y Mi Aragón (MiA) <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold mb-xs"
    },
    "items": [
      {
        "value": "publico",
        "html": 'Público',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        }
      },
      {
        "value": "limitado",
        "html": 'Limitado',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        }
      },
      {
        "value": "restringido",
        "html": 'Restringido',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquier persona interesada o representante del expediente que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente y del documento.'
        },
        "conditional": {
          "html": tableRestringido
        },
        "checked": true
      },
      {
        "value": "no-permitido",
        "html": 'No permitido',
        "hint": {
          "html": 'No accesible desde el verificador de documentos ni en el módulo Trámites de Mi Aragón (MiA).'
        }
      }
    ]
  })  }}   

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}