{# Titulo de pagina #}
{% set title = "Documentos - Documentos firmados - Firmados por mí - Enviar a organismos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{% set selectUnidad %}
  {{ componentSelect({
    "id": "select-lista-unidad",
    "name": "lista-unidad",
    "classes": "w-full lg:w-1/2",
    "label": {
      "text": "Lista de unidades",
      "classes": "sr-only"
    },
    "items": [
       {
        "value": 0,
        "text": "Selecciona una unidad...",
        "selected": true,
        "disabled": true
      },
      {
        "value": 1,
        "text": "ARAGONESA SERVICIOS TELEMÁTICOS"
      },
      {
        "value": 2,
        "text": "DIPUTACIÓN GENERAL DE ARAGÓN"
      },
      {
        "value": 3,
        "text": "INSTITUTO DE EDUCACIÓN SECUNDARIA VALDESPARTERA"
      },
      {
        "value": 4,
        "text": "INTERVENCION DELEGADA EN EL DPTO. DE MEDIO AMBIENTE Y TURISMO"
      },
      {
        "value": 5,
        "text": "NEGOCIADO DE CONTROL PRESUPUESTARIO"
      },
      {
        "value": 6,
        "text": "NEGOCIADO DE REGISTRO Y ASUNTOS GENERALES"
      },
      {
        "value": 7,
        "text": "SECCION DE ASUNTOS GENERALES"
      },
      {
        "value": 8,
        "text": "SERVICIO DE DISEÑO DE PROCEDIMIENTOS Y SERVICIOS DIGITALES"
      },
      {
        "value": 9,
        "text": "SERVICIO DE INFORMACION Y DOCUMENTACION ADMINISTRATIVA"
      },
      {
        "value": 10,
        "text": "UNIDAD DE INFORMACIÓN Y ATENCIÓN AL USUARIO. HOSPITAL DE BARBASTRO"
      },
      {
        "value": 11,
        "text": "VICEPRESIDENCIA"
      }
    ]
  }) }}  
{% endset %}
{% set tabUltimosDestinatarios %}
  <h2 class="c-h3 mb-base">Últimos destinatarios</h2>
  {# Listado ultimos destinatarios #}
  <section aria-labelledby="ultimos-destinatarios">
    <h3 id="ultimos-destinatarios" class="sr-only">Selecciona los últimos destinatarios del documento</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-ultimos-destinatarios",
          "name": "todos-ultimos-destinatarios",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "ultimos-destinatarios",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de ultimos destinatarios #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-ultimos-destinatarios",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de últimos destinatarios",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Código'
        },
        {
          "html": 'Nombre'
        }
      ],
      "rows": [
        [
          {
            "html": 'ORG17495'
          },
          {
            "html": 'Servicio de Diseño de Procedimientos y Servicios Digitales'
          }
        ],
        [
          {
            "html": 'ORG12592'
          },
          {
            "html": 'Servicio de Gestion de Personal'
          }
        ],
        [
          {
            "html": 'ORG20130'
          },
          {
            "html": 'Departamento de Desarrollo Territorial, Despoblación y Justicia*'
          }
        ],
        [
          {
            "html": 'ORG17024'
          },
          {
            "html": 'Departamento de Agricultura, Ganadería y Alimentación'
          }
        ],
        [
          {
            "html": 'ORG17105'
          },
          {
            "html": 'Dirección General Desarrollo Rural'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de ultimos destinatarios #}
  </section>
{% endset %}
{% set tabOrganigrama %}
  <h2 class="c-h3 mb-base">Buscar en organigrama</h2>
  <p class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="text-primary-base mt-0.5 mr-sm" role="img" aria-label="Información: "><path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
    <span class="flex-1">Completa los niveles necesarios hasta seleccionar el organismo al que quieres realizar el envío</span>
  </p>
  {# Organismos nivel 1 #}
  <fieldset class="mt-base mb-xl">
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <legend class="sm:flex-1 mb-sm font-semibold">
        Organismos de primer nivel:
      </legend>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Borrar selección",
              "classes": "c-button--sm c-button--transparent"
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary",
              "disabled": true
            }) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-organismos1",
        "label": {
          "text": "Filtrar organismos1"
        },
        "placeholder": "Filtrar...",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-52 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "organismos1-lista",
          "name": "organismos1-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "text": "ORG12489 - DEPARTAMENTO DE SANIDAD",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "text": "ORG17024 - DEPARTAMENTO DE AGRICULTURA, GANADERÍA Y ALIMENTACIÓN",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "text": "ORG20128 - DEPARTAMENTO DE MEDIO AMBIENTE Y TURISMO",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "text": "ORG03531 - DEPARTAMENTO DE HACIENDA, INTERIOR Y ADMINISTRACIÓN PÚBLICA",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-5",
              "text": "ORG20714 - DEPARTAMENTO DE EMPLEO, CIENCIA Y UNIVERSIDADES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-6",
              "text": "ORG11307 - DEPARTAMENTO DE FOMENTO, VIVIENDA, LOGÍSTICA Y COHESIÓN TERRITORIAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-7",
              "text": "ORG16609 - DEPARTAMENTO DE PRESIDENCIA, ECONOMÍA Y JUSTICIA",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-9",
              "text": "ORG00119 - PRESIDENCIA DEL GOBIERNO DE ARAGÓN",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-10",
              "text": "ORG09420 - DEPARTAMENTO DE BIENESTAR SOCIAL Y FAMILIA",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-11",
              "text": "ORG20130 - DEPARTAMENTO DE DESARROLLO TERRITORIAL, DESPOBLACIÓN Y JUSTICIA*",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "ORG16868 - DEPARTAMENTO DE PRESIDENCIA, INTERIOR Y CULTURA*",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "ORG09808 - DEPARTAMENTO DE EDUCACIÓN, CULTURA Y DEPORTE",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>  
  {# Organismos nivel 2 #}
  <fieldset class="mt-base mb-xl">
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <legend class="sm:flex-1 mb-sm font-semibold">
        Organismos de segundo nivel:
      </legend>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Borrar selección",
              "classes": "c-button--sm c-button--transparent",
              "disabled": true
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary",
              "disabled": true
            }) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-organismos2",
        "label": {
          "text": "Filtrar organismos2"
        },
        "placeholder": "Filtrar...",
        "classes": "-mt-px",
        "disabled": true
      })  }}
      <div class="max-h-52 mt-sm overflow-y-auto">
        <p class="flex text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-primary-base mt-px mr-1.5" role="img"  aria-label="Información: "><path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
          <span class="flex-1">Es necesario seleccionar un organismo del nivel superior para ver los organismos de este nivel</span>
        </p>
      </div>
    </div>
  </fieldset> 
  {# Organismos nivel 3 #}
  <fieldset class="mt-base mb-xl">
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <legend class="sm:flex-1 mb-sm font-semibold">
        Organismos de tercer nivel:
      </legend>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Borrar selección",
              "classes": "c-button--sm c-button--transparent",
              "disabled": true
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary",
              "disabled": true
            }) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-organismos3",
        "label": {
          "text": "Filtrar organismos3"
        },
        "placeholder": "Filtrar...",
        "classes": "-mt-px",
        "disabled": true
      })  }}
      <div class="max-h-52 mt-sm overflow-y-auto">
        <p class="flex text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-primary-base mt-px mr-1.5" role="img"  aria-label="Información: "><path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
          <span class="flex-1">Es necesario seleccionar un organismo del nivel superior para ver los organismos de este nivel</span>
        </p>
      </div>
    </div>
  </fieldset> 
  {# Organismos nivel 4 #}
  <fieldset class="mt-base mb-xl">
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <legend class="sm:flex-1 mb-sm font-semibold">
        Organismos de cuarto nivel y sucesivos:
      </legend>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Borrar selección",
              "classes": "c-button--sm c-button--transparent",
              "disabled": true
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary",
              "disabled": true
            }) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-organismos4",
        "label": {
          "text": "Filtrar organismos4"
        },
        "placeholder": "Filtrar...",
        "classes": "-mt-px",
        "disabled": true
      })  }}
      <div class="max-h-52 mt-sm overflow-y-auto">
        <p class="flex text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-primary-base mt-px mr-1.5" role="img"  aria-label="Información: "><path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z"></path></svg>
          <span class="flex-1">Es necesario seleccionar un organismo del nivel superior para ver los organismos de este nivel</span>
        </p>
      </div>
    </div>
  </fieldset> 
{% endset %}
{% set tabBusquedaNombreCod %}
  <h2 class="c-h3 mb-base">Buscar por nombre o código</h2>
  {{ componentInput({
    "id": "input-codigo",
    "name": "codigo",
    "label": {
      "text": "Nombre o código",
      "classes": "sr-only"
    },
    "placeholder": "Escribe el nombre o código...",
    "classes": "w-full lg:w-1/2",
    "formGroup": {
      "classes": "mb-base"
    }
  }) }}
  {{ componentButton({
    "text": "Buscar",
    "href": "#",
    "classes": "c-button--primary"
  })  }}
  <h2 class="c-h4 my-base">Listado de resultados</h2>
  {# Listado resultados #}
  <section aria-labelledby="resultados">
    <h3 id="resultados" class="sr-only">Selecciona de la lista de resultados</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-resultados",
          "name": "todos-resultados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "resultados",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de resultados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-resultados",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de resultados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Código'
        },
        {
          "html": 'Nombre'
        },
        {
          "html": 'Dirección'
        }
      ],
      "rows": [
        [
          {
            "html": 'ORG20130'
          },
          {
            "html": 'Departamento de Desarrollo Territorial, Despoblación y Justicia*'
          },
          {
            "html": 'Zaragoza - Edificio Pignatelli. Pº María Agustín, 36'
          }
        ],
        [
          {
            "html": 'ORG17024'
          },
          {
            "html": 'Departamento de Agricultura, Ganadería y Alimentación'
          },
          {
            "html": 'Zaragoza - Edificio Pignatelli. Pº María Agustín, 36'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de resultados #}
  </section>
{% endset %}
{% set tabPlantilla %}
  <h2 class="c-h3 mb-base">Cargar plantilla</h2>
  <p class="c-paragraph-base">Descarga la plantilla, introduce la información de los organismos destinatarios según se indica y súbela de nuevo completada. <a href="#" class="block c-link font-semibold">Descargar plantilla Excel</a></p>
  {{ componentFileUpload({
    "id": "file-upload-excel",
    "name": "file-upload-excel",
    "label": {
      "text": "Añadir Excel desde el equipo",
      "classes": "font-semibold"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Enviar documento Nombre_documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">A organismos</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="pb-base"></div><!--espaciador-->  

  {{ componentTable({
    "caption": "Documento seleccionado",
    "captionClasses": "mb-base font-bold text-left text-lg",
    "classes": "w-full mb-sm",
    "head": [
      {
        "html": 'Documento'
      },
      {
        "html": 'Última actividad	'
      },
      {
        "html": 'Tipo documental'
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>'
      },
      {
        "html": 'Estado'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Nombre_documento',
          "classes": "font-semibold"
        },
        {
          "html": '20/01/2024'
        },
        {
          "html": 'Aceptación'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Firmado</div>'
        },
        {
          "html": botonDescartar
        }
      ]
    ]
  }) }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Seleccionar más documentos',
    "href": "#",
    "classes": "c-button--sm mt-sm"
  })  }}  
  
  <div class="pb-xl"></div><!--espaciador-->
  
  <h2 class="c-h3 mb-sm">Datos del envío</h2>
  <div class="mb-lg">
  {{ componentCharacterCount({
    "name": "nota-firmante",
    "id": "text-nota-firmante",
    "maxlength": 500,
    "label": {
      "html": 'Asunto del envío <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "placeholder": "Escribe un asunto del envío...",
    "classes": "w-full",
    "rows": 4,
    "countMessage": {
      "classes": "text-right"
    },
    "attributes": {
      "aria-required": true
    }
  }) }}
  </div>

  {% from "components/radios/_macro.radios.njk" import componentRadios %}

  {{ componentRadios({
    "idPrefix": "bandeja-origen",
    "name": "bandeja-origen",
    "fieldset": {
      "legend": {
        "text": "Bandeja de origen",
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "personal",
        "text": "Personal"
      },
      {
        "value": "unidad",
        "text": "Unidad",
        "conditional": {
          "html": selectUnidad
        }
      }
    ]
  }) }}

  <h2 class="c-h3 lg:mb-lg">Selección de organismos destinatarios</h2>
  {# Tabs #}
  {{ componentTabs({
    "tablistAriaLabel": "Listado de organismos destinatarios",
    "idPrefix": "listado-organismos-destino",
    "items": [
      {
        "text": "Últimos destinatarios",
        "panel": {
          "html": tabUltimosDestinatarios
        }
      },
      {
        "text": "Buscar en organigrama",
        "panel": {
          "html": tabOrganigrama
        }
      },
      {
        "text": "Buscar por nombre o código",
        "panel": {
          "html": tabBusquedaNombreCod
        }
      },
      {
        "text": "Cargar plantilla",
        "panel": {
          "html": tabPlantilla
        }
      }
    ],
    "attributes": {
      "id": "tabs-listado-organismos-destino"
    }
  }) }}  
  {# fin Tabs #}

  <div class="pb-base"></div><!--espaciador-->


{% endblock %}
{# fin Contenido de la página #}