{# Titulo de pagina #}
{% set title = "Documentos - Portada. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <div id="form-busqueda-avanzada" class="grid md:grid-cols-2 gap-x-7 py-base">
    <fieldset class="md:col-span-2 mb-lg">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimiento"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción",
      "classes": "w-full"
    })  }}   
    {{ componentSelect({
      "id": "select-tipo-doc",
      "name": "select-tipo-doc",
      "classes": "w-full",
      "label": {
        "text": "Tipo de documento"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo de documento",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }} 
    <div class="grid lg:grid-cols-2 gap-x-2">   
      {{ componentSelect({
        "id": "select-agente",
        "name": "select-agente",
        "classes": "w-full",
        "label": {
          "text": "Agente"
        },
        "items": [
          {
            "value": 0,
            "text": "Seleccionar...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Aportador"
          },
          {
            "value": 2,
            "text": "Interesado"
          }
        ]
      }) }}       
      {{ componentInput({
        "label": {
          "text": "NIF o nombre del agente"
        },
        "id": "nif-nombre",
        "name": "nif-nombre",
        "placeholder": "Escribe el nombre o NIF del agente",
        "classes": "w-full"
      })  }} 
    </div>
    {{ componentSelect({
      "id": "select-estado",
      "name": "select-estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Original"
        },
        {
          "value": 2,
          "text": "Copia"
        },
        {
          "value": 3,
          "text": "Pendiente de firmar"
        }
      ]
    }) }}   
    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "fin-preparacion-desde",
        "namePrefix": "fin-preparacion-desde",
        "fieldset": {
          "legend": {
            "text": "Fin de preparación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fin-preparacion-hasta",
        "namePrefix": "fin-preparacion-hasta",
        "fieldset": {
          "legend": {
            "text": "Fin de preparación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "fechafirmadesde",
        "namePrefix": "fechafirmadesde",
        "fieldset": {
          "legend": {
            "text": "Fecha de firma: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechafirmahasta",
        "namePrefix": "fechafirmahasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de firma: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-fin-preparacion-desde",
        "name": "fecha-fin-preparacion-desde",
        "label": {
          "text": "Fin de preparación: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-fin-preparacion-hasta",
        "name": "fecha-fin-preparacion-hasta",
        "label": {
          "text": "Fin de preparación: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-fechafirmadesde",
        "name": "fechafirmadesde",
        "label": {
          "text": "Fecha de firma: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-fechafirmahasta",
        "name": "fechafirmahasta",
        "label": {
          "text": "Fecha de firma: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>

    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}

  <div class="lg:flex lg:flex-wrap w-full">
    <h1 class="c-h1 flex-1">Documentos</h1>
    {# Botones de accion de pagina #}
    <section class="flex lg:items-start mb-lg lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="lg:flex">
        <li>
          {% call componentDropdown({
            "text": "Preparar",
            "classes": "lg:ml-sm mb-sm c-dropdown--primary"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "preparar",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-preparar",
                "aria-label": "Preparar notificación o comunicación"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Documento"
                },
                {
                  "href": "#",
                  "text": "Documento de notificación"
                },
                {
                  "href": "#",
                  "text": "Documento de comunicación"
                }
              ]
            })  }}
          {% endcall %}
        </li>
      </ul>
    </section>
  </div>

  {# Filtros de Busqueda #}
  <section class="mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="c-h3 mb-base">Buscador de documentos</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda por CSV",
          "html": formBusquedaCSV
        },
        {
          "headerText": "Búsqueda avanzada",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Accesos rápidos por rol y tarea #}
  <section class="mb-lg" aria-labelledby="accesos-rol-tarea">
    <h2 id="accesos-rol-tarea" class="c-h3 mb-base">Accesos rápidos por rol y tarea</h2>
    <div class="grid grid-rows-1 gap-4 lg:gap-6 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
      {# Preparo documentos #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <h3 class="c-h3 mb-xs text-neutral-dark">Preparo documentos</h3>
        <ul>
          <li><a href="#" class="c-link">Para preparar</a></li>
          <li><a href="#" class="c-link">Sin firmar preparado por mí</a></li>
          <li><a href="#" class="c-link">Firmado preparado por mí</a></li>
        </ul>
      </div>
      {# Reviso documentos #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <h3 class="c-h3 mb-xs text-neutral-dark">Reviso documentos</h3>
        <ul>
          <li><a href="#" class="c-link">Para revisar</a></li>
          <li><a href="#" class="c-link">Revisado</a></li>
          <li><a href="#" class="c-link">Firmado por mi firmante sin revisar</a></li>
        </ul>
      </div>
      {# Firmo documentos #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <h3 class="c-h3 mb-xs text-neutral-dark">Firmo documentos</h3>
        <ul>
          <li><a href="#" class="c-link">Para firmar sin revisar</a></li>
          <li><a href="#" class="c-link">Para firmar revisado</a></li>
          <li><a href="#" class="c-link">Firmado</a></li>
        </ul>
      </div>
    </div>
  </section>

  {# Accesos rápidos por estado del documento #}
  <section class="mb-lg" aria-labelledby="accesos-estado-doc">
    <h2 id="accesos-estado-doc" class="c-h3 mb-base">Accesos rápidos por estado del documento</h2>
    <div class="grid grid-rows-1 gap-4 lg:gap-6 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
      {# Documentos en borrador #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <div class="flex gap-x-2.5">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.4em" height="1.4em" class="text-neutral-dark" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M.99.015C.73.063.523.172.34.36a1.14 1.14 0 0 0-.33.671c-.014.094-.014 7.841 0 7.947.038.273.166.516.372.708.147.136.322.23.533.286l.09.024 2.52.002C5.81 10 6.048 10 6.098 9.984c.142-.04.048.048 1.992-1.88 1.668-1.655 1.818-1.807 1.851-1.87a.558.558 0 0 0 .045-.109c.004-.023.01.58.013 1.38.003.871.006-.1.008-2.513.001-2.239-.002-3.93-.007-3.928-.005.003-.012-.022-.015-.057a1.242 1.242 0 0 0-.138-.405 1.296 1.296 0 0 0-.4-.42A1.404 1.404 0 0 0 9.084.03l-.09-.024L5.03.003C1.701.002 1.053.003.99.015m.131.996a.19.19 0 0 0-.102.093C1.001 1.144 1 1.262 1 4.999v3.855l.021.044a.192.192 0 0 0 .062.07l.04.027 2.174.003L5.47 9V7.63c0-1.506-.003-1.436.06-1.6a.86.86 0 0 1 .48-.474c.156-.058.095-.056 1.605-.056H9V1.146l-.021-.043a.192.192 0 0 0-.062-.071l-.04-.027-3.866-.002a337.83 337.83 0 0 0-3.89.008M.005 5c0 2.164.001 3.05.002 1.968.002-1.083.002-2.853 0-3.935C.007 1.95.005 2.836.005 5M6.47 7.397v.897l.152-.15c.084-.082.492-.485.906-.896l.755-.748H6.47v.897"/></svg>
          </div>
          <div class="flex-1">
            <h3 class="c-h3 text-neutral-dark"><a href="#" class="underline">Documentos en borrador</a></h3>
            <p>16 lotes en preparación</p>
          </div>
        </div>
      </div>
      {# Documentos sin revisar y revisados #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <div class="flex gap-x-2.5">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.4em" height="1.4em" class="text-neutral-dark" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M9.168 1.13a.493.493 0 0 0-.095.025c-.123.051-.06-.018-1.986 2.15a20698.11 20698.11 0 0 1-1.849 2.08c-.005.005-.192-.174-.476-.457-.442-.44-.471-.467-.542-.502a.496.496 0 0 0-.575.098.628.628 0 0 0-.087.112.527.527 0 0 0 0 .478c.038.075 1.349 1.389 1.436 1.44.084.05.154.07.256.07a.46.46 0 0 0 .26-.071c.058-.035.239-.235 2.101-2.33 1.121-1.26 2.05-2.31 2.064-2.331a.538.538 0 0 0 .066-.374.518.518 0 0 0-.346-.372.594.594 0 0 0-.227-.015M4.79 2.395A6.978 6.978 0 0 0 .885 4.211c-.24.22-.595.605-.69.748-.265.4-.258.92.017 1.317.128.187.666.713 1.068 1.045 1.028.851 2.104 1.372 3.125 1.513.376.052.814.052 1.19 0 1.02-.14 2.098-.662 3.125-1.513.402-.332.94-.858 1.068-1.045a1.18 1.18 0 0 0 .193-.47.476.476 0 0 1 .02-.088c.012-.023.012-.24 0-.234-.005.003-.012-.022-.015-.055-.03-.263-.236-.614-.42-.718a.514.514 0 0 0-.496-.003.638.638 0 0 0-.18.173.512.512 0 0 0 .01.539l.065.091a.152.152 0 0 1 .02.154c-.013.035-.07.098-.263.293-.637.641-1.26 1.107-1.932 1.447-.473.238-.912.38-1.37.442a4.56 4.56 0 0 1-.84 0c-.946-.128-1.924-.637-2.92-1.521-.205-.182-.62-.602-.641-.65-.04-.09-.025-.126.132-.303A5.994 5.994 0 0 1 4.924 3.39c.199-.027.226-.033.293-.064a.515.515 0 0 0 .268-.321.55.55 0 0 0-.043-.369.537.537 0 0 0-.367-.256c-.084-.012-.06-.013-.285.015M.004 5.605c0 .066.001.092.003.057a1.218 1.218 0 0 0 0-.12c-.002-.031-.003-.003-.003.063"/></svg>
          </div>
          <div class="flex-1">
            <h3 class="c-h3 text-neutral-dark"><a href="#" class="underline">Documentos sin revisar y revisados</a></h3>
            <p>1668 documentos</p>
          </div>
        </div>
      </div>
      {# Documentos pendientes de firmar #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <div class="flex gap-x-2.5">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.4em" height="1.4em" class="text-neutral-dark" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M7.534.016a1.197 1.197 0 0 0-.474.191c-.074.049-.39.36-2.456 2.427C2.75 4.487 2.226 5.017 2.202 5.06a.675.675 0 0 0-.047.11c-.01.038-.047.424-.115 1.226-.105 1.239-.104 1.223-.065 1.334a.53.53 0 0 0 .284.29c.113.044.097.045 1.311-.055a69.797 69.797 0 0 0 1.203-.106.62.62 0 0 0 .14-.046c.07-.034.165-.128 2.448-2.412 2.531-2.532 2.424-2.42 2.518-2.609a1.204 1.204 0 0 0 0-1.044c-.087-.176-.111-.202-.768-.86-.662-.66-.682-.68-.866-.77a1.228 1.228 0 0 0-.71-.102m.12 1.003c-.028.013-.72.7-2.288 2.268l-2.249 2.25-.059.694c-.032.382-.059.712-.059.734v.04l.73-.06.73-.06 2.251-2.25c1.57-1.57 2.257-2.262 2.27-2.29a.166.166 0 0 0 .004-.143c-.022-.051-1.124-1.156-1.18-1.183a.166.166 0 0 0-.15 0M.373 9.015a.49.49 0 0 0-.22.127.496.496 0 0 0-.092.6c.038.07.136.166.207.202C.388 10.004.009 10 5 10c4.99 0 4.613.004 4.732-.056a.54.54 0 0 0 .254-.326c.004-.021.01-.04.015-.044a.243.243 0 0 0 .009-.085c0-.044-.004-.078-.009-.075-.005.003-.011-.012-.015-.033a.541.541 0 0 0-.254-.325c-.12-.06.26-.056-4.737-.055-3.9 0-4.578.002-4.622.014m-.37.485c0 .047.002.066.004.043a.571.571 0 0 0 0-.085C.005 9.434.003 9.452.003 9.5"/></svg>
          </div>
          <div class="flex-1">
            <h3 class="c-h3 text-neutral-dark"><a href="#" class="underline">Documentos pendientes de firmar</a></h3>
            <p>1469 documentos</p>
          </div>
        </div>
      </div>
      {# Documentos firmados #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <div class="flex gap-x-2.5">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.4em" height="1.4em" class="text-neutral-dark" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.373.015a.476.476 0 0 0-.224.134.468.468 0 0 0-.134.228C1.002.427 1 .985 1 5c0 4.992-.005 4.613.056 4.733a.643.643 0 0 0 .211.21c.12.061-.164.057 3.733.057 3.897 0 3.613.004 3.733-.056a.643.643 0 0 0 .21-.211c.061-.12.057.14.057-3.475 0-2.376-.003-3.322-.011-3.36a.675.675 0 0 0-.041-.118c-.028-.06-.112-.147-1.335-1.37C6.69.483 6.293.092 6.253.07 6.13-.005 6.332 0 3.745 0c-1.965 0-2.328.002-2.372.014M2 5v4h6V3.205L6.897 2.102 5.795 1H2v4m4.378-1.484a.47.47 0 0 0-.216.118c-.042.039-.256.352-.895 1.311-.462.693-.841 1.262-.844 1.264-.002.003-.203-.193-.446-.436-.343-.342-.454-.447-.494-.467a.513.513 0 0 0-.466 0 .642.642 0 0 0-.21.212.51.51 0 0 0 .023.503c.016.024.334.348.707.72.538.538.689.682.73.703a.514.514 0 0 0 .462.002c.119-.06.1-.034 1.191-1.671.685-1.028 1.034-1.56 1.05-1.6a.532.532 0 0 0-.032-.417.553.553 0 0 0-.328-.247.591.591 0 0 0-.232.005"/></svg>
          </div>
          <div class="flex-1">
            <h3 class="c-h3 text-neutral-dark"><a href="#" class="underline">Documentos firmados</a></h3>
            <p>1818 documentos</p>
          </div>
        </div>
      </div>
      {# No asociados a expediente #}
      <div class="px-base py-3 border rounded border-neutral-base bg-white">
        <div class="flex gap-x-2.5">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.4em" height="1.4em" class="text-neutral-dark" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2.818.016c-.38.069-.683.353-.79.742-.02.07-.022.108-.026.434-.004.396 0 .428.054.536.04.08.134.176.212.216.15.076.324.074.473-.005a.591.591 0 0 0 .203-.207c.05-.1.056-.143.056-.45V1h5v1.033c0 1.124-.002 1.085.056 1.2.036.07.132.168.203.206.15.08.323.081.473.005a.538.538 0 0 0 .258-.337c.007-.037.01-.382.008-1.163L8.995.835l-.023-.08a1.004 1.004 0 0 0-.266-.46c-.13-.131-.269-.21-.461-.267l-.08-.023L5.53.003c-2.213-.001-2.647 0-2.712.013m-2.153 3a.85.85 0 0 0-.662.773C-.002 3.902.282 8.885.3 8.99a1.205 1.205 0 0 0 .988.995c.075.013.543.015 3.717.015 3.166 0 3.643-.002 3.723-.015.519-.084.922-.496.993-1.015.005-.041.071-.863.146-1.825.145-1.872.146-1.89.105-2.029a.862.862 0 0 0-.494-.554C9.32 4.496 9.465 4.5 7.156 4.5c-1.152 0-2.097-.004-2.1-.008-.002-.004-.05-.207-.105-.45a6.67 6.67 0 0 0-.131-.52.844.844 0 0 0-.433-.447c-.16-.076.008-.07-1.922-.072-1.507-.001-1.739 0-1.8.014m.345.985c.007.22.282 4.853.29 4.873a.21.21 0 0 0 .105.106c.039.018.156.019 3.605.019 3.437 0 3.566-.001 3.605-.019.05-.022.09-.07.105-.119.006-.02.066-.766.135-1.657l.128-1.662.005-.043H6.8c-2.366 0-2.258.002-2.368-.053a.51.51 0 0 1-.249-.28c-.01-.028-.074-.302-.144-.607l-.126-.555-1.452-.003H1.01"/></svg>
          </div>
          <div class="flex-1">
            <h3 class="c-h3 text-neutral-dark"><a href="#" class="underline">No asociados a expediente</a></h3>
            <p>0 documentos</p>
          </div>
        </div>
      </div>
    </div>
  </section


{% endblock %}
{# fin Contenido de la página #}