{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento notificación - Copia simple - Personas destinatarias. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set inputMail %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario",
    "name": "mail-destinatario",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "placeholder": "Introduce el email",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{% set fechaEmision %}
  {{ componentDateInput({
    "id": "fecha-emision",
    "namePrefix": "fecha-emision",
    "fieldset": {
      "legend": {
        "html": 'Fecha de emisión de la notificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }}  
{% endset %}
{% set descripcionModal %}
  <p class="c-paragraph-base">Antes de salir, introduce una descripción para poder identificar la notificación cuando quieras seguir preparándola.</p>
  <div class="my-lg">
    {{ componentCharacterCount({
      "name": "descripcion-notificacion",
      "id": "descripcion-notificacion",
      "maxlength": 200,
      "placeholder": "Introduce una descripción para la notificación",
      "label": {
        "text": "Motivo",
        "classes": "sr-only"
      },
      "classes": "w-full",
      "rows": 3,
      "countMessage": {
        "classes": "text-right"
      }
    }) }}
  </div>
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h9.504v-2.016H1.992l.006-8.994.006-8.994 2.28-.006 2.28-.006 1.5 1.5 1.5 1.5h10.428v4.512h2.016V3h-11.58l-1.5-1.5-1.5-1.5H0v11.004m16.992.01c-1.257.107-2.38.536-3.426 1.309-.338.25-.993.905-1.243 1.243a6.497 6.497 0 0 0-1.262 3.023c-.061.406-.075 1.272-.025 1.651.157 1.193.574 2.242 1.249 3.141a6.5 6.5 0 0 0 4.659 2.597 8.121 8.121 0 0 0 1.46-.037 6.513 6.513 0 0 0 5.487-7.635c-.474-2.57-2.5-4.643-5.049-5.169a7.364 7.364 0 0 0-1.85-.122m-.096 2.03a4.453 4.453 0 0 0-2.569 1.282 4.413 4.413 0 0 0-1.319 3.162 4.42 4.42 0 0 0 1.269 3.133 4.499 4.499 0 0 0 2.647 1.339c.257.037.952.03 1.224-.012a4.53 4.53 0 0 0 3.561-2.87c.29-.747.36-1.679.19-2.515a4.903 4.903 0 0 0-.555-1.39 4.801 4.801 0 0 0-1.52-1.52 4.58 4.58 0 0 0-1.735-.61 5.469 5.469 0 0 0-1.193 0m-.408 2.952V18h2.016v-4.008h-2.016v2.004m0 4.008V21h2.016v-1.992h-2.016v.996"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de notificación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Copia simple</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "attributes": {
            "onclick": "openDialog('modal-intro-descripcion', this, 'intro-descripcion')"
          }
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">  
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Personas destinatarias</div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">4</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Resumen</div>
        </div>
      </div>
      {# fin Pasos #}  
      {# Menu horizontal #}
      <h2 class="c-h3 lg:mb-lg">Opciones de selección de personas destinatarias</h2>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Interesados del documento",
            "active": true
          },
          {
            "href": "#",
            "text": "Interesados del expediente"
          },
          {
            "href": "#",
            "text": "Añadir manualmente"
          }
        ],
        "attributes": {
          "aria-label": "Opciones de personas destinatarias"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Interesados del documento</h2>
   
  {# Listado interesados #}
  <section aria-labelledby="interesados">
    <h3 id="interesados" class="sr-only">Selecciona los interesados del documento</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-interesados",
          "name": "todos-interesados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "interesados",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de interesados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-interesados",
      "hasCheckboxes": true,
      "caption": "Listado de interesados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre y apellidos/Razón social ',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Email',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Personalidad',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }          
        },
        {
          "html": 'En calidad de',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": 'Documento',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": '<abbr title="Número">Nº</abbr> Identificación',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": 'Julio Mieza Gil'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Julio Mieza Gil S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María Teresa González Martínez'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Hermanos Prado López S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Antonio Jesús Cordero Guijarro'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Gestoría Moreno'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María del Mar Rodriguez Montañes'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'EJ Sport C.B.2'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Nadia Pérez de la Fuente'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Comunidad vecinal'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de interesados #}
  </section>

  <div class="pb-xl"></div><!--espaciador-->

  {# Listado personas destinatarias #}
  {{ componentTable({
    "idPrefix": "personas-destinatarias",
    "caption": "Personas destinatarias seleccionadas",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Persona o entidad destinataria'
      },
      {
        "html": 'NIF'
      },
      {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Marta Martín Martínez',
          "attributes": {
            "id": "perso1"
          }
        },
        {
          "html": '12345678Z'
        },
        {
          "html": inputMail
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}

  <div class="pb-lg"></div><!--espaciador-->

  {# Radios misma notificacion #}
  {{ componentRadios({
    "idPrefix": "misma-notificacion",
    "name": "misma-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Es la misma notificación para todas las personas destinatarias? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "si",
        "html": 'Sí, es la misma notificación para todas las personas destinatarias'
      },
      {
        "value": "no",
        "html": 'No, es una notificación diferente para cada persona destinataria'
      }
    ]
  })  }} 

  {# Radios programacion emision #}
  {{ componentRadios({
    "idPrefix": "programar-notificacion",
    "name": "programar-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Quieres programar la emisión de la notificación? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "al-finalizar",
        "html": 'Emitir la notificación al finalizar la preparación',
        "hint": {
          "html": 'La notificación se emitirá directamente al finalizar la preparación.'
        }
      },
      {
        "value": "con-fecha",
        "html": 'Programar fecha de emisión para la notificación',
        "hint": {
          "html": 'La notificación se emitirá a las 00:00 horas de la fecha indicada.'
        },
        "conditional": {
          "html": fechaEmision
        }
      }
    ]
  })  }}  

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary",
        "disabled": true
      })  }}  
    </li>
  </ul>



  <!-- modal Introducir descripcion -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-intro-descripcion" class="hidden" role="dialog" aria-labelledby="label-intro-descripcion" aria-modal="true">
      {{ componentModal({
        "id": "intro-descripcion",
        "title": {
          "text": "Introduce una descripción"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Guardar y salir",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M8.016.011a1.18 1.18 0 0 0-.541.197c-.092.06-.258.224-2.049 2.012a151.24 151.24 0 0 0-1.98 1.995.664.664 0 0 0-.05.095 69.971 69.971 0 0 0-.386 2.18.506.506 0 0 0 .495.5c.054 0 2.118-.365 2.172-.384a.692.692 0 0 0 .09-.042c.063-.035 3.92-3.887 4.002-3.994a1.165 1.165 0 0 0 0-1.39c-.031-.041-.25-.267-.485-.501C8.943.341 8.838.242 8.77.197A1.176 1.176 0 0 0 8.225.01 2.007 2.007 0 0 0 8.11.001c-.003.001-.045.006-.094.01M1.004 1.016c-.25.042-.465.154-.65.338a1.164 1.164 0 0 0-.339.66c-.023.138-.023 6.834 0 6.973.042.257.152.471.34.659.185.186.392.293.651.338.08.014.461.016 3.494.016 3.033 0 3.415-.002 3.494-.016.258-.045.466-.153.652-.338.187-.188.297-.402.339-.66.023-.138.022-2.3 0-2.395a.514.514 0 0 0-.221-.3.526.526 0 0 0-.528 0 .59.59 0 0 0-.175.182c-.062.11-.06.074-.061 1.272 0 1.04-.001 1.092-.019 1.13a.196.196 0 0 1-.105.106C7.836 8.999 7.733 9 4.5 9s-3.336-.001-3.376-.02a.196.196 0 0 1-.105-.105C1.001 8.836 1 8.729 1 5.5s.001-3.336.019-3.375a.196.196 0 0 1 .105-.106c.04-.018.09-.019 1.161-.019.974 0 1.129-.002 1.18-.015a.51.51 0 0 0 .365-.413.506.506 0 0 0-.365-.557c-.052-.013-.207-.015-1.22-.014-.926 0-1.176.004-1.24.015m7.034.023c-.024.016-.869.854-1.877 1.863L4.33 4.736l-.1.564c-.054.31-.098.565-.096.566 0 0 .256-.043.567-.098l.565-.1 1.84-1.836c1.012-1.01 1.85-1.85 1.862-1.866a.152.152 0 0 0 .023-.14c-.01-.034-.07-.099-.369-.4a8.178 8.178 0 0 0-.4-.387.153.153 0 0 0-.182 0"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Introducir descripcion  -->

{% endblock %}
{# fin Contenido de la página #}