{# Titulo de pagina #}
{% set title = "Listado documentos firmados - Firmados por mí. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set filtroBusqueda %}
  <div class="grid md:grid-cols-2 gap-x-7 py-base">
    <div class="md:col-span-2">
      {{ componentInput({
        "label": {
          "text": "Descipción"
        },
        "id": "descripcion",
        "name": "descripcion",
        "placeholder": "Escribe la descripción",
        "classes": "w-full"
      })  }}  
    </div>
    <fieldset class="md:col-span-2 mb-xl">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimientos"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fecha-preparacion-desde",
        "namePrefix": "fecha-preparacion-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha de preparación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fecha-preparacion-hasta",
        "namePrefix": "fecha-preparacion-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de preparación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fecha-firma-desde",
        "namePrefix": "fecha-firma-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha de firma: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fecha-firma-hasta",
        "namePrefix": "fecha-firma-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de firma: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="md:col-span-2">
      {{ componentInput({
        "label": {
          "text": "Preparador"
        },
        "id": "preparador",
        "name": "preparador",
        "placeholder": "Escribe el nombre del preparador",
        "classes": "w-full"
      })  }}  
    </div>
    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Documentos</a>
      </p>
      <h1 class="c-h1">Documentos firmados</h1>
      {# Menu de Documentos #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Firmados por mí",
            "active": true
          },
          {
            "href": "#",
            "text": "Firmados por otros preparados por mí"
          },
          {
            "href": "#",
            "text": "Firmados por otros preparados por otros"
          }
        ],
        "attributes": {
          "aria-label": "Menu de Documentos"
        }
      })  }}
      {# fin Menu de Documentos #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="sr-only">Firmados por mí</h2>
  
  {# Filtros de Busqueda #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Buscar en firmados por mí",
          "html": filtroBusqueda
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  <h2 id="documentos" class="c-h3 mb-base">Documentos firmados por mí</h2>

  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de documentos</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-documentos",
        "name": "todos-documentos",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Descargar",
            "classes": "c-button--sm"
          })  }}        
        </li>
        <li>
          {% call componentDropdown({
            "text": "Notificar o comunicar",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "notificar-comunicar",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-notificar-comunicar",
                "aria-label": "Notificar o comunicar"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Notificar"
                },
                {
                  "href": "#",
                  "text": "Comunicar"
                }
              ]
            })  }}
          {% endcall %}                   
        </li>
        <li>
          {% call componentDropdown({
            "text": "Enviar",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "enviar",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-enviar",
                "aria-label": "Enviar"
              },
              "items": [
                {
                  "href": "#",
                  "text": "A una bandeja personal"
                },
                {
                  "href": "#",
                  "text": "A organismos"
                }
              ]
            })  }}
          {% endcall %}                   
        </li>
        <li>
          {{ componentButton({
            "text": "Asociar a expediente",
            "classes": "c-button--primary c-button--sm"
          })  }}      
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="documentos">
    {{ componentTableAdvanced({
      "idPrefix": "listado-documentos",
      "hasCheckboxes": true,
      "caption": "Listado de documentos",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Documento',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "html": 'Preparador',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Fin preparación',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Firmado'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'María Marín Marín'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '1/2'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Antonio López López'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '2/2'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Angel Martinez Martinez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '3/5'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Begoña Fernandez Fernandez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '2/3'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Documento de resolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Silvia Sanchez Sanchez'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '1/2'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Descripción del documento</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Pedro Alonso Alonso'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020</span>'
          },
          {
            "html": '2/2'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}