{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento notificación - Copia simple - Resumen. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h9.504v-2.016H1.992l.006-8.994.006-8.994 2.28-.006 2.28-.006 1.5 1.5 1.5 1.5h10.428v4.512h2.016V3h-11.58l-1.5-1.5-1.5-1.5H0v11.004m16.992.01c-1.257.107-2.38.536-3.426 1.309-.338.25-.993.905-1.243 1.243a6.497 6.497 0 0 0-1.262 3.023c-.061.406-.075 1.272-.025 1.651.157 1.193.574 2.242 1.249 3.141a6.5 6.5 0 0 0 4.659 2.597 8.121 8.121 0 0 0 1.46-.037 6.513 6.513 0 0 0 5.487-7.635c-.474-2.57-2.5-4.643-5.049-5.169a7.364 7.364 0 0 0-1.85-.122m-.096 2.03a4.453 4.453 0 0 0-2.569 1.282 4.413 4.413 0 0 0-1.319 3.162 4.42 4.42 0 0 0 1.269 3.133 4.499 4.499 0 0 0 2.647 1.339c.257.037.952.03 1.224-.012a4.53 4.53 0 0 0 3.561-2.87c.29-.747.36-1.679.19-2.515a4.903 4.903 0 0 0-.555-1.39 4.801 4.801 0 0 0-1.52-1.52 4.58 4.58 0 0 0-1.735-.61 5.469 5.469 0 0 0-1.193 0m-.408 2.952V18h2.016v-4.008h-2.016v2.004m0 4.008V21h2.016v-1.992h-2.016v.996"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de notificación
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Copia simple</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Personas destinatarias</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Resumen</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}

  {# Resumen #}
  <div class="lg:flex gap-x-base items-baseline">
      <h2 class="c-h3 flex-1">Resumen del documento de notificación preparado</h2>
      {{ componentButton({
        "text": "Abrir documento",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Datos básicos #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Datos básicos</h3>
      {{ componentButton({
        "text": "Volver a Datos básicos",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Procedimiento',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '1520 - Subvención para actividades de educación de personas adultas',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Visibilidad',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Visibilidad compartida (órganos gestores)',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Acceso a la consulta y verificación del documento desde el verificador de documentos y Mi Aragón (MiA)',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '<p>Limitado</p>
                  <p>Accesible desde el verificador de documentos para cualquiera que se identifique previamente y disponga del CSV.</p>
                  <p>Visible en el módulo de Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.</p>',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Metadatos #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Metadatos</h3>
      {{ componentButton({
        "text": "Volver a Metadatos",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Descripción',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución de la convocatoria de 2024',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo documental',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Organismo emisor',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Organismo 1',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Días de plazo',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": '10 días',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo de acto',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Resolución del trámite',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Sentido del acto',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Informar',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}
  <hr class="border-neutral-base my-base"><!--linea separadora-->
  {# Personas destinatarias #}
  <div class="lg:flex gap-x-base items-baseline">
      <h3 class="c-h4 flex-1">Personas destinatarias</h3>
      {{ componentButton({
        "text": "Volver a Personas destinatarias",
        "classes": "c-button--transparent"
      })  }}  
  </div>
  {{ componentDescriptionList({
    "classes": "w-full py-sm",
    "items": [
      {
        "term": {
          "html": 'Persona destinataria 1',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'María García García',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Persona destinataria 2',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Ana García García',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": '¿Misma notificación?',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Sí',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      },
      {
        "term": {
          "html": 'Tipo de envío',
          "classes": "lg:w-1/4"
        },
        "definition": {
          "html": 'Programado: 20/04/2024',
          "classes": "lg:flex-1"
        },
        "classes": "lg:flex gap-x-2xl py-sm"
      }
    ]
  }) }}


  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}