{# Titulo de pagina #}
{% set title = "Documentos - Añadir documento desde el equipo (notificación). Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M0 11.004v11.004h9.504v-2.016H1.992l.006-8.994.006-8.994 2.28-.006 2.28-.006 1.5 1.5 1.5 1.5h10.428v4.512h2.016V3h-11.58l-1.5-1.5-1.5-1.5H0v11.004m16.992.01c-1.257.107-2.38.536-3.426 1.309-.338.25-.993.905-1.243 1.243a6.497 6.497 0 0 0-1.262 3.023c-.061.406-.075 1.272-.025 1.651.157 1.193.574 2.242 1.249 3.141a6.5 6.5 0 0 0 4.659 2.597 8.121 8.121 0 0 0 1.46-.037 6.513 6.513 0 0 0 5.487-7.635c-.474-2.57-2.5-4.643-5.049-5.169a7.364 7.364 0 0 0-1.85-.122m-.096 2.03a4.453 4.453 0 0 0-2.569 1.282 4.413 4.413 0 0 0-1.319 3.162 4.42 4.42 0 0 0 1.269 3.133 4.499 4.499 0 0 0 2.647 1.339c.257.037.952.03 1.224-.012a4.53 4.53 0 0 0 3.561-2.87c.29-.747.36-1.679.19-2.515a4.903 4.903 0 0 0-.555-1.39 4.801 4.801 0 0 0-1.52-1.52 4.58 4.58 0 0 0-1.735-.61 5.469 5.469 0 0 0-1.193 0m-.408 2.952V18h2.016v-4.008h-2.016v2.004m0 4.008V21h2.016v-1.992h-2.016v.996"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento de notificación
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <p class="c-h3 mb-base mt-base lg:mt-0">Añadir documento desde el equipo</p>
  {{ componentFileUpload({
    "id": "file-upload-doc",
    "name": "file-upload-doc",
    "label": {
      "text": "Sube el documento o documentos a añadir"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}


  {{ componentRadios({
    "idPrefix": "radios-original-copia",
    "name": "radios-original-copia",
    "fieldset": {
      "legend": {
        "html": 'Original/copia',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Original"
      },
      {
        "value": "2",
        "text": "Copia electrónica auténtica"
      },
      {
        "value": "3",
        "text": "Copia simple"
      }
    ]
  }) }}


{% endblock %}
{# fin Contenido de la página #}