{# Titulo de pagina #}
{% set title = "Documentos firmados - Detalle de documento - Interesados y representantes. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Documentos firmados</a>
      </p>
      {# Cabecera documento #}
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h2 mb-sm flex-1 lg:place-self-center">Documento de resolución</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado documento #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Firmado</p></div>
          {# Descripción documento #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "CSV4567891234567891"
                },
                "classes": "pr-2xl mb-sm"
              },
              {
                "term": {
                  "html": 'Original/copia',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Original"
                },
                "classes": "pr-2xl mb-sm"
              },
              
              {
                "term": {
                  "html": 'Preparador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Marta Pérez Martínez"
                },
                "classes": "pr-2xl mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre documento #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-documento">
          <h2 id="acciones-sobre-documento" class="sr-only">Acciones sobre el documento</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Descargar",
                "classes": "c-button--sm lg:ml-sm mb-sm"
              })  }}        
            </li>
            <li>
              {% call componentDropdown({
                "text": "Notificar o comunicar",
                "classes": "c-dropdown--sm lg:ml-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "notificar-comunicar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-notificar-comunicar",
                    "aria-label": "Notificar o comunicar"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Notificar"
                    },
                    {
                      "href": "#",
                      "text": "Comunicar"
                    }
                  ]
                })  }}
              {% endcall %}                   
            </li>
            <li>
              {{ componentButton({
                "text": "Sustituir",
                "classes": "c-button--sm lg:ml-sm mb-sm"
              })  }}        
            </li>
            <li>
              {{ componentButton({
                "text": "Anular",
                "classes": "c-button--sm lg:ml-sm mb-sm"
              })  }}        
            </li>
            <li>
              {{ componentButton({
                "text": "Asociar a expediente",
                "classes": "c-button--primary c-button--sm lg:ml-sm mb-sm"
              })  }}      
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera documento #}
      {# Menu documento #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista previa"
          },
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Notas"
          },
          {
            "href": "#",
            "text": "Firmas"
          }
        ],
        "attributes": {
          "aria-label": "Menú de la notificación"
        }
      })  }}
      {# fin Menu documento #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-lg">Interesados y representantes</h2>
  {# Listado interesados #}
  <section aria-labelledby="interesados">
    <h3 id="interesados" class="sr-only">Selecciona los interesados y representantes del documento</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-interesados",
          "name": "todos-interesados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "interesados",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todos",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Eliminar",
              "classes": "c-button--sm c-button--transparent"
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir representante",
              "classes": "c-button--sm"
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Añadir interesado",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de interesados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-interesados",
      "hasCheckboxes": true,
      "caption": "Listado de interesados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre y apellidos/Razón social ',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'En calidad de',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": 'Documento',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": '<abbr title="Número">Nº</abbr> Identificación',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": 'Julio Mieza Gil'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Julio Mieza Gil S.L.'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María Teresa González Martínez'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Hermanos Prado López S.L.'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Antonio Jesús Cordero Guijarro'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Gestoría Moreno'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María del Mar Rodriguez Montañes'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'EJ Sport C.B.2'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Nadia Pérez de la Fuente'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Comunidad vecinal'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de interesados #}
  </section>  

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-interesados",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}
{% endblock %}
{# fin Contenido de la página #}