{# Titulo de pagina #}
{% set title = "Detalle Expediente - Listado de Notas - Editar nota. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModalAsignarExpdte %}
  <p class="c-paragraph-base">Selecciona una persona del listado que aparece a continuación para asignarle los expedientes.</p>
  <fieldset class="text-left mb-lg">
    <legend class="sr-only">Lista de personas</legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-personas-asignar",
        "label": {
          "text": "Personas a asignar"
        },
        "placeholder": "Buscar persona",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-40 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "personas-asignar-lista",
          "name": "personas-asignar-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "html": 'Ana Marín Martín <span class="block text-neutral-dark">Jefe de Servicio de Patrimonio cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "html": 'Beatriz Carolina Marín Martín <span class="block text-neutral-dark">Auxiliar administrativo del servicio de Patrimonio Cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "html": 'Carlos Andrés Martínez <span class="block text-neutral-dark">Coordinador del servicio de Patrimonio Cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "html": 'Diego Berges Marco <span class="block text-neutral-dark">Analista de Grupo Oesía</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>
{% endset %}
{% set descripcionModalAnadirNota %}
  <p class="c-paragraph-base">Añade una nota al expediente. Recuerda que puedes mencionar a otras personas introduciendo @ y su nombre.</p>
  <div class="my-lg">
    {{ componentCharacterCount({
      "name": "more-detail-a",
      "id": "more-detail-a",
      "maxlength": 200,
      "placeholder": "Escribe aquí la nota que quieras añadir al expediente",
      "label": {
        "text": "Nota",
        "classes": "sr-only"
      },
      "classes": "w-full",
      "rows": 3,
      "countMessage": {
        "classes": "text-right"
      }
    }) }}
  </div>
  {% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-sm flex-1 lg:place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</p></div>
          <p class="c-paragraph-base mt-sm">Asignado a: Sara Pérez Pérez</p>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de creación',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de cierre',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "20/06/2024"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Interesados',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Asignar expediente",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "opciones-asignacion",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-opciones-asignacion",
                    "aria-label": "Asignación de expedientes"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Autoasignar"
                    },
                    {
                      "href": "#",
                      "text": "Asignar a otra persona",
                      "attributes": {
                        "onclick": "openDialog('modal-asignar-persona', this, 'asignar-persona')"
                      }
                    }
                  ]
                })  }}
              {% endcall %}  
            </li>
            <li>
              {% call componentDropdown({
                "text": "Solicitar informe",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "solicitar-informe",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-solicitar-informe",
                    "aria-label": "Solicitar informe del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Del expediente"
                    },
                    {
                      "href": "#",
                      "text": "De documentos"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Consultas"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          },
          {
            "href": "#",
            "text": "Notas",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <section aria-labelledby="notas">
    <div class="lg:flex lg:flex-wrap">
      <h2 id="notas" class="c-h3 flex-1">Notas</h2>
      {{ componentButton({
        "text": "Añadir nota",
        "classes": "c-button--sm c-button--primary",
        "attributes": {
          "onclick": "openDialog('modal-anadir-nota', this, 'anadir-nota')"
        }
      }) }}
    </div>
    <div class="pb-base"></div><!--espaciador-->
    <ul class="lg:w-3/4">
      <li class="lg:flex lg:flex-wrap p-base hover:bg-neutral-lighter focus-within:bg-neutral-light">
        <div class="flex-1">
          <p class="font-semibold">Marta Martín Martínez - Directora General de Vivienda</p>
          <p>Fecha de creación: 20/01/2024, 10:05</p>
          <p class="text-neutral-dark">El expediente ha sido asignado a Sara Pérez Pérez.</p>
        </div>
        <div class="mt-sm lg:mt-0 lg:ml-base">
          {{ componentButton({
            "text": "Editar",
            "classes": "c-button--sm c-button--transparent"
          }) }}
        </div>
      </li>
      <li class="lg:flex lg:flex-wrap p-base hover:bg-neutral-lighter focus-within:bg-neutral-light">
        <!-- modo edicion -->
        <div class=w-full>
          <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-base p-sm bg-warning-light border border-warning-base rounded">
            <p class="mb-sm lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo edición</p>
            <ul class="lg:flex lg:flex-wrap">
              <li>
                {{ componentButton({
                  "text": "Cancelar edición",
                  "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
                })  }}
              </li>
              <li>
                {{ componentButton({
                  "text": "Guardar cambios",
                  "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
                })  }}
              </li>
            </ul>
          </div> 
          <p>Fecha de creación: 20/01/2024, 10:05</p>     
          {{ componentCharacterCount({
            "id": "nota",
            "name": "nota",
            "label": {
              "text": "Nota",
              "classes": "sr-only"
            },
            "classes": "w-full",
            "maxlength": 200,
            "rows": 3,
            "value": "Menciono a @Marta Pérez para que nos eche una mano con la tramitación de este expediente.",
            "countMessage": {
              "classes": "text-right"
            }
          })  }}    
        </div>
        <!-- /modo edicion -->
      </li>
      <li class="lg:flex lg:flex-wrap p-base hover:bg-neutral-lighter focus-within:bg-neutral-light">
        <div class="flex-1">
          <p class="font-semibold">Marta Pérez - Asesora técnica de Hacienda</p>
          <p>Fecha de creación: 20/01/2024, 10:05</p>
          <p class="text-neutral-dark"><strong>@Sara Pérez Pérez</strong>, te asigno el expediente tal y como hemos comentado.</p>
        </div>
        <div class="mt-sm lg:mt-0 lg:ml-base">
          {{ componentButton({
            "text": "Editar",
            "classes": "c-button--sm c-button--transparent"
          }) }}
        </div>
      </li>
    </ul>
  </section>



  <!-- modal Asignar expediente -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-asignar-persona" class="hidden" role="dialog" aria-labelledby="label-asignar-persona" aria-modal="true">
      {{ componentModal({
        "id": "asignar-persona",
        "title": {
          "text": "Asignar a otra persona"
        },
        "description": {
          "html": descripcionModalAsignarExpdte
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Asignar",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2 3a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-2 9a5 5 0 0 1 9.475-2.233l-.576.72-.449-.337A2 2 0 0 0 5.688 13H.5a.5.5 0 0 1-.5-.5V12Zm13.836-3.281a.75.75 0 1 0-1.172-.937l-3.546 4.432L7.7 11.15a.75.75 0 0 0-.9 1.2l2 1.5a.75.75 0 0 0 1.036-.131l4-5Z" clip-rule="evenodd"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Asignar expediente -->

  <!-- modal Añadir nota -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-anadir-nota" class="hidden" role="dialog" aria-labelledby="label-anadir-nota" aria-modal="true">
      {{ componentModal({
        "id": "anadir-nota",
        "title": {
          "text": "Añadir nota"
        },
        "description": {
          "html": descripcionModalAnadirNota
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Añadir nota",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m5.511 6.134-2 .353.353-2L7.66.7a.664.664 0 0 1 .94 0l.705.705a.664.664 0 0 1 0 .94L5.511 6.134Z"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M8.5 6.717V8.8a.7.7 0 0 1-.709.7H1.209A.7.7 0 0 1 .5 8.8V2.2a.7.7 0 0 1 .709-.7h2.126"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Añadir nota -->
{% endblock %}
{# fin Contenido de la página #}