{# Titulo de pagina #}
{% set title = "Documentos pendientes firma - Añadir documento - Original - Envío a firma (selección orden de firmantes). Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set ordenSi %}
  <p class="c-paragraph-base mb-sm">Organiza a los firmantes en el orden en el que van a tener que firmar, situando arriba al primero en firmar y abajo al último.</p> 
  <!-- firmante -->
  <div id="firmante1" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante1-title" class="flex-1 font-semibold">Marta Martín Martínez <span class="block font-normal">ORG17495 - Servicio de Diseño y Desarrollo de Servicios Públicos</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma anónima",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
    <hr class="border-neutral-base">
    <div class="p-sm">
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "text": "Revisores"
            },
            "definition": {
              "text": "Pedro Pérez Perea, Marina Marín Marinez, Sancho Sánchez Sanchis"
            }
          }
        ],
        "classes": "ml-16 lg:pl-2"
      }) }}
    </div>
  </div> 
  <!-- firmante -->
  <div id="firmante2" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante2-title" class="flex-1 font-semibold">Begoña Garcia Garcés <span class="block font-normal">ORG07462 - Departamento de Cultura y Deporte</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma personal",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
    <hr class="border-neutral-base">
    <div class="p-sm">
      {{ componentDescriptionList({
        "items": [
          {
            "term": {
              "text": "Revisores"
            },
            "definition": {
              "text": "Pedro Pérez Perea, Marina Marín Marinez, Sancho Sánchez Sanchis"
            }
          }
        ],
        "classes": "ml-16 lg:pl-2"
      }) }}
    </div>
  </div>  
  <!-- firmante -->
  <div id="firmante3" class="border border-neutral-base rounded mb-3">
    <div class="flex flex-wrap p-sm">
      <div class="lg:flex flex-1 gap-x-base self-center px-sm lg:px-base">
        <p id="firmante3-title" class="flex-1 font-semibold">Marco Marquinez Marcos <span class="block font-normal">Saneamientos Marquinez S.L. Director general</span></p>
        <div class="mt-xs lg:mt-0">
          {{ componentPill({
            "text": "Firma personal",
            "classes": "text-sm"
          }) }}
        </div>
      </div>
      <div class="flex order-first h-full mr-base">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg>
      </div>
      <div class="order-first h-full mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="1.2em" height="1.2em" class="text-neutral-dark fill-current" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M3.26.011a2.3 2.3 0 0 0-.951.33 2.254 2.254 0 0 0-.718 3.101c.172.278.439.545.718.718a2.243 2.243 0 0 0 2.781-.32A2.247 2.247 0 0 0 3.721.01a2.919 2.919 0 0 0-.461.001m.091 1a1.248 1.248 0 1 0 .958 2.187 1.248 1.248 0 0 0-.958-2.187m4.554 3.32a.64.64 0 0 0-.115.04c-.06.03-.166.132-1.638 1.603C5.053 7.07 4.569 7.562 4.546 7.6a.647.647 0 0 0-.05.105c-.01.027-.072.44-.138.915-.113.814-.12.87-.11.94.006.041.02.1.032.132a.54.54 0 0 0 .298.28c.113.04.142.038 1.042-.086.46-.063.85-.118.87-.122a.656.656 0 0 0 .11-.041c.074-.035.092-.052 1.638-1.597.872-.871 1.579-1.585 1.598-1.614a.478.478 0 0 0 .082-.247.481.481 0 0 0-.05-.257c-.027-.056-.113-.145-.782-.816a28.374 28.374 0 0 0-.804-.788.583.583 0 0 0-.11-.055.638.638 0 0 0-.267-.018m-4.67.676c-.44.038-.865.152-1.242.333A3.492 3.492 0 0 0 .015 8.17c-.021.213-.022 1.37 0 1.453a.511.511 0 0 0 .36.362c.052.013.213.015 1.25.015 1.31 0 1.245.003 1.366-.061a.591.591 0 0 0 .203-.207.496.496 0 0 0-.086-.578.578.578 0 0 0-.117-.093C2.872 8.998 2.906 9 1.907 9h-.91l.006-.367c.004-.305.008-.39.026-.501a2.494 2.494 0 0 1 3.205-2.02c.225.064.346.052.499-.049a.496.496 0 0 0-.04-.846c-.159-.082-.568-.178-.883-.207a6.276 6.276 0 0 0-.575-.003m3.488 1.816L5.441 8.104l-.055.4c-.03.22-.053.402-.05.404.001.001.184-.022.405-.052l.402-.055 1.284-1.284L8.71 6.235l-.347-.347c-.192-.192-.35-.348-.353-.348-.003 0-.582.577-1.287 1.282"/></svg>
      </div>
    </div>
  </div>  
{% endset %}
{% set ordenNo %}
  {{ componentInput({
    "id": "input-num-firmas",
    "name": "num-firmas",
    "label": {
      "text": "Firmas obligatorias",
      "classes": "font-semibold"
    },
    "hint": {
      "text": "Indica el número de firmas necesarias para que el documento pase a estado Firmado."
    },
    "type": "number",
    "classes": "w-24"
  }) }}
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" fill-rule="evenodd" d="M4.008 3v3H6V1.992h8.58l1.71 1.71L18 5.412V9h1.992V4.572l-2.286-2.286L15.42 0H4.008v3M1.992 15.996V24h20.016V10.992H12.42l-1.5-1.5-1.5-1.5H1.992v8.004m2.016.012v6h15.984v-9H11.58l-1.5-1.5-1.5-1.5H4.008v6"/></svg>
{% endblock %}
{% block titleText %}
  Preparar documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Original</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Finalizar y enviar",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    <h2 class="c-h3 mt-sm">Preparando 2 documentos</h2>
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 w-3/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Datos básicos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Firmantes</a></div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">4</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Envío a firma</div>
      </div>
    </div>
    {# fin Pasos #}  
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Envío a firma</h2>
  <div class="flex gap-x-sm">
    <div class="h-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
    </div>
    <div class="flex-1 mb-lg">
        <h3 class="lg:flex-1 lg:flex-1 mb-xs lg:mb-0">Por defecto, se asigna una fecha límite para firmar de <strong>3 meses desde la fecha de fin de la preparación</strong></h3>
    </div>
  </div>

  {# Orden de firma #}
  {{ componentRadios({
    "idPrefix": "orden-firma",
    "name": "orden-firma",
    "fieldset": {
      "legend": {
        "html": '¿Quieres definir un orden de firma?',
        "classes": "font-semibold mb-xs"
      }
    },
    "hint": {
      "text": "Define un orden para indicar que cada firma valida a la anterior"
    },
    "items": [
      {
        "value": "si",
        "html": 'Sí',
        "conditional": {
          "html": ordenSi
        }
      },
      {
        "value": "no",
        "html": 'No',
        "conditional": {
          "html": ordenNo
        }
      }
    ]
  })  }} 


  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}