{# Titulo de pagina #}
{% set title = "Expedientes - Subvenciones - Nuevo expediente de solicitante - Información económica. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set inputPlurianual %}
  {{ componentInput({
    "id": "finalizacion",
    "name": "finalizacion",
    "label": {
      "html": 'Año de finalización'
    },
    "value": "2026",
    "disabled": true
  })  }}
{% endset %}
{% set inputAppImporte %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app",
    "name": "importe-app",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "100.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte2 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app2",
    "name": "importe-app2",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte3 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app3",
    "name": "importe-app3",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set buscarCSV %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Código Seguro de Verificación </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set personaFisica %}
  <div class="lg:w-2/3 md:flex gap-x-5">
    <div class="flex-1 grid md:grid-cols-2 gap-x-5">
      {{ componentSelect({
        "id": "select-tipo-identificacion",
        "name": "tipo-identificacion",
        "classes": "w-full",
        "label": {
          "text": "Tipo de identificación"
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona el tipo de identificación...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "NIF"
          },
          {
            "value": 2,
            "text": "Pasaporte"
          }
        ]
      }) }}
      {{ componentInput({
        "id": "input-identificacion",
        "name": "identificacion",
        "label": {
          "html": 'Número de identificación'
        },
        "classes": "w-full",
        "placeholder": "Escribe el número de identificación..."
      })  }}
    </div>
    <div class="self-end mb-8 mt-xl md:mt-0">
      {{ componentButton({
        "text": "Buscar",
        "href": "#"
      })  }}   
    </div> 
  </div>
  <div class="lg:flex lg:flex-wrap mb-base">
    <h3 class="flex-1 font-semibold self-end mb-sm lg:mb-0">Resultados de la búsqueda</h3>
    <ul class="flex flex-wrap gap-sm">
      <li>
        {{ componentButton({
          "text": "Editar datos",
          "classes": "c-button--sm"
        }) }}
      </li>
    </ul>
  </div>
  {{ componentTable({
    "idPrefix": "listado-resultados",
    "caption": "Listado de resultados",
    "captionClasses": "sr-only",
    "classes": "w-full",
    "head": [
      {
        "html": 'NIF'
      },
      {
        "html": 'Nombre'
      },
      {
        "html": 'Primer apellido'
      },
      {
        "html": 'Segundo apellido'
      },
      {
        "html": 'Email'
      }
    ],
    "rows": [
      [
        {
          "html": '12345678Z'
        },
        {
          "html": 'Julio'
        },
        {
          "html": 'Mieza'
        },
        {
          "html": 'Gil'
        },
        {
          "html": 'juliomiezagil@gmail.com'
        }
      ]
    ]
  }) }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" d="M24 6.3a2 2 0 0 0-1.95-1.95H12a.51.51 0 0 1-.45-.28l-.74-1.49A2 2 0 0 0 9.06 1.5H2a2 2 0 0 0-2 1.95v17.1a2 2 0 0 0 2 1.95h20.1a2 2 0 0 0 1.9-1.95ZM22.05 20a.5.5 0 0 1-.5.5l-19 .05a.5.5 0 0 1-.5-.5L2 4a.5.5 0 0 1 .5-.5h6.26a.49.49 0 0 1 .44.28l.77 1.52a1.93 1.93 0 0 0 1.74 1.08h9.84a.5.5 0 0 1 .5.5Z"/></svg>
{% endblock %}
{% block titleText %}
  Crear un expediente nuevo
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Crear",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="pb-base lg:pb-0"></div><!--espaciador-->

  <h2 class="c-h3 mb-lg">Información económica (opcional)</h2>

  {# Vigencia #}
  {{ componentRadios({
    "idPrefix": "vigencia",
    "name": "vigencia",
    "fieldset": {
      "legend": {
        "html": 'Vigencia <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      }
    },
    "items": [
      {
        "value": "anual",
        "text": "Anual",
        "attributes": {
          "aria-required": true
        },
        "disabled": true
      },
      {
        "value": "plurianual",
        "text": "Plurianual",
        "conditional": {
          "html": inputPlurianual
        },
        "attributes": {
          "aria-required": true
        },
        "checked": true,
        "disabled": true
      }
    ]
  })  }}

  {# Tramitacion anticipada #}
  {{ componentRadios({
    "idPrefix": "anticipada",
    "name": "anticipada",
    "fieldset": {
      "legend": {
        "html": '¿Es de tramitación anticipada? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      }
    },
    "items": [
      {
        "value": "si",
        "text": "Sí",
        "attributes": {
          "aria-required": true
        },
        "disabled": true
      },
      {
        "value": "no",
        "text": "No",
        "attributes": {
          "aria-required": true
        },
        "checked": true,
        "disabled": true
      }
    ]
  })  }}

  {# Aplicaciones presupuestarias #}
  {{ componentTable({
    "idPrefix": "aplicaciones-presupuestarias",
    "caption": "Aplicaciones presupuestarias",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "html": 'Ejercicio',
        "classes": "w-2"
      },
      {
        "html": 'Descripción de la línea'
      },
      {
        "html": 'Posición presupuestaria'
      },
      {
        "html": 'Elemento PEP'
      },
      {
        "html": 'Importe solicitado'
      },
      {
        "html": 'Importe concedido'
      }
    ],
    "rows": [
      [
        {
          "html": '2024',
          "attributes": {
            "id": "csv1"
          }
        },
        {
          "html": 'Desarrollo y Mejora de Funcionalidades'
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte
        },
        {
          "html": inputAppImporte
        }
      ],
      [
        {
          "html": '2025',
          "attributes": {
            "id": "csv2"
          }
        },
        {
          "html": 'Difusión'
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte2
        },
        {
          "html": inputAppImporte2
        }
      ],
      [
        {
          "html": '2026',
          "attributes": {
            "id": "csv3"
          }
        },
        {
          "html": 'Mantenimiento'
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte3
        },
        {
          "html": inputAppImporte3
        }
      ]
    ],
    "foot": [
      {
        "text": "Total",
        "classes": "uppercase font-semibold"
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": "160.000,00€",
        "classes": "font-semibold text-right"
      },
      {
        "text": "160.000,00€",
        "classes": "font-semibold text-right"
      }
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}
  {# cuando no hay seleccionados: #}
  {# <p class="c-paragraph-base text-center">No se ha seleccionado ninguna partida presupuestaria</p> #}

  <div class="pb-xl"></div><!--espaciador-->

  {# Solicitante de la subvencion #}
  <h2 class="c-h3 mb-base">Solicitante de la subvención</h2>
  <p class="font-semibold mb-xs">Identifica a la persona solicitante de la subvención</p>
  {{ componentRadios({
    "idPrefix": "radio-solicitante",
    "name": "solicitante",
    "items": [
      {
        "value": "persona-fisica",
        "text": "Persona física que no desarrolla actividad económica",
        "conditional": {
          "html": personaFisica
        }
      },
      {
        "value": "gran-empresa",
        "text": "Gran empresa"
      },
      {
        "value": "persona-juridica",
        "text": "Persona jurídica que no desarrolla actividad económica"
      },
      {
        "value": "actividad-economica",
        "text": "PYME y personas físicas que desarrollan actividad económica"
      }
    ]
  })  }}

  {# Añadiendo un documento al expediente #}
  <h2 class="c-h3 mb-base">Documentos del expediente</h2>
  {{ componentRadios({
    "idPrefix": "sum-doc",
    "name": "sum-doc",
    "fieldset": {
      "legend": {
        "html": 'Añade un documento al expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarCSV
        }
      },
      {
        "value": "copia-simple",
        "text": "Preparar documento: copia simple"
      },
      {
        "value": "sin-documento",
        "text": "No quiero añadir ningún documento por ahora"
      }
    ]
  })  }}

 
  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>  

{% endblock %}
{# fin Contenido de la página #}