{# Titulo de pagina #}
{% set title = "Expedientes - Subvenciones - Detalle expediente general - Información económica - Añadir aplicación. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set inputAppDescripcion %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea",
    "name": "descripcion-linea",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Desarrollo y Mejora de Funcionalidades"
  }) }}  
{% endset %}
{% set inputAppDescripcion2 %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea2",
    "name": "descripcion-linea2",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Difusión"
  }) }}  
{% endset %}
{% set inputAppDescripcion3 %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea3",
    "name": "descripcion-linea3",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Mantenimiento"
  }) }}  
{% endset %}
{% set inputAppImporte %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app",
    "name": "importe-app",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "100.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte2 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app2",
    "name": "importe-app2",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte3 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app3",
    "name": "importe-app3",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar csv1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" d="M24 6.3a2 2 0 0 0-1.95-1.95H12a.51.51 0 0 1-.45-.28l-.74-1.49A2 2 0 0 0 9.06 1.5H2a2 2 0 0 0-2 1.95v17.1a2 2 0 0 0 2 1.95h20.1a2 2 0 0 0 1.9-1.95ZM22.05 20a.5.5 0 0 1-.5.5l-19 .05a.5.5 0 0 1-.5-.5L2 4a.5.5 0 0 1 .5-.5h6.26a.49.49 0 0 1 .44.28l.77 1.52a1.93 1.93 0 0 0 1.74 1.08h9.84a.5.5 0 0 1 .5.5Z"/></svg>
{% endblock %}
{% block titleText %}
  Añadir aplicación presupuestaria
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir",
        "href": "#",
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="pb-base lg:pb-0"></div><!--espaciador-->

  {# Aplicaciones presupuestarias #}
  <h2 class="c-h3 mb-xs">Selección de aplicaciones presupuestarias</h2>
  <p class="c-paragraph-base">Utiliza uno de los siguientes criterios para buscar la aplicación presupuestaria.</p>
  <div class="lg:flex gap-x-5">
    <div class="flex-1 grid lg:grid-cols-4 gap-x-5">
      {{ componentInput({
        "id": "input-programa",
        "name": "programa",
        "label": {
          "html": 'Programa',
          "classes": " font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el programa..."
      })  }}
      {{ componentInput({
        "id": "input-concepto",
        "name": "concepto",
        "label": {
          "html": 'Concepto',
          "classes": " font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el concepto..."
      })  }}
      {{ componentInput({
        "id": "input-fondo-financiador",
        "name": "fondo-financiador",
        "label": {
          "html": 'Fondo financiador',
          "classes": " font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el fondo financiador..."
      })  }}
      {{ componentInput({
        "id": "input-elemento-PEP",
        "name": "elemento-PEP",
        "label": {
          "html": 'Elemento PEP',
          "classes": " font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el elemento PEP..."
      })  }}
    </div>
    <div class="self-end mb-8">
      {{ componentButton({
        "text": "Buscar",
        "href": "#"
      })  }}   
    </div> 
  </div>

  <h2 class="c-h4 mb-base">Resultados de la búsqueda</h2>
  {# Listado aplicaciones presupuestarias #}
  <section aria-labelledby="aplicaciones-presupuestarias">
    <h3 id="aplicaciones-presupuestarias" class="sr-only">Selecciona las aplicaciones presupuestarias</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-aplicaciones-presupuestarias",
          "name": "todos-aplicaciones-presupuestarias",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "aplicaciones-presupuestarias",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Botones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de aplicaciones presupuestarias #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-aplicaciones-presupuestarias",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de aplicaciones presupuestarias",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Ejercicio'
        },
        {
          "html": 'Posición presupuestaria'
        },
        {
          "html": 'Elemento PEP'
        },
        {
          "html": 'Descripción'
        }
      ],
      "rows": [
        [
          {
            "html": '2024'
          },
          {
            "html": 'G/5424/227006/91002'
          },
          {
            "html": '2016/000329'
          },
          {
            "html": 'Estudios y trabajos técnicos'
          }
        ],
        [
          {
            "html": '2024'
          },
          {
            "html": 'G/5424/227009/32445'
          },
          {
            "html": '2022/000339'
          },
          {
            "html": 'Otros trabajos realizados por otras empresas'
          }
        ],
        [
          {
            "html": '2024'
          },
          {
            "html": 'G/5424/227010/91002'
          },
          {
            "html": '2009/001155'
          },
          {
            "html": 'Mant. Infraestructuras y Servicios de Telecomunic.'
          }
        ],
        [
          {
            "html": '2024'
          },
          {
            "html": 'G/5424/460077/91002'
          },
          {
            "html": '2007/000523'
          },
          {
            "html": 'Acciones implantación Sociedad de la Información'
          }
        ],
        [
          {
            "html": '2024'
          },
          {
            "html": 'G/5424/606000/91002'
          },
          {
            "html": '2011/000083'
          },
          {
            "html": 'Equipos para procesos de información'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de aplicaciones presupuestarias #}
  </section>

  <div class="pb-xl"></div><!--espaciador-->  

  {# Aplicaciones presupuestarias seleccionadas #}
  {{ componentTable({
    "idPrefix": "aplicaciones-presupuestarias",
    "caption": "Aplicaciones presupuestarias seleccionadas",
    "captionClasses": "mb-base font-bold text-left",
    "head": [
      {
        "html": 'Ejercicio',
        "classes": "w-2"
      },
      {
        "html": 'Descripción de la línea'
      },
      {
        "html": 'Posición presupuestaria'
      },
      {
        "html": 'Elemento PEP'
      },
      {
        "html": 'Importe'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>',
        "classes": "w-2"
      }
    ],
    "rows": [
      [
        {
          "html": '2024',
          "attributes": {
            "id": "csv1"
          }
        },
        {
          "html": inputAppDescripcion
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte
        },
        {
          "html": botonDescartar
        }
      ],
      [
        {
          "html": '2025',
          "attributes": {
            "id": "csv2"
          }
        },
        {
          "html": inputAppDescripcion2
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte2
        },
        {
          "html": botonDescartar
        }
      ],
      [
        {
          "html": '2026',
          "attributes": {
            "id": "csv3"
          }
        },
        {
          "html": inputAppDescripcion3
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte3
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "foot": [
      {
        "text": "Total",
        "classes": "uppercase font-semibold"
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": "160.000,00€",
        "classes": "font-semibold text-right"
      },
      {
        "text": ""
      }
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}
  {# cuando no hay seleccionados: #}
  {# <p class="c-paragraph-base text-center">No se ha seleccionado ninguna partida presupuestaria</p> #}

{% endblock %}
{# fin Contenido de la página #}