{# Titulo de pagina #}
{% set title = "Expedientes - Subvenciones - Nuevo expediente de solicitante. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "check-organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Selecciona organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1"
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  })  }}
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar csv1"
    }
  })  }}
{% endset %}
{% set radioTabla %}
  {{ componentRadios({
    "idPrefix": "radio-resultados-1",
    "name": "resultados",
    "formGroup": {
      "classes": "mb-0 -ml-sm"
    },
    "classes": "c-radios--sm",
    "items": [
      {
        "value": "resultado1",
        "text": "ZA-SP-ENE-AT-2020-011",
        "classes": "-my-base",
        "label": {
          "classes": "sr-only"
        }
      }
    ]
  })  }}  
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set listadoExpdtes %}
  {{ componentTableAdvanced({
    "idPrefix": "listado-expedientes",
    "caption": "Listado de expedientes",
    "captionClasses": "sr-only",
    "head": [
      {
          "html": 'Seleccionar fila',
          "classes": "sr-only pr-sm w-4"
        },
      {
        "html": 'Expediente',
        "orderBy": "none"
      },
      {
        "html": 'Última consulta',
        "orderBy": "none"
      },
      {
        "html": 'Descripción',
        "orderBy": "none"
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>',
        "orderBy": "none"
      },
      {
        "html": 'Estado',
        "orderBy": "none"
      }
    ],
    "rows": [
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto overflow-y-hidden mb-base"
    },
    "classes": "w-full"
  })  }}
{% endset %}
{% set busquedaCSV %}
  <div class="lg:w-1/2 mb-lg">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
  {# Listado #}
  {{ componentTableAdvanced({
    "idPrefix": "listado-expedientes-csv",
    "caption": "Listado de resultados",
    "captionClasses": "c-h3 mb-sm text-left",
    "head": [
      {
          "html": 'Seleccionar fila',
          "classes": "sr-only pr-sm w-4"
        },
      {
        "html": 'Expediente',
        "orderBy": "none"
      },
      {
        "html": 'Última consulta',
        "orderBy": "none"
      },
      {
        "html": 'Descripción',
        "orderBy": "none"
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>',
        "orderBy": "none"
      },
      {
        "html": 'Estado',
        "orderBy": "none"
      }
    ],
    "rows": [
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto overflow-y-hidden mb-base"
    },
    "classes": "w-full"
  })  }}
{% endset %}  
{% set busquedaAvanzada %}
  <div id="form-busqueda-avanzada" class="grid md:grid-cols-2 gap-x-7 pb-base">
    <fieldset class="md:col-span-2 mb-lg">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimiento"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Número de expediente"
      },
      "id": "input-num-expdte",
      "name": "num-expdte",
      "placeholder": "Escribe el número de expediente...",
      "classes": "w-full"
    })  }}   
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "input-descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción...",
      "classes": "w-full"
    })  }} 

    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "ultima-consulta-desde",
        "namePrefix": "ultima-consulta-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha de última consulta: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "ultima-consulta-hasta",
        "namePrefix": "ultima-consulta-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de última consulta: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm mb-lg",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "fechacreaciondesde",
        "namePrefix": "fechacreaciondesde",
        "fieldset": {
          "legend": {
            "text": "Fecha de creación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechacreacionhasta",
        "namePrefix": "fechacreacionhasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de creación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm mb-lg",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>

    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-ultima-consulta-desde",
        "name": "fecha-ultima-consulta-desde",
        "classes": "mb-lg",
        "label": {
          "text": "Fecha de última consulta: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-ultima-consulta-hasta",
        "name": "fecha-ultima-consulta-hasta",
        "classes": "mb-lg",
        "label": {
          "text": "Fecha de última consulta: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-fechacreaciondesde",
        "name": "fechacreaciondesde",
        "classes": "mb-lg",
        "label": {
          "text": "Fecha de creación: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-fechacreacionhasta",
        "name": "fechacreacionhasta",
        "classes": "mb-lg",
        "label": {
          "text": "Fecha de creación: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>

    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>  
  {# Listado #}
  {{ componentTableAdvanced({
    "idPrefix": "listado-expedientes-avanzada",
    "caption": "Listado de resultados",
    "captionClasses": "c-h3 mb-sm text-left",
    "head": [
      {
          "html": 'Seleccionar fila',
          "classes": "sr-only pr-sm w-4"
        },
      {
        "html": 'Expediente',
        "orderBy": "none"
      },
      {
        "html": 'Última consulta',
        "orderBy": "none"
      },
      {
        "html": 'Descripción',
        "orderBy": "none"
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>',
        "orderBy": "none"
      },
      {
        "html": 'Estado',
        "orderBy": "none"
      }
    ],
    "rows": [
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ],
      [
        {
          "html": radioTabla,
          "classes": "pr-sm w-4"
        },
        {
          "html": 'ZA-SP-ENE-AT-2020-011',
          "classes": "font-semibold"
        },
        {
          "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
        },
        {
          "html": 'Lorem ipsum dolor amet, consectetur'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En prepración</div>'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto overflow-y-hidden mb-base"
    },
    "classes": "w-full"
  })  }}
{% endset %}
{% set radioSolicitante %}
  <p class="font-semibold mb-xs">Selecciona el expediente general <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></p>
  {{ componentRadios({
    "idPrefix": "seleccion-expdte",
    "name": "seleccion-expdte",
    "items": [
      {
        "value": "recomendados",
        "text": "Búsqueda por expedientes recomendados",
        "conditional": {
          "html": listadoExpdtes
        }
      },
      {
        "value": "ultimos",
        "text": "Últimos expedientes consultados",
        "conditional": {
          "html": listadoExpdtes
        }
      },
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": busquedaCSV
        }
      },      
      {
        "value": "avanzada",
        "text": "Búsqueda avanzada",
        "conditional": {
          "html": busquedaAvanzada
        }
      },      
      {
        "value": "no-expdte",
        "text": "No quiero seleccionar ningún expediente por ahora"
      }
    ]
  }) }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path fill="currentColor" d="M24 6.3a2 2 0 0 0-1.95-1.95H12a.51.51 0 0 1-.45-.28l-.74-1.49A2 2 0 0 0 9.06 1.5H2a2 2 0 0 0-2 1.95v17.1a2 2 0 0 0 2 1.95h20.1a2 2 0 0 0 1.9-1.95ZM22.05 20a.5.5 0 0 1-.5.5l-19 .05a.5.5 0 0 1-.5-.5L2 4a.5.5 0 0 1 .5-.5h6.26a.49.49 0 0 1 .44.28l.77 1.52a1.93 1.93 0 0 0 1.74 1.08h9.84a.5.5 0 0 1 .5.5Z"/></svg>
{% endblock %}
{% block titleText %}
  Crear un expediente nuevo
{% endblock %}
{% block headerActions %}
  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Crear",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="pb-base lg:pb-0"></div><!--espaciador-->

  {# Numero interno #}
  {{ componentInput({
    "id": "input-num-interno",
    "name": "num-interno",
    "label": {
      "html": 'Número interno <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": " font-semibold"
    },
    "attributes": {
      "aria-required": true
    },
    "classes": "w-full md:w-1/2",
    "placeholder": "Escribe el número interno..."
  })  }}

  {# Procedimiento #}
  <fieldset class="mt-base mb-xl">
    <legend class="mb-sm font-semibold">
      Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>
    </legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-procedimientos",
        "label": {
          "text": "Filtrar procedimientos"
        },
        "placeholder": "Filtrar procedimiento",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-24 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "radio-procedimientos-lista",
          "name": "procedimientos-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "attributes": {
            "aria-required": true
          },
          "items": [
            {
              "value": "value-1",
              "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-5",
              "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-6",
              "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-7",
              "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-9",
              "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-10",
              "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-11",
              "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>

  {# Descripcion #}
  <div class="mb-base">
    {{ componentCharacterCount({
      "id": "text-desc-expdte",
      "name": "desc-expdte",
      "label": {
        "html": 'Descripción de expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "maxlength": 200,
      "rows": 3,
      "placeholder": "Escribe una descripción del expediente...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}  
  </div>
  
  {# Se elige un procedimiento para que se muestren las opciones del campo Visibilidad #}
  {{ componentRadios({
    "idPrefix": "radio-visibilidad1",
    "name": "visibilidad1",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      }
    },
    "attributes": {
      "aria-required": true
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida (órganos gestores)",
        "checked": true,
        "conditional": {
          "html": '<p class="font-bold">Selecciona organismos:</p><p class="text-sm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-xs" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>Elige un procedimiento para que se muestren las opciones</p>'
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}
  {{ componentRadios({
    "idPrefix": "radio-visibilidad2",
    "name": "visibilidad2",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      }
    },
    "attributes": {
      "aria-required": true
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida (órganos gestores)",
        "checked": true,
        "conditional": {
          "html": checksVisibCompartida
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}

  {# Aportador #}
  <fieldset>
    <legend class="sr-only">Datos del aportador</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentInput({
        "id": "input-nom-aportador",
        "name": "nom-aportador",
        "label": {
          "html": 'Nombre del aportador <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": " font-semibold"
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full",
        "value": "Marta Pérez",
        "disabled": true
      })  }}
      {{ componentInput({
        "id": "input-org-aportador",
        "name": "org-aportador",
        "label": {
          "html": 'Organismo del aportador',
          "classes": " font-semibold"
        },
        "classes": "w-full",
        "value": "D.G. de Administración Electrónica y Aplicaciones Corporativas",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  {# Acceso consulta #}
  {{ componentRadios({
    "idPrefix": "radio-acceso-consulta",
    "name": "acceso-consulta",
    "fieldset": {
      "legend": {
        "html": 'Acceso a la consulta y verificación del expediente desde el verificador de documentos y Mi Aragón (MiA) <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold mb-xs"
      }
    },
    "attributes": {
      "aria-required": true
    },
    "items": [
      {
        "value": "publico",
        "html": 'Público',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        }
      },
      {
        "value": "limitado",
        "html": 'Limitado',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquiera que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        },
        "checked": true
      },
      {
        "value": "restringido",
        "html": 'Restringido',
        "hint": {
          "html": 'Accesible desde el verificador de documentos para cualquier persona interesada o representante del expediente que se identifique previamente y disponga del CSV. <span class="block">Visible en el módulo Trámites de Mi Aragón (MiA) para las personas interesadas o representantes del expediente.'
        }
      },
      {
        "value": "no-permitido",
        "html": 'No permitido',
        "hint": {
          "html": 'No accesible desde el verificador de documentos ni en el módulo Trámites de Mi Aragón (MiA).'
        }
      }
    ],
    "classes": "lg:w-3/4"
  })  }}   

  <hr class="border-neutral-base my-xl">
  <h2 class="c-h3 mb-base">Datos de la subvención</h2>

  {# Tipo de expediente #}
  <p class="font-semibold mb-xs">¿Es un expediente general o un expediente de solicitante? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></p>
  {{ componentRadios({
    "idPrefix": "radio-tipo-expdte",
    "name": "tipo-expdte",
    "attributes": {
      "aria-required": true
    },
    "items": [
      {
        "value": "general",
        "text": "Expediente general"
      },
      {
        "value": "solicitante",
        "text": "Expediente de solicitante",
        "checked": true,
        "conditional": {
          "html": radioSolicitante
        }
      }
    ]
  })  }}

  <div class="grid md:grid-cols-2 gap-x-7">
    {{ componentInput({
      "id": "input-ejercicio",
      "name": "ejercicio",
      "label": {
        "html": 'Ejercicio <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": " font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "value": "2024",
      "disabled": true
    })  }}  
  </div>

  <div class="grid md:grid-cols-2 gap-x-7">
    {{ componentSelect({
      "id": "select-centro-gestor",
      "name": "centro-gestor",
      "classes": "w-full",
      "label": {
        "html": 'Centro gestor <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 1,
          "text": "D12080 - D.G. de Administración Electrónica y Aplicaciones Corporativas",
          "selected": true
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        },
        {
          "value": 4,
          "text": "Opción 4"
        }
      ],
      "disabled": true
    })  }}
    {{ componentInput({
      "id": "input-sociedad",
      "name": "sociedad",
      "label": {
        "html": 'Sociedad',
        "classes": " font-semibold"
      },
      "classes": "w-full",
      "value": "DGA - GOBIERNO DE ARAGÓN",
      "disabled": true
    })  }}    
  </div>

  {# Procedimiento de concesion #}
  {{ componentRadios({
    "idPrefix": "radio-proc-concesion",
    "name": "proc-concesion",
    "fieldset": {
      "legend": {
        "html": 'Procedimiento de concesión <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold mb-xs"
      }
    },
    "attributes": {
      "aria-required": true
    },
    "items": [
      {
        "value": "concurrencia-competitiva",
        "text": "Concurrencia competitiva"
      },
      {
        "value": "concesion-directa-resolucion",
        "text": "Concesión directa (resolución)"
      },
      {
        "value": "concesion-directa-convenio",
        "text": "Concesión directa (convenio)"
      }
    ]
  })  }}

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}