{# Titulo de pagina #}
{% set title = "Expediente - Comunicación - Documentos del expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/item-folder/_macro.item-folder.njk" import componentItemFolder %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set selectFuncion %}
  {{ componentSelect({
    "label": {
      "text": "Función del documento",
      "classes": "sr-only"
    },
    "id": "func-doc1",
    "name": "func-doc1",
    "classes": "c-select--sm w-full",
    "items": [
      {
        "value": 0,
        "text": "Selecciona...",
        "disabled": true
      },      
      {
        "value": 1,
        "text": "Adjunto",
        "selected": true
      },
      {
        "value": 2,
        "text": "Option 2"
      }
    ],
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    }
  })  }}
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar doc1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="M.46 10.596V2.304c0-.51.413-.922.922-.922h10.136c.509 0 .921.413.921.922v8.292a.921.921 0 0 1-.921.922H1.382a.921.921 0 0 1-.921-.922Z"/><path d="m.46 3.686 5.466 3.783a.921.921 0 0 0 1.048 0l5.465-3.783"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar comunicación
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#",
        "disabled": true,
        "classes": "ml-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Comunicar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
    <h2 class="c-h3 mb-base">Preparando comunicación</h2>
    {# Pasos #}
    <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-2/5">
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">1</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Documentos del expediente</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">2</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Metadatos</div>
      </div>
      <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-neutral-base"></div>
      <div class="flex items-center relative">
        <div class="rounded-full h-8 w-8 py-1 border-2 border-neutral-base bg-white text-neutral-base font-bold text-center leading-tight">3</div>
        <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-neutral-dark">Personas destinatarias</div>
      </div>
    </div>
    {# fin Pasos #}
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Documentos del expediente</h2>
  <p class="c-paragraph-base mb-sm"><strong>Selecciona todos los documentos para preparar la comunicación</strong></p>
  <p class="c-paragraph-base">Selecciona el documento correspondiente a la comunicación y, en su caso, los adjuntos.</p>
  <div class="mb-xl">
    {# Barra de Acciones documentos #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-documentos">
      <h4 id="acciones-documentos" class="sr-only">Selección sobre el listado de carpetas y documentos</h4>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentButton({
          "text": "Añadir a seleccionados",
          "classes": "c-button--primary c-button--sm mb-sm"
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones documentos #}
    {# Listado de carpetas y documentos #}
    <section aria-labelledby="documentos-expediente">
      <h2 id="documentos-expediente" class="sr-only">Listado de carpetas y documentos del expediente</h2>
      <ul aria-labelledby="descLista1">
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-1",
            "type": "folder",
            "title": {
              "text": "Carpeta 1"
            },
            "countText": {
              "text": "3 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-1",
                "caption": "Listado de Documentos de la Carpeta 1",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": 'Creación'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Actuaciones previas'
                    }
                  ],
                  [
                    {
                      "html": 'Descripción del documento'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Copia simple'
                    },
                    {
                      "html": 'Audiencia pública'
                    }
                  ],
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Solicitud'
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-2",
            "type": "folder",
            "title": {
              "text": "Carpeta 2"
            },
            "countText": {
              "text": "12 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-2",
                "caption": "Listado de Documentos de la Carpeta 2",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": 'Creación'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Actuaciones previas'
                    }
                  ],
                  [
                    {
                      "html": 'Descripción del documento'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Copia simple'
                    },
                    {
                      "html": 'Audiencia pública'
                    }
                  ],
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Solicitud'
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-3",
            "type": "folder",
            "title": {
              "text": "Carpeta 3"
            },
            "countText": {
              "text": "7 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-3",
                "caption": "Listado de Documentos de la Carpeta 3",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": 'Creación'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Actuaciones previas'
                    }
                  ],
                  [
                    {
                      "html": 'Descripción del documento'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Copia simple'
                    },
                    {
                      "html": 'Audiencia pública'
                    }
                  ],
                  [
                    {
                      "html": 'Documento de resolución'
                    },
                    {
                      "html": 'CSVK45WT8V57T110CPPC'
                    },
                    {
                      "html": '02/04/2024 14:02'
                    },
                    {
                      "html": tooltipTabla
                    },
                    {
                      "html": 'Original'
                    },
                    {
                      "html": 'Solicitud'
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {{ componentItemFolder({
            "id": "documento-expediente",
            "type": "document",
            "title": {
              "text": "Descripción del documento"
            },
            "descriptionList": {
              "classes": "lg:flex w-full",
              "items": [
                {
                  "term": {
                    "text": "CSV:"
                  },
                  "definition": {
                    "text": "CSVBA264ME75I1W0BENT"
                  },
                  "classes": "flex-auto lg:pl-base lg:w-1/4"
                },
                {
                  "term": {
                    "text": "Creación:"
                  },
                  "definition": {
                    "text": "21/02/2022 12:16"
                  },
                  "classes": "flex-auto lg:pl-base lg:w-1/7"
                },
                {
                  "term": {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  "definition": {
                    "text": "1520"
                  },
                  "classes": "flex-auto lg:pl-base lg:w-1/7"
                },
                {
                  "term": {
                    "text": "Tipo documento:"
                  },
                  "definition": {
                    "text": "Copia simple"
                  },
                  "classes": "flex-auto lg:pl-base lg:w-1/5"
                },
                {
                  "term": {
                    "text": "Fase:"
                  },
                  "definition": {
                    "text": "Actuaciones previas"
                  },
                  "classes": "flex-auto lg:pl-base lg:w-1/5"
                }
              ]
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  }}
        </li>
      </ul>
    </section>
    {# fin Listado de carpetas y documentos #}
  </div>  

  {# Listado documentos seleccionados #}
  {{ componentTable({
    "idPrefix": "documentos-seleccionados",
    "caption": "Documentos seleccionados",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Documento'
      },
      {
        "html": 'CSV'
      },
      {
        "html": '<abbr title="Procedimiento">Proc.</abbr>'
      },
      {
        "html": 'Fase'
      },
      {
        "html": 'Función del documento'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Documento de resolución',
          "attributes": {
            "id": "doc1"
          }
        },
        {
          "html": 'CSVBA26ME75I1W0BENT'
        },
        {
          "html": tooltipTabla
        },
        {
          "html": 'Actuaciones previas'
        },
        {
          "html": selectFuncion
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}
  {# fin Listado documentos seleccionados #}
  {# Mensaje cuando no hay documentos seleccionados #}
  <!--<p class="c-paragraph-base text-center">No se ha seleccionado ningún documento</p>-->

  <div class="pb-base"></div><!--espaciador-->

  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}