{# Titulo de pagina #}
{% set title = "Expediente - Notificación - Personas destinatarias - Interesados del expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set inputMail1 %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario1",
    "name": "mail-destinatario1",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "mmartinm@correo.es",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar1 %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{% set inputMail2 %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario2",
    "name": "mail-destinatario2",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "ssanchezs@correo.es",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar2 %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso2"
    }
  })  }}
{% endset %}
{% set inputMail3 %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario3",
    "name": "mail-destinatario3",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "ddomingezd@correo.es",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar3 %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso3"
    }
  })  }}
{% endset %}
{% set fechaEmision %}
  {{ componentDateInput({
    "id": "fecha-emision",
    "namePrefix": "fecha-emision",
    "fieldset": {
      "legend": {
        "html": 'Fecha de emisión de la notificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }}  
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="m.46 1.843 5.53 3.686 5.528-3.686"/><path d="M3.686 8.754H1.382a.921.921 0 0 1-.921-.922v-6.45c0-.509.412-.921.921-.921h9.214c.51 0 .922.412.922.921v2.764"/><path d="M9.214 12.44a3.225 3.225 0 1 0 0-6.45 3.225 3.225 0 0 0 0 6.45Z"/><path d="M9.214 10.827a.23.23 0 1 1 0-.46M9.214 10.827a.23.23 0 1 0 0-.46M9.214 7.602v1.382"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar notificación
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#",
        "classes": "ml-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Notificar",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      <h2 class="c-h3 mb-base">Preparando notificación</h2>
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-2/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Documentos del expediente</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Personas destinatarias</div>
        </div>
      </div>
      {# fin Pasos #}
      {# Menu horizontal #}
      <h2 class="c-h3 lg:mb-lg">Opciones de selección de personas destinatarias</h2>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Interesados del documento"
          },
          {
            "href": "#",
            "text": "Interesados del expediente",
            "active": true
          },
          {
            "href": "#",
            "text": "Añadir manualmente"
          }
        ],
        "attributes": {
          "aria-label": "Opciones de personas destinatarias"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Interesados del expediente</h2>

  {# Listado interesados #}
  <section aria-labelledby="interesados">
    <h3 id="interesados" class="sr-only">Selecciona los interesados del expediente</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-interesados",
          "name": "todos-interesados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "interesados",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Bortones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary"
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de interesados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-interesados",
      "hasCheckboxes": true,
      "caption": "Listado de interesados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre y apellidos/Razón social ',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Email',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Personalidad',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }          
        },
        {
          "html": 'En calidad de',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": 'Documento',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": '<abbr title="Número">Nº</abbr> Identificación',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": 'Julio Mieza Gil'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Julio Mieza Gil S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María Teresa González Martínez'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Hermanos Prado López S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Antonio Jesús Cordero Guijarro'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Gestoría Moreno'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María del Mar Rodriguez Montañes'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'EJ Sport C.B.2'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Nadia Pérez de la Fuente'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Comunidad vecinal'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de interesados #}
  </section>

  <div class="pb-xl"></div><!--espaciador-->
  
  {# Listado personas destinatarias #}
  {{ componentTable({
    "idPrefix": "personas-destinatarias",
    "caption": "Personas destinatarias seleccionadas",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Persona o entidad destinataria'
      },
      {
        "html": 'NIF'
      },
      {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Marta Martín Martínez',
          "attributes": {
            "id": "perso1"
          }
        },
        {
          "html": '12345678Z'
        },
        {
          "html": inputMail1
        },
        {
          "html": botonDescartar1
        }
      ],
      [
        {
          "html": 'Sancho Sanchez Sanchís',
          "attributes": {
            "id": "perso2"
          }
        },
        {
          "html": '21345678Z'
        },
        {
          "html": inputMail2
        },
        {
          "html": botonDescartar2
        }
      ],
      [
        {
          "html": 'Domingo Domínguez Domingues',
          "attributes": {
            "id": "perso3"
          }
        },
        {
          "html": '32145678Z'
        },
        {
          "html": inputMail3
        },
        {
          "html": botonDescartar3
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}

  <div class="pb-lg"></div><!--espaciador-->

  {# Radios misma notificacion #}
  {{ componentRadios({
    "idPrefix": "misma-notificacion",
    "name": "misma-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Es la misma notificación para todas las personas destinatarias? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "si",
        "html": 'Sí, es la misma notificación para todas las personas destinatarias'
      },
      {
        "value": "no",
        "html": 'No, es una notificación diferente para cada persona destinataria'
      }
    ]
  })  }} 
  
  {# Radios programacion emision #}
  {{ componentRadios({
    "idPrefix": "programar-notificacion",
    "name": "programar-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Quieres programar la emisión de la notificación? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "al-finalizar",
        "html": 'Emitir la notificación al finalizar la preparación',
        "hint": {
          "html": 'La notificación se emitirá directamente al finalizar la preparación.'
        }
      },
      {
        "value": "con-fecha",
        "html": 'Programar fecha de emisión para la notificación',
        "hint": {
          "html": 'La notificación se emitirá a las 00:00 horas de la fecha indicada.'
        },
        "conditional": {
          "html": fechaEmision
        }
      }
    ]
  })  }}  
  
  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}