{# Titulo de pagina #}
{% set title = "Expedientes - Subvenciones - Mensaje expediente general creado. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <div id="form-busqueda-avanzada" class="grid md:grid-cols-2 gap-x-7 py-base">
    <fieldset class="md:col-span-2 mb-lg">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimiento"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Número de expediente interno"
      },
      "id": "numexpint",
      "name": "numexpint",
      "placeholder": "Escribe el número de expediente interno",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción",
      "classes": "w-full"
    })  }}    
    <div class="grid lg:grid-cols-2 gap-x-2">   
      {{ componentSelect({
        "id": "select-agente",
        "name": "select-agente",
        "classes": "w-full",
        "label": {
          "text": "Agente"
        },
        "items": [
          {
            "value": 0,
            "text": "Seleccionar...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Aportador"
          },
          {
            "value": 2,
            "text": "Interesado"
          }
        ]
      }) }}       
      {{ componentInput({
        "label": {
          "text": "NIF o nombre del agente"
        },
        "id": "nif-nombre",
        "name": "nif-nombre",
        "placeholder": "Escribe el nombre o NIF del agente",
        "classes": "w-full"
      })  }} 
    </div>
    {{ componentSelect({
      "id": "select-estado",
      "name": "select-estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Abierto"
        },
        {
          "value": 2,
          "text": "Cerrado"
        },
        {
          "value": 3,
          "text": "En preparación"
        }
      ]
    }) }}   
    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "dateinput-ultima-consulta-desde",
        "namePrefix": "ultima-consulta-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha de última consulta: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "dateinput-ultima-consulta-hasta",
        "namePrefix": "ultima-consulta-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de última consulta: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {{ componentDateInput({
        "id": "dateinput-fecha-creacion-desde",
        "namePrefix": "fecha-creacion-desde",
        "fieldset": {
          "legend": {
            "text": "Fecha de creación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "dateinput-fecha-creacion-hasta",
        "namePrefix": "fecha-creacion-hasta",
        "fieldset": {
          "legend": {
            "text": "Fecha de creación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-ultima-consulta-desde",
        "name": "fecha-ultima-consulta-desde",
        "label": {
          "text": "Fecha de última consulta: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-ultima-consulta-hasta",
        "name": "fecha-ultima-consulta-hasta",
        "label": {
          "text": "Fecha de última consulta: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
    <div class="grid lg:grid-cols-2 gap-x-2">
      {% call componentDatepicker({
        "id": "datepicker-fecha-creacion-desde",
        "name": "fecha-creacion-desde",
        "label": {
          "text": "Fecha de creación: desde"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}   
      {% call componentDatepicker({
        "id": "datepicker-fecha-creacion-hasta",
        "name": "fecha-creacion-hasta",
        "label": {
          "text": "Fecha de creación: hasta"
        },
        "placeholder": "aaaa-mm-dd",
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
        <calendar-date min="2024-01-01" max="2024-12-31" locale="es-ES">
          <div slot="previous">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
          </div>
          <div slot="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
          </div>
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
    {{ componentCheckboxes({
      "idPrefix": "check-mostrar-expdtes",
      "name": "mostrar-expdtes",
      "formGroup": {
        "classes": "mb-base"
      },
      "items": [
        {
          "value": "proximos",
          "text": "Mostrar primero los próximos expedientes a gestionar"
        },
        {
          "value": "automaticos",
          "text": "Expedientes generados automáticamente"
        }
      ]
    }) }}
    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}


{# Contenido de la página #}
{% block contentBlock %}
  {# Notificacion Exito #}
  <div class="mb-lg">
    {{ componentNotification({
      "title": {
        "text": "Se ha creado correctamente el expediente"
      },
      "description": {
        "html": '<a class="c-link" href="#">Acceder al detalle del expediente ZA-SP-ENE-AT-2024</a>'
      },   
      "isDismissible": true,     
      "type": "success",
      "id": "type-success"
    }) }}
  </div>
  {# fin Notificacion Exito #}  
  <div class="lg:flex lg:flex-wrap w-full">
    <h1 class="c-h1 flex-1">Expedientes</h1>
    {# Filtros de Busqueda #}
    <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
      <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
      {{ componentAccordion({
        "idPrefix": "busquedas",
        "allowToggle": true,
        "items": [
          {
            "headerText": "Búsqueda por CSV del expediente",
            "html": formBusquedaCSV
          },
          {
            "headerText": "Búsqueda avanzada",
            "html": formBusquedaAvanzada
          }
        ]
      })  }}
    </section>
    {# fin Filtros de Busqueda #}
    {# Botones de accion de pagina #}
    <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="flex flex-wrap gap-sm">
        <li>
          {{ componentButton({
            "text": "Exportar en XLSX"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Nuevo expediente",
            "classes": "c-button--primary"
          })  }}
        </li>
      </ul>
    </section>
    {# fin Botones de accion de pagina #}
  </div>

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar los expedientes para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los expedientes con la casilla de verificación "Seleccionar todo".</p>
        <p>En la segunda columna tienes el enlace al detalle del expediente.</p>
        <p>La cabecera de las filas tiene opción de ordenación.</p>
        <p>La segunda fila tiene campos de formulario para filtrar los datos de cada columna. A medida que escriba dentro del campo de búsqueda los datos de la tabla se actualizarán automáticamente.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-expdtes",
        "name": "todos-expdtes",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-sm",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {% call componentDropdown({
            "text": "Descargar",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "descargar",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-descargar",
                "aria-label": "Descargar"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Documentos del expediente"
                },
                {
                  "href": "#",
                  "text": "Listado en formato CSV"
                },
                {
                  "href": "#",
                  "text": "Listado en formato JSON"
                },
                {
                  "href": "#",
                  "text": "Listado en formato XML"
                },
                {
                  "href": "#",
                  "text": "Listado en formato XLSX"
                }
              ]
            })  }}
          {% endcall %}  
        </li>
        <li>
          {{ componentButton({
            "text": "Autoasignar",
            "classes": "c-button--sm",
            "disabled": true
          })  }}
        </li>
        <li>
          {% call componentDropdown({
            "text": "Realizar consulta",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "realizar-consulta",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-realizar-consulta",
                "aria-label": "Realizar consulta"
              },
              "items": [
                {
                  "href": "#",
                  "text": "De personas interesadas"
                },
                {
                  "href": "#",
                  "text": "De representantes"
                }
              ]
            })  }}
          {% endcall %}  
        </li>
        <li>
          {{ componentButton({
            "text": "Solicitar informe",
            "classes": "c-button--sm"
          })  }}
        </li>
        <li>
          {% call componentDropdown({
            "text": "Cambiar estado",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "cambiar-estado",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-cambiar-estado",
                "aria-label": "Cambiar estado"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Abierto"
                },
                {
                  "href": "#",
                  "text": "Cerrado"
                }
              ]
            })  }}
          {% endcall %}  
        </li>
        <li>
          {% call componentDropdown({
            "text": "Editar metadatos",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "editar-metadatos",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-editar-metadatos",
                "aria-label": "Editar metadatos"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Gestionar visibilidad"
                },
                {
                  "href": "#",
                  "text": "Cambiar procedimiento"
                }
              ]
            })  }}
          {% endcall %}  
        </li>
        <li>
          {% call componentDropdown({
            "text": "Enviar",
            "classes": "c-dropdown--sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "enviar",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-enviar",
                "aria-label": "Enviar"
              },
              "items": [
                {
                  "href": "#",
                  "text": "A una bandeja personal"
                },
                {
                  "href": "#",
                  "text": "A organismos"
                }
              ]
            })  }}
          {% endcall %}  
        </li>
        <li>
          {{ componentButton({
            "text": "Añadir documentos",
            "classes": "c-button--sm"
          })  }}
        </li>
      </ul>      
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section class="max-w-full overflow-x-auto" aria-labelledby="expedientes">
    <h2 id="expedientes" class="sr-only">Listado de expedientes</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes",
      "hasCheckboxes": true,
      "checkboxesClasses": "w-16",
      "caption": "Listado de expedientes",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none",
          "hasFilter": true,
          "filterText": "Filtrar"
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none",
          "hasFilter": true,
          "filterText": "Filtrar"
        },
        {
          "html": 'Interesado',
          "orderBy": "none",
          "hasFilter": true,
          "filterText": "Filtrar"
        },
        {
          "html": 'Descripción',
          "orderBy": "none",
          "hasFilter": true,
          "filterText": "Filtrar"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "hasFilter": true,
          "filterText": "Filtrar"
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar estado...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Abierto"
              },
              {
                "value": 2,
                "text": "Anulado"
              },
              {
                "value": 3,
                "text": "Cerrado"
              },
              {
                "value": 4,
                "text": "En revisión"
              },
              {
                "value": 5,
                "text": "En preparación"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Sin interesados'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-alert-dark"></span>Anulado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Sin interesados'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-black"></span>Cerrado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Sin interesados'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>En preparación</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Sin interesados'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>En revisión</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Sin interesados'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "25",
      "hasSelect": true,
      "itemsPerPageSelector": {
        "items": [
          {
            "value": "10",
            "text": "10"
          },
          {
            "value": "25",
            "text": "25",
            "selected": true
          },
          {
            "value": "50",
            "text": "50"
          },
          {
            "value": "75",
            "text": "75"
          },
          {
            "value": "100",
            "text": "100"
          }
        ]
      },      
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}