{# Titulo de pagina #}
{% set title = "Expediente - Notificación - Personas destinatarias - Añadir manualmente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set personaFisica %}
  <div class="grid lg:grid-cols-3 gap-x-7 lg:w-3/4 mb-lg lg:mb-0">
    {{ componentInput({
      "label": {
        "html": 'Nombre <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-nombre-personaFisica",
      "name": "nombre-personaFisica",
      "classes": "w-full",
      "placeholder": "Escribe el nombre"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Primer apellido <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-apellido1-personaFisica",
      "name": "apellido1-personaFisica",
      "classes": "w-full",
      "placeholder": "Escribe el primer apellido"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Segundo apellido'
      },
      "id": "input-apellido2-personaFisica",
      "name": "apellido2-personaFisica",
      "classes": "w-full",
      "placeholder": "Escribe el segundo apellido"
    }) }}
    {{ componentSelect({
      "label": {
        "html": 'Tipo de identificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "items": [
        {
          "value": 1,
          "text": "NIF",
          "selected": true
        },
        {
          "value": 2,
          "text": "Pasaporte"
        }
      ],
      "id": "select-tipoId-personaFisica",
      "name": "tipoId-personaFisica",
      "classes": "w-full"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Número de identificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-numId-personaFisica",
      "name": "numId-personaFisica",
      "classes": "w-full",
      "placeholder": "Formato 00000000X"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-email-personaFisica",
      "name": "email-personaFisica",
      "classes": "w-full",
      "type": "email",
      "inputmode": "email",
      "placeholder": "Escribe el email"
    }) }}  
  </div>
  {{ componentRadios({
    "idPrefix": "anadir-representante-personaFisica",
    "name": "anadir-representante-personaFisica",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir a esta persona destinataria también como interesada o representante? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "anadir-interesado",
        "html": 'Añadir como persona interesada del documento de notificación y del expediente.'
      },
      {
        "value": "anadir-representante",
        "html": 'Añadir como representante del documento de notificación y del expediente.'
      },
      {
        "value": "no-anadir",
        "html": 'No añadir como persona interesada o representante.'
      }
    ]
  })  }} 
  {{ componentButton({
    "text": "Añadir a seleccionados",
    "classes": "mt-base"
  }) }}
{% endset %}
{% set personaJuridica %}
  <div class="grid lg:grid-cols-3 gap-x-7 lg:w-3/4 mb-lg lg:mb-0">
    {{ componentInput({
      "label": {
        "html": 'Razón social <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-rsocial-personaJuridica",
      "name": "rsocial-personaJuridica",
      "classes": "w-full",
      "placeholder": "Escribe la razón social"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'NIF <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-nif-personaJuridica",
      "name": "nif-personaJuridica",
      "classes": "w-full",
      "placeholder": "Formato 00000000X"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-email-personaJuridica",
      "name": "email-personaJuridica",
      "classes": "w-full",
      "type": "email",
      "inputmode": "email",
      "placeholder": "Escribe el email"
    }) }}  
  </div>
  {{ componentRadios({
    "idPrefix": "anadir-representante-personaJuridica",
    "name": "anadir-representante-personaJuridica",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir a esta persona destinataria también como interesada o representante? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "anadir-interesado",
        "html": 'Añadir como persona interesada del documento de notificación y del expediente.'
      },
      {
        "value": "anadir-representante",
        "html": 'Añadir como representante del documento de notificación y del expediente.'
      },
      {
        "value": "no-anadir",
        "html": 'No añadir como persona interesada o representante.'
      }
    ]
  })  }} 
  {{ componentButton({
    "text": "Añadir a seleccionados",
    "classes": "mt-base"
  }) }}
{% endset %}
{% set admonOrganismo %}
  <div class="grid lg:grid-cols-3 gap-x-7 lg:w-3/4 mb-lg">
    {{ componentInput({
      "label": {
        "html": 'Denominación de la Administración u organismos'
      },
      "id": "input-admon-organismo",
      "name": "admon-organismo",
      "classes": "w-full",
      "placeholder": "Escribe el nombre",
      "formGroup": {
        "classes": "lg:col-span-2"
      }
    }) }}
    {{ componentInput({
      "label": {
        "html": 'DIR3 del órgano destinatario'
      },
      "id": "input-dir3-organismo",
      "name": "dir3-organismo",
      "classes": "w-full",
      "placeholder": "Escribe el nombre"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Denominación del órgano destinatario'
      },
      "id": "input-organo-destinatario-organismo",
      "name": "organo-destinatario-organismo",
      "classes": "w-full",
      "placeholder": "Escribe el nombre",
      "formGroup": {
        "classes": "lg:col-span-2"
      }
    }) }}
    {{ componentInput({
      "label": {
        "html": 'NIF <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-nif-organismo",
      "name": "nif-organismo",
      "classes": "w-full",
      "placeholder": "Formato 00000000X"
    }) }}
    {{ componentInput({
      "label": {
        "html": 'Email de aviso <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "id": "input-email-organismo",
      "name": "email-organismo",
      "classes": "w-full",
      "type": "email",
      "inputmode": "email",
      "placeholder": "Escribe el email"
    }) }}  
  </div>
  {{ componentRadios({
    "idPrefix": "anadir-representante-organismo",
    "name": "anadir-representante-organismo",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir a esta persona destinataria también como interesada o representante? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "anadir-interesado",
        "html": 'Añadir como persona interesada del documento de notificación y del expediente.'
      },
      {
        "value": "anadir-representante",
        "html": 'Añadir como representante del documento de notificación y del expediente.'
      },
      {
        "value": "no-anadir",
        "html": 'No añadir como persona interesada o representante.'
      }
    ]
  })  }} 
  {{ componentButton({
    "text": "Añadir a seleccionados",
    "classes": "mt-base"
  }) }}
{% endset %}
{% set inputMail %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario",
    "name": "mail-destinatario",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "placeholder": "Introduce el email",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{% set fechaEmision %}
  {{ componentDateInput({
    "id": "fecha-emision",
    "namePrefix": "fecha-emision",
    "fieldset": {
      "legend": {
        "html": 'Fecha de emisión de la notificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "name": "dia",
        "classes": "w-14",
        "label": {
          "text": "Día",
          "classes": "text-sm"
        },        
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "mes",
        "classes": "w-14",
        "label": {
          "text": "Mes",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "2"
        }
      },
      {
        "name": "año",
        "classes": "w-20",
        "label": {
          "text": "Año",
          "classes": "text-sm"
        },         
        "attributes": {
          "maxlength": "4"
        }
      }
    ]
  }) }}  
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="m.46 1.843 5.53 3.686 5.528-3.686"/><path d="M3.686 8.754H1.382a.921.921 0 0 1-.921-.922v-6.45c0-.509.412-.921.921-.921h9.214c.51 0 .922.412.922.921v2.764"/><path d="M9.214 12.44a3.225 3.225 0 1 0 0-6.45 3.225 3.225 0 0 0 0 6.45Z"/><path d="M9.214 10.827a.23.23 0 1 1 0-.46M9.214 10.827a.23.23 0 1 0 0-.46M9.214 7.602v1.382"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar notificación
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "href": "#",
        "classes": "ml-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Notificar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      <h2 class="c-h3 mb-base">Preparando notificación</h2>
      {# Pasos #}
      <div class="lg:flex items-center mx-10 p-4 mb-9 lg:mb-20 lg:w-2/5">
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">1</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Documentos del expediente</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-white text-primary-base font-bold text-center leading-tight">2</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base"><a href="#" class="c-link">Metadatos</a></div>
        </div>
        <div class="lg:flex-auto h-10 lg:h-0 ml-3.5 lg:ml-0 border-l-4 lg:border-l-0 lg:border-t-4 border-primary-base"></div>
        <div class="flex items-center relative">
          <div class="rounded-full h-8 w-8 py-1 border-2 border-primary-base bg-primary-base text-white font-bold text-center leading-tight">3</div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 lg:w-36 text-primary-base font-bold">Personas destinatarias</div>
        </div>
      </div>
      {# fin Pasos #}
      {# Menu horizontal #}
      <h2 class="c-h3 lg:mb-lg">Opciones de selección de personas destinatarias</h2>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Interesados del documento"
          },
          {
            "href": "#",
            "text": "Interesados del expediente"
          },
          {
            "href": "#",
            "text": "Añadir manualmente",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Opciones de personas destinatarias"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Añadir manualmente</h2>
  <p class="c-paragraph-base">Todos los campos marcados con un asterisco (*) son obligatorios.</p>

  {# Radios tipo destinatario #}
  {{ componentRadios({
    "idPrefix": "tipo-destinatario",
    "name": "tipo-destinatario",
    "fieldset": {
      "legend": {
        "html": 'Tipo destinatario',
        "classes": "sr-only"
      }
    },
    "items": [
      {
        "value": "persona-fisica",
        "html": 'Persona física',
        "classes": "font-semibold",
        "conditional": {
          "html": personaFisica
        }
      },
      {
        "value": "persona-juridica",
        "html": 'Persona jurídica',
        "classes": "font-semibold",
        "conditional": {
          "html": personaJuridica
        }
      },
      {
        "value": "administraciones-organismos",
        "html": 'Administraciones u organismos públicos (DIR3)',
        "classes": "font-semibold",
        "conditional": {
          "html": admonOrganismo
        }
      }
    ]
  })  }}   

  {# Listado personas destinatarias #}
  {{ componentTable({
    "idPrefix": "personas-destinatarias",
    "caption": "Personas destinatarias seleccionadas",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Persona o entidad destinataria'
      },
      {
        "html": 'NIF'
      },
      {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Marta Martín Martínez',
          "attributes": {
            "id": "perso1"
          }
        },
        {
          "html": '12345678Z'
        },
        {
          "html": inputMail
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}

  <div class="pb-lg"></div><!--espaciador-->

  {# Radios misma notificacion #}
  {{ componentRadios({
    "idPrefix": "misma-notificacion",
    "name": "misma-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Es la misma notificación para todas las personas destinatarias? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "si",
        "html": 'Sí, es la misma notificación para todas las personas destinatarias'
      },
      {
        "value": "no",
        "html": 'No, es una notificación diferente para cada persona destinataria'
      }
    ]
  })  }} 
  
  {# Radios programacion emision #}
  {{ componentRadios({
    "idPrefix": "programar-notificacion",
    "name": "programar-notificacion",
    "fieldset": {
      "legend": {
        "html": '¿Quieres programar la emisión de la notificación? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "c-h3 mb-xs"
      }
    },
    "items": [
      {
        "value": "al-finalizar",
        "html": 'Emitir la notificación al finalizar la preparación',
        "hint": {
          "html": 'La notificación se emitirá directamente al finalizar la preparación.'
        }
      },
      {
        "value": "con-fecha",
        "html": 'Programar fecha de emisión para la notificación',
        "hint": {
          "html": 'La notificación se emitirá a las 00:00 horas de la fecha indicada.'
        },
        "conditional": {
          "html": fechaEmision
        }
      }
    ]
  })  }}  
  
  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Atrás",
        "classes": "c-button--transparent"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}