{# Titulo de pagina #}
{% set title = "Expedientes - Subvenciones - Detalle expediente general - Información económica - Editar información. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set radioPlurianual %}
  {{ componentInput({
    "id": "input-anio-finalizacion",
    "name": "anio-finalizacion",
    "label": {
      "text": "Año de finalización"
    },
    "value": "2026"
  }) }}
{% endset %}
{% set inputAppDescripcion %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea",
    "name": "descripcion-linea",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Desarrollo y Mejora de Funcionalidades"
  }) }}  
{% endset %}
{% set inputAppDescripcion2 %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea2",
    "name": "descripcion-linea2",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Difusión"
  }) }}  
{% endset %}
{% set inputAppDescripcion3 %}
  {{ componentInput({
    "label": {
      "html": 'Descripción de la línea',
      "classes": "sr-only"
    },
    "id": "input-descripcion-linea3",
    "name": "descripcion-linea3",
    "classes": "c-input--sm w-full !font-normal",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "Mantenimiento"
  }) }}  
{% endset %}
{% set inputAppImporte %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app",
    "name": "importe-app",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "100.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte2 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app2",
    "name": "importe-app2",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set inputAppImporte3 %}
  {{ componentInput({
    "label": {
      "html": 'Importe',
      "classes": "sr-only"
    },
    "id": "input-importe-app3",
    "name": "importe-app3",
    "classes": "c-input--sm w-full !font-normal text-right",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "value": "30.000,00€"
  }) }}  
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar csv1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-sm flex-1 lg:place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2024</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-dark"></span>Abierto</p></div>
          <p class="py-xs">Asignado a: Sara Pérez Pérez</p>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de cierre',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "20/06/2024"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "-"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "D.G. de Administración Electrónica y Aplicaciones Corporativas"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Asignar expediente",
                "classes": "c-dropdown--sm mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "asignar-expdte",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-asignar-expdte",
                    "aria-label": "Asignar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Autoasignar"
                    },
                    {
                      "href": "#",
                      "text": "Asignar a otra persona"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Solicitar informe",
                "classes": "c-dropdown--sm mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "solicitar-informe",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-solicitar-informe",
                    "aria-label": "Solicitar informe del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Del expediente"
                    },
                    {
                      "href": "#",
                      "text": "De documentos"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "c-dropdown--sm mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "c-dropdown--sm mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Datos de la subvención",
            "active": true
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Consultas"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menú del expediente"
        }
      })  }}
      {# fin Menu expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="lg:flex items-center mb-lg">
    <h2 class="c-h3 lg:mb-0 flex-1">Datos de la subvención <span class="font-normal text-sm bg-primary-light px-xs py-0.5 ml-base leading-8">Expediente general</span></h2>
    <div class="lg:ml-base">
      {{ componentButton({
        "text": "Editar datos",
        "classes": "c-button--sm"
      }) }}
    </div>
  </div>

  <h3 class="c-h4 mb-base">Información general de la subvención</h3>
  {{ componentDescriptionList({
    "classes": "w-full",
    "items": [
      {
        "term": {
          "html": 'Ejercicio',
          "classes": "lg:w-1/4 text-sm text-neutral-dark font-semibold"
        },
        "definition": {
          "html": '2024',
          "classes": "lg:flex-1 text-sm text-neutral-dark"
        },
        "classes": "lg:flex mb-base"
      },
      {
        "term": {
          "html": 'Centro gestor',
          "classes": "lg:w-1/4 text-sm text-neutral-dark font-semibold"
        },
        "definition": {
          "html": 'D12080 – D.G. de Administración Electrónica y Aplicaciones Corporativas',
          "classes": "lg:flex-1 text-sm text-neutral-dark"
        },
        "classes": "lg:flex mb-base"
      },
      {
        "term": {
          "html": 'Sociedad',
          "classes": "lg:w-1/4 text-sm text-neutral-dark font-semibold"
        },
        "definition": {
          "html": 'DGA – GOBIERNO DE ARAGÓN',
          "classes": "lg:flex-1 text-sm text-neutral-dark"
        },
        "classes": "lg:flex mb-base"
      },
      {
        "term": {
          "html": 'Procedimiento de concesión',
          "classes": "lg:w-1/4 text-sm text-neutral-dark font-semibold"
        },
        "definition": {
          "html": 'Concurrencia competitiva',
          "classes": "lg:flex-1 text-sm text-neutral-dark"
        },
        "classes": "lg:flex mb-base"
      }
    ]
  })  }} 

  <div class="pb-lg"></div><!--espaciador-->     

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--navigation-bar mb-lg",
    "items": [
      {
        "href": "#",
        "text": "Información económica",
        "active": true
      },
      {
        "href": "#",
        "text": "BDNS"
      },
      {
        "href": "#",
        "text": "Documentos contables"
      },
      {
        "href": "#",
        "text": "Expedientes de solicitantes"
      }
    ],
    "attributes": {
      "id": "mi-menu-navigation-bar",
      "aria-label": "Menu horizontal"
    }
  }) }}

  <div class="lg:flex items-center mb-base">
    <h3 class="c-h4 lg:mb-0 flex-1">Información económica</h3>
    <div class="lg:ml-base">
      <ul class="flex flex-wrap gap-sm">
        <li>
          {{ componentButton({
            "text": "Cancelar",
            "classes": "c-button--sm"
          }) }}        
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar",
            "classes": "c-button--primary c-button--sm"
          }) }}        
        </li>
      </ul>   
    </div>
  </div>
  {{ componentRadios({
    "idPrefix": "radio-vigencia",
    "name": "vigencia",
    "fieldset": {
      "legend": {
        "html": 'Vigencia <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "anual",
        "text": "Anual"
      },
      {
        "value": "plurianual",
        "text": "Plurianual",
        "checked": true,
        "conditional": {
          "html": radioPlurianual
        }
      }
    ],
    "attributes": {
      "aria-required": true
    },
    "formGroup": {
      "classes": "pt-sm mb-0"
    }
  }) }}
  {{ componentRadios({
    "idPrefix": "radio-tramitacion-anticipadad",
    "name": "tramitacion-anticipadad",
    "fieldset": {
      "legend": {
        "html": '¿Es de tramitación anticipada? <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "si",
        "text": "Sí"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ],
    "attributes": {
      "aria-required": true
    },
    "formGroup": {
      "classes": "pt-sm mb-0"
    }
  }) }}   

  <div class="pb-lg"></div><!--espaciador-->   

  <div class="lg:flex items-center mb-sm">
    <h3 class="c-h4 lg:mb-0 flex-1">Aplicaciones presupuestarias</h3>
    <div class="lg:ml-base">
      {{ componentButton({
        "text": "Añadir aplicación",
        "classes": "c-button--sm"
      }) }}
    </div>
  </div>
  {{ componentTable({
    "idPrefix": "aplicaciones-presupuestarias",
    "caption": "listado de aplicaciones presupuestarias",
    "captionClasses": "sr-only",
    "head": [
      {
        "html": 'Ejercicio',
        "classes": "w-2"
      },
      {
        "html": 'Descripción de la línea'
      },
      {
        "html": 'Posición presupuestaria'
      },
      {
        "html": 'Elemento PEP'
      },
      {
        "html": 'Importe'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>',
        "classes": "w-2"
      }
    ],
    "rows": [
      [
        {
          "html": '2024',
          "attributes": {
            "id": "csv1"
          }
        },
        {
          "html": inputAppDescripcion
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte
        },
        {
          "html": botonDescartar
        }
      ],
      [
        {
          "html": '2025',
          "attributes": {
            "id": "csv2"
          }
        },
        {
          "html": inputAppDescripcion2
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte2
        },
        {
          "html": botonDescartar
        }
      ],
      [
        {
          "html": '2026',
          "attributes": {
            "id": "csv3"
          }
        },
        {
          "html": inputAppDescripcion3
        },
        {
          "html": 'G/5424/227006/91002'
        },
        {
          "html": '2016/000329'
        },
        {
          "html": inputAppImporte3
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "foot": [
      {
        "text": "Total",
        "classes": "uppercase font-semibold"
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": ""
      },
      {
        "text": "160.000,00€",
        "classes": "font-semibold text-right"
      },
      {
        "text": ""
      }
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}

{% endblock %}
{# fin Contenido de la página #}