{# Titulo de pagina #}
{% set title = "Muro - Mensajes de aviso. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.muro.njk" %}

{# Dependencias #}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}

{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="c-h2">Mensajes de aviso en Muro</h1>
  
  <p class="c-paragraph-base font-bold">Expedientes | Autoasignación de Expedientes</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'Los siguientes expedientes se te han asignado correctamente:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "success",
      "id": "notific-success-1",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No se te han podido asignar los siguientes expedientes:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "alert",
      "id": "notific-alert-1",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Expedientes | Asignación de Expedientes</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'Los siguientes expedientes se han asignado correctamente:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "success",
      "id": "notific-success-2",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No se han podido asignar los siguientes expedientes:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "alert",
      "id": "notific-alert-2",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Detalle expediente | Autoasignación de un expediente</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'Se te ha asignado el expediente correctamente'
      },
      "type": "success",
      "id": "notific-success-3",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No se te ha podido asignar el expediente'
      },
      "type": "alert",
      "id": "notific-alert-3",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Detalle expediente | Asignación de un expediente</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'Se ha asignado el expediente correctamente'
      },
      "type": "success",
      "id": "notific-success-4",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No se ha podido asignar el expediente'
      },
      "type": "alert",
      "id": "notific-alert-4",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Expedientes |Cerrados</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No es posible asignar este expediente ya que está cerrado'
      },
      "type": "alert",
      "id": "notific-alert-5",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No es posible asignar los siguientes expedientes ya que están cerrados:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "alert",
      "id": "notific-alert-6",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Expedientes |Anulados</p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No es posible asignar este expediente ya que está anulado'
      },
      "type": "alert",
      "id": "notific-alert-7",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No es posible asignar los siguientes expedientes ya que están anulados:'
      },
      "description": {
        "html": '<a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-014</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-015</a> , <a href="#" class="c-link">Expediente ZA-SP-ENE-AT-2020-016</a>.'
      },
      "type": "alert",
      "id": "notific-alert-8",
      "isDismissible": true
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="c-paragraph-base font-bold">Expedientes |Notas </p>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'No se ha podido añadir tu nota'
      },
      "type": "alert",
      "id": "notific-alert-9",
      "isDismissible": true
    })  }}
  </div>
  <div role="alert" aria-live="assertive" class=" mb-base">
    {{ componentNotification({
      "title": {
        "html": 'Nota actualizada correctamente'
      },
      "type": "success",
      "id": "notific-success-5",
      "isDismissible": true
    })  }}
  </div>

{% endblock %}
{# fin Contenido de la página #}