{# Titulo de pagina #}
{% set title = "Muro - Listado de avisos - Para mí. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.muro.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <h1 class="c-h1">Avisos</h1>
      {# Menu de Avisos #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Avisos para mí (3 nuevos)",
            "active": true
          },
          {
            "href": "#",
            "text": "Avisos de la herramienta"
          }
        ],
        "attributes": {
          "aria-label": "Menu de Avisos"
        }
      })  }}
      {# fin Menu de Avisos #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h3 mb-lg">Avisos para mí</h2>
  
  {# Filtros de busqueda y Ordenacion #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="filtros-orden">
    <h2 id="filtros-orden" class="sr-only">Filtros de búsqueda y ordenación sobre el listado de avisos</h2>
    <div class="lg:flex mb-sm">
      <span class="lg:pt-px">Filtrar por:</span>
      {{ componentMenubar({
        "id": "menu-filtros",
        "idPrefix": "filter-menu",
        "ariaLabel": "Menú de filtros",
        "classes": "lg:ml-sm mt-sm lg:mt-0",
        "items": [
          {
            "text": "Apartado",
            "ariaLabel": "Apartado",
            "id": "menu-apartado",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Todos los apartados",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Expedientes"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Bandejas"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Documentos"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Notificaciones"
                }
              ]
            }
          },
          {
            "text": "Estado",
            "ariaLabel": "Estado",
            "id": "menu-estado",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Todos los estados",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Leídos"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "No leídos"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Ocultos"
                }
              ]
            }
          },
          {
            "text": "Personas",
            "ariaLabel": "Personas",
            "id": "menu-personas",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Todas las personas",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Marta Martín Martínez"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Sara Pérez Pérez"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Gonzalo González Gonzo"
                }
              ]
            }
          },
          {
            "text": "Eliminar filtros",
            "ariaLabel": "Eliminar filtros",
            "id": "menu-eliminar-filtros",
            "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
            "href": "#"
          }
        ]
      })  }}      
    </div>
    <div class="lg:flex lg:ml-auto lg:pl-base mb-sm">
      {{ componentListbox({
        "id": "orden-avisos",
        "text": "Fecha (más reciente primero)",
        "label": {
          "text": "Ordenar por:",
          "classes": "lg:float-left lg:pt-px"
        },
        "doesChangeButtonText": true,
        "classes": "c-listbox--sm mb-sm lg:ml-sm",
        "items": [
          {
            "href": "#",
            "html": "Fecha (más reciente primero)"
          },
          {
            "href": "#",
            "text": "Fecha (más antiguo primero)"
          }
        ]
      })  }}             
    </div>
  </section>
  {# fin Filtros de busqueda y Ordenacion #}

  <section class="mb-base" aria-labelledby="listado-avisos">
    <h2 id="listado-avisos" class="sr-only">Listado de avisos</h2>
    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso1" class="c-h4 lg:flex-1 mb-base">17 abril 2022</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-alert-light px-xs py-px font-semibold">Consejo de Gobierno</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>No leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.05em" class="mt-1" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.44.02A7.003 7.003 0 0 0 .062 7.945a7.01 7.01 0 0 0 5.755 5.957 6.994 6.994 0 0 0 4.326-.646 7.03 7.03 0 0 0 2.95-2.804c.501-.881.83-1.964.888-2.93a.67.67 0 0 1 .021-.165c.007-.004.012-.173.012-.374 0-.202-.006-.359-.012-.349-.007.011-.016-.05-.021-.147-.056-.963-.385-2.053-.888-2.937A7.019 7.019 0 0 0 7.945.062 7.808 7.808 0 0 0 6.44.021m.133.995c-.585.056-.949.127-1.405.274A5.876 5.876 0 0 0 2.816 2.71 5.906 5.906 0 0 0 1.29 5.168c-.122.38-.2.746-.257 1.202a10.815 10.815 0 0 0 0 1.26c.092.744.267 1.356.569 1.981a6.031 6.031 0 0 0 1.835 2.213 6.009 6.009 0 0 0 2.485 1.075c.406.075.547.086 1.078.086s.672-.011 1.078-.086a5.998 5.998 0 0 0 4.821-4.821c.075-.406.086-.547.086-1.078s-.011-.672-.086-1.078a6.008 6.008 0 0 0-4.856-4.829 4.77 4.77 0 0 0-.966-.078 13.334 13.334 0 0 0-.504.001m.25 2.252a.77.77 0 0 0-.44.307.743.743 0 0 0-.059.751.885.885 0 0 0 .32.34c.207.11.506.11.707.001a.758.758 0 0 0 .267-1.092.756.756 0 0 0-.795-.307m-.895 2.738a.517.517 0 0 0-.378.276c-.037.073-.041.095-.041.214 0 .115.005.144.037.213.048.101.146.199.247.247.078.036.088.037.391.041l.312.005v2.49h-.487c-.267 0-.526.006-.574.013a.5.5 0 0 0-.143.951l.077.037 1.602.004c1.78.004 1.683.009 1.817-.09a.57.57 0 0 0 .19-.248.744.744 0 0 0 .016-.17.382.382 0 0 0-.037-.192.575.575 0 0 0-.238-.247c-.102-.05-.204-.057-.728-.058h-.487V7.99c0-1.026-.005-1.53-.015-1.585a.424.424 0 0 0-.136-.255.483.483 0 0 0-.287-.145 14.408 14.408 0 0 0-1.138 0M.006 7c0 .204.002.288.004.186a9.583 9.583 0 0 0 0-.372C.008 6.712.006 6.796.006 7"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Se ha modificado la convocatoria.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn1",
                "aria-labelledby": "aviso1-btn1 aviso1"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn2",
                "aria-labelledby": "aviso1-btn2 aviso1"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder a la convocatoria",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn3",
                "aria-labelledby": "aviso1-btn3 aviso1"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso1" class="c-h4 lg:flex-1 mb-base">17 abril 2022</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-alert-light px-xs py-px font-semibold">Consejo de Gobierno</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.05em" class="mt-1" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.44.02A7.003 7.003 0 0 0 .062 7.945a7.01 7.01 0 0 0 5.755 5.957 6.994 6.994 0 0 0 4.326-.646 7.03 7.03 0 0 0 2.95-2.804c.501-.881.83-1.964.888-2.93a.67.67 0 0 1 .021-.165c.007-.004.012-.173.012-.374 0-.202-.006-.359-.012-.349-.007.011-.016-.05-.021-.147-.056-.963-.385-2.053-.888-2.937A7.019 7.019 0 0 0 7.945.062 7.808 7.808 0 0 0 6.44.021m.133.995c-.585.056-.949.127-1.405.274A5.876 5.876 0 0 0 2.816 2.71 5.906 5.906 0 0 0 1.29 5.168c-.122.38-.2.746-.257 1.202a10.815 10.815 0 0 0 0 1.26c.092.744.267 1.356.569 1.981a6.031 6.031 0 0 0 1.835 2.213 6.009 6.009 0 0 0 2.485 1.075c.406.075.547.086 1.078.086s.672-.011 1.078-.086a5.998 5.998 0 0 0 4.821-4.821c.075-.406.086-.547.086-1.078s-.011-.672-.086-1.078a6.008 6.008 0 0 0-4.856-4.829 4.77 4.77 0 0 0-.966-.078 13.334 13.334 0 0 0-.504.001m.25 2.252a.77.77 0 0 0-.44.307.743.743 0 0 0-.059.751.885.885 0 0 0 .32.34c.207.11.506.11.707.001a.758.758 0 0 0 .267-1.092.756.756 0 0 0-.795-.307m-.895 2.738a.517.517 0 0 0-.378.276c-.037.073-.041.095-.041.214 0 .115.005.144.037.213.048.101.146.199.247.247.078.036.088.037.391.041l.312.005v2.49h-.487c-.267 0-.526.006-.574.013a.5.5 0 0 0-.143.951l.077.037 1.602.004c1.78.004 1.683.009 1.817-.09a.57.57 0 0 0 .19-.248.744.744 0 0 0 .016-.17.382.382 0 0 0-.037-.192.575.575 0 0 0-.238-.247c-.102-.05-.204-.057-.728-.058h-.487V7.99c0-1.026-.005-1.53-.015-1.585a.424.424 0 0 0-.136-.255.483.483 0 0 0-.287-.145 14.408 14.408 0 0 0-1.138 0M.006 7c0 .204.002.288.004.186a9.583 9.583 0 0 0 0-.372C.008 6.712.006 6.796.006 7"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Se ha abierto una nueva convocatoria</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como no leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn1",
                "aria-labelledby": "aviso1-btn1 aviso1"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn2",
                "aria-labelledby": "aviso1-btn2 aviso1"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder a la convocatoria",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn3",
                "aria-labelledby": "aviso1-btn3 aviso1"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso1" class="c-h4 lg:flex-1 mb-base">17 abril 2022</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-alert-light px-xs py-px font-semibold">Consejo de Gobierno</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.05em" class="mt-1" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.44.02A7.003 7.003 0 0 0 .062 7.945a7.01 7.01 0 0 0 5.755 5.957 6.994 6.994 0 0 0 4.326-.646 7.03 7.03 0 0 0 2.95-2.804c.501-.881.83-1.964.888-2.93a.67.67 0 0 1 .021-.165c.007-.004.012-.173.012-.374 0-.202-.006-.359-.012-.349-.007.011-.016-.05-.021-.147-.056-.963-.385-2.053-.888-2.937A7.019 7.019 0 0 0 7.945.062 7.808 7.808 0 0 0 6.44.021m.133.995c-.585.056-.949.127-1.405.274A5.876 5.876 0 0 0 2.816 2.71 5.906 5.906 0 0 0 1.29 5.168c-.122.38-.2.746-.257 1.202a10.815 10.815 0 0 0 0 1.26c.092.744.267 1.356.569 1.981a6.031 6.031 0 0 0 1.835 2.213 6.009 6.009 0 0 0 2.485 1.075c.406.075.547.086 1.078.086s.672-.011 1.078-.086a5.998 5.998 0 0 0 4.821-4.821c.075-.406.086-.547.086-1.078s-.011-.672-.086-1.078a6.008 6.008 0 0 0-4.856-4.829 4.77 4.77 0 0 0-.966-.078 13.334 13.334 0 0 0-.504.001m.25 2.252a.77.77 0 0 0-.44.307.743.743 0 0 0-.059.751.885.885 0 0 0 .32.34c.207.11.506.11.707.001a.758.758 0 0 0 .267-1.092.756.756 0 0 0-.795-.307m-.895 2.738a.517.517 0 0 0-.378.276c-.037.073-.041.095-.041.214 0 .115.005.144.037.213.048.101.146.199.247.247.078.036.088.037.391.041l.312.005v2.49h-.487c-.267 0-.526.006-.574.013a.5.5 0 0 0-.143.951l.077.037 1.602.004c1.78.004 1.683.009 1.817-.09a.57.57 0 0 0 .19-.248.744.744 0 0 0 .016-.17.382.382 0 0 0-.037-.192.575.575 0 0 0-.238-.247c-.102-.05-.204-.057-.728-.058h-.487V7.99c0-1.026-.005-1.53-.015-1.585a.424.424 0 0 0-.136-.255.483.483 0 0 0-.287-.145 14.408 14.408 0 0 0-1.138 0M.006 7c0 .204.002.288.004.186a9.583 9.583 0 0 0 0-.372C.008 6.712.006 6.796.006 7"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Hay asuntos asignados a esta convocatoria pendientes de validar. El plazo para presentar asuntos finaliza a las 12:00.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como no leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn1",
                "aria-labelledby": "aviso1-btn1 aviso1"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn2",
                "aria-labelledby": "aviso1-btn2 aviso1"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder a la convocatoria",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso1-btn3",
                "aria-labelledby": "aviso1-btn3 aviso1"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso2" class="c-h4 lg:flex-1 mb-base">Notificación: lista provisional de personas admitidas</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-info-light px-xs py-px font-semibold">Notificaciones</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.1em" class="mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.888.988a1.68 1.68 0 0 0-.378.079c-.312.109-.576.31-.748.571-.13.197-5.364 9.184-5.406 9.283-.087.205-.11.33-.11.58.002.195.007.242.04.364.094.36.321.681.624.882.212.142.415.216.665.245.174.02 10.676.02 10.85 0 .25-.029.453-.103.665-.245a1.54 1.54 0 0 0 .625-.882c.031-.12.037-.17.038-.364a1.227 1.227 0 0 0-.11-.58c-.041-.1-5.274-9.086-5.405-9.283a1.496 1.496 0 0 0-.937-.623 2.132 2.132 0 0 0-.413-.027M6.879 2a.501.501 0 0 0-.232.14c-.068.073-5.312 9.048-5.37 9.192a.362.362 0 0 0-.029.189.49.49 0 0 0 .29.433l.079.037h10.767l.092-.046a.48.48 0 0 0 .275-.424.345.345 0 0 0-.028-.189c-.058-.144-5.302-9.119-5.37-9.193a.444.444 0 0 0-.324-.145.702.702 0 0 0-.15.006m.035 2.508a.528.528 0 0 0-.36.26c-.059.117-.06.147-.055 1.91l.004 1.687.04.087c.048.103.16.216.257.259a.552.552 0 0 0 .43-.014.615.615 0 0 0 .227-.245l.04-.087.004-1.687c.003-1.226 0-1.71-.012-1.77a.45.45 0 0 0-.147-.269.496.496 0 0 0-.428-.13m-.02 4.997a.769.769 0 0 0-.637.623.764.764 0 0 0 .521.84c.12.036.324.036.444 0a.784.784 0 0 0 .521-.607.759.759 0 0 0-.85-.856"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Ha fallado el proceso de emisión de esta comunicación programada.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como no leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso2-btn1",
                "aria-labelledby": "aviso2-btn1 aviso2"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso2-btn2",
                "aria-labelledby": "aviso2-btn2 aviso2"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder a la notificación",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso2-btn3",
                "aria-labelledby": "aviso2-btn3 aviso2"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso3" class="c-h4 lg:flex-1 mb-base">Envío de informe de resolución (asunto del envío)</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-warning-light px-xs py-px font-semibold">Bandejas</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>No leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.1em" class="mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M13.404 1.008a.544.544 0 0 0-.243.124c-.03.028-1.938 2.355-4.241 5.17a832.3 832.3 0 0 1-4.234 5.155.453.453 0 0 1-.304.1c-.211 0-.105.084-1.925-1.51A139.052 139.052 0 0 0 .77 8.58a.492.492 0 0 0-.62.066.642.642 0 0 0-.105.144c-.033.069-.038.094-.038.211 0 .118.005.142.04.21a.65.65 0 0 0 .07.11c.051.058 3.272 2.874 3.376 2.953a1.496 1.496 0 0 0 1.941-.143c.147-.147 8.47-10.328 8.517-10.419.038-.073.042-.091.041-.214-.001-.16-.025-.223-.124-.333a.512.512 0 0 0-.464-.158"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Se ha realizado el envío correctamente.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso3-btn1",
                "aria-labelledby": "aviso3-btn1 aviso3"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso3-btn2",
                "aria-labelledby": "aviso3-btn2 aviso3"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder al envío",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso3-btn3",
                "aria-labelledby": "aviso3-btn3 aviso3"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso4" class="c-h4 lg:flex-1 mb-base">ZA-SP-ENE-AT-2024-014</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-primary-light px-xs py-px font-semibold">Expedientes</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-black"></span>Oculto</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1.1em" height="1.1em" class="mt-0.5" aria-hidden="true" focusable="false"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M12 13.5 7 10l-5 3.5v-12a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v12Z"/><path d="M4.5 6 6 7l3-4"/></g></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Marta Martín Martínez, Directora general de vivienda, te ha asignado este expediente</div>
            <div class="text-neutral-dark">Último aviso: 02/02/2024, 09:30</div>
          </div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="mt-xs" aria-hidden="true" focusable="false"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M4.145 12.84a6.5 6.5 0 1 0-2.556-2.238m2.556 2.239L.5 13.5l1.089-2.897m2.556 2.238.005-.001m-2.561-2.237.001-.003"/></svg>
          </div>
          <div class="flex-1">
            Sara Pérez Pérez, Auxiliar administrativo, te ha mencionado 
            <span class="block text-neutral-base italic">“@Marta Pérez tenemos que solicitar el informe sectorial a INAGA, gracias.”</span>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como no leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso4-btn1",
                "aria-labelledby": "aviso4-btn1 aviso4"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Mostrar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso4-btn2",
                "aria-labelledby": "aviso4-btn2 aviso4"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder al expediente",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso4-btn3",
                "aria-labelledby": "aviso4-btn3 aviso4"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso5" class="c-h4 lg:flex-1 mb-base">Documento de resolución</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-neutral-light px-xs py-px font-semibold">Documentos</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>No leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.05em" class="mt-1" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.44.02A7.003 7.003 0 0 0 .062 7.945a7.01 7.01 0 0 0 5.755 5.957 6.994 6.994 0 0 0 4.326-.646 7.03 7.03 0 0 0 2.95-2.804c.501-.881.83-1.964.888-2.93a.67.67 0 0 1 .021-.165c.007-.004.012-.173.012-.374 0-.202-.006-.359-.012-.349-.007.011-.016-.05-.021-.147-.056-.963-.385-2.053-.888-2.937A7.019 7.019 0 0 0 7.945.062 7.808 7.808 0 0 0 6.44.021m.133.995c-.585.056-.949.127-1.405.274A5.876 5.876 0 0 0 2.816 2.71 5.906 5.906 0 0 0 1.29 5.168c-.122.38-.2.746-.257 1.202a10.815 10.815 0 0 0 0 1.26c.092.744.267 1.356.569 1.981a6.031 6.031 0 0 0 1.835 2.213 6.009 6.009 0 0 0 2.485 1.075c.406.075.547.086 1.078.086s.672-.011 1.078-.086a5.998 5.998 0 0 0 4.821-4.821c.075-.406.086-.547.086-1.078s-.011-.672-.086-1.078a6.008 6.008 0 0 0-4.856-4.829 4.77 4.77 0 0 0-.966-.078 13.334 13.334 0 0 0-.504.001m.25 2.252a.77.77 0 0 0-.44.307.743.743 0 0 0-.059.751.885.885 0 0 0 .32.34c.207.11.506.11.707.001a.758.758 0 0 0 .267-1.092.756.756 0 0 0-.795-.307m-.895 2.738a.517.517 0 0 0-.378.276c-.037.073-.041.095-.041.214 0 .115.005.144.037.213.048.101.146.199.247.247.078.036.088.037.391.041l.312.005v2.49h-.487c-.267 0-.526.006-.574.013a.5.5 0 0 0-.143.951l.077.037 1.602.004c1.78.004 1.683.009 1.817-.09a.57.57 0 0 0 .19-.248.744.744 0 0 0 .016-.17.382.382 0 0 0-.037-.192.575.575 0 0 0-.238-.247c-.102-.05-.204-.057-.728-.058h-.487V7.99c0-1.026-.005-1.53-.015-1.585a.424.424 0 0 0-.136-.255.483.483 0 0 0-.287-.145 14.408 14.408 0 0 0-1.138 0M.006 7c0 .204.002.288.004.186a9.583 9.583 0 0 0 0-.372C.008 6.712.006 6.796.006 7"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">Este documento que estaba pendiente de firma ha expirado y ha vuelto a estado borrador.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso5-btn1",
                "aria-labelledby": "aviso5-btn1 aviso5"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso5-btn2",
                "aria-labelledby": "aviso5-btn2 aviso5"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder al documento",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso5-btn3",
                "aria-labelledby": "aviso5-btn3 aviso5"
              }
            })  }}
          </li>
        </ul>        
      </div>
      {# aviso #}
      <div class="py-base">
        <h3 id="aviso6" class="c-h4 lg:flex-1 mb-base">Documento de resolución</h3>
        <div class="lg:flex lg:flex-wrap gap-x-base mb-base">
          <div class="lg:flex-1 mb-xs lg:mb-0"><span class="bg-neutral-light px-xs py-px font-semibold">Documentos</span></div>
          <div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-warning-base"></span>No leído</div>
        </div>
        <div class="flex mb-base gap-x-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1.1em" height="1.1em" class="mt-0.5" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M6.888.988a1.68 1.68 0 0 0-.378.079c-.312.109-.576.31-.748.571-.13.197-5.364 9.184-5.406 9.283-.087.205-.11.33-.11.58.002.195.007.242.04.364.094.36.321.681.624.882.212.142.415.216.665.245.174.02 10.676.02 10.85 0 .25-.029.453-.103.665-.245a1.54 1.54 0 0 0 .625-.882c.031-.12.037-.17.038-.364a1.227 1.227 0 0 0-.11-.58c-.041-.1-5.274-9.086-5.405-9.283a1.496 1.496 0 0 0-.937-.623 2.132 2.132 0 0 0-.413-.027M6.879 2a.501.501 0 0 0-.232.14c-.068.073-5.312 9.048-5.37 9.192a.362.362 0 0 0-.029.189.49.49 0 0 0 .29.433l.079.037h10.767l.092-.046a.48.48 0 0 0 .275-.424.345.345 0 0 0-.028-.189c-.058-.144-5.302-9.119-5.37-9.193a.444.444 0 0 0-.324-.145.702.702 0 0 0-.15.006m.035 2.508a.528.528 0 0 0-.36.26c-.059.117-.06.147-.055 1.91l.004 1.687.04.087c.048.103.16.216.257.259a.552.552 0 0 0 .43-.014.615.615 0 0 0 .227-.245l.04-.087.004-1.687c.003-1.226 0-1.71-.012-1.77a.45.45 0 0 0-.147-.269.496.496 0 0 0-.428-.13m-.02 4.997a.769.769 0 0 0-.637.623.764.764 0 0 0 .521.84c.12.036.324.036.444 0a.784.784 0 0 0 .521-.607.759.759 0 0 0-.85-.856"/></svg>
          </div>
          <div class="flex-1 lg:flex">
            <div class="lg:flex-1">No ha sido posible el envío a firma de este lote de documentos y ha sido devuelto a borrador.</div>
            <div class="text-neutral-dark">02/02/2024, 09:30</div>
          </div>
        </div>
        <ul class="lg:flex lg:flex-wrap gap-sm">
          <li>
            {{ componentButton({
              "text": "Marcar como leído",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso6-btn1",
                "aria-labelledby": "aviso6-btn1 aviso6"
              }
            })  }}  
          </li>
          <li>  
            {{ componentButton({
              "text": "Ocultar aviso",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso6-btn2",
                "aria-labelledby": "aviso6-btn2 aviso6"
              }
            })  }}
          </li>
          <li>  
            {{ componentButton({
              "text": "Acceder al documento",
              "classes": "c-button--transparent",
              "attributes": {
                "id": "aviso6-btn3",
                "aria-labelledby": "aviso6-btn3 aviso6"
              }
            })  }}
          </li>
        </ul>        
      </div>
    </div>
  </section>

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-avisos",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "itemsListbox": {
        "items": [
          {
            "text": "10",
            "active": true
          },
          {
            "text": "25"
          },
          {
            "text": "50"
          },
          {
            "text": "75"
          },
          {
            "text": "100"
          }
        ]
      },      
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}