{# Titulo de pagina #}
{% set title = "Modal de Asignar expediente a otra persona. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p class="c-paragraph-base">Selecciona una persona del listado que aparece a continuación para asignarle los expedientes.</p>
  <fieldset class="text-left mb-lg">
    <legend class="sr-only">Lista de personas</legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-personas-asignar",
        "label": {
          "text": "Personas a asignar"
        },
        "placeholder": "Buscar persona",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-40 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "personas-asignar-lista",
          "name": "personas-asignar-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "html": 'Ana Marín Martín <span class="block text-neutral-dark">Jefe de Servicio de Patrimonio cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "html": 'Beatriz Carolina Marín Martín <span class="block text-neutral-dark">Auxiliar administrativo del servicio de Patrimonio Cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "html": 'Carlos Andrés Martínez <span class="block text-neutral-dark">Coordinador del servicio de Patrimonio Cultural</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "html": 'Diego Berges Marco <span class="block text-neutral-dark">Analista de Grupo Oesía</span>',
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Asignar expediente a otra persona</h1>

  {% call componentDropdown({
    "text": "Asignar expediente",
    "classes": "c-dropdown--sm mr-sm mb-sm"
    })  %}
    {{ componentNav({
      "isMenu": true,
      "idPrefix": "opciones-asignacion",
      "classes": "w-max max-w-64",
      "attributes": {
        "id": "nav-opciones-asignacion",
        "aria-label": "Asignación de expedientes"
      },
      "items": [
        {
          "href": "#",
          "text": "Autoasignar"
        },
        {
          "href": "#",
          "text": "Asignar a otra persona",
          "attributes": {
            "onclick": "openDialog('modal-asignar-persona', this, 'asignar-persona')"
          }
        }
      ]
    })  }}
  {% endcall %}  



  <!-- modal -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-asignar-persona" class="hidden" role="dialog" aria-labelledby="label-asignar-persona" aria-modal="true">
      {{ componentModal({
        "id": "asignar-persona",
        "title": {
          "text": "Asignar a otra persona"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Asignar",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M2 3a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-2 9a5 5 0 0 1 9.475-2.233l-.576.72-.449-.337A2 2 0 0 0 5.688 13H.5a.5.5 0 0 1-.5-.5V12Zm13.836-3.281a.75.75 0 1 0-1.172-.937l-3.546 4.432L7.7 11.15a.75.75 0 0 0-.9 1.2l2 1.5a.75.75 0 0 0 1.036-.131l4-5Z" clip-rule="evenodd"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal -->

{% endblock %}
{# fin Contenido de la página #}