{# Titulo de pagina #}
{% set title = "Muro - Iconos para la campana de avisos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.muro.njk" %}


{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="c-h2">Estados de la campana de avisos</h1>
  <p class="c-paragraph-base">Sustituir el svg del icono de la cabecera según el estado.</p>
  
  <p class="font-bold">Estado sin avisos:</p>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-5 h-5" width="1em" height="1em" role="img" aria-label="Notificaciones"><path fill="currentColor" fill-rule="evenodd" d="M7-.001a5.068 5.068 0 0 0-5.068 5.068v4.038c0 .276-.11.54-.305.736-.232.232-.397.305-.627.305a.625.625 0 1 0 0 1.25h12a.625.625 0 1 0 0-1.25c-.23 0-.395-.073-.627-.305a1.04 1.04 0 0 1-.305-.736V5.067A5.068 5.068 0 0 0 7-.001Zm4.068 10.147H2.932c.163-.32.25-.676.25-1.041V5.067a3.818 3.818 0 0 1 7.636 0v4.038c0 .365.087.721.25 1.04ZM6 12.5a.75.75 0 0 0 0 1.5h2a.75.75 0 0 0 0-1.5H6Z" clip-rule="evenodd"/></svg>

  <div class="pb-lg"></div><!--espaciador-->

  <p class="font-bold">Estado con avisos nuevos:</p>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-[1.35rem] h-[1.35rem]" width="1em" height="1em" role="img" aria-label="Notificaciones"><g stroke-linecap="round" stroke-linejoin="round"><path stroke="currentColor" fill="#fa9902" d="M11 5.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM5 13.5h2"/><path stroke="currentColor" d="M6 2a4 4 0 0 0-4 4v3.5A1.5 1.5 0 0 1 .5 11h11A1.5 1.5 0 0 1 10 9.5v-2"/></g></svg>

  <div class="pb-lg"></div><!--espaciador-->

  <p class="font-bold">Estado activo <span class="font-normal">(cuando estás dentro de Muro)</span>:</p>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-5 h-5" width="1em" height="1em" role="img" aria-label="Notificaciones"><path fill="currentColor" fill-rule="evenodd" d="M3.505 1.447a4.943 4.943 0 0 1 8.438 3.495v4.413c0 .309.122.606.341.824.248.248.443.342.716.342a.5.5 0 1 1 0 1H1a.5.5 0 0 1 0-1c.273 0 .468-.094.716-.342.218-.218.341-.515.341-.824V4.942c0-1.311.521-2.568 1.448-3.495ZM5.25 13.25A.75.75 0 0 1 6 12.5h2A.75.75 0 0 1 8 14H6a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"/></svg>

{% endblock %}
{# fin Contenido de la página #}