{# Titulo de pagina #}
{% set title = "Muro - Listado de avisos - Avisos de la herramienta. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.muro.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <h1 class="c-h1">Avisos</h1>
      {# Menu de Avisos #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Avisos para mí (3 nuevos)"
          },
          {
            "href": "#",
            "text": "Avisos de la herramienta",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de Avisos"
        }
      })  }}
      {# fin Menu de Avisos #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h3 mb-lg">Avisos de la herramienta</h2>
  
  {# Filtros de busqueda y Ordenacion #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="filtros-orden">
    <h2 id="filtros-orden" class="sr-only">Filtros de búsqueda y ordenación sobre el listado de avisos</h2>
    <div class="lg:flex mb-sm">
      <span class="lg:pt-px">Filtrar por:</span>
      {{ componentMenubar({
        "id": "menu-filtros",
        "idPrefix": "filter-menu",
        "ariaLabel": "Menú de filtros",
        "classes": "lg:ml-sm mt-sm lg:mt-0",
        "items": [
          {
            "text": "Tipo",
            "ariaLabel": "Tipo",
            "id": "menu-tipo",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Todos los tipos",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Informativos"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Alertas"
                }
              ]
            }
          }
        ]
      })  }}      
    </div>
    <div class="lg:flex lg:ml-auto lg:pl-base mb-sm">
      {{ componentListbox({
        "id": "orden-avisos",
        "text": "Fecha (más reciente primero)",
        "label": {
          "text": "Ordenar por:",
          "classes": "lg:float-left lg:pt-px"
        },
        "doesChangeButtonText": true,
        "classes": "c-listbox--sm mb-sm lg:ml-sm",
        "items": [
          {
            "href": "#",
            "html": "Fecha (más reciente primero)"
          },
          {
            "href": "#",
            "text": "Fecha (más antiguo primero)"
          }
        ]
      })  }}             
    </div>
  </section>
  {# fin Filtros de busqueda y Ordenacion #}

  <section class="mb-base" aria-labelledby="listado-avisos">
    <h2 id="listado-avisos" class="sr-only">Listado de avisos</h2>

    <div class="divide-y divide-neutral-base border-y border-neutral-base">
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Nueva versión 3.1 publicada</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">En esta versión se han realizado mejoras de rendimiento en los envíos y la importación de expedientes desde otras herramientas</span>
            <a href="#" class="block c-link mt-sm">Consulta todas las novedades de la nueva versión</a>
          </div>
        </div>
      </div>
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-warning-base" aria-label="Error" focusable="false" role="img"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Aviso de incidencia en envíos</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">Los envíos se encuentran temporalmente fuera de servicio. Por favor, inténtalo de nuevo en unos minutos.</span>
          </div>
        </div>
      </div>
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Nueva versión 3.1 publicada</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">En esta versión se han realizado mejoras de rendimiento en los envíos y la importación de expedientes desde otras herramientas</span>
            <a href="#" class="block c-link mt-sm">Consulta todas las novedades de la nueva versión</a>
          </div>
        </div>
      </div>
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-warning-base" aria-label="Error" focusable="false" role="img"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Aviso de incidencia en envíos</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">Los envíos se encuentran temporalmente fuera de servicio. Por favor, inténtalo de nuevo en unos minutos.</span>
          </div>
        </div>
      </div>
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Nueva versión 3.1 publicada</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">En esta versión se han realizado mejoras de rendimiento en los envíos y la importación de expedientes desde otras herramientas</span>
            <a href="#" class="block c-link mt-sm">Consulta todas las novedades de la nueva versión</a>
          </div>
        </div>
      </div>
      {# aviso #}
      <div class="py-base">
        <div class="flex gap-x-base pl-sm">
          <div class="h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mt-px text-warning-base" aria-label="Error" focusable="false" role="img"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg>
          </div>
          <div class="flex-1">
            <div class="lg:flex gap-x-sm mb-sm">  
              <h3 class="lg:flex-1 font-bold lg:flex-1 mb-xs lg:mb-0">Aviso de incidencia en envíos</h3>
              <span>02/02/2024, 09:30</span>
            </div>
            <span class="block lg:w-3/4">Los envíos se encuentran temporalmente fuera de servicio. Por favor, inténtalo de nuevo en unos minutos.</span>
          </div>
        </div>
      </div>
    </div>

  </section>

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-avisos",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}