{# Titulo de pagina #}
{% set title = "Documentos - Avisos. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p class="c-paragraph-base">
    ¿Estás seguro de que deseas anular este documento?
    <span class="block">Ten en cuenta que este documento se ha notificado / comunicado (solo la que aplique).</span>
    <span class="block">Por favor, introduce el motivo de la anulación.</span>
  </p>
  <div class="my-lg">
    {{ componentCharacterCount({
      "name": "motivo-anulacion",
      "id": "motivo-anulacion",
      "maxlength": 70,
      "placeholder": "Introduce el motivo de la anulación",
      "label": {
        "text": "Motivo",
        "classes": "sr-only"
      },
      "classes": "w-full",
      "rows": 3,
      "countMessage": {
        "classes": "text-right"
      }
    }) }}
  </div>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="c-h2">Avisos en Documentos</h1>
  
  <p class="font-bold">Documentos | Documentos firmados</p>
  <p class="c-paragraph-base">Seleccionamos más de un documento para notificar/comunicar</p>
  <div role="alert" aria-live="assertive">
    {{ componentNotification({
      "title": {
        "html": 'Selecciona solo un documento para notificar o comunicar'
      },
      "description": {
        "html": 'Selecciona solo el documento de notificación o comunicación. Podrás añadir los adjuntos más tarde.'
      },
      "type": "info",
      "id": "notific-info",
      "isDismissible": true,
      "classes": "c-notification--primary mb-base"
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="font-bold">Documentos | Preparación de documento</p>
  <p class="c-paragraph-base">Seleccionamos un documento que no es formato pdf.</p>
  <div role="alert" aria-live="assertive">
    {{ componentNotification({
      "title": {
        "html": 'El formato del documento no es válido'
      },
      "description": {
        "html": 'No es posible preparar el documento a partir del archivo seleccionado porque no se encuentra en formato .pdf'
      },
      "type": "info",
      "id": "notific-info",
      "isDismissible": true,
      "classes": "c-notification--primary mb-base"
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="font-bold">Documentos | Documentos firmados</p>
  <p>Anulamos un documento que se ha notificado/comunicado</p>
  <p class="c-paragraph-base"><a href="#" class="c-link" onclick="openDialog('modal-anular-doc', this, 'anular-doc')">Modal Anular documento</a></p>

  <p>Sustituimos un documento que se ha notificado/comunicado</p>
  <p class="c-paragraph-base">Mostramos el siguiente aviso en la pantalla de sustitución</p>
  <div role="alert" aria-live="assertive">
    {{ componentNotification({
      "title": {
        "html": 'El documento que quieres sustituir ha sido notificado/comunicado (solo la que aplique)'
      },
      "type": "info",
      "id": "notific-info",
      "isDismissible": true,
      "classes": "c-notification--primary mb-base"
    })  }}
  </div>

  <div class="pb-xl"></div><!--espaciador-->

  <p class="font-bold">Documentos | Documentos firmados</p>
  <p class="c-paragraph-base">Vamos a notificar/comunicar un documento con visibilidad externa no permitida</p>
  <div role="alert" aria-live="assertive">
    {{ componentNotification({
      "title": {
        "html": 'Acceso a la consulta y verificación del documento no permitida'
      },
      "description": {
        "html": 'El acceso desde el verificador de documentos y Mi Aragón (MiA) a la consulta y verificación del documento que deseas notificar es No permitida. Modifica la visibilidad para que las personas destinatarias puedan verificar o cotejar el documento notificado.'
      },
      "type": "info",
      "id": "notific-info",
      "isDismissible": true,
      "classes": "c-notification--primary mb-base"
    })  }}
  </div>
  <div role="alert" aria-live="assertive">
    {{ componentNotification({
      "title": {
        "html": 'Acceso a la consulta y verificación del documento no permitida'
      },
      "description": {
        "html": 'El acceso desde el verificador de documentos y Mi Aragón (MiA) a la consulta y verificación del documento que deseas comunicar es No permitida. Modifica la visibilidad para que las personas destinatarias puedan verificar o cotejar el documento comunicado.'
      },
      "type": "info",
      "id": "notific-info",
      "isDismissible": true,
      "classes": "c-notification--primary mb-base"
    })  }}
  </div>



  <!-- modal Anular documento -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-anular-doc" class="hidden" role="dialog" aria-labelledby="label-anular-doc" aria-modal="true">
      {{ componentModal({
        "id": "anular-doc",
        "title": {
          "text": "Anular documento"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Anular",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 134" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentcolor" fill-rule="evenodd"><path d="M84 109.95V84.849c0-3.86 3.141-7 7-7h25.101L84 109.949zm56-81.101c0-11.58-9.421-21-21-21H77a7 7 0 100 14h42c3.859 0 7 3.14 7 7v35H91c-11.579 0-21 9.42-21 21v35H21c-3.859 0-7-3.14-7-7v-42a7 7 0 10-14 0v42c0 11.58 9.421 21 21 21h56c.02 0 .039-.003.059-.003.21-.001.419-.01.626-.031.102-.01.202-.03.302-.044.125-.017.25-.031.374-.055.108-.022.212-.053.318-.08.115-.028.231-.052.345-.086.099-.03.195-.07.292-.104.119-.041.237-.078.352-.126.089-.036.173-.081.259-.121.121-.056.243-.107.361-.17.081-.044.158-.095.238-.142.118-.07.238-.134.352-.21.091-.06.175-.13.263-.194.097-.071.198-.138.292-.216.179-.146.352-.302.517-.467l56-56a7.08 7.08 0 00.747-.896c.175-.245.339-.498.481-.763.01-.02.018-.041.029-.061.13-.25.24-.508.339-.772a6.955 6.955 0 00.318-1.089l.004-.023a6.88 6.88 0 00.12-1.113c.003-.078.012-.155.012-.234v-42z"/><path d="M8.2 41.648a6.979 6.979 0 004.95 2.05 6.979 6.979 0 004.95-2.05l9.9-9.9 9.898 9.9a6.979 6.979 0 004.95 2.05A7 7 0 0047.8 31.749l-9.9-9.9 9.9-9.9a7.002 7.002 0 00-9.9-9.9l-9.9 9.9-9.899-9.9a7.002 7.002 0 00-9.9 0 7.002 7.002 0 000 9.9l9.9 9.9-9.9 9.9a7 7 0 000 9.899"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Anular documento  -->

{% endblock %}
{# fin Contenido de la página #}