{# Titulo de pagina #}
{% set title = "Listado notificaciones - En borrador. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <div class="grid md:grid-cols-2 gap-x-7 py-base">
    <fieldset class="md:col-span-2 mb-xl">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimientos"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Asunto"
      },
      "id": "asunto",
      "name": "asunto",
      "placeholder": "Escribe el asunto",
      "classes": "w-full"
    })  }}    
    {{ componentInput({
      "label": {
        "text": "Número de expediente"
      },
      "id": "num-expdte",
      "name": "num-expdte",
      "placeholder": "Escribe el número de expediente",
      "classes": "w-full"
    })  }} 
    {{ componentSelect({
      "id": "select-org-emisor",
      "name": "select-org-emisor",
      "classes": "w-full",
      "label": {
        "text": "Organismo emisor"
      },
      "formGroup": {
        "classes": "lg:self-end"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el organismo emisor",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "ultima-modif-desde",
        "namePrefix": "ultima-modif-desde",
        "fieldset": {
          "legend": {
            "text": "Última modificación: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "ultima-modif-hasta",
        "namePrefix": "ultima-modif-hasta",
        "fieldset": {
          "legend": {
            "text": "Última modificación: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    {{ componentSelect({
      "id": "select-tipo",
      "name": "select-tipo",
      "classes": "w-full",
      "label": {
        "text": "Tipo"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Notificación"
        },
        {
          "value": 2,
          "text": "Comunicación"
        }
      ]
    }) }}
    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h1 flex-1">Notificaciones y comunicaciones</h1>
        {# Botones de accion de pagina #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
          <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Exportar en XLS",
                "classes": "lg:ml-sm mb-sm"
              })  }}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Preparar",
                "classes": "lg:ml-sm mb-sm c-dropdown--primary"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "preparar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-preparar",
                    "aria-label": "Preparar notificación o comunicación"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Preparar notificación"
                    },
                    {
                      "href": "#",
                      "text": "Preparar comunicación"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
        {# fin Botones de accion de pagina #}
      </div>
      {# Menu de Notificaciones #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "En borrador",
            "active": true
          },
          {
            "href": "#",
            "text": "Pendientes de firma o emisión"
          },
          {
            "href": "#",
            "text": "Emitidas"
          }
        ],
        "attributes": {
          "aria-label": "Menu de Notificaciones"
        }
      })  }}
      {# fin Menu de Notificaciones #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="sr-only">En borrador</h2>
  
  {# Filtros de Busqueda #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda por CSV del documento de notificación o comunicación",
          "html": formBusquedaCSV
        },
        {
          "headerText": "Búsqueda avanzada",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de notificaciones</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todas-notificaciones",
        "name": "todas-notificaciones",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todas",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Eliminar",
            "classes": "c-button--sm",
            "attributes": {
              "onclick": "openDialog('modal-eliminar-notificacion', this, 'eliminar-notificacion')"
            }
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="notificaciones">
    <h2 id="notificaciones" class="sr-only">Listado de notificaciones</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-notificaciones",
      "hasCheckboxes": true,
      "caption": "Listado de notificaciones",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Asunto',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Expediente',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Organismo emisor',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> modificación',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "html": 'Tipo',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Notificación"
              },
              {
                "value": 2,
                "text": "Comunicación"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Aviso de finalización</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Comunicación'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Aviso de finalización</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Comunicación'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}





  <!-- modal Eliminar notificación -->
  <div class="dialog-backdrop z-10000">
    <div id="modal-eliminar-notificacion" class="hidden" role="dialog" aria-labelledby="label-eliminar-notificacion" aria-modal="true">
      {{ componentModal({
        "id": "eliminar-notificacion",
        "title": {
          "text": "Eliminar notificaciones"
        },
        "description": {
          "html": '¿Estás seguro de que deseas eliminar las notificaciones seleccionadas?'
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Eliminar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M1.241.022a1.511 1.511 0 0 0-1.196 1.11l-.038.135-.004 3.661c-.004 2.76 0 3.69.012 3.78A1.508 1.508 0 0 0 1.113 9.95l.14.039h5.88l.077-.036a.5.5 0 0 0 0-.907l-.077-.037-2.87-.007c-2.419-.006-2.878-.01-2.919-.027a.674.674 0 0 1-.232-.165.692.692 0 0 1-.071-.129l-.032-.078V5.772L1.007 2.94l2.643 1.761c1.903 1.269 2.66 1.767 2.708 1.78a.579.579 0 0 0 .354-.03c.038-.02 1.242-.819 2.674-1.774l2.604-1.737.007 2.09.007 2.089.04.084a.506.506 0 0 0 .687.242.6.6 0 0 0 .234-.259L13 7.105V4.228c0-3.072.002-2.962-.07-3.183-.165-.505-.55-.863-1.085-1.009-.105-.029-.11-.029-5.299-.031-4.437-.002-5.21 0-5.304.017m.068 1.021a.535.535 0 0 0-.27.277.612.612 0 0 0-.031.249v.167l2.731 1.821a651.203 651.203 0 0 0 2.75 1.828c.01.004 1.254-.817 2.765-1.824l2.747-1.832-.006-.175c-.005-.153-.01-.185-.042-.255a.578.578 0 0 0-.242-.25l-.07-.034-5.124-.003-5.124-.003-.084.034m7.846 7.721a.498.498 0 0 0-.26.142.467.467 0 0 0-.142.39c.014.194-.015.16.993 1.16.5.496.908.908.908.917 0 .009-.4.416-.89.905-.49.489-.911.92-.936.959a.45.45 0 0 0-.075.299.496.496 0 0 0 .461.46.45.45 0 0 0 .299-.074c.039-.025.473-.449.966-.942l.896-.898.917.915c.689.687.933.922.98.945a.503.503 0 0 0 .582-.098.467.467 0 0 0 .143-.39c-.014-.195.015-.16-.993-1.162-.5-.497-.909-.91-.909-.917 0-.008.402-.414.891-.903.49-.489.911-.92.936-.959a.45.45 0 0 0 .075-.299.496.496 0 0 0-.461-.46.45.45 0 0 0-.299.074c-.038.025-.473.449-.966.942l-.896.898-.917-.915c-.967-.964-.96-.959-1.119-.989a.366.366 0 0 0-.184 0"/></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
    </div>
  </div>
  <!-- /modal Eliminar notificación  -->
{% endblock %}
{# fin Contenido de la página #}