{# Titulo de pagina #}
{% set title = "Documentos - Sustituir documento. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set labelCSV %}
    {% call componentTooltip({
      "id": "label-CSV",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base -mt-2 text-neutral-dark"><g fill="currentColor"><path d="M12.84 11.28 9.72 8.16a2.22 2.22 0 0 0-1.59-.66H2.25A2.25 2.25 0 0 0 0 9.75v12A2.25 2.25 0 0 0 2.25 24h9a2.25 2.25 0 0 0 2.25-2.25v-8.88a2.22 2.22 0 0 0-.66-1.59ZM12 21.75a.76.76 0 0 1-.75.75h-9a.76.76 0 0 1-.75-.75v-12A.76.76 0 0 1 2.25 9h5.88a.75.75 0 0 1 .53.22l3.12 3.12a.75.75 0 0 1 .22.53Z"/><path d="M3.75 12.5h3.5a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0 0 1.5ZM3.75 15.75h6a.75.75 0 0 0 0-1.5h-6a.75.75 0 0 0 0 1.5ZM9.75 17.5h-6a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5ZM14.25 5h3.5a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0 0 1.5ZM14.25 8.25h6a.75.75 0 0 0 0-1.5h-6a.75.75 0 0 0 0 1.5ZM20.25 10h-6a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5Z"/><path d="M23.34 3.78 20.22.66A2.22 2.22 0 0 0 18.63 0h-5.88a2.25 2.25 0 0 0-2.25 2.25v5.5a.75.75 0 0 0 1.5 0v-5.5a.76.76 0 0 1 .75-.75h5.88a.75.75 0 0 1 .53.22l3.12 3.12a.75.75 0 0 1 .22.53v8.88a.76.76 0 0 1-.75.75h-6.5a.75.75 0 0 0 0 1.5h6.5A2.25 2.25 0 0 0 24 14.25V5.37a2.22 2.22 0 0 0-.66-1.59ZM7.53 2 6 .47a.74.74 0 0 0-.79-.16.74.74 0 0 0-.46.69v.75H4A2.25 2.25 0 0 0 1.75 4v2a.75.75 0 0 0 1.5 0V4A.76.76 0 0 1 4 3.25h.75V4a.74.74 0 0 0 .46.69.75.75 0 0 0 .29.06.77.77 0 0 0 .5-.22L7.53 3a.75.75 0 0 0 0-1ZM20.5 17.25a.76.76 0 0 0-.75.75v2a.76.76 0 0 1-.75.75h-.75V20a.75.75 0 0 0-1.25-.53L15.47 21a.75.75 0 0 0 0 1.06l1.5 1.5a.77.77 0 0 0 .53.22.75.75 0 0 0 .29-.06.74.74 0 0 0 .46-.69v-.75H19A2.25 2.25 0 0 0 21.25 20v-2a.76.76 0 0 0-.75-.75Z"/></g></svg>
{% endblock %}
{% block titleText %}
  Sustituir documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Acta de no inicio de actividad</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Sustituir",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base mt-base">Información de la sustitución</h2>

  {{ componentTextarea({
    "name": "motivo-anulacion",
    "id": "motivo-anulacion",
    "label": {
      "html": 'Motivo de la anulación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "font-semibold"
    },
    "placeholder": "Escribe el motivo de la sustitución",
    "classes": "w-full"
  }) }}

  {# Busqueda CSV #}
  <p class="font-semibold">Búsqueda por CSV del documento sustituto <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></p>
  {{ componentInput({
    "id": "input-buscar-csv",
    "name": "input-buscar-csv",
    "label": {
      "html": labelCSV
    },
    "classes": "w-full lg:w-5/12",
    "placeholder": "Introducir CSV",
    "formGroup": {
      "classes": "mb-base"
    }
  }) }}
  {{ componentButton({
    "text": "Buscar"
  })  }}  

 
{% endblock %}
{# fin Contenido de la página #}