{# Titulo de pagina #}
{% set title = "Notificaciones - Enviar comunicación - Selección documento. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{# fin Dependencias #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="M.46 10.596V2.304c0-.51.413-.922.922-.922h10.136c.509 0 .921.413.921.922v8.292a.921.921 0 0 1-.921.922H1.382a.921.921 0 0 1-.921-.922Z"/><path d="m.46 3.686 5.466 3.783a.921.921 0 0 0 1.048 0l5.465-3.783"/></g></svg>
{% endblock %}
{% block titleText %}
  Emisión masiva
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Emitir",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <div class="mt-base lg:mt-0">
    {{ componentRadios({
      "idPrefix": "radios-tipo-emision",
      "name": "radios-tipo-emision",
      "fieldset": {
        "legend": {
          "html": 'Selección de tipo',
          "classes": "c-h3"
        }
      },
      "items": [
        {
          "value": "1",
          "text": "Notificación"
        },
        {
          "value": "2",
          "text": "Comunicación"
        }
      ]
    }) }}
  </div>

  <p class="c-h3 mb-base mt-base lg:mt-0">Cargar plantilla de emisión masiva</p>
  <p class="c-paragraph-base mb-sm">Descarga la plantilla, introduce la información necesaria según se indica y súbela.</p>
  {{ componentButton({
    "text": "Descargar plantilla",
    "classes": "c-button--transparent"
  })  }}  

  <div class="pb-lg"></div><!--espaciador-->

  <p class="c-h3 mb-base mt-base lg:mt-0">Añadir documento desde el equipo</p>
  
  {{ componentFileUpload({
    "id": "file-upload-doc",
    "name": "file-upload-doc",
    "label": {
      "text": "Sube el documento a añadir"
    },
    "classes": "overflow-x-auto w-full lg:w-1/2 border border-2 border-dashed border-neutral-base p-base"
  }) }}

{% endblock %}
{# fin Contenido de la página #}