{# Titulo de pagina #}
{% set title = "Notificaciones - Enviar comunicación - Selección documento. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set labelCSV %}
    {% call componentTooltip({
      "id": "label-CSV",
      "text": "Búsqueda por CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
{% endset %}
{# fin Definiciones #}


{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.55 -0.55 14 14" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"><path d="M.46 10.596V2.304c0-.51.413-.922.922-.922h10.136c.509 0 .921.413.921.922v8.292a.921.921 0 0 1-.921.922H1.382a.921.921 0 0 1-.921-.922Z"/><path d="m.46 3.686 5.466 3.783a.921.921 0 0 0 1.048 0l5.465-3.783"/></g></svg>
{% endblock %}
{% block titleText %}
  Enviar comunicación
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar comunicación",
        "href": "#",
        "disabled": true,        
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base mt-base lg:mt-0">Selecciona el documento de la comunicación</h2>

  {# Busqueda CSV #}
  {{ componentInput({
    "id": "input-buscar-csv",
    "name": "input-buscar-csv",
    "label": {
      "html": labelCSV
    },
    "classes": "w-full lg:w-5/12",
    "placeholder": "Introducir CSV",
    "formGroup": {
      "classes": "mb-base"
    }
  }) }}
  {{ componentButton({
    "text": "Buscar"
  })  }}  

  <div class="pb-xl"></div><!--espaciador-->

  {# Añadir docs adjuntos #}
  {{ componentRadios({
    "idPrefix": "radios-doc-adjunto",
    "name": "radios-doc-adjunto",
    "fieldset": {
      "legend": {
        "html": '¿Quieres añadir documentos adjuntos a la comunicación?',
        "classes": "c-h3"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "No",
        "checked": true
      },
      {
        "value": "2",
        "text": "Sí"
      }
    ]
  }) }}


  {# Botonera atras-siguiente #}
  <ul class="flex flex-wrap gap-sm my-lg">
    <li>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}  
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}