{# Titulo de pagina #}
{% set title = "Listado notificaciones - Emitidas. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    {% call componentTooltip({
      "id": "tooltipTabla",
      "text": "CSV",
      "icon": {
        "type": "info"
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados</p>
    {% endcall %}
    <p class="block mb-sm text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <div class="grid md:grid-cols-2 gap-x-7 py-base">
    <fieldset class="md:col-span-2 mb-xl">
      <legend class="mb-sm">Procedimiento</legend>
      <div class="border border-neutral-base p-sm rounded">
        {{ componentSearchbar({
          "id": "searchbar-procedimientos",
          "label": {
            "text": "Filtrar procedimientos"
          },
          "placeholder": "Filtrar procedimiento",
          "classes": "-mt-px"
        })  }}
        <div class="max-h-24 mt-sm overflow-y-auto">
          {{ componentRadios({
            "idPrefix": "procedimientos-lista",
            "name": "procedimientos-lista",
            "classes": "c-radios--sm mt-sm",
            "formGroup": {
              "classes": "-mb-sm"
            },
            "items": [
              {
                "value": "value-1",
                "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-2",
                "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-3",
                "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-4",
                "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-5",
                "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-6",
                "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-7",
                "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-9",
                "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-10",
                "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-11",
                "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "value": "value-12",
                "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
                "classes": "-mt-base",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ]
          })  }}
        </div>
      </div>
    </fieldset>
    {{ componentInput({
      "label": {
        "text": "Identificador"
      },
      "id": "identificador",
      "name": "identificador",
      "placeholder": "Escribe el identificador",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "text": "Asunto"
      },
      "id": "asunto",
      "name": "asunto",
      "placeholder": "Escribe el asunto",
      "classes": "w-full"
    })  }}     
    {{ componentInput({
      "label": {
        "text": "Número de expediente"
      },
      "id": "num-expdte",
      "name": "num-expdte",
      "placeholder": "Escribe el número de expediente",
      "classes": "w-full"
    })  }} 
    {{ componentSelect({
      "id": "select-org-emisor",
      "name": "select-org-emisor",
      "classes": "w-full",
      "label": {
        "text": "Organismo emisor"
      },
      "formGroup": {
        "classes": "lg:self-end"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el organismo emisor",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }) }}
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "puesta-disposicion-desde",
        "namePrefix": "puesta-disposicion-desde",
        "fieldset": {
          "legend": {
            "text": "Puesta a disposición: desde",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "puesta-disposicion-hasta",
        "namePrefix": "puesta-disposicion-hasta",
        "fieldset": {
          "legend": {
            "text": "Puesta a disposición: hasta",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div></div><!--forzado de salto de linea-->
    {{ componentInput({
      "label": {
        "text": "NIF del destinatario"
      },
      "id": "nif-destinatario",
      "name": "nif-destinatario",
      "placeholder": "Escribe el NIF del destinatario",
      "classes": "w-full"
    })  }}    
    {{ componentInput({
      "label": {
        "text": "Email del destinatario"
      },
      "id": "email-destinatario",
      "name": "email-destinatario",
      "placeholder": "Escribe el email del destinatario",
      "classes": "w-full",
      "type": "email",
      "inputmode": "email"
    })  }} 
    {{ componentSelect({
      "id": "select-tipo",
      "name": "select-tipo",
      "classes": "w-full",
      "label": {
        "text": "Tipo"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el tipo",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Notificación"
        },
        {
          "value": 2,
          "text": "Comunicación"
        }
      ]
    }) }}
    {{ componentSelect({
      "id": "select-estado",
      "name": "select-estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona el estado",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Aceptada"
        },
        {
          "value": 2,
          "text": "Rechazada - Plazo expirado"
        },
        {
          "value": 3,
          "text": "No leída"
        },
        {
          "value": 4,
          "text": "Leída"
        }
      ]
    }) }}
    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </div>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h1 flex-1">Notificaciones y comunicaciones</h1>
        {# Botones de accion de pagina #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
          <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Exportar en XLS",
                "classes": "lg:ml-sm mb-sm"
              })  }}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Preparar",
                "classes": "lg:ml-sm mb-sm c-dropdown--primary"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "preparar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-preparar",
                    "aria-label": "Preparar notificación o comunicación"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Preparar notificación"
                    },
                    {
                      "href": "#",
                      "text": "Preparar comunicación"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
        {# fin Botones de accion de pagina #}
      </div>
      {# Menu de Notificaciones #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "En borrador"
          },
          {
            "href": "#",
            "text": "Pendientes de firma o emisión"
          },
          {
            "href": "#",
            "text": "Emitidas",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de Notificaciones"
        }
      })  }}
      {# fin Menu de Notificaciones #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="sr-only">Emitidas</h2>

  {# Filtros de Busqueda #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Búsqueda por CSV del documento de notificación o comunicación",
          "html": formBusquedaCSV
        },
        {
          "headerText": "Búsqueda avanzada",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de notificaciones</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todas-notificaciones",
        "name": "todas-notificaciones",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todas",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1 text-nowrap"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="flex flex-wrap gap-sm mb-sm">
        <li>
          {{ componentButton({
            "text": "Asociar a expediente",
            "classes": "c-button--sm"
          })  }}        
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section aria-labelledby="notificaciones">
    <h2 id="notificaciones" class="sr-only">Listado de notificaciones</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-notificaciones",
      "hasCheckboxes": true,
      "caption": "Listado de notificaciones",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Asunto',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Expediente',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Organismo emisor',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Puesta a disposición',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "html": 'Tipo',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Notificación"
              },
              {
                "value": 2,
                "text": "Comunicación"
              }
            ]
          }
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Aceptada"
              },
              {
                "value": 2,
                "text": "Rechazada - Plazo expirado"
              },
              {
                "value": 3,
                "text": "No leída"
              },
              {
                "value": 4,
                "text": "Leída"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Aceptada</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-alert-base"></span>Rechazada - Plazo expirado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Aviso de finalización</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Comunicación'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-info-base"></span>No leída</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Notificación de resolución</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Notificación'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Leída</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Aviso de finalización</a>'
          },
          {
            "html": '<span class="whitespace-nowrap">ZA-SP-ENE-AT-2020-014</span>'
          },
          {
            "html": 'INAGA'
          },
          {
            "html": '<span class="whitespace-nowrap">21/09/2020, 10:30</span>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Comunicación'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Leída</div>'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}    
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}