{# Titulo de pagina #}
{% set title = "Notificación emitida - Vista general. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set documentosRelacionados %}
  <div class="py-base">
    {# Tabla-Listado de documentos relacionados #}
    {{ componentTable({
      "caption": "Listado de documentos relacionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Documento'
        },
        {
          "html": 'Función'
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>'
        },
        {
          "html": 'Preparador'
        },
        {
          "html": 'Fin de preparación'
        },
        {
          "html": 'Firmante'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Requerimiento de subsanación</a>'
          },
          {
            "html": 'Notificación'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Marta Pérez Pérez'
          },
          {
            "html": '01/04/2024, 10:23'
          },
          {
            "html": 'Sancho Sánchez Sánchez'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Justificante de aceptación</a>'
          },
          {
            "html": 'Justificante'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '-'
          },
          {
            "html": '14/04/2024, 18:35'
          },
          {
            "html": '-'
          }
        ]
       ],
      "wrapper": {
        "classes": "relative overflow-x-auto"
      },
      "classes": "w-full"
    }) }}
    {# fin Tabla-Listado de documentos relacionados #}    
  </div>
{% endset %}
{% set expdtesRelacionados %}
  <div class="py-base">
    {# Tabla-Listado de expedientes relacionados #}
    {{ componentTable({
      "caption": "Listado de expedientes relacionados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Expediente'
        },
        {
          "html": 'Descripción'
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>'
        },
        {
          "html": 'Interesado'
        },
        {
          "html": 'Estado'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'Julio Mieza Gil'
          },
          {
            "html": '<div class="flex"><span class="min-w-3.5 h-3.5 mr-sm mt-xs bg-success-base"></span>Abierto</div>'
          }
        ]
       ],
      "wrapper": {
        "classes": "relative overflow-x-auto"
      },
      "classes": "w-full"
    }) }}
    {# fin Tabla-Listado de expedientes relacionados #}
  </div>
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Notificaciones</a>
      </p>
      {# Cabecera notificacion #}
      <h1 class="c-h2 mb-sm flex-1">Notificación de requerimiento de subsanación</h1>
      <div class="w-full mb-base lg:mb-lg">
        {# Estado notificacion #}
        <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Aceptada</p></div>
        <hr class="border-neutral-base my-base"><!--linea separadora-->
        {# Descripción notificacion #}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full lg:mb-sm",
          "items": [
            {
              "term": {
                "html": 'Identificador',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "1234567891234567891"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'CSV',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "CSV4567891234567891"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Tipo',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "Notificación"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Órganismo emisor',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "Dirección general de ordenación del Territorio"
              },
              "classes": "lg:w-2/5 pr-lg mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full",
          "items": [
            {
              "term": {
                "html": 'Puesta a disposición',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "12/04/2024, 08:00"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Fecha de aceptación',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "14/04/2024, 18:35"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            }
          ]
        })  }}
      </div>
      {# fin Cabecera notificacion #}
      {# Menu notificacion #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista previa"
          },
          {
            "href": "#",
            "text": "Vista general",
            "active": true
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Personas destinatarias"
          },
          {
            "href": "#",
            "text": "Traza"
          }
        ],
        "attributes": {
          "aria-label": "Menú de la notificación"
        }
      })  }}
      {# fin Menu notificacion #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  {# Acordeon de la Vista general #}
  <section class="mb-base" aria-labelledby="vista-general">
    <h2 id="vista-general" class="c-h3 mb-lg">Vista general</h2>
    {{ componentAccordion({
      "idPrefix": "vista",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Documentos relacionados",
          "html": documentosRelacionados
        },
        {
          "headerText": "Expedientes relacionados",
          "html": expdtesRelacionados
        }
      ]
    })  }}
  </section>
  {# fin Acordeon de la Vista general #}
{% endblock %}
{# fin Contenido de la página #}