{# Titulo de pagina #}
{% set title = "Notificación pendiente de firma - Personas destinatarias - Editar - Interesados del documento. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_24_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set inputMail %}
  {{ componentInput({
    "label": {
      "html": 'Email',
      "classes": "sr-only"
    },
    "id": "mail-destinatario",
    "name": "mail-destinatario",
    "classes": "c-input--sm w-full",
    "formGroup": {
      "classes": "mb-0 -mt-sm"
    },
    "placeholder": "Introduce el email",
    "type": "email",
    "inputmode": "email"
  }) }}  
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar perso1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M27.5 27.5a22.5 22.5 0 1045 0 22.5 22.5 0 10-45 0zM35 125H5v-15a45 45 0 0165.13-40.26M135 85l-47.07 47.07L66.64 135l2.93-21.29 47.07-47.07L135 85z" stroke-width="10"></path></g></svg>
{% endblock %}
{% block titleText %}
  Editar personas destinatarias
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white mb-lg">
    <div class="container mx-auto mt-base lg:mt-0 -mb-px px-base">
      {# Menu horizontal #}
      <h2 class="c-h3 lg:mb-lg">Opciones de selección de personas destinatarias</h2>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Interesados del documento",
            "active": true
          },
          {
            "href": "#",
            "text": "Interesados del expediente"
          },
          {
            "href": "#",
            "text": "Añadir manualmente"
          }
        ],
        "attributes": {
          "aria-label": "Opciones de personas destinatarias"
        }
      })  }}
      {# fin Menu horizontal #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}


{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3 mb-base">Interesados del documento</h2>
   
    {# Listado interesados #}
  <section aria-labelledby="interesados">
    <h3 id="interesados" class="sr-only">Selecciona los interesados del documento</h3>
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="lg:flex sm:flex-1">
        {# Seleccion multiple #}
        {{ componentCheckboxes({
          "idPrefix": "todos-interesados",
          "name": "todos-interesados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "describedBy": "interesados",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1 text-nowrap"
              }
            }
          ]
        })  }}    
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {# Bortones de accion de la tabla #}
        <ul class="flex flex-wrap gap-sm mb-sm">
          <li>
            {{ componentButton({
              "text": "Añadir a seleccionados",
              "classes": "c-button--sm c-button--primary",
              "disabled": true
            }) }}
          </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de interesados #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-interesados",
      "hasCheckboxes": true,
      "caption": "Listado de interesados",
      "captionClasses": "sr-only",
      "head": [
        {
          "html": 'Nombre y apellidos/Razón social ',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Email',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Personalidad',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }          
        },
        {
          "html": 'En calidad de',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": 'Documento',
          "orderBy": "none",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          } 
        },
        {
          "html": '<abbr title="Número">Nº</abbr> Identificación',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": 'Julio Mieza Gil'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Julio Mieza Gil S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María Teresa González Martínez'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Hermanos Prado López S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Antonio Jesús Cordero Guijarro'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Gestoría Moreno'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'María del Mar Rodriguez Montañes'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'EJ Sport C.B.2'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Representante'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Nadia Pérez de la Fuente'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Comunidad vecinal'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'Interesado'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto mb-base"
      },
      "classes": "w-full"
    })  }}
    {# fin Tabla-Listado de interesados #}
  </section>

  <div class="pb-xl"></div><!--espaciador-->

  {# Listado personas destinatarias #}
  {{ componentTable({
    "idPrefix": "personas-destinatarias",
    "caption": "Personas destinatarias seleccionadas",
    "captionClasses": "c-h3 mb-base text-left",
    "head": [
      {
        "html": 'Persona o entidad destinataria'
      },
      {
        "html": 'NIF'
      },
      {
        "html": 'Email <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      {
        "html": '<span id="descartar" class="sr-only">Descartar</span>'
      }
    ],
    "rows": [
      [
        {
          "html": 'Marta Martín Martínez',
          "attributes": {
            "id": "perso1"
          }
        },
        {
          "html": '12345678Z'
        },
        {
          "html": inputMail
        },
        {
          "html": botonDescartar
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto mb-base"
    },
    "classes": "w-full"
  })  }}

{% endblock %}
{# fin Contenido de la página #}