{# Titulo de pagina #}
{% set title = "Notificación pendiente de firma - Personas destinatarias. Carpeta del Gestor. Gobierno de Aragón" %}
{# Plantilla que usa la página #}
{% extends "pages/_24_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}


{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Notificaciones</a>
      </p>
      {# Cabecera notificacion #}
      <h1 class="c-h2 mb-sm flex-1">Notificación de requerimiento de subsanación</h1>
      <div class="w-full mb-base lg:mb-lg">
        {# Estado notificacion #}
        <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de firma</p></div>
        <hr class="border-neutral-base my-base"><!--linea separadora-->
        {# Descripción notificacion #}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full lg:mb-sm",
          "items": [
            {
              "term": {
                "html": 'Identificador',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "1234567891234567891"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'CSV',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "CSV4567891234567891"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Tipo',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "Notificación"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Órganismo emisor',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "Dirección general de ordenación del Territorio"
              },
              "classes": "lg:w-2/5 pr-lg mb-sm"
            }
          ]
        })  }}
        {{ componentDescriptionList({
          "classes": "lg:flex w-full",
          "items": [
            {
              "term": {
                "html": 'Puesta a disposición',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "12/04/2024, 08:00"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            },
            {
              "term": {
                "html": 'Fecha de aceptación',
                "classes": "text-sm text-neutral-dark whitespace-nowrap"
              },
              "definition": {
                "text": "14/04/2024, 18:35"
              },
              "classes": "lg:w-1/5 pr-lg mb-sm"
            }
          ]
        })  }}
      </div>
      {# fin Cabecera notificacion #}
      {# Menu notificacion #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs mb-base lg:mb-0",
        "items": [
          {
            "href": "#",
            "text": "Vista previa"
          },
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Personas destinatarias",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          }
        ],
        "attributes": {
          "aria-label": "Menú de la notificación"
        }
      })  }}
      {# fin Menu notificacion #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="lg:flex lg:flex-wrap mb-base">
    <h2 class="c-h3 flex-1">Personas destinatarias</h2>
    {{ componentButton({
      "text": "Editar",
      "classes": "c-button--sm c-button--primary"
    }) }}
  </div>
  {{ componentTable({
    "caption": "Listado de personas destinatarias",
    "captionClasses": "sr-only",
    "head": [
      {
        "html": 'Persona o entidad destinataria'
      },
      {
        "html": 'Personalidad'
      },
      {
        "html": 'NIF'
      },
      {
        "html": 'Email'
      }
    ],
    "rows": [
      [
        {
          "html": 'Marta Martín Martínez'
        },
        {
          "html": 'Persona física'
        },
        {
          "html": '12345678Z'
        },
        {
          "html": 'martamartinmartinez@gmail.com'
        }
      ],
      [
        {
          "html": 'Laura López López'
        },
        {
          "html": 'Persona jurídica'
        },
        {
          "html": '00000000T'
        },
        {
          "html": 'lauralopezlopez@gmail.com'
        }
      ]
    ],
    "wrapper": {
      "classes": "relative overflow-x-auto"
    },
    "classes": "w-full"
  }) }}     
{% endblock %}
{# fin Contenido de la página #}