{% set title = "Listado PDF del Orden del día - Consejo de Gobierno. Carpeta del Gestor. Gobierno de Aragón" %}
{% extends "pages/_template.blank.njk" %}


{% block contentBlock %}
  
  <!--CABECERA de impresion-->
  <div class="float-left w-full pt-base mb-lg text-xs">
    <div class="float-left w-1/2">
      <img src="../../images/logo-aragob.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="w-32"/>
      <!--logo para cabecera de segunda hoja y posteriores-->
      <!--<img src="../../images/logo-dga-desy-header-mini.png" alt="Gobierno de Aragón" aria-label="Gobierno de Aragón" class="w-7"/>-->
    </div>
    <div class="float-right text-right w-1/2" style="font-size:9.5px;">
      <p>
        Orden del día - Consejo de Gobierno 16 abril 2024
        <span class="block">Documento generado 10 enero 2020, 10:23 </span>
      </p>
    </div>
  </div>
  <!--/CABECERA de impresion-->



  <!--Contenidos-->
  <div class="float-left pb-lg">
    <h1 id="page-title" class="w-full font-bold leading-7 mb-base" style="font-size:21px;">
      Orden del día de Consejo de Gobierno
    </h1>

    <div class="float-left w-full text-xs">
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Fecha de celebración reunión
        </dt>
        <dd class="text-sm text-black">
          Martes, 16 abril 2024, 10:00h
        </dd>
      </dl>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Lugar de celebración
        </dt>
        <dd class="text-sm text-black">
          Lugar de celebración
        </dd>
      </dl>
      <dl class="float-left mr-xl">
        <dt class="text-xs text-neutral-dark">
          Tipo de convocatoria
        </dt>
        <dd class="text-sm text-black">
          Ordinaria
        </dd>
      </dl>
    </div>

    <hr class="float-left w-full my-base border-neutral-base"><!--linea separadora-->

    <h2 class="float-left w-full font-bold mt-sm mb-base" style="font-size:20px;">Asuntos</h2>

    <!--asuntos de urgencia-->
    <h3 class="float-left w-full font-bold leading-5 mb-base" style="font-size:15px;">
      Asuntos de urgencia
    </h3> 
    <ul class="c-ol float-left w-full pb-lg">
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-primary-base"></span>Consejo de Gobierno | 
        Creado el 10 septiembre 2023 a 11:23 horas | 
        Convocatoria 17 abril 2024 | 
        <span class="bg-alert-light px-xs">Asunto de urgencia</span>
      </li>
    </ul>
    <!--asuntos de urgencia-->
    
    <!--asuntos departamento 1-->
    <h3 class="float-left w-full font-bold leading-5 mb-base" style="font-size:15px;">
      Vicepresidencia. Departamento de Presidencia, Economía y Justicia
    </h3> 
    <ul class="c-ol float-left w-full pb-lg">
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Presidencia, Economía y Justicia | 
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span> | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> | 
        <span class="bg-info-light px-xs">Trascendente</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Presidencia, Economía y Justicia | 
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> | 
        <span class="bg-info-light px-xs">Trascendente</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Presidencia, Economía y Justicia
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span> | 
        <span class="bg-info-light px-xs">Trascendente</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Presidencia, Economía y Justicia
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado
      </li>
    </ul>
    <!--asuntos departamento 1-->

    <!--asuntos departamento 2-->
    <h3 class="float-left w-full font-bold leading-5 mb-base" style="font-size:15px;">
      Departamento de Hacienda, Interior y Administración Pública
    </h3> 
    <ul class="c-ol float-left w-full pb-lg">
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Hacienda, Interior y Administración Pública | 
          Departamento de Economía, Empleo e Industria
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span> | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> | 
        <span class="bg-info-light px-xs">Trascendente</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Hacienda, Interior y Administración Pública | 
          Departamento de Economía, Empleo e Industria
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> 
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado
      </li>
    </ul>
    <!--asuntos departamento 2-->

    <!--asuntos departamento 3-->
    <h3 class="float-left w-full font-bold leading-5 mb-base" style="font-size:15px;">
      Departamento de Fomento, Vivienda, Logística y Cohesión Territorial
    </h3> 
    <ul class="c-ol float-left w-full pb-lg">
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Fomento, Vivienda, Logística y Cohesión Territorial | 
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span> | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> | 
        <span class="bg-info-light px-xs">Trascendente</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Acuerdo del Gobierno de Aragón por el que se determina  instar la reincorporación del Gobierno de Aragón como miembro  promotor del Consorcio del Castillo de San Pedro de Jaca,  constituido al amparo del Convenio de colaboración entre el  Ministerio de Defensa, la Diputación General de Aragón, la  Diputación Provincial de Huesca y el Ayuntamiento de Jaca (Huesca)  para la puesta en valor cultural del Castillo de San Pedro de Jaca  (Huesca). (MAT)</a>
        <span class="block mb-1">
          Departamento de Fomento, Vivienda, Logística y Cohesión Territorial | 
          Departamento de Hacienda, Interior y Administración Pública
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-primary-light px-xs">Multidepartamental</span> 
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Fomento, Vivienda, Logística y Cohesión Territorial
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado | 
        <span class="bg-warning-light px-xs">Con coste económico</span>
      </li>
      <li class="p-0 !pl-6" style="font-size:12px;">
        <a href="#" class="c-link block mb-1">Decreto-ley de medidas urgentes para el impulso de las Inversiones Estratégicas Sanitarias en Aragón y de mejora de la eficiencia y calidad en la prestación de servicios de salud a las personas y de adquisición pública de medicamentos para obtener la mejor solución asistencial al servicio del paciente. (SAN)</a>
        <span class="block mb-1">
          Departamento de Fomento, Vivienda, Logística y Cohesión Territorial
        </span>
        <span class="inline-block w-3.5 h-3.5 mr-sm -mb-0.5 bg-success-base"></span>Aprobado
      </li>
    </ul>
    <!--asuntos departamento 3-->
    
  </div>
  <!--/contenidos-->



  <!--PIE de impresion-->
  <div class="float-left w-full py-base" style="font-size:9px;">
    <p>Página 1 de 1</p>
  </div>
  <!--/PIE de impresion-->
    
{% endblock %}