{% include "pages/_page.head.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<body>
  {% call componentHeader({
    "classes": "relative z-40",
    "mobileTitle": {
        "text": "Gestor de expedientes"
      },
    "subnav": {
      "text": "Gestor de expedientes",
      "items": [
        {
          "text": "SEDA",
          "href": "#"
        },
        {
          "text": "CARD",
          "href": "#"
        },
        {
          "text": "Gestor de expedientes",
          "href": "#",
          "active": true
        },
        {
          "text": "TTO",
          "href": "#"
        }
      ]
    },
    "navigation": {
      "classes": "hidden lg:block",
      "items": [
        {
          "text": "Inicio",
          "href": "#"
        },
        {
          "text": "Expedientes",
          "href": "#"
        },
        {
          "text": "Bandejas",
          "href": "#"
        },
        {
          "text": "Documentos",
          "href": "#"
        },
        {
          "text": "Notificaciones",
          "href": "#"
        },
        {
          "text": "Indicadores",
          "href": "#"
        },
        {
          "text": "Consejo de Gobierno",
          "href": "#"
        }
      ],
      "attributes": {
        "aria-label": "Navegación principal"
      }
    },
    "customNavigationHtml": '<div class="relative flex justify-end items-center flex-1 gap-base -mr-5 lg:-mr-8">
                              <div class="absolute -top-2.5 right-0 text-black">
                                <a href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="w-5 h-5" width="1em" height="1em" role="img" aria-label="Notificaciones"><path fill="currentColor" fill-rule="evenodd" d="M7-.001a5.068 5.068 0 0 0-5.068 5.068v4.038c0 .276-.11.54-.305.736-.232.232-.397.305-.627.305a.625.625 0 1 0 0 1.25h12a.625.625 0 1 0 0-1.25c-.23 0-.395-.073-.627-.305a1.04 1.04 0 0 1-.305-.736V5.067A5.068 5.068 0 0 0 7-.001Zm4.068 10.147H2.932c.163-.32.25-.676.25-1.041V5.067a3.818 3.818 0 0 1 7.636 0v4.038c0 .365.087.721.25 1.04ZM6 12.5a.75.75 0 0 0 0 1.5h2a.75.75 0 0 0 0-1.5H6Z" clip-rule="evenodd"/></svg>
                                </a>
                              </div>
                            </div>',
    "dropdown": {
      "text": "Ana Pérez",
      "items": [
        {
          "href": "#",
          "text": "Ver perfil"
        },
        {
          "href": "#",
          "text": "Cerrar sesión"
        }
      ],
      "attributes": {
        "aria-label": "Menú de usuario"
      }
    },
    "offcanvas": {
      "text": "Menú",
      "textClose": "Cerrar menú"
    },
    "attributes": {
      "data-module": "c-header"
    }
  }) %}
    {# Menu mobile #}
    <ul>
      <li>
        <h3 class="p-base text-base font-bold">Aplicaciones</h3>
          {{ componentNav({
            "idPrefix":"menu-aplicaciones-para-movil",
            "items": [
              {
                "text": "SEDA",
                "href": "#"
              },
              {
                "text": "CARD",
                "href": "#"
              },
              {
                "text": "Gestor de expedientes",
                "href": "#"
              },
              {
                "text": "TTO",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-label": "Menú aplicaciones para móvil"
            }
          }) }}
      </li>
      <li class="my-sm border-neutral-base border-0 border-t" aria-hidden="true" role="separator"><span class="sr-only">separador</span></li>
      <li>
        <h3 class="p-base text-base font-bold">Páginas</h3>
          {{ componentNav({
            "idPrefix":"navegacion-principal-para-movil",
            "items": [
              {
                "text": "Inicio",
                "href": "#"
              },
              {
                "text": "Expedientes",
                "href": "#"
              },
              {
                "text": "Bandejas",
                "href": "#"
              },
              {
                "text": "Documentos",
                "href": "#"
              },
              {
                "text": "Notificaciones",
                "href": "#"
              },
              {
                "text": "Indicadores",
                "href": "#"
              },
              {
                "text": "Consejo de Gobierno",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-label": "Navegación principal para móvil"
            }
          }) }}
      </li>
      <li class="my-sm border-neutral-base border-0 border-t" aria-hidden="true" role="separator"><span class="sr-only">separador</span></li>
      <li>
        <h3 class="p-base text-base font-bold">Usuario: Ana Pérez</h3>
        {{ componentNav({
          "idPrefix":"menu-de-usuario-para-movil",
          "items": [
          {
            "href": "#",
            "text": "Ver perfil"
          },
          {
            "href": "#",
            "text": "Cerrar sesión"
          }],
          "attributes": {
            "aria-label": "Menú de usuario para móvil"
          }
        }) }}
      </li>
    </ul>
    {# fin Menu mobile #}
  {% endcall %}
  
  <main id="content">
    {% block subHeaderBlock %}
    {% endblock %}
    <div class="container mx-auto p-base sm:py-lg min-h-96">
      {% block contentBlock %}
      {% endblock %}
    </div>
  </main>

{% include "pages/_page.foot.njk" %}