{% include "pages/_page.head.njk" %}

<body>

    <header class="lg:fixed z-40 w-full bg-white border-b border-neutral-base" data-module="c-header">
      <div class="container mx-auto px-base ">
        <div class="lg:flex lg:flex-wrap lg:w-full py-base">
          <div class="flex-1 mb-base lg:mb-0">
            <div class="flex items-center">
              {% block titleIcon %}
              {% endblock %}
              <div class="flex-1">
                <h1 class="text-lg uppercase font-bold leading-tight ">
                  {% block titleText %}
                  {% endblock %}
                </h1>
              </div>
            </div>
          </div>
          <section class="flex flex-wrap lg:items-center lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
            <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
            {% block headerActions %}
            {% endblock %}
          </section>
        </div>
      </div>
    </header>

    <main id="content">
      <div class="container mx-auto p-base sm:py-lg lg:pt-24 min-h-96">
        {% block contentBlock %}
        {% endblock %}
      </div>
    </main>

{% include "pages/_page.foot-fixed-actions.njk" %}
