{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<body>
  {% call componentHeader({
    "classes": "relative z-40",
    "subnav": {
      "text": "Carpeta del Gestor",
      "items": [
        {
          "text": "SEDA",
          "href": "#"
        },
        {
          "text": "CARD",
          "href": "#"
        },
        {
          "text": "Carpeta del Gestor",
          "href": "#",
          "active": true
        },
        {
          "text": "TTO",
          "href": "#"
        }
      ]
    },
    "dropdown": {
      "text": "Ana Pérez",
      "items": [
      {
        "href": "#",
        "text": "Ver perfil"
      },
      {
        "href": "#",
        "text": "Cerrar sesión"
      }],
      "attributes": {
        "aria-label": "Menú de usuario"
      }
    },
    "navigation": {
      "classes": "hidden md:block",
      "items": [
      {
        "text": "Inicio",
        "href": "#",
        "active": true
      },
      {
        "text": "Expedientes",
        "href": "#"
      },
      {
        "text": "Bandejas",
        "href": "#"
      }],
      "attributes": {
        "aria-label": "Navegación principal"
      }
    },
    "offcanvas": {
      "text": "Menú",
      "textClose": "Cerrar menú"
    },
    "attributes": {
      "data-module": "c-header"
    }
  }) %}
  <ul>
    <li>
      <h3 class="p-base text-base font-bold">Aplicaciones</h3>
        {{ componentNav({
          "idPrefix":"menu-aplicaciones-para-movil",
          "items": [
          {
            "text": "SEDA",
            "href": "#"
          },
          {
            "text": "CARD",
            "href": "#"
          },
          {
            "text": "Carpeta del Gestor",
            "href": "#"
          },
          {
            "text": "TTO",
            "href": "#"
          }],
          "attributes": {
            "aria-label": "Menú aplicaciones para móvil"
          }
        }) }}
    </li>
    <li class="my-sm border-neutral-base border-0 border-t" aria-hidden="true" role="separator"><span class="sr-only">separador</span></li>
    <li>
      <h3 class="p-base text-base font-bold">Páginas</h3>
        {{ componentNav({
          "idPrefix":"navegacion-principal-para-movil",
          "items": [
          {
            "text": "Inicio",
            "href": "#"
          },
          {
            "text": "Expedientes",
            "href": "#"
          },
          {
            "text": "Bandejas",
            "href": "#"
          }],
          "attributes": {
            "aria-label": "Navegación principal para móvil"
          }
        }) }}
    </li>
    <li class="my-sm border-neutral-base border-0 border-t" aria-hidden="true" role="separator"><span class="sr-only">separador</span></li>
    <li>
      <h3 class="p-base text-base font-bold">Usuario: Ana Pérez</h3>
      {{ componentNav({
        "idPrefix":"menu-de-usuario-para-movil",
        "items": [
        {
          "href": "#",
          "text": "Ver perfil"
        },
        {
          "href": "#",
          "text": "Cerrar sesión"
        }],
        "attributes": {
          "aria-label": "Menú de usuario para móvil"
        }
      }) }}
    </li>
  </ul>
  {% endcall %}
  <main id="content">
    {% block subHeaderBlock %}
    {% endblock %}
    <div class="container mx-auto p-base sm:py-lg min-h-96">
      {% block contentBlock %}
      {% endblock %}
    </div>
  </main>
{% include "pages/_page.foot.njk" %}
