{% include "pages/_page.head-blank.njk" %}

<!-- template.blank -->
<body>
  <main id="content" class="md:container mx-auto px-base">
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
  </main>
  