{# Titulo de pagina #}
{% set title = "Admin - Core - Spring - Data source. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.admin.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h1 flex-1">CORE</h1>
      </div>
      {# Menu del Core #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Spring",
            "active": true
          },
          {
            "href": "#",
            "text": "Logging"
          },
          {
            "href": "#",
            "text": "Security"
          }
          ,
          {
            "href": "#",
            "text": "Paega"
          }
        ],
        "attributes": {
          "aria-label": "Menu del Core"
        }
      })  }}
      {# fin Menu del Core #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl">
    <!-- sidebar -->
    <div class="col-span-2 lg:col-span-1">
      <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
      {{ componentMenuVertical({
        "idPrefix": "sidebar-item",
        "items": [
          {
            "text": "Profiles",
            "href": "#"
          },
          {
            "text": "Application",
            "href": "#"
          },
          {
            "text": "Data source",
            "href": "#",
            "active": true
          }
        ],
        "attributes": {
          "aria-labelledby": "apartados-de-pagina"
        }
      })  }}      
    </div>
    <!-- /sidebar -->
    <!-- contenido central -->
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-labelledby="datasource">
      <div class="lg:flex lg:flex-wrap w-full mb-base">
        <h2 id="datasource" class="c-h2">Data source</h2>
        <section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
          <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
          <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
            <li>
              {{ componentButton({
                "text": "Guardar propiedades",
                "classes": "c-button--primary"
              })  }}
            </li>
          </ul>
        </section>
      </div>
      <h3 class="c-h3 mb-base">Propiedades</h3>
      {{ componentInput({
        "id": "driver-class-name",
        "name": "driver-class-name",
        "label": {
          "html": 'driver-class-name <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full lg:w-3/5"
      })  }} 
      {{ componentInput({
        "id": "properties",
        "name": "properties",
        "label": {
          "html": 'properties <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full lg:w-3/5"
      })  }} 
      {{ componentSelect({
        "id": "initialization-mode",
        "name": "initialization-mode",
        "label": {
          "html": 'initialization-mode <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full lg:w-3/5",
        "items": [
          {
            "value": 0,
            "text": "Select mode",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Never"
          },
          {
            "value": 2,
            "text": "Always"
          }
        ]
      })  }}
      {{ componentInput({
        "id": "platform",
        "name": "platform",
        "label": {
          "html": 'platform <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full lg:w-3/5"
      })  }} 
    </section>
    <!-- /contenido central -->
  </div>
{% endblock %}
{# fin Contenido de la página #}