{# Titulo de pagina #}
{% set title = "Bandejas - Entradas - Asientos REGFIA. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}

{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M122.5 72.5A7.5 7.5 0 00115 80a45 45 0 11-45-45h20v12.5a7.5 7.5 0 0012.8 5.3l20-20a7.49 7.49 0 000-10.6l-20-20A7.5 7.5 0 0090 7.5V20H70a60 60 0 1060 60 7.5 7.5 0 00-7.5-7.5z"/></svg>
{% endblock %}
{% block titleText %}
  Importando asientos de REGFIA
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Importar",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <fieldset>
    <legend class="c-h3">Buscador de asientos registrales</legend>
    {{ componentSelect({
      "id": "organismo",
      "name": "organismo",
      "classes": "w-full lg:w-1/2",
      "label": {
        "text": "Organismo",
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un organismo...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Organismo 1"
        },
        {
          "value": 2,
          "text": "Organismo 2"
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Buscar",
      "classes": "c-button--primary mb-lg"
    })  }}    
  </fieldset>

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <p id="descTable1">Desde la primera columna se puede seleccionar el asiento a importar. </p>
  {% endcall %}

  {# Tabla-Listado de resultados #}
  {{ componentTableAdvanced({
    "idPrefix": "listado-resultados",
    "hasCheckboxes": true,
    "caption": "Listado de resultados",
    "captionClasses": "text-left font-bold mb-base",
    "attributes": {
      "aria-describedby": "descTable1"
    },
    "head": [
      {
        "html": '<abbr title="Número">Núm.</abbr> registro'
      },
      {
        "html": 'Interesado'
      },
      {
        "html": '<abbr title="Organismo">Org.</abbr> origen'
      },
      {
        "html": '<abbr title="Organismo">Org.</abbr> destino'
      },        
      {
        "html": 'Asunto'
      },        
      {
        "html": 'Registro'
      },        
      {
        "html": 'Estado'
      }
    ],
    "rows": [
      [
        {
          "html": 'E20200000880'
        },
        {
          "html": '17123456Z Silvia Rubio'
        },
        {
          "html": 'Nombre organismo'
        },
        {
          "html": 'Instituto Aragonés de Empleo'
        },
        {
          "html": 'Intercambio para práctica de curso'
        },
        {
          "html": '10/09/2020 10:53'
        },
        {
          "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Aceptado</div>'
        }
      ]
    ],
    "classes": "min-w-full"
  })  }}
  {# fin Tabla-Listado de resultados #}


{% endblock %}
{# fin Contenido de la página #}