{# Titulo de pagina #}
{% set title = "Bandejas - Entradas - Detalle – Documentos Relacionados - editar. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Entradas</a>
      </p>
      {# Cabecera de la Entrada #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo de la Entrada #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center">Entrada: Comunicación de apertura de centro de trabajo</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado Entrada #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de aceptar</p></div>
          {# Descripción Entrada #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> entrada',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "120085"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha registro',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020 11:23"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> registro',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "html": '<a href="#" class="c-link">RSJ_3434/2020</a>'
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Origen',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Interno"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Remitente',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección General de Administración Electrónica y Sociedad de la Información"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Aportador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Adminsitración"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Tipo de bandeja',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Personal"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre la Entrada #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-entrada">
          <h2 id="acciones-sobre-entrada" class="sr-only">Acciones sobre la entrada</h2>
          <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Aceptar",
                "classes": "lg:ml-sm mb-sm lg:mb-0"
              })  }}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Reenviar",
                "classes": "lg:ml-sm mb-sm lg:mb-0"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "reenviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-reenviar",
                    "aria-label": "Reenviar entrada"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A unan bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Aceptar y añadir",
                "classes": "c-dropdown--primary lg:ml-sm mb-sm lg:mb-0"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "aceptar-anadir",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-aceptar-anadir",
                    "aria-label": "Aceptar y añadir entrada"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A un expediente existente"
                    },
                    {
                      "href": "#",
                      "text": "A un expediente nuevo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera de la Entrada #}
      {# Menu de la Entrada #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Documentos relacionados",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          }
        ],
        "attributes": {
          "aria-label": "Menu de la Entrada"
        }
      })  }}
      {# fin Menu de la Entrada #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-base">
    <legend class="c-h3">Documentos relacionados</legend>
    <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-lg p-sm bg-warning-light border border-warning-base rounded">
      <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo edición</p>
      <ul class="lg:flex lg:flex-wrap">
        <li>
          {{ componentButton({
            "text": "Cancelar edición",
            "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar cambios",
            "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
      </ul>
    </div>
    <div class="max-w-full overflow-x-auto">
      <div class="table w-full border-t border-b border-neutral-base" role="table">
        <div class="table-caption sr-only">Editar datos de la persona física encontrada</div>
        <div class="table-header-group" role="rowgroup">
          <div class="table-row text-sm text-neutral-dark" role="row">
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">CSV</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Descripción</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Tipo documento</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader"><abbr title="Procedimiento">Proc.</abbr></div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader"><abbr title="Organismo">Org.</abbr> productor</div>
          </div>
        </div>
        <div class="table-row-group" role="rowgroup">
          <div class="table-row" role="row">
            <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell"><a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a></div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Descripción",
                  "classes": "sr-only"
                },
                "id": "descripcion1",
                "name": "descripcion1",
                "value": "Lorem ipsum dolor sit amet consectetur.",
                "classes": "c-input--sm w-full -mb-2.5",
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}            
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Tipo documento",
                  "classes": "sr-only"
                },
                "id": "tipo-doc1",
                "name": "tipo-doc1",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "Oficio",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Procedimiento",
                  "classes": "sr-only"
                },
                "id": "procedimiento1",
                "name": "procedimiento1",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "1520",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Organismo productor",
                  "classes": "sr-only"
                },
                "id": "org-productor1",
                "name": "org-productor1",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "ORG07506",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
          </div>
          <div class="table-row" role="row">
            <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell"><a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-015</a></div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Descripción",
                  "classes": "sr-only"
                },
                "id": "descripcion2",
                "name": "descripcion2",
                "value": "Lorem ipsum dolor sit amet consectetur.",
                "classes": "c-input--sm w-full -mb-2.5",
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}            
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Tipo documento",
                  "classes": "sr-only"
                },
                "id": "tipo-doc2",
                "name": "tipo-doc2",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "Oficio",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Procedimiento",
                  "classes": "sr-only"
                },
                "id": "procedimiento2",
                "name": "procedimiento2",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "1520",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentSelect({
                "label": {
                  "text": "Organismo productor",
                  "classes": "sr-only"
                },
                "id": "org-productor2",
                "name": "org-productor2",
                "classes": "c-select--sm w-full",
                "items": [
                  {
                    "value": 1,
                    "text": "ORG07506",
                    "selected": true
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ],
                "formGroup": {
                  "classes": "mb-0 -mt-sm"
                }
              })  }}
            </div>
          </div>
        </div>
      </div>
    </div>    
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}