{# Titulo de pagina #}
{% set title = "Bandejas - Salidas - Detalle – Traza. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Salidas</a>
      </p>
      {# Cabecera de la Salida #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo de la Salida #}
        <h1 class="c-h2 mb-xs flex-1">Salida: Envío para devolución</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado Salida #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de aceptar</p></div>
          {# Descripción Salida #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'Descripción',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "120085"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Remitente',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Nombre y apellidos"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> registro',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "html": '<a href="#" class="c-link">RT_300008159647522020</a>'
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha envío',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020 11:23"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Destinatario',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección General de Administración Electrónica"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> registro entrada',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "html": '<a href="#" class="c-link">RT_300008159647522020</a>'
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Aportador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Adminsitración"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
      </div>
      {# fin Cabecera de la Entrada #}
      {# Menu de la Entrada #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Documentos relacionados"
          },
          {
            "href": "#",
            "text": "Traza",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de la Entrada"
        }
      })  }}
      {# fin Menu de la Entrada #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <h2 class="c-h3 mb-base">Traza</h2>
  <div class="lg:text-right">
    {{ componentButton({
      "text": "Descargar traza en Excel",
      "classes": "c-button--sm mb-sm"
    })  }}
  </div>
  {# Tabla-Listado de traza #}
  {{ componentTable({
    "idPrefix": "listado-traza",
    "caption": "Listado de traza",
    "captionClasses": "sr-only",
    "head": [
      {
        "text": "Acción"
      },
      {
        "text": "Origen"
      },
      {
        "text": "Registro salida"
      },
      {
        "text": "Destino"
      }
    ],
    "rows": [
      [
        {
          "text": "Enviar",
          "classes": "align-top"
        },
        {
          "text": "Servicio de seguridad y protección civil",
          "classes": "align-top"
        },
        {
          "text": "10/09/2020 11:24",
          "classes": "align-top"
        },
        {
          "text": "Dirección General de Administración Electrónica y Sociedad de la Información",
          "classes": "align-top"
        }
      ],
      [
        {
          "text": "Reenviar",
          "classes": "align-top"
        },
        {
          "text": "Dirección General de Administración Electrónica y Sociedad de la Información",
          "classes": "align-top"
        },
        {
          "text": "10/09/2020 11:24",
          "classes": "align-top"
        },
        {
          "text": "Servicio de Diseño y Desarrollo de Servicios Públicos",
          "classes": "align-top"
        }
      ],
      [
        {
          "text": "Aceptar",
          "classes": "align-top"
        },
        {
          "text": "",
          "classes": "align-top"
        },
        {
          "text": "10/09/2020 11:24",
          "classes": "align-top"
        },
        {
          "text": "Servicio de Diseño y Desarrollo de Servicios Públicos",
          "classes": "align-top"
        }
      ]
    ],
    "classes": "min-w-full mb-base"
  })  }}
  {# fin Tabla-Listado de traza #}
{% endblock %}
{# fin Contenido de la página #}