{# Titulo de pagina #}
{% set title = "Bandejas - Salidas - Nuevo envío (bandeja personal). Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set unidad %}
    {{ componentSelect({
      "id": "unidad",
      "name": "unidad",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Unidad',
        "classes": "sr-only"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona una unidad...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Unidad 1"
        },
        {
          "value": 2,
          "text": "Unidad 2"
        }
      ]
    })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Nuevo envío
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <fieldset>
    <legend class="c-h3">Datos del envío</legend>
    {{ componentCharacterCount({
      "id": "desc-envio",
      "name": "desc-envio",
      "label": {
        "html": 'Descripción del envío <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "maxlength": 500,
      "rows": 3,
      "placeholder": "Escribe una descripción del envío...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
  </fieldset>
  
  {{ componentRadios({
    "idPrefix": "bandeja",
    "name": "bandeja",
    "fieldset": {
      "legend": {
        "html": 'Bandeja de envío',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "personal",
        "text": "Personal"
      },
      {
        "value": "unidad",
        "text": "Unidad",
        "checked": true,
        "conditional": {
          "html": unidad
        }
      }
    ]
  })  }}

  <fieldset>
    <legend class="c-h3">Seleccionar destinatario</legend>
    {{ componentSelect({
        "id": "ultimos-destinatarios",
        "name": "ultimos-destinatarios",
        "classes": "w-full",
        "label": {
          "text": "Últimos destinatarios",
          "classes": "font-semibold"
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un destinatario...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Destinatario 1"
          },
          {
            "value": 2,
            "text": "Destinatario 2"
          }
        ]
      })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Buscar un empleado público</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentInput({
        "id": "nombre",
        "name": "nombre",
        "label": {
          "text": "Nombre",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el nombre"
      })  }}
      {{ componentInput({
        "id": "dni",
        "name": "dni",
        "label": {
          "text": "DNI",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el DNI"
      })  }}
      {{ componentInput({
        "id": "primer-apellido",
        "name": "primer-apellido",
        "label": {
          "text": "Primer apellido",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el primer apellido"
      })  }}
      {{ componentInput({
        "id": "segundo-apellido",
        "name": "segundo-apellido",
        "label": {
          "text": "Segundo apellido",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el segundo apellido"
      })  }}
      {{ componentInput({
        "id": "email",
        "name": "email",
        "label": {
          "text": "Email",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el email"
      })  }}
    </div>
    {{ componentButton({
      "text": "Buscar",
      "classes": "c-button--primary mb-lg"
    })  }}
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}