{# Titulo de pagina #}
{% set title = "Bandejas - Salidas - Detalle – Documentos Relacionados. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Salidas</a>
      </p>
      {# Cabecera de la Salida #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo de la Salida #}
        <h1 class="c-h2 mb-xs flex-1">Salida: Envío para devolución</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado Salida #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de aceptar</p></div>
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Aceptada</p></div>
          {# Descripción Salida #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'Descripción',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "120085"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Remitente',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Nombre y apellidos"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> registro',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "html": '<a href="#" class="c-link">RT_300008159647522020</a>'
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha envío',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020 11:23"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Destinatario',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección General de Administración Electrónica"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": '<abbr title="Número">Nº</abbr> registro entrada',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "html": '<a href="#" class="c-link">RT_300008159647522020</a>'
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Aportador',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Adminsitración"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
      </div>
      {# fin Cabecera de la Entrada #}
      {# Menu de la Entrada #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Documentos relacionados",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          }
        ],
        "attributes": {
          "aria-label": "Menu de la Entrada"
        }
      })  }}
      {# fin Menu de la Entrada #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <h2 class="c-h3 mb-base">Documentos relacionados</h2>
  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar los documentos relacionados para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los elementos con la casilla de verificación "Seleccionar todo".</p>
        <p>La segunda columna contiene el enlace de acceso al detalle del documento relacionado.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones documentos relacionados #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-documentos-relacionados">
    <h2 id="acciones-documentos-relacionados" class="sr-only">Selección múltiple y Acciones sobre el listado de documentos relacionados</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-documentos-relacionados",
        "name": "todos-documentos-relacionados",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="lg:flex">
        <li>
          {{ componentButton({
            "text": "Descargar",
            "classes": "c-button--sm lg:ml-sm mb-sm"
          })  }}
        </li>
      </ul>      
    </div>
  </section>
  {# fin Barra de Acciones documentos relacionados #}
  {# Tabla-Listado de documentos relacionados #}
  <section class="max-w-full overflow-x-auto mb-base" aria-labelledby="documentos-relacionados">
    <h2 id="documentos-relacionados" class="sr-only">Listado de documentos relacionados</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-documentos-relacionados",
      "hasCheckboxes": true,
      "caption": "Listado de documentos relacionados",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'CSV'
        },
        {
          "html": 'Descripción'
        },        
        {
          "html": 'Tipo documento'
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>'
        },
        {
          "html": '<abbr title="Organismo">Org.</abbr> productor'
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">1234567891234567891</a>'
          },
          {
            "html": 'Dirección General de Administración Electrónica y Sociedad de la Información'
          },
          {
            "html": 'Oficio'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": 'ORG17014 Lorem ipsum dolor'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de documentos relacionados #}
{% endblock %}
{# fin Contenido de la página #}