{# Titulo de pagina #}
{% set title = "Bandejas - Salidas. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBuscador %}
  <form id="form-busqueda-avanzada" class="grid md:grid-cols-2 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción",
      "classes": "w-full"
    })  }} 
    {{ componentSelect({
      "id": "procedimiento",
      "name": "procedimiento",
      "classes": "w-full",
      "label": {
        "text": "Procedimiento"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un procedimiento",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Procedimiento 1"
        },
        {
          "value": 2,
          "text": "Procedimiento 2"
        },
        {
          "value": 3,
          "text": "Procedimiento 3"
        }
      ]
    })  }}
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fechinienvio",
        "namePrefix": "fechinienvio",
        "fieldset": {
          "legend": {
            "text": "Fecha inicio de envío:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechfinenvio",
        "namePrefix": "fechfinenvio",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de envío:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    {{ componentInput({
      "label": {
        "text": "Destinatario"
      },
      "id": "destinatario",
      "name": "destinatario",
      "placeholder": "Escribe el destinatario",
      "classes": "w-full",
      "formGroup": {
        "classes": "self-end"
      }
    })  }} 
    {{ componentSelect({
      "id": "estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "text": "Estado"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un estado",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Pendiente de aceptar"
        },
        {
          "value": 2,
          "text": "Aceptado"
        }
      ]
    })  }}
    <div class="md:col-span-2">
      {{ componentButton({
        "text": "Buscar",
        "classes": "c-button--primary"
      })  }}
    </div>               
  </form>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <div class="lg:flex lg:flex-wrap w-full">
        <h1 class="c-h1 flex-1">Bandejas</h1>
        {# Boton nuevo #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
          <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
          {% call componentDropdown({
            "text": "Nuevo envío",
            "classes": "c-dropdown--primary mr-sm mb-sm"
            })  %}
            {{ componentNav({
              "isMenu": true,
              "idPrefix": "nuevo-envio",
              "classes": "w-max max-w-64",
              "attributes": {
                "id": "nav-nuevo-envio"
              },
              "items": [
                {
                  "href": "#",
                  "text": "A una bandeja personal"
                },
                {
                  "href": "#",
                  "text": "A un organismo"
                }
              ]
            })  }}
          {% endcall %}          
        </section>
        {# fin Boton nuevo #}
      </div>
      {# Menu de la Bandeja #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Entradas"
          },
          {
            "href": "#",
            "text": "Salidas",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu de la Bandeja"
        }
      })  }}
      {# fin Menu de la Bandeja #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  {# Filtros de Busqueda #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Buscador",
          "html": formBuscador
        }
      ]
    })  }}
  </section>
  {# fin Filtros de Busqueda #}

  <section class="max-w-full overflow-x-auto" aria-labelledby="salidas">
    <h2 id="salidas" class="c-h2">Bandeja de salida</h2>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
        "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columnas permiten ordenar y filtrar los resultados de la tabla.</p>
          <p>La primera columna contiene el enlace de acceso al detalle de la salida.</p>
          <p>Puedes navegar por los resultados de la tabla mediante la paginación situada después de la misma.</p>
        </div>
    {% endcall %}
    {# Tabla-Listado de salidas #}
    {{ componentTableAdvanced({
      "idPrefix": "listado-salidas",
      "caption": "Listado de salidas",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Descripción',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Envío',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Destinatario',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Envío para devolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Dirección General de Administración Electrónica y Sociedad de la Información'
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de aceptar</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Envío para devolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Bandeja personal: Marta López'
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Aceptado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Envío para devolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Dirección General de Administración Electrónica y Sociedad de la Información'
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Pendiente de aceptar</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold">Envío para devolución</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Bandeja personal: Marta López'
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Aceptado</div>'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
    {# fin Tabla-Listado de salidas #}
  </section>
  
  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-bandeja",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}