{# Titulo de pagina #}
{% set title = "Bandejas - Salidas - Nuevo envío (bandeja personal) - Buscar. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set unidad %}
    {{ componentSelect({
      "id": "unidad",
      "name": "unidad",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Unidad',
        "classes": "sr-only"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona una unidad...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Unidad 1"
        },
        {
          "value": 2,
          "text": "Unidad 2"
        }
      ]
    })  }}
{% endset %}
{% set buscarDoc %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Código Seguro de Verificación </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
    <a href="#" class="inline-block c-link font-semibold mt-base">Acceder a Portafirmas</a>
  </div>
{% endset %}
{% set subirDesdeEquipo %}
  <p><a href="#" class="inline-block c-link font-semibold mb-sm">Descargar plantilla Excel</a></p>
  <p class="font-bold">Añadir Excel desde el equipo</p>
  {{ componentFileUpload({
    "id": "file-upload-2",
    "name": "file-upload-2",
    "label": {
      "text": "Sube el documento o documentos a añadir",
      "classes": "text-neutral-dark"
    }
  })  }}
{% endset %}
{% set docSubido %}
  <fieldset>
    <legend class="font-bold mb-sm">Archivos subidos</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      <ul>
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc1">Nombre_del_archivo.xls</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class=" c-button c-button--sm c-button--transparent" aria-labelledby="eliminar1 desc1"><span id="eliminar1">Eliminar</span></button>
          {% endcall %}
        </li>
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc2">Nombre_del_archivo.xls</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class="c-button c-button--sm c-button--transparent" aria-labelledby="eliminar2 desc2"><span id="eliminar2">Eliminar</span></button>
          {% endcall %}
        </li>
      </ul>
    </div>      
  </fieldset>
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar csv1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Nuevo envío
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <fieldset>
    <legend class="c-h3">Datos del envío</legend>
    {{ componentCharacterCount({
      "id": "desc-envio",
      "name": "desc-envio",
      "label": {
        "html": 'Descripción del envío <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "maxlength": 500,
      "rows": 3,
      "placeholder": "Escribe una descripción del envío...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
  </fieldset>
  
  {{ componentRadios({
    "idPrefix": "bandeja",
    "name": "bandeja",
    "fieldset": {
      "legend": {
        "html": 'Bandeja de envío',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "personal",
        "text": "Personal"
      },
      {
        "value": "unidad",
        "text": "Unidad",
        "checked": true,
        "conditional": {
          "html": unidad
        }
      }
    ]
  })  }}

  <fieldset>
    <legend class="c-h3">Seleccionar destinatario</legend>
    {{ componentSelect({
        "id": "ultimos-destinatarios",
        "name": "ultimos-destinatarios",
        "classes": "w-full",
        "label": {
          "text": "Últimos destinatarios",
          "classes": "font-semibold"
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un destinatario...",
            "selected": true,
            "disabled": true
          },
          {
            "value": 1,
            "text": "Destinatario 1"
          },
          {
            "value": 2,
            "text": "Destinatario 2"
          }
        ]
      })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Buscar un empleado público</legend>
    <div class="lg:flex items-start">
      <ul class="lg:flex">
        <li>
          {{ componentPill({
            "type": "button",
            "html": "Nombre: Javier <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
          })  }}
        </li>
        <li>
          {{ componentPill({
            "type": "button",
            "html": "Primer apellido: López <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
          })  }}
        </li>
      </ul>
      {{ componentButton({
        "text": "Limpiar búsqueda",
        "classes": "c-button--transparent c-button--sm lg:ml-base"
      })  }}
    </div>
  </fieldset>

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs mt-sm text-sm"
  })  %}
      <div id="descTable1">
        <p>Desde la primera columna se puede seleccionar la persona a la que hacer el envío.</p>
        <p>Puedes eliminar los filtros aplicados mediante los botones situados antes de la tabla.</p>
      </div>
  {% endcall %}

  <div class="max-w-full overflow-x-auto">
    <div class="table w-full border-t border-b border-neutral-base mb-xl" aria-describedby="descTable1" role="table">
      <div class="table-caption font-bold mb-base">Listado de resultados</div>
      <div class="table-header-group" role="rowgroup">
        <div class="table-row text-sm text-neutral-dark" role="row">
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Nombre</div>
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader"><abbr title="Número de identificación fiscal">NIF</abbr></div>
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Organismo</div>
        </div>
      </div>
      <div class="table-row-group" role="rowgroup">
        <div class="table-row" role="row">
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            {{ componentRadios({
              "idPrefix": "resultado1",
              "name": "resultados",
              "formGroup": {
                "classes": "mb-0"
              },
              "items": [
                {
                  "value": "resultado1",
                  "text": "Javier López",
                  "classes": "font-semibold -my-sm"
                }
              ]
            })  }}  
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>25123456Z</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>Departamento de Vertebración del Territorio</p>
          </div>
        </div>
        <div class="table-row" role="row">
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            {{ componentRadios({
              "idPrefix": "resultado2",
              "name": "resultados",
              "formGroup": {
                "classes": "mb-0"
              },
              "items": [
                {
                  "value": "resultado2",
                  "text": "Javier López",
                  "classes": "font-semibold -my-sm"
                }
              ]
            })  }}  
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>17123456A</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>Servicio de diseño y desarrollo de Servicios Públicos</p>
          </div>
        </div>
      </div>
    </div>
  </div>    

  {# Añadiendo documento/expediente #}
  <fieldset>
    <legend class="c-h3">Añadir un documento/expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></legend>
    <p class="text-sm mb-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>El primer documento o expediente que añadas determinará el procedimeinto de envío.</p>
    {{ componentRadios({
      "idPrefix": "sum-doc",
      "name": "sum-doc",
      "items": [
        {
          "value": "csv",
          "text": "Búsqueda por CSV",
          "conditional": {
            "html": buscarDoc
          },
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "plantilla",
          "text": "Adjuntar documentos/expedientes mediante plantilla",
          "conditional": {
            "html": subirDesdeEquipo
          },
          "attributes": {
            "aria-required": true
          }
        }
      ]
    })  }}
  </fieldset>

  {# Añadiendo documento/expediente - archivo subido #}
  <fieldset>
    <legend class="c-h3">Añadir un documento/expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></legend>
    <p class="text-sm mb-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>El primer documento o expediente que añadas determinará el procedimeinto de envío.</p>
    {{ componentRadios({
      "idPrefix": "sum-doc2",
      "name": "sum-doc2",
      "items": [
        {
          "value": "csv",
          "text": "Búsqueda por CSV",
          "conditional": {
            "html": buscarDoc
          },
          "attributes": {
            "aria-required": true
          }
        },
        {
          "value": "plantilla",
          "text": "Adjuntar documentos/expedientes mediante plantilla",
          "checked": true,
          "conditional": {
            "html": docSubido
          },
          "attributes": {
            "aria-required": true
          }
        }
      ]
    })  }}
  </fieldset>
  
  {# Añadiendo documento/expediente - documento seleccionado #}
  <fieldset>
    <legend class="c-h3">Añadir un documento/expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></legend>
    <p class="text-sm mb-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>El primer documento o expediente que añadas determinará el procedimeinto de envío.</p>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <p id="descTable2">Desde la cuarta columna es posible eliminar uno o más documentos seleccionados y contenidos en la tabla.</p>
    {% endcall %}
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "idPrefix": "documento-seleccionado",
        "caption": "Documento seleccionado",
        "captionClasses": "mb-base font-bold text-left",
        "attributes": {
          "aria-describedby": "descTable2"
        },
        "head": [
          {
            "text": "CSV"
          },
          {
            "text": "Tipo de documento"
          },
          {
            "text": "Descripción"
          },
          {
            "html": '<span id="descartar" class="sr-only">Descartar</span>'
          }
        ],
        "rows": [
          [
            {
              "text": "CSVBA26ME75I1W0BENT",
              "classes": "font-semibold",
              "attributes": {
                "id": "csv1"
              }
            },
            {
              "text": "Aceptación"
            },
            {
              "text": "Comunicación de resolución"
            },
            {
              "html": botonDescartar
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {{ componentSelect({
      "id": "fase-expediente",
      "name": "fase-expediente",
      "formGroup": {
        "classes": "mt-lg"
      },
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase del expediente a la que corresponde el documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
            "value": 0,
            "text": "Selecciona la fase...",
            "selected": true,
            "disabled": true
          },
        {
          "value": 1,
          "text": "Actuaciones previas"
        },
        {
          "value": 2,
          "text": "Inicio de tramitación"
        },
        {
          "value": 3,
          "text": "Participación pública"
        },
        {
          "value": 4,
          "text": "Informes"
        },
        {
          "value": 5,
          "text": "Valoración/Evaluación/Licitación/Prueba"
        },
        {
          "value": 6,
          "text": "Propuesta de resolución"
        },
        {
          "value": 7,
          "text": "Resolución/Actos de finalización de tramitación"
        },
        {
          "value": 8,
          "text": "Revisiones y recursos"
        },
        {
          "value": 8,
          "text": "Obligaciones de pago/abono/reintegro/certificaciones"
        },
        {
          "value": 10,
          "text": "Otros trámites"
        },
        {
          "value": 11,
          "text": "Gestión económica y presupuestaria"
        }
      ]
    })  }}
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir otro documento',
      "href": "#",
      "classes": "c-button--sm mb-lg"
    })  }}
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}