{# Titulo de pagina #}
{% set title = "Detalle Expediente - Detalle de un documento - traza. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a ZA-SP-ENE-AT-2020-014</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center">Documento de resolución</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "CSVK45WT8V57T110CPPC"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Tipo documental',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Resolución"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Firmante',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Gobierno de Aragón"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de creación',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "27/10/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Descargar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "descargar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-descargar"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Documento"
                    },
                    {
                      "href": "#",
                      "text": "Firma"
                    },
                    {
                      "href": "#",
                      "text": "XML"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {{ componentButton({
                "text": "Ver vista previa",
                "classes": "c-button--primary"
              })  }}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Verificar firma"
          },
          {
            "href": "#",
            "text": "Traza",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <h2 class="c-h3 mb-sm">Traza</h2>
  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs text-sm"
  })  %}
      <p id="descTable1">Las cabeceras de columnas incluyen opciones de ordenación. </p>
  {% endcall %}    
  <div class="max-w-full overflow-x-auto">
    {{ componentTableAdvanced({
      "idPrefix": "traza-doc",
      "caption": "Trazabilidad del documento",
      "captionClasses": "sr-only",
      "head": [
        {
          "text": "Fecha",
          "orderBy": "none"
        },
        {
          "text": "Acción"
        },
        {
          "text": "Detalle de la acción"
        },
        {
          "text": "Cambios"
        }
      ],
      "rows": [
        [
          {
            "text": ""
          },
          {
            "text": ""
          },
          {
            "text": ""
          },
          {
            "text": ""
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  <p class="text-sm mt-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>No se han encontrado elementos</p>

{% endblock %}
{# fin Contenido de la página #}