{# Titulo de pagina #}
{% set title = "Detalle Expediente - Indice. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice",
            "active": true
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <section class="mb-base" aria-labelledby="indice">
    <div class="lg:flex">
      <h2 id="indice" class="c-h3 flex-1 self-center">Índice</h2>
      {{ componentButton({
        "text": "Actualizar índice",
        "classes": "c-button--sm c-button--primary block lg:ml-sm  mb-base self-center"
      })  }}
    </div>
    {# Notificación #}
    <section aria-labelledby="notificaciones">
      <h2 id="notificaciones" class="sr-only">Notificaciones</h2>
      <div role="alert" aria-live="assertive">
        {{ componentNotification({
          "title": {
            "text": "Índice desactualizado",
            "classes": "font-bold"
          },
          "description": {
            "text": "El índice actual no corresponde con la estructura de los documentos en la pestaña vista general"
          },
          "type": "info",
          "isDismissible": true,
          "id": "notif-indice",
          "classes": "c-notification--primary mb-base"
        })  }}
      </div>
    </section>
    {# fin Notificación #}
    <h3 id="indice-actual" class="font-bold mb-sm">Índice actual</h3>
    {% call componentItem({
      "title": {
        "html": '<span id="indice1"><abbr title="Expediente">Exp.</abbr> prueba de Marta</span>'
      },
      "items": [
        {
          "text": "CSV5A89QXV66P190BENT"
        },
        {
          "text": "Fecha de creación: 19/04/2020"
        },
        {
          "text": "Generado por: 12345678Z"
        }
      ],
      "classes": "mb-base"
    })  %}
        <ul class="lg:flex">
            <li><button class=" c-button c-button--sm c-button--transparent lg:ml-sm mb-sm lg:mb-0" aria-labelledby="descargar1 indice1"><span id="descargar1">Descargar</span></button></li>
            <li><button class=" c-button c-button--sm c-button--transparent lg:ml-sm mb-sm lg:mb-0" aria-labelledby="ver1 indice1"><span id="ver1">Ver detalles</span></button></li>
        </ul>
    {% endcall %}
    <h3 id="indices-anteriores" class="font-bold mb-sm">Índices anteriores</h3>
    {% call componentItem({
      "title": {
        "html": '<span id="indice2"><abbr title="Expediente">Exp.</abbr> prueba de Daniel</span>'
      },
      "items": [
        {
          "text": "CSV5A89QXV66P190BENT"
        },
        {
          "text": "Fecha de creación: 19/04/2020"
        },
        {
          "text": "Generado por: 12345678Z"
        }
      ]
    })  %}
        <ul class="lg:flex">
            <li><button class=" c-button c-button--sm c-button--transparent lg:ml-sm mb-sm lg:mb-0" aria-labelledby="descargar2 indice2"><span id="descargar2">Descargar</span></button></li>
            <li><button class=" c-button c-button--sm c-button--transparent lg:ml-sm mb-sm lg:mb-0" aria-labelledby="ver2 indice2"><span id="ver2">Ver detalles</span></button></li>
        </ul>
    {% endcall %}
  </section>
{% endblock %}
{# fin Contenido de la página #}