{# Titulo de pagina #}
{% set title = "Detalle Expediente - Interesados - Añadir interesados a representante. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M27.5 27.5a22.5 22.5 0 1045 0 22.5 22.5 0 10-45 0zM45 125H5v-15a45 45 0 0165.13-40.26M105 75v60M75 105h60" stroke-width="10"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadiendo interesados
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">A un representante</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir interesados",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <fieldset>
    <legend class="c-h3 pt-base mb-sm">Selecciona los interesados del expediente a los que representa</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
        "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>En la primera columna puedes seleccionar los interesados que quieras añadir al detalle del representante como interesados representados. Puedes seleccionar todos los interesados con la casilla de verificación "Seleccionar todo".</p>
          <p>Las cabeceras de columnas incluyen opciones de filtrado y ordenación.</p>
        </div>
    {% endcall %}
    {# Seleccion multiple #}
    {{ componentCheckboxes({
      "idPrefix": "todos-interesados",
      "name": "todos-interesados",
      "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
      "items": [
        {
          "value": "todos",
          "text": "Seleccionar todo",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    })  }}    
    {# fin Seleccion multiple #}
    {# Tabla-Listado de interesados #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-interesados",
        "hasCheckboxes": true,
        "caption": "Listado de interesados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Nombre/Razón Social',
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "html": 'Primer apellido',
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "html": 'Segundo apellido',
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "html": 'Personalidad',
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "html": 'Documento',
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "html": '<abbr title="Número">Nº</abbr> Identificación',
            "orderBy": "none",
            "hasFilter": true
          }
        ],
        "rows": [
          [
            {
              "html": 'Julio'
            },
            {
              "text": "Mieza"
            },
            {
              "text": "Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Julio Mieza Gil S.L.'
            },
            {
              "text": "-"
            },
            {
              "text": "-"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'María Teresa'
            },
            {
              "text": "González"
            },
            {
              "text": "Martínez"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Hermanos Prado López S.L.'
            },
            {
              "text": "-"
            },
            {
              "text": "-"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Antonio Jesús'
            },
            {
              "text": "Cordero"
            },
            {
              "text": "Guijarro"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Gestoría Moreno'
            },
            {
              "text": "-"
            },
            {
              "text": "-"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'María del Mar'
            },
            {
              "text": "Rodriguez"
            },
            {
              "text": "Montañes"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'EJ Sport C.B.2'
            },
            {
              "text": "-"
            },
            {
              "text": "-"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Nadia'
            },
            {
              "text": "Pérez"
            },
            {
              "text": "de la Fuente"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": 'Comunidad vecinal'
            },
            {
              "text": "-"
            },
            {
              "text": "-"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de interesados #}
    {# Paginacion #}
    <div class="mt-base">
      <p id="paginacion" class="sr-only">Paginación</p>
      {{ componentPagination({
        "id": "paginacion-listado-interesados",
        "hasSelect": true,
        "idPrefix": "pagina",
        "totalItems": "20",
        "itemsPerPage": "10",
        "items": [
          {
            "href": "#",
            "text": 1,
            "active": true
          },
          {
            "href": "#",
            "text": 2
          }
        ],
        "hasPrevious": false,
        "hasNext": true,
        "previousText": "Anterior",
        "nextText": "Siguiente",
        "attributes": {
          "aria-label": "Paginación"
        }
      })  }}
    </div>
    {# fin Paginacion #} 
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}