{# Titulo de pagina #}
{% set title = "Detalle Expediente - Interesados. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Tiene 45 interesados"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <section class="mb-base" aria-labelledby="interesados-representantes">
    <h2 id="interesados-representantes" class="c-h3 mb-sm">Interesados y representantes</h2>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
        "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>La primera columna contiene el nombre de los interesados y enlace de acceso al detalle de los mismos.</p>
          <p>Las cabeceras de columnas incluyen opciones de filtrado y ordenación.</p>
          <p>Puedes añadir un representante o un interesado desde los botones situados antes de la tabla.</p>
        </div>
    {% endcall %}
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <div class="flex lg:items-start lg:ml-auto lg:pl-base mb-sm">
        <ul class="lg:flex">
            <li>
              {{ componentButton({
                "text": "Añadir representante",
                "classes": "c-button--sm lg:ml-sm mb-sm lg:mb-0"
              })  }}
            </li>
            <li>
              {{ componentButton({
                "text": "Añadir interesado",
                "classes": "c-button--sm c-button--primary lg:ml-sm mb-sm lg:mb-0"
              })  }}
            </li>
        </ul>
      </div>
    </div>
    {# Tabla-Listado de interesados y representantes #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-interesados-representantes",
        "caption": "Listado de interesados y representantes",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "text": "Nombre",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Personalidad",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "En calidad de",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Tipología del documento",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Número de identificación",
            "orderBy": "none",
            "hasFilter": true
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona física"
            },
            {
              "text": "Representante"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "Interesado"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona física"
            },
            {
              "text": "Representante"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "Interesado"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona física"
            },
            {
              "text": "Representante"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "Interesado"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona física"
            },
            {
              "text": "Representante"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "Interesado"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona física"
            },
            {
              "text": "Representante"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Julio Mieza Gil</a>'
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "Interesado"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de interesados y representantes #}
  </section>

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-interesados",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}  
{% endblock %}
{# fin Contenido de la página #}