{# Titulo de pagina #}
{% set title = "Detalle Expediente - Representante - Detalle. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Contenido de la página #}
{% block contentBlock %}

  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
    <a href="#" class="c-link">Volver a ZA-SP-ENE-AT-2020-014</a>
  </p>
  {# Datos del representante #}
  <section class="lg:flex lg:flex-wrap w-full mb-lg" aria-labelledby="datos-representante">
    <h1 id="datos-representante" class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del representante</span> Julio Mieza Gil</h1>
    <div class="lg:order-3 w-full">
      {{ componentDescriptionList({
        "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
        "items": [
          {
            "term": {
              "html": 'Personalidad',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "Persona física"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'En calidad de',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "Representante"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
                    {
            "term": {
              "html": 'Documento',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "DNI"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Número de identidficación',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "46578954A"
            },
            "classes": "flex-auto pr-lg mb-sm"
          }
        ]
      })  }}
    </div>
    {# Botones de acciones sobre representante #}
    <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-representante">
      <h2 id="acciones-sobre-representante" class="sr-only">Acciones sobre el representante</h2>
      <ul class="lg:flex">
        <li>
          {{ componentButton({
            "text": "Eliminar representante",
            "classes": "c-button--transparent lg:ml-sm mb-sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Editar representante",
            "classes": "lg:ml-sm mb-sm"
          })  }}
        </li>
      </ul>
    </section>
  </section>
  {# fin Datos del representante #}

  <h2 class="c-h3 mb-base">Interesados representados</h2>
  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar los interesados representados para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los elementos con la casilla de verificación "Seleccionar todo".</p>
      </div>
  {% endcall %}
  {# Barra de Acciones Interesados representados #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-interesados-representados">
    <h2 id="acciones-interesados-representados" class="sr-only">Selección múltiple y Acciones sobre el listado de interesados representados</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-interesados-representados",
        "name": "todos-interesados-representados",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="lg:flex">
        <li>
          {{ componentButton({
            "text": "Eliminar representación",
            "disabled": true,
            "classes": "c-button--sm c-button--transparent lg:ml-sm mb-sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Añadir interesado",
            "classes": "c-button--sm lg:ml-sm mb-sm"
          })  }}
        </li>
      </ul>      
    </div>
  </section>
  {# fin Barra de Acciones Interesados representados #}
  {# Tabla-Listado de Interesados representados #}
  <section class="max-w-full overflow-x-auto mb-base" aria-labelledby="interesados-representados">
    <h2 id="interesados-representados" class="sr-only">Listado de Interesados representados</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-interesados-representados",
      "hasCheckboxes": true,
      "caption": "Listado de Interesados representados",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Nombre/Razón social'
        },
        {
          "html": 'Primer apellido'
        },        
        {
          "html": 'Segundo apellido'
        },
        {
          "html": 'Personalidad'
        },
        {
          "html": 'Documento'
        },
        {
          "html": '<abbr title="Número">Nº</abbr> Identificación'
        }
      ],
      "rows": [
        [
          {
            "html": 'Julio'
          },
          {
            "html": 'Mieza'
          },
          {
            "html": 'Gil'
          },
          {
            "html": 'Persona física'
          },
          {
            "html": 'DNI'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Hermanos Prado López S.L.'
          },
          {
            "html": '-'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ],
        [
          {
            "html": 'Ej Sport C.B.2'
          },
          {
            "html": '-'
          },
          {
            "html": '-'
          },
          {
            "html": 'Persona jurídica'
          },
          {
            "html": 'CIF'
          },
          {
            "html": '46578954A'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de Interesados representados #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-interesados",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "3",
      "itemsPerPage": "3",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}  

{% endblock %}
{# fin Contenido de la página #}