{# Titulo de pagina #}
{% set title = "Detalle Expediente - Metadatos. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/media-object/_macro.media-object.njk" import componentMediaObject %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/status-item/_macro.status-item.njk" import componentStatusItem %}
{# fin Dependencias #}

{# Definiciones #}
{% set figureEdit %}
  <div class="lg:opacity-0 group-hover:opacity-100 focus-within:opacity-100">
    {{ componentButton({
      "html": '<span id="editar1">Editar</span>',
      "classes": "c-button--sm c-button--transparent",
      "attributes": {
        "aria-labelledby": "editar1 metadato1"
      }
    })  }}
  </div>
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos",
            "active": true
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <section class="mb-base" aria-labelledby="metadatos">
    <h2 id="metadatos" class="c-h3 mb-base">Metadatos</h2>
    {% call componentMediaObject({
      "reverse": true,
      "figureHtml": figureEdit,
      "figureClasses": "lg:block w-full lg:w-auto lg:ml-base",
      "classes": "flex flex-wrap group lg:-ml-base mb-base lg:mb-0 lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light"
    })  %}
      <h3 id="metadato1" class="font-bold leading-tight mb-xs">Descripción</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    {% endcall %} 
    {% call componentMediaObject({
      "reverse": true,
      "figureHtml": figureEdit,
      "figureClasses": "lg:block w-full lg:w-auto lg:ml-base",
      "classes": "flex flex-wrap group lg:-ml-base mb-base lg:mb-0 lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light"
    })  %}
      <h3 id="metadato2" class="font-bold leading-tight mb-xs">Número interno</h3>
      <p class="text-sm">ZAP-SP-ENE-AT-2020-014</p>
    {% endcall %} 
    {% call componentMediaObject({
      "reverse": true,
      "figureHtml": figureEdit,
      "figureClasses": "lg:block w-full lg:w-auto lg:ml-base",
      "classes": "flex flex-wrap group lg:-ml-base mb-base lg:mb-0 lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light"
    })  %}
      <h3 id="metadato3" class="font-bold leading-tight mb-xs">Procedimiento</h3>
      <p class="text-sm">1520 - Subvención para actividades de educación de personas adultas.</p>
    {% endcall %} 
    {% call componentMediaObject({
      "reverse": true,
      "figureHtml": figureEdit,
      "figureClasses": "lg:block w-full lg:w-auto lg:ml-base",
      "classes": "flex flex-wrap group lg:-ml-base mb-base lg:mb-0 lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light"
    })  %}
      <h3 id="metadato4" class="font-bold leading-tight mb-xs">Visibilidad</h3>
      <p class="text-sm">Compartida (organismos gestores): organismo 1</p>
    {% endcall %} 
    {% call componentMediaObject({
      "reverse": true,
      "figureHtml": figureEdit,
      "figureClasses": "lg:block w-full lg:w-auto lg:ml-base",
      "classes": "flex flex-wrap group lg:-ml-base mb-base lg:mb-0 lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light"
    })  %}
      <h3 id="metadato5" class="font-bold leading-tight mb-xs">Aportador</h3>
      <p class="text-sm">Marta López - Departamento de Administración Electrónica</p>
    {% endcall %} 
  </section>


  <section class="mb-base     mt-2xl" aria-labelledby="metadatos2">
    <h2 id="metadatos2" class="c-h3 mb-base">Metadatos     <span class="font-normal">(otra opción de listado)</span></h2>
      {% call componentStatusItem({
        "id": "descripcion",
        "title": {
          "text": "Descripción",
          "classes": "font-bold leading-tight mb-xs"
        },
        "hint": {
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing.",
          "classes": "text-sm"
        }
      })  %}
          <button class="c-button c-button--sm c-button--transparent" data-module="c-button" aria-labelledby="editarDescripcion descripcion"><span id="editarDescripcion">Editar</span></button>
      {% endcall %}
      {% call componentStatusItem({
        "id": "numInterno",
        "title": {
          "text": "Número interno",
          "classes": "font-bold leading-tight mb-xs"
        },
        "hint": {
          "text": "ZAP-SP-ENE-AT-2020-014",
          "classes": "text-sm"
        }
      })  %}
          <button class="c-button c-button--sm c-button--transparent" data-module="c-button" aria-labelledby="editarNumInterno numInterno"><span id="editarNumInterno">Editar</span></button>
      {% endcall %}
      {% call componentStatusItem({
        "id": "procedimiento",
        "title": {
          "text": "Procedimiento",
          "classes": "font-bold leading-tight mb-xs"
        },
        "hint": {
          "text": "1520 - Subvención para actividades de educación de personas adultas",
          "classes": "text-sm"
        }
      })  %}
          <button class="c-button c-button--sm c-button--transparent" data-module="c-button" aria-labelledby="editarProcedimiento procedimiento"><span id="editarProcedimiento">Editar</span></button>
      {% endcall %}
      {% call componentStatusItem({
        "id": "visibilidad",
        "title": {
          "text": "Visibilidad",
          "classes": "font-bold leading-tight mb-xs"
        },
        "hint": {
          "text": "Compartida (organismos gestores): organismo 1",
          "classes": "text-sm"
        }
      })  %}
          <button class="c-button c-button--sm c-button--transparent" data-module="c-button" aria-labelledby="editarVisibilidad visibilidad"><span id="editarVisibilidad">Editar</span></button>
      {% endcall %}
      {% call componentStatusItem({
        "id": "aportador",
        "title": {
          "text": "Aportador",
          "classes": "font-bold leading-tight mb-xs"
        },
        "hint": {
          "text": "Marta López - Departamento de Administración Electrónica",
          "classes": "text-sm"
        }
      })  %}
          <button class="c-button c-button--sm c-button--transparent" data-module="c-button" aria-labelledby="editarAportador aportador"><span id="editarAportador">Editar</span></button>
      {% endcall %}
  </section>


{% endblock %}
{# fin Contenido de la página #}