{# Titulo de pagina #}
{% set title = "Detalle Expediente - Vista general - ordenar. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-folder/_macro.item-folder.njk" import componentItemFolder %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general",
            "active": true
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <h2 class="c-h3">Vista general</h2>
  <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-base p-sm bg-warning-light border border-warning-base rounded">
    <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo organizar</p>
    <ul class="lg:flex lg:flex-wrap">
      <li>
        {{ componentButton({
          "text": "Salir del modo organizar",
          "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar cambios",
          "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
        })  }}
      </li>
    </ul>
  </div>  
  <h3 class="c-h4 font-bold">Documentos</h3>
  {# Instrucciones de funcionamiento del listado #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <div id="descLista1">
        <p>Desde la primera columna puedes arrastrar y soltar las carpetas o documentos para reordenarlos dentro del expediente en el que te encuentras.</p>
        <p>En el caso de las carpetas, las siguientes columnas indican el nombre de la carpeta y el número de documentos que contiene.</p>
        <p>En los documentos, la segunda columna indica la descripción del documento.</p>
      </div>
  {% endcall %}
  <ul class="py-sm" aria-labelledby="descLista1">
    <li>
      {% call componentItemFolder({
        "id": "carpeta-documentos-expediente-1",
        "type": "folder",
        "title": {
          "text": "Carpeta 1"
        },
        "countText": {
          "text": "3 documentos"
        },
        "dateText": {
          "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
        },
        "isDraggable": true,
        "classes": "mb-sm"
      })  %}
        <div class="max-w-full overflow-x-auto mb-sm md:ml-xl lg:ml-2xl">
          <div class="table w-full border-t-2 border-b-2 border-neutral-base" role="table">
            <div class="table-caption sr-only">Listado de Documentos de la Carpeta 1</div>
            <div class="table-header-group" role="rowgroup">
              <div class="table-row text-sm text-neutral-dark divide-x divide-neutral-base" role="row">
                <div class="table-cell p-xs" role="columnheader"></div>
                <div class="table-cell py-sm px-base" role="columnheader">Documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">CSV</div>
                <div class="table-cell py-sm px-base" role="columnheader"><abbr title="Procedimiento">Proc.</abbr></div>
                <div class="table-cell py-sm px-base" role="columnheader">Tipo documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">Fase</div>
              </div>
            </div>
            <div class="table-row-group" role="rowgroup">
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVBA264ME75I1W0BENT</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">1520</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Copia simple</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Actuaciones previas</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
            </div>
          </div>
        </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItemFolder({
        "id": "carpeta-documentos-expediente-2",
        "type": "folder",
        "title": {
          "text": "Carpeta 2"
        },
        "countText": {
          "text": "12 documentos"
        },
        "dateText": {
          "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
        },
        "isDraggable": true,
        "classes": "mb-sm"
      })  %}
        <div class="max-w-full overflow-x-auto mb-sm md:ml-xl lg:ml-2xl">
          <div class="table w-full border-t-2 border-b-2 border-neutral-base" role="table">
            <div class="table-caption sr-only">Listado de Documentos de la Carpeta 2</div>
            <div class="table-header-group" role="rowgroup">
              <div class="table-row text-sm text-neutral-dark divide-x divide-neutral-base" role="row">
                <div class="table-cell p-xs" role="columnheader"></div>
                <div class="table-cell py-sm px-base" role="columnheader">Documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">CSV</div>
                <div class="table-cell py-sm px-base" role="columnheader"><abbr title="Procedimiento">Proc.</abbr></div>
                <div class="table-cell py-sm px-base" role="columnheader">Tipo documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">Fase</div>
              </div>
            </div>
            <div class="table-row-group" role="rowgroup">
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVBA264ME75I1W0BENT</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">1520</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Copia simple</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Actuaciones previas</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
            </div>
          </div>
        </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItemFolder({
        "id": "carpeta-documentos-expediente-3",
        "type": "folder",
        "title": {
          "text": "Carpeta 3"
        },
        "countText": {
          "text": "7 documentos"
        },
        "dateText": {
          "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
        },
        "isDraggable": true,
        "classes": "mb-sm"
      })  %}
        <div class="max-w-full overflow-x-auto mb-sm md:ml-xl lg:ml-2xl">
          <div class="table w-full border-t-2 border-b-2 border-neutral-base" role="table">
            <div class="table-caption sr-only">Listado de Documentos de la Carpeta 3</div>
            <div class="table-header-group" role="rowgroup">
              <div class="table-row text-sm text-neutral-dark divide-x divide-neutral-base" role="row">
                <div class="table-cell p-xs" role="columnheader"></div>
                <div class="table-cell py-sm px-base" role="columnheader">Documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">CSV</div>
                <div class="table-cell py-sm px-base" role="columnheader"><abbr title="Procedimiento">Proc.</abbr></div>
                <div class="table-cell py-sm px-base" role="columnheader">Tipo documento</div>
                <div class="table-cell py-sm px-base" role="columnheader">Fase</div>
              </div>
            </div>
            <div class="table-row-group" role="rowgroup">
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVBA264ME75I1W0BENT</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">1520</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Copia simple</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Actuaciones previas</div>
              </div>
              <div class="table-row" role="row">
                <div class="table-cell p-xs border-t border-neutral-base align-middle" role="cell"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.4em" height="1.4em" class="text-neutral-dark" aria-label="Elemento ordenable" focusable="false" role="img"><g fill="currentColor"><path d="M41 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 28a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 70a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M41 112a10 10 0 1010-10 10 10 0 00-10 10z"></path><path d="M79.999 112a10 10 0 1010-10 10 10 0 00-10 10z"></path></g></svg></div>
                <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">Documento de resolución</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">CSVK45WT8V57T110CPPC</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">307</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Original</div>
                <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">Solicitud</div>
              </div>
            </div>
          </div>
        </div>
      {% endcall %}
    </li>
    <li>
      {{ componentItemFolder({
        "id": "documento-expediente",
        "type": "document",
        "title": {
          "text": "Descripción del documento",
          "classes": "font-semibold"
        },
        "descriptionList": {
          "classes": "lg:flex w-full",
          "items": [
            {
              "term": {
                "text": "CSV:"
              },
              "definition": {
                "text": "CSVBA264ME75I1W0BENT"
              },
              "classes": "flex-auto lg:pl-base w-1/4"
            },
            {
              "term": {
                "text": "Incorporación:"
              },
              "definition": {
                "text": "17-06-2021"
              },
              "classes": "flex-auto lg:pl-base w-1/7"
            },
            {
              "term": {
                "html": '<abbr title="Procedimiento">Proc.</abbr>'
              },
              "definition": {
                "text": "1520"
              },
              "classes": "flex-auto lg:pl-base w-1/7"
            },
            {
              "term": {
                "text": "Tipo documento:"
              },
              "definition": {
                "text": "Copia simple"
              },
              "classes": "flex-auto lg:pl-base w-1/5"
            },
            {
              "term": {
                "text": "Fase:"
              },
              "definition": {
                "text": "Actuaciones previas"
              },
              "classes": "flex-auto lg:pl-base w-1/5"
            }
          ]
        },
        "isDraggable": true
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la página #}