{# Titulo de pagina #}
{% set title = "Detalle Expediente - Metadatos - Editar. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Seleccione organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1",
        "checked": true
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  })  }}
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general"
          },
          {
            "href": "#",
            "text": "Metadatos",
            "active": true
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  <section class="mb-base" aria-labelledby="metadatos">
    <h2 id="metadatos" class="c-h3 mb-base">Metadatos</h2>
    <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mt-lg mb-base p-sm bg-warning-light border border-warning-base rounded">
      <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo edición</p>
      <ul class="lg:flex lg:flex-wrap">
        <li>
          {{ componentButton({
            "text": "Cancelar edición",
            "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar cambios",
            "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
      </ul>
    </div>
    <fieldset>
      <legend class="sr-only">Datos generales</legend>
      {# Descripcion #}
      {{ componentCharacterCount({
        "id": "descripcion",
        "name": "descripcion",
        "label": {
          "text": "Descripción",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "maxlength": 200,
        "rows": 3,
        "value": "Lorem ipsum dolor sit amet consectetur adipiscing",
        "countMessage": {
          "classes": "text-right"
        }
      })  }}
      {# Numero interno #}
      {{ componentInput({
        "id": "num-interno",
        "name": "num-interno",
        "label": {
          "text": "Número interno",
          "classes": "font-semibold"
        },
        "classes": "w-full md:w-1/2",
        "value": "ZAP-SP-ENE-AT-2020-014"
      })  }}
      {# Procedimiento #}
      {{ componentSelect({
        "id": "procedimiento",
        "name": "procedimiento",
        "classes": "w-full",
        "label": {
          "text": "Procedimiento",
          "classes": "font-semibold"
        },
        "items": [
          {
            "value": 1,
            "text": "1520 - Subvención para actividades de educación de personas adultas",
            "selected": true
          },
          {
            "value": 2,
            "text": "Procedimiento 2"
          },
          {
            "value": 3,
            "text": "Procedimiento 3",
            "disabled": true
          }
        ]
      })  }}  
    </fieldset>
    {# Visibilidad #}
    {{ componentRadios({
      "idPrefix": "visibilidad2",
      "name": "visibilidad2",
      "fieldset": {
        "legend": {
          "text": "Visibilidad",
          "classes": "font-semibold"
        }
      },
      "items": [
        {
          "value": "limitada",
          "text": "Visibilidad limitada (aportador)"
        },
        {
          "value": "compartida",
          "text": "Visibilidad compartida",
          "checked": true,
          "conditional": {
            "html": checksVisibCompartida
          }
        }
      ]
    })  }}
    {# Aportador #}
    <fieldset>
      <legend class="sr-only">Datos del aportador</legend>
      <div class="grid md:grid-cols-2 gap-x-7">
        {{ componentInput({
          "id": "nom-aportador",
          "name": "nom-aportador",
          "label": {
            "text": "Nombre del aportador",
            "classes": "font-semibold"
          },
          "classes": "w-full",
          "value": "Marta Pérez",
          "disabled": true
        })  }}
        {{ componentInput({
          "id": "org-aportador",
          "name": "org-aportador",
          "label": {
            "text": "Organismo del aportador",
            "classes": "font-semibold"
          },
          "classes": "w-full",
          "value": "Departamento de Administración Electrónica",
          "disabled": true
        })  }}
      </div>
    </fieldset>
  </section>
{% endblock %}
{# fin Contenido de la página #}