{# Titulo de pagina #}
{% set title = "Detalle Expediente - representante - detalle - edición. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M27.5 27.5a22.5 22.5 0 1045 0 22.5 22.5 0 10-45 0zM35 125H5v-15a45 45 0 0165.13-40.26M135 85l-47.07 47.07L66.64 135l2.93-21.29 47.07-47.07L135 85z" stroke-width="10"/></g></svg>
{% endblock %}
{% block titleText %}
  Editando representante
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">Del expediente</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "href": "#",
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  <fieldset class="mt-base">
    <legend class="c-h3">Opciones de edición de interesado</legend>
    <div class="lg:flex lg:flex-wrap items-end">
      {{ componentInputGroup({
        "id": "doc-identidad-representante",
        "namePrefix": "doc-identidad-representante",
        "classes": "lg:flex lg:flex-wrap",
        "formGroup": {
          "classes": "mb-base"
        },
        "fieldset": {
          "legend": {
            "text": "Documento de identidad de representante",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "name": "tipo-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full",
            "label": {
              "html": 'Documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true,
              "disabled": disabled
            },
            "isSelect": true,
            "selectItems": [
              {
                "value": 1,
                "text": "DNI",
                "selected": true
              },
              {
                "value": 2,
                "text": "Pasaporte"
              }
            ]
          },
          {
            "name": "num-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full lg:w-80",
            "label": {
              "html": 'Número de identificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true,
              "disabled": disabled
            },
            "value": "12345678Z"
          }
        ]
      })  }}
    </div>
    <p class="italic text-sm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-sm" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>Recuerda usar mayúsculas solamente en las iniciales.</p>
    <div class="grid md:grid-cols-2 gap-x-7 pt-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "nombre-representante",
        "name": "nombre-representante",
        "value": "Julio",
        "classes": "w-full"
      })  }}  
      {{ componentInput({
        "label": {
          "html": 'Primer apellido  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "primer-apellido-representante",
        "name": "primer-apellido-representante",
        "value": "Mieza",
        "classes": "w-full"
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Segundo apellido  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "segundo-apellido-representante",
        "name": "segundo-apellido-representante",
        "value": "Gil",
        "classes": "w-full"
      })  }} 
    </div>   
    {{ componentCheckboxes({
      "idPrefix": "datos-representante",
      "name": "datos-representante",
      "fieldset": {
        "legend": {
          "text": "Guardar datos representante",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "guardar-modificacion",
          "text": "Guardar esta modificación para futuros expedientes"
        }
      ]
    })  }} 
  </fieldset>  
{% endblock %}
{# fin Contenido de la página #}