{# Titulo de pagina #}
{% set title = "Detalle Expediente - Interesados - añadir representante. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{# fin Dependencias #}

{# Definiciones #}
{% set personaFisica %}
  <fieldset>
    <legend class="sr-only">Identificación</legend>
    <div class="lg:flex lg:flex-wrap items-end">
      {{ componentInputGroup({
        "id": "doc-identidad-persona-fisica",
        "namePrefix": "doc-identidad-persona-fisica",
        "classes": "lg:flex lg:flex-wrap",
        "fieldset": {
          "legend": {
            "text": "Documento de identidad de persona física",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "name": "tipo-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full",
            "label": {
              "html": 'Tipo de identificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true
            },
            "isSelect": true,
            "selectItems": [
              {
                "value": 1,
                "text": "NIF",
                "selected": true
              },
              {
                "value": 2,
                "text": "Pasaporte"
              }
            ]
          },
          {
            "name": "num-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full lg:w-80",
            "label": {
              "html": 'Número de identificación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true
            },
            "placeholder": "Escribe el número de identificación..."
          }
        ]
      })  }}
      {{ componentButton({
        "text": "Buscar",
        "classes": "c-button--primary mt-lg"
      })  }}
    </div>
  </fieldset>
  {# Resultado de la busqueda SIN RESULTADOS #}
  <fieldset class="mt-lg">
    <legend class="c-h3">Resultado de la búsqueda</legend>
    <p class="italic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-sm" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>No se ha encontrado ningún resultado. Puedes añadir manualmente la información correspondiente al número de identificación introducido.</p>
    <div class="grid md:grid-cols-2 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Nombre  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "nombre-persona-fisica",
        "name": "nombre-persona-fisica",
        "placeholder": "Escribe el nombre...",
        "classes": "w-full"
      })  }}  
      {{ componentInput({
        "label": {
          "html": 'Primer apellido  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "primer-apellido-persona-fisica",
        "name": "primer-apellido-persona-fisica",
        "placeholder": "Escribe el primer apellido ...",
        "classes": "w-full"
      })  }} 
      {{ componentInput({
        "label": {
          "html": 'Segundo apellido  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "segundo-apellido-persona-fisica",
        "name": "segundo-apellido-persona-fisica",
        "placeholder": "Escribe el segundo apellido ...",
        "classes": "w-full"
      })  }} 
    </div>
  </fieldset>
  {# Resultado de la busqueda RESULTADO ENCONTRADO #}
  <fieldset class="mt-lg">
    <legend class="sr-only">Resultado de la búsqueda</legend>
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <p class="c-h3" aria-hidden="true">Resultado de la búsqueda</p>
      {{ componentButton({
        "text": "Editar datos",
        "classes": "c-button--sm mb-sm lg:ml-auto"
      })  }}
    </div>
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "idPrefix": "persona-fisica-encontrada",
        "caption": "Persona física encontrada",
        "captionClasses": "sr-only",
        "head": [
          {
            "text": "NIF"
          },
          {
            "text": "Nombre"
          },
          {
            "text": "Primer apellido"
          },
          {
            "text": "Segundo apellido"
          }
        ],
        "rows": [
          [
            {
              "text": "12345678Z",
              "classes": "font-semibold"
            },
            {
              "text": "Julio"
            },
            {
              "text": "Mieza"
            },
            {
              "text": "Gil"
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
  </fieldset>
  {# Resultado de la busqueda EDITAR RESULTADO ENCONTRADO #}
  <fieldset class="mt-lg">
    <legend class="c-h3">Resultado de la búsqueda</legend>
    <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-base p-sm bg-warning-light border border-warning-base rounded">
      <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo edición</p>
      <ul class="lg:flex lg:flex-wrap">
        <li>
          {{ componentButton({
            "text": "Cancelar edición",
            "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar cambios",
            "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
      </ul>
    </div>
    <div class="max-w-full overflow-x-auto">
      <div class="table w-full border-t border-b border-neutral-base" role="table">
        <div class="table-caption sr-only">Editar datos de la persona física encontrada</div>
        <div class="table-header-group" role="rowgroup">
          <div class="table-row text-sm text-neutral-dark" role="row">
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">NIF</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Nombre</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Primer apellido</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Segundo apellido</div>
          </div>
        </div>
        <div class="table-row-group" role="rowgroup">
          <div class="table-row" role="row">
            <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">12345678Z</div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Nombre",
                  "classes": "sr-only"
                },
                "id": "nombre-representante-pf",
                "name": "nombre-representante-pf",
                "value": "Julio",
                "classes": "c-input--sm w-full",
                "formGroup": {
                  "classes": "-mt-sm"
                }
              })  }}            
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Primer apellido",
                  "classes": "sr-only"
                },
                "id": "primer-apellido-representante-pf",
                "name": "primer-apellido-representante-pf",
                "value": "Mieza",
                "classes": "c-input--sm w-full",
                "formGroup": {
                  "classes": "-mt-sm"
                }
              })  }} 
            </div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Segundo apellido",
                  "classes": "sr-only"
                },
                "id": "segundo-apellido-representante-pf",
                "name": "segundo-apellido-representante-pf",
                "value": "Gil",
                "classes": "c-input--sm w-full",
                "formGroup": {
                  "classes": "-mt-sm"
                }
              })  }} 
            </div>
          </div>
        </div>
      </div>
    </div>    
    {{ componentCheckboxes({
      "idPrefix": "datos-representante-pf",
      "name": "datos-representante-pf",
      "fieldset": {
        "legend": {
          "text": "Guardar datos representante",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "guardar-modificacion",
          "text": "Guardar cambios para futuros expedientes"
        }
      ]
    })  }}
  </fieldset>
{% endset %}
{% set personaJuridica %}
  <fieldset>
    <legend class="sr-only">Identificación</legend>
    <div class="lg:flex lg:flex-wrap items-end">
      {{ componentInputGroup({
        "id": "doc-identidad-persona-juridica",
        "namePrefix": "doc-identidad-persona-juridica",
        "classes": "lg:flex lg:flex-wrap",
        "fieldset": {
          "legend": {
            "text": "Documento de identidad de persona jurídica",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "name": "tipo-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full",
            "label": {
              "html": 'Tipo de identificación  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true
            },
            "isSelect": true,
            "selectItems": [
              {
                "value": 1,
                "text": "CIF",
                "selected": true
              }
            ]
          },
          {
            "name": "num-doc",
            "formGroup": {
              "classes": "mr-base mb-base lg:mb-0"
            },
            "classes": "w-full lg:w-80",
            "label": {
              "html": 'Número de identificación  <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
            },
            "attributes": {
              "aria-required": true
            },
            "placeholder": "Escribe el número de identificación..."
          }
        ]
      })  }}
      {{ componentButton({
          "text": "Buscar",
          "classes": "c-button--primary mt-lg"
        })  }}
    </div>
  </fieldset>
  {# Resultado de la busqueda SIN RESULTADOS #}
  <fieldset class="mt-lg">
    <legend class="c-h3">Resultado de la búsqueda</legend>
    <p class="italic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-sm" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>No se ha encontrado ningún resultado. Puedes añadir manualmente la información correspondiente al número de identificación introducido.</p>
    <div class="grid md:grid-cols-2 gap-x-7 py-base">
      {{ componentInput({
        "label": {
          "html": 'Razón social <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "id": "razon-social-fisica",
        "name": "razon-social-fisica",
        "placeholder": "Escribe la razón social...",
        "classes": "w-full"
      })  }}  
    </div>
  </fieldset>
  {# Resultado de la busqueda RESULTADO ENCONTRADO #}
  <fieldset class="mt-lg">
    <legend class="sr-only">Resultado de la búsqueda</legend>
    <div class="lg:flex lg:flex-wrap lg:w-full items-end">
      <p class="c-h3" aria-hidden="true">Resultado de la búsqueda</p>
      {{ componentButton({
        "text": "Editar datos",
        "classes": "c-button--sm mb-sm lg:ml-auto"
      })  }}
    </div>
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "idPrefix": "persona-juridica-encontrada",
        "caption": "Persona jurídica encontrada",
        "captionClasses": "sr-only",
        "head": [
          {
            "text": "CIF"
          },
          {
            "text": "Razón social"
          }
        ],
        "rows": [
          [
            {
              "text": "12345678Z",
              "classes": "font-semibold"
            },
            {
              "text": "Comunidad de vecinos"
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
  </fieldset>
  {# Resultado de la busqueda EDITAR RESULTADO ENCONTRADO #}
  <fieldset class="mt-lg">
    <legend class="c-h3">Resultado de la búsqueda</legend>
    <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-base p-sm bg-warning-light border border-warning-base rounded">
      <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 ml-sm mr-base -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>Te encuentras en modo edición</p>
      <ul class="lg:flex lg:flex-wrap">
        <li>
          {{ componentButton({
            "text": "Cancelar edición",
            "classes": "c-button--transparent c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar cambios",
            "classes": "c-button--primary c-button--sm ml-sm mb-sm lg:mb-0"
          })  }}
        </li>
      </ul>
    </div>
    <div class="max-w-full overflow-x-auto">
      <div class="table w-full border-t border-b border-neutral-base" role="table">
        <div class="table-caption sr-only">Editar datos de la persona jurídica encontrada</div>
        <div class="table-header-group" role="rowgroup">
          <div class="table-row text-sm text-neutral-dark" role="row">
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">CIF</div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Razón social</div>
          </div>
        </div>
        <div class="table-row-group" role="rowgroup">
          <div class="table-row" role="row">
            <div class="table-cell py-sm px-base border-t border-neutral-base font-semibold" role="cell">12345678Z</div>
            <div class="table-cell py-sm px-base border-t border-neutral-base" role="cell">
              {{ componentInput({
                "label": {
                  "text": "Razón social",
                  "classes": "sr-only"
                },
                "id": "razon-social-interesado-pj",
                "name": "razon-social-interesado-pj",
                "value": "Comunidad de vecinos",
                "classes": "c-input--sm w-full",
                "formGroup": {
                  "classes": "-mt-sm"
                }
              })  }}            
            </div>
          </div>
        </div>
      </div>
    </div> 
    {{ componentCheckboxes({
      "idPrefix": "datos-representante-pj",
      "name": "datos-representante-pj",
      "fieldset": {
        "legend": {
          "text": "Guardar datos representante",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "guardar-modificacion",
          "text": "Guardar cambios para futuros expedientes"
        }
      ]
    })  }}
  </fieldset>
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M27.5 27.5a22.5 22.5 0 1045 0 22.5 22.5 0 10-45 0zM45 125H5v-15a45 45 0 0165.13-40.26M105 75v60M75 105h60" stroke-width="10"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadiendo representante
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">A un expediente</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir representante",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  {{ componentRadios({
    "idPrefix": "nuevo-representante",
    "name": "nuevo-representante",
    "formGroup": {
      "classes": "mt-sm"
    },
    "fieldset": {
      "legend": {
        "text": "Opciones de añadir representante",
        "classes": "c-h3 mt-sm"
      }
    },
    "items": [
      {
        "value": "persona-fisica",
        "text": "Nuevo representante (Persona física)",
        "conditional": {
          "html": personaFisica
        }
      },
      {
        "value": "persona-juridica",
        "text": "Nuevo representante (Persona jurídica)",
        "conditional": {
          "html": personaJuridica
        }
      }
    ]
  })  }}


  <fieldset>
    <legend class="c-h3 mt-sm mb-sm">Selecciona los interesados del expediente a los que representa</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
        "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>En la primera columna puedes seleccionar los interesados del expediente a los que representa el representante que estás añadiendo. Puedes seleccionar todos los interesados con la casilla de verificación "Seleccionar todo".</p>
          <p>Las cabeceras de columnas incluyen opciones de filtrado y ordenación. </p>
        </div>
    {% endcall %}
    {# Seleccion multiple #}
    {{ componentCheckboxes({
      "idPrefix": "todos-interesados",
      "name": "todos-interesados",
      "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
      "items": [
        {
          "value": "todos",
          "text": "Seleccionar todo",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    })  }}    
    {# fin Seleccion multiple #}
    {# Tabla-Listado de interesados #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-interesados",
        "hasCheckboxes": true,
        "caption": "Listado de interesados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "text": "Nombre",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Personalidad",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Tipología del documento",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Número de identificación",
            "orderBy": "none",
            "hasFilter": true
          }
        ],
        "rows": [
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona física"
            },
            {
              "text": "DNI"
            },
            {
              "text": "46578954A"
            }
          ],
          [
            {
              "text": "Julio Mieza Gil"
            },
            {
              "text": "Persona jurídica"
            },
            {
              "text": "CIF"
            },
            {
              "text": "46578954A"
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de interesados #}
    {# Paginacion #}
    <div class="mt-base">
      <p id="paginacion" class="sr-only">Paginación</p>
      {{ componentPagination({
        "id": "paginacion-listado-interesados",
        "hasSelect": true,
        "idPrefix": "pagina",
        "totalItems": "20",
        "itemsPerPage": "10",
        "items": [
          {
            "href": "#",
            "text": 1,
            "active": true
          },
          {
            "href": "#",
            "text": 2
          }
        ],
        "hasPrevious": false,
        "hasNext": true,
        "previousText": "Anterior",
        "nextText": "Siguiente",
        "attributes": {
          "aria-label": "Paginación"
        }
      })  }}
    </div>
    {# fin Paginacion #} 
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}