{# Titulo de pagina #}
{% set title = "Detalle Expediente - Interesado - Detalle. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{# fin Dependencias #}

{# Contenido de la página #}
{% block contentBlock %}

  <p class="c-paragraph-sm mb-lg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
    <a href="#" class="c-link">Volver a ZA-SP-ENE-AT-2020-014</a>
  </p>
  {# Datos del interesado #}
  <section class="lg:flex lg:flex-wrap w-full" aria-labelledby="datos-interesado">
    <h1 id="datos-interesado" class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del interesado</span> Julio Mieza Gil S.L.</h1>
    <div class="lg:order-3 w-full">
      {{ componentDescriptionList({
        "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
        "items": [
          {
            "term": {
              "html": 'Personalidad',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "Persona jurídica"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'En calidad de',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "Interesado"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
                    {
            "term": {
              "html": 'Documento',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "CIF"
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Número de identidficación',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "text": "46578954A"
            },
            "classes": "flex-auto pr-lg mb-sm"
          }
        ]
      })  }}
    </div>
    {# Botones de acciones sobre interesado #}
    <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-interesado">
      <h2 id="acciones-sobre-interesado" class="sr-only">Acciones sobre el interesado</h2>
      <ul class="lg:flex">
        <li>
          {{ componentButton({
            "text": "Eliminar interesado",
            "classes": "c-button--transparent lg:ml-sm mb-sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Editar interesado",
            "classes": "lg:ml-sm mb-sm"
          })  }}
        </li>
      </ul>
    </section>
  </section>
  {# fin Datos del interesado #}

{% endblock %}
{# fin Contenido de la página #}