{# Titulo de pagina #}
{% set title = "Detalle Expediente - Detalle de un documento - verificar firma. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a ZA-SP-ENE-AT-2020-014</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center">Documento de resolución</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "CSVK45WT8V57T110CPPC"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Tipo documental',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Resolución"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Firmante',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Gobierno de Aragón"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de creación',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "27/10/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Descargar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "descargar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-descargar"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Documento"
                    },
                    {
                      "href": "#",
                      "text": "Firma"
                    },
                    {
                      "href": "#",
                      "text": "XML"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {{ componentButton({
                "text": "Ver vista previa",
                "classes": "c-button--primary"
              })  }}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Verificar firma",
            "active": true
          },
          {
            "href": "#",
            "text": "Traza"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}

  <section aria-labelledby="verificacion-firma" class="mb-xl">
    <h2 id="verificacion-firma" class="c-h3">Verificación de firma</h2>
    {{ componentItem({
      "title": {
        "text": "Firma correcta",
        "classes": "font-semibold"
      },
      "items": [
        {
          "text": "Fecha de firma: 16/11/2020 09:49"
        },
        {
          "text": "Fecha de verificación: 24/11/2020 15:47"
        },
        {
          "text": "Estado documento original: No modificado"
        }
      ],
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 text-success-dark" aria-label="Éxito" role="img"><path d="M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z" fill="currentColor"></path></svg>'
      }
    })  }}
  </section>

  <section aria-labelledby="firmantes">
    <h2 id="firmantes" class="c-h3">Firmantes</h2>
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "caption": "Listado de firmantes",
        "captionClasses": "sr-only",
        "classes": "w-full",
        "head": [
          {
            "text": "Nombre"
          },
          {
            "text": "NIF"
          },
          {
            "text": "Emisor certificado"
          },
          {
            "text": "Verificación"
          },
          {
            "text": "Inicio validez"
          },
          {
            "text": "Caducidad"
          }
        ],
        "rows": [
          [
            {
              "text": "Nombre1 Apellido1 Apellido2",
              "classes": "align-top"
            },
            {
              "text": "12345678Z",
              "classes": "align-top"
            },
            {
              "text": "CN=AC Representación, OU=CERES, O=FNMT-RCM, C=ES",
              "classes": "align-top"
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Ok</div>',
              "classes": "align-top"
            },
            {
              "html": '<div class="whitespace-nowrap">10/05/2020, 15:45</div>',
              "classes": "align-top"
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>',
              "classes": "align-top"
            }
          ]
        ]
      })  }}
    </div>
  </section>

{% endblock %}
{# fin Contenido de la página #}