{# Titulo de pagina #}
{% set title = "Detalle Expediente - Vista general. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item-folder/_macro.item-folder.njk" import componentItemFolder %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{% set documentos %}
  <div class="py-base">
    {# Instrucciones de funcionamiento del listado #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descLista1">
          <p>En la primera columna puedes seleccionar las carpetas o documentos. Puedes seleccionar todas las filas de la tabla con la casilla de verificación "Seleccionar todo".</p>
          <p>Es posible realizar acciones sobre las carpetas o documentos seleccionados con los botones situados antes de la tabla.</p>
          <p>Puedes cambiar a la vista Organizar desde el botón ubicado antes de la tabla, que te permite reordenar las carpetas y documentos del expediente.</p>
          <p>Desde la primera columna de las carpetas puedes desplegar para visualizar los documentos contenidos.</p>
          <p>La segunda columna de los documentos contiene un enlace de acceso al mismo.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones documentos #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-documentos">
      <h4 id="acciones-documentos" class="sr-only">Selección múltiple y Acciones sobre el listado de carpetas y documentos</h4>
      <div class="lg:flex sm:flex-1">
        {{ componentCheckboxes({
          "idPrefix": "todos-documentos",
          "name": "todos-documentos",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-sm",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {% include "includes/_action-bar-documentos.njk" %}
      </div>
    </section>
    {# fin Barra de Acciones documentos #}
    {# Listado de carpetas y documentos #}
    <section aria-labelledby="documentos-expediente">
      <h2 id="documentos-expediente" class="sr-only">Listado de carpetas y documentos del expediente</h2>
      <ul aria-labelledby="descLista1">
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-1",
            "type": "folder",
            "title": {
              "text": "Carpeta 1"
            },
            "countText": {
              "text": "3 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-1",
                "caption": "Listado de Documentos de la Carpeta 1",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "1520"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Actuaciones previas"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Descripción del documento</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "128"
                    },
                    {
                      "text": "Copia simple"
                    },
                    {
                      "text": "Audiencia pública"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "307"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Solicitud"
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-2",
            "type": "folder",
            "title": {
              "text": "Carpeta 2"
            },
            "countText": {
              "text": "12 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-2",
                "caption": "Listado de Documentos de la Carpeta 2",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "1520"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Actuaciones previas"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Descripción del documento</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "128"
                    },
                    {
                      "text": "Copia simple"
                    },
                    {
                      "text": "Audiencia pública"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "307"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Solicitud"
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {% call componentItemFolder({
            "id": "carpeta-documentos-expediente-3",
            "type": "folder",
            "title": {
              "text": "Carpeta 3"
            },
            "countText": {
              "text": "7 documentos"
            },
            "dateText": {
              "html": "<span class=\"inline-block mr-xs text-neutral-dark\"><abbr title=\"Última\">Últ.</abbr> consulta:</span>12/10/2020"
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  %}
            <div class="max-w-full overflow-x-auto md:ml-xl lg:ml-2xl">
              {{ componentTableAdvanced({
                "idPrefix": "documentos-carpeta-3",
                "caption": "Listado de Documentos de la Carpeta 3",
                "captionClasses": "sr-only",
                "hasCheckboxes": true,
                "head": [
                  {
                    "html": 'Documento'
                  },
                  {
                    "html": 'CSV'
                  },
                  {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  {
                    "html": 'Tipo documento'
                  },
                  {
                    "html": 'Fase'
                  }
                ],
                "rows": [
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "1520"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Actuaciones previas"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Descripción del documento</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "128"
                    },
                    {
                      "text": "Copia simple"
                    },
                    {
                      "text": "Audiencia pública"
                    }
                  ],
                  [
                    {
                      "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Documento de resolución</a>'
                    },
                    {
                      "text": "CSVK45WT8V57T110CPPC"
                    },
                    {
                      "text": "307"
                    },
                    {
                      "text": "Original"
                    },
                    {
                      "text": "Solicitud"
                    }
                  ]
                ],
                "classes": "min-w-full mb-sm"
              })  }}
            </div>
          {% endcall %}
        </li>
        <li>
          {{ componentItemFolder({
            "id": "documento-expediente",
            "type": "document",
            "href": "#",
            "title": {
              "text": "Descripción del documento"
            },
            "descriptionList": {
              "classes": "lg:flex w-full",
              "items": [
                {
                  "term": {
                    "text": "CSV:"
                  },
                  "definition": {
                    "text": "CSVBA264ME75I1W0BENT"
                  },
                  "classes": "flex-auto lg:pl-base w-1/4"
                },
                {
                  "term": {
                    "text": "Incorporación:"
                  },
                  "definition": {
                    "text": "17-06-2021"
                  },
                  "classes": "flex-auto lg:pl-base w-1/7"
                },
                {
                  "term": {
                    "html": '<abbr title="Procedimiento">Proc.</abbr>'
                  },
                  "definition": {
                    "text": "1520"
                  },
                  "classes": "flex-auto lg:pl-base w-1/7"
                },
                {
                  "term": {
                    "text": "Tipo documento:"
                  },
                  "definition": {
                    "text": "Copia simple"
                  },
                  "classes": "flex-auto lg:pl-base w-1/5"
                },
                {
                  "term": {
                    "text": "Fase:"
                  },
                  "definition": {
                    "text": "Actuaciones previas"
                  },
                  "classes": "flex-auto lg:pl-base w-1/5"
                }
              ]
            },
            "hasCheckbox": true,
            "classes": "mb-sm"
          })  }}
        </li>
      </ul>
    </section>
    {# fin Listado de carpetas y documentos #}
  </div>
{% endset %}
{% set expdtesRelacionados %}
  <div class="py-base">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>En la primera columna puedes seleccionar los expedientes para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los expedientes con la casilla de verificación "Seleccionar todo".</p>
          <p>En la segunda columna tienes el enlace al detalle del expediente relacionado.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones expedientes relacionados #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-expedientes-relacionados">
      <h2 id="acciones-expedientes-relacionados" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes relacionados</h2>
      <div class="lg:flex sm:flex-1">
        {{ componentCheckboxes({
          "idPrefix": "todos-expedientes-relacionados",
          "name": "todos-expedientes-relacionados",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "items": [
            {
              "value": "todos",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {% include "includes/_action-bar-expdtes-relacionados.njk" %}
      </div>
    </section>
    {# fin Barra de Acciones expedientes relacionados #}
    {# Tabla-Listado de expedientes relacionados #}
    <section class="max-w-full overflow-x-auto" aria-labelledby="expedientes-relacionados">
      <h2 id="expedientes-relacionados" class="sr-only">Listado de expedientes relacionados</h2>
      {{ componentTableAdvanced({
        "idPrefix": "listado-expedientes-relacionados",
        "hasCheckboxes": true,
        "caption": "Listado de expedientes relacionados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Expediente'
          },
          {
            "html": '<abbr title="Última">Últ.</abbr> consulta'
          },
          {
            "html": 'Descripción'
          },
          {
            "html": '<abbr title="Procedimiento">Proc.</abbr>'
          },
          {
            "html": 'Estado'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consectetur.'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-alert-dark"></span>Anulado</div>'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consectetur.'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-black"></span>Cerrado</div>'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consectetur.'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consectetur.'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Archivado</div>'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consectetur.'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </section>
    {# fin Tabla-Listado de expedientes relacionados #}
  </div>
{% endset %}
{# fin Definiciones #}

{# Subcabecera de página #}
{% block subHeaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base" aria-hidden="true" focusable="false"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg>
        <a href="#" class="c-link">Volver a Expedientes</a>
      </p>
      {# Cabecera del expediente #}
      <div class="lg:flex lg:flex-wrap w-full">
        {# Titulo del expediente #}
        <h1 class="c-h2 mb-xs flex-1 place-self-center"><span class="sr-only">Detalle del expediente</span> ZA-SP-ENE-AT-2020-014</h1>
        <div class="lg:order-3 w-full mb-base lg:mb-lg">
          {# Estado expediente #}
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-alert-dark"></span>Anulado</p></div>
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-black"></span>Cerrado</p></div>
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p></div>
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Archivado</p></div>
          <div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</p></div>
          {# Descripción expediente #}
          {{ componentDescriptionList({
            "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
            "items": [
              {
                "term": {
                  "html": 'CSV',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "1234567891234567891"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Fecha de apertura',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "19/06/2020"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
                        {
                "term": {
                  "html": 'Interesado',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Juan López"
                },
                "classes": "flex-auto pr-lg mb-sm"
              },
              {
                "term": {
                  "html": 'Órgano responsable',
                  "classes": "text-sm text-neutral-dark whitespace-nowrap"
                },
                "definition": {
                  "text": "Dirección general de Ordenación del Territorio"
                },
                "classes": "flex-auto pr-lg mb-sm"
              }
            ]
          })  }}
        </div>
        {# Botones de acciones sobre expediente #}
        <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-sobre-expediente">
          <h2 id="acciones-sobre-expediente" class="sr-only">Acciones sobre el expediente</h2>
          <ul class="lg:flex">
            <li>
              {% call componentDropdown({
                "text": "Cambiar estado",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "cambiar-estado",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-cambiar-estado",
                    "aria-label": "Cambiar estado del expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "Cerrado"
                    },
                    {
                      "href": "#",
                      "text": "Anulado"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
            <li>
              {% call componentDropdown({
                "text": "Enviar",
                "classes": "mr-sm mb-sm"
                })  %}
                {{ componentNav({
                  "isMenu": true,
                  "idPrefix": "enviar",
                  "classes": "w-max max-w-64",
                  "attributes": {
                    "id": "nav-enviar",
                    "aria-label": "Enviar expediente"
                  },
                  "items": [
                    {
                      "href": "#",
                      "text": "A una bandeja personal"
                    },
                    {
                      "href": "#",
                      "text": "A un organismo"
                    }
                  ]
                })  }}
              {% endcall %}
            </li>
          </ul>
        </section>
      </div>
      {# fin Cabecera del expediente #}
      {# Menu del expediente #}
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--tabs",
        "items": [
          {
            "href": "#",
            "text": "Vista general",
            "active": true
          },
          {
            "href": "#",
            "text": "Metadatos"
          },
          {
            "href": "#",
            "text": "Interesados y representantes"
          },
          {
            "href": "#",
            "text": "Traza"
          },
          {
            "href": "#",
            "text": "Índice"
          }
        ],
        "attributes": {
          "aria-label": "Menu del expediente"
        }
      })  }}
      {# fin Menu del expediente #}
    </div>
  </div>
{% endblock %}
{# fin Subcabecera de página #}

{# Contenido de la página #}
{% block contentBlock %}
  {# Acordeon de la Vista general #}
  <section class="mb-base" aria-labelledby="vista-general">
    <h2 id="vista-general" class="c-h3">Vista general</h2>
    {{ componentAccordion({
      "idPrefix": "vista",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Documentos",
          "html": documentos
        },
        {
          "headerText": "Expedientes relacionados",
          "html": expdtesRelacionados
        }
      ]
    })  }}
  </section>
  {# fin Acordeon de la Vista general #}
{% endblock %}
{# fin Contenido de la página #}