{# Titulo de pagina #}
{% set title = "Expedientes - asociar documento - añadir expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base -mt-2 text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M77 21h42a14 14 0 0114 14v42l-56 56H21a14 14 0 01-14-14V77" stroke-width="14"/><path d="M133 77H91a14 14 0 00-14 14v42zM28 7v42M49 28H7" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadir documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">A expedientes seleccionados</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <h2 class="c-h3 mt-sm">Búsqueda avanzada</h2>
  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna es posible seleccionar uno o más expedientes. Puedes seleccionar todos los expedientes con la casilla de verificación "Seleccionar todo".</p>
        <p>Las cabeceras de las columnas tienen opción de ordenación y de filtrado.</p>
        <p>La segunda columna contiene enlaces de acceso a los expedientes.</p>
        <p>Es posible añadir más expedientes mediante el botón situado después de la tabla.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-expedientes",
        "name": "todos-expedientes",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      <ul class="lg:flex">
        <li>
          {{ componentPill({
            "type": "button",
            "html": "Revisados en la última semana <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary text-sm cursor-pointer lg:ml-sm mb-sm"
          })  }}
        </li>
        <li>
          {{ componentPill({
            "type": "button",
            "html": "<abbr title=\"Procedimiento\">Proc.</abbr> 1520 <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary text-sm cursor-pointer lg:ml-sm mb-sm"
          })  }}
        </li>
      </ul>
    </div>
  </section>
  {# fin Barra de Acciones #}  
  
  {# Tabla-Listado de resgistros #}
  <section class="max-w-full overflow-x-auto" aria-labelledby="expedientes">
    <h2 id="expedientes" class="sr-only">Listado de expedientes</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes",
      "hasCheckboxes": true,
      "caption": "Listado de expedientes",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Descripción',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-alert-dark"></span>Anulado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-black"></span>Cerrado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Archivado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}    
 
  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}

  <ul class="lg:flex mt-base">
    <li>
      {{ componentButton({
        "text": "Añadir expedientes",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary mb-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#",
        "classes": "c-button--transparent lg:ml-sm"
      })  }}
    </li>
  </ul>
  
{% endblock %}
{# fin Contenido de la página #}