{# Titulo de pagina #}
{% set title = "Expedientes - asociar documento. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartarExp expediente1"
    }
  })  }}
{% endset %}
{% set botonDescartarDoc %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartarDoc csv1"
    }
  })  }}
{% endset %}
{% set buscarDoc %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Código Seguro de Verificación </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
    <a href="#" class="inline-block c-link font-semibold mt-base">Acceder a Portafirmas</a>
  </div>
{% endset %}
{% set subirDesdeEquipo %}
  {{ componentFileUpload({
    "id": "file-upload-2",
    "name": "file-upload-2",
    "label": {
      "text": "Sube el documento o documentos a añadir",
      "classes": "text-neutral-dark"
    }
  })  }}
{% endset %}
{% set docSubido %}
  <fieldset>
    <legend class="font-bold mb-sm">Documentos subidos</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      <ul class="mb-base">
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc1">Nombre_del_fichero.pdf</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class=" c-button c-button--sm c-button--transparent" aria-labelledby="eliminar1 desc1"><span id="eliminar1">Eliminar</span></button>
          {% endcall %}
        </li>
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc2">Nombre_del_fichero.pdf</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class=" c-button c-button--sm c-button--transparent" aria-labelledby="eliminar2 desc2"><span id="eliminar2">Eliminar</span></button>
          {% endcall %}
        </li>
      </ul>
      {{ componentInput({
        "id": "descripcion-doc",
        "name": "descripcion-doc",
        "label": {
          "html": 'Descripción del documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        },
        "attributes": {
          "aria-required": true
        },
        "hint": {
          "text": "Éste será el nombre que tendrá el archivo para su identificación",
          "classes": "text-sm"
        },
        "classes": "w-full",
        "formGroup": {
          "classes": "md:col-span-2"
        },
        "placeholder": "Escribe una descripción..."
      })  }}
      {{ componentSelect({
        "id": "procedimiento-doc-subido",
        "name": "procedimiento-doc-subido",
        "classes": "w-full",
        "label": {
          "html": 'Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        },
        "attributes": {
          "aria-required": true
        },
        "items": [
          {
            "value": 1,
            "text": "Procedimiento 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Procedimiento 2"
          },
          {
            "value": 3,
            "text": "Procedimiento 3",
            "disabled": true
          }
        ],
        "formGroup": {
          "classes": "md:col-span-2"
        }
      })  }}
      {{ componentSelect({
        "id": "tipo-doc-subido",
        "name": "tipo-doc-subido",
        "classes": "w-full",
        "label": {
          "html": 'Tipo de documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        },
        "attributes": {
          "aria-required": true
        },
        "items": [
          {
            "value": 1,
            "text": "Tipo documento 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Tipo documento 2"
          },
          {
            "value": 3,
            "text": "Tipo documento 3",
            "disabled": true
          }
        ]
      })  }}
      {{ componentSelect({
        "id": "visibilidad-doc-subido",
        "name": "visibilidad-doc-subido",
        "classes": "w-full",
        "label": {
          "text": "Visibilidad del documento",
          "classes": "font-semibold"
        },
        "items": [
          {
            "value": 1,
            "text": "Tipo de visibilidad 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Tipo de visibilidad 2"
          },
          {
            "value": 3,
            "text": "Tipo de visibilidad 3",
            "disabled": true
          }
        ]
      })  }}
    </div>
    {{ componentButton({
      "text": "Confirmar",
      "classes": "c-button--primary mt-xl md:mt-0"
    })  }}
  </fieldset>
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base -mt-2 text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M77 21h42a14 14 0 0114 14v42l-56 56H21a14 14 0 01-14-14V77" stroke-width="14"/><path d="M133 77H91a14 14 0 00-14 14v42zM28 7v42M49 28H7" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadir documento
  <span class="block font-bold normal-case text-base text-neutral-dark mb-xs">A expedientes seleccionados</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg">
    <legend class="c-h3 mt-sm">Expedientes seleccionados</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Desde la sexta columna es posible eliminar los expedientes de la selección a la que quieres añadir el documento.</p>
          <p>Es posible añadir más expedientes a la selección mediante el botón situado después de la tabla. </p>
        </div>
    {% endcall %}
    <div class="max-w-full overflow-x-auto mb-lg">
      {{ componentTable({
        "idPrefix": "documento-encontrado",
        "caption": "Listado de expedientes seleccionados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Expediente'
          },
          {
            "html": '<abbr title="Última">Últ.</abbr> consulta'
          },
          {
            "html": 'Descripción'
          },
          {
            "html": '<abbr title="Procedimiento">Proc.</abbr>'
          },
          {
            "html": 'Estado'
          },
          {
            "html": '<span id="descartarExp" class="sr-only">Descartar</span>'
          }
        ],
        "rows": [
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-014',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente1"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-015',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente2"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">28/09/2020, 09:45</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur comor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-016',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente3"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">06/10/2020, 13:12</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur nor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir expediente',
      "href": "#",
      "classes": "c-button--sm"
    })  }}
  </fieldset>

  {# Añadiendo un documento al expediente #}
  {{ componentRadios({
    "idPrefix": "sum-doc",
    "name": "sum-doc",
    "fieldset": {
      "legend": {
        "text": "Opciones de añadir documento",
        "classes": "c-h3 mt-sm"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarDoc
        }
      },
      {
        "value": "equipo",
        "text": "Añadir desde el equipo",
        "conditional": {
          "html": subirDesdeEquipo
        }
      }
    ]
  })  }}

  {# Añadiendo un documento al expediente - documento subido #}
  {{ componentRadios({
    "idPrefix": "sum-doc2",
    "name": "sum-doc2",
    "fieldset": {
      "legend": {
        "text": "Opciones de añadir documento",
        "classes": "c-h3 mt-sm"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarDoc
        }
      },
      {
        "value": "equipo",
        "text": "Añadir desde el equipo",
        "checked": true,
        "conditional": {
          "html": docSubido
        }
      }
    ]
  })  }}

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs text-sm"
    })  %}
        <p id="descTable2">Desde la última columna es posible eliminar uno o más documentos encontrados/seleccionados y contenidos en la tabla.</p>
  {% endcall %}
  {# Añadiendo un documento al expediente - documento encontrado/seleccionado #}
  <div class="max-w-full overflow-x-auto">
    {{ componentTable({
      "idPrefix": "documento-encontrado",
      "caption": "Documento encontrado/seleccionado",
      "captionClasses": "mb-base font-bold text-left",
      "attributes": {
          "aria-describedby": "descTable2"
        },
      "head": [
        {
          "text": "CSV"
        },
        {
          "text": "Tipo de documento"
        },
        {
          "text": "Descripción"
        },
        {
          "text": "Visibilidad del documento"
        },
        {
          "html": '<span id="descartarDoc" class="sr-only">Descartar</span>'
        }
      ],
      "rows": [
        [
          {
            "text": "CSVBA26ME75I1W0BENT",
            "classes": "font-semibold",
            "attributes": {
              "id": "csv1"
            }
          },
          {
            "text": "Aceptación"
          },
          {
            "text": "Comunicación de resolución"
          },
          {
            "text": "-"
          },
          {
            "html": botonDescartarDoc
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  <p class="text-sm mt-base mb-lg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>El documento se añadirá sin carpeta, siquieres incorporarlo a alguna, podrás hacerlo desde el detalle del expediente.</p>
  
  {# <fieldset>
    <legend class="c-h3">Selecciona la fase del expediente a la que corresponde el documento</legend>
    {{ componentSelect({
      "id": "fase-expediente",
      "name": "fase-expediente",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Fase del expediente ZA-SP-ENE-AT-2020-14 <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 1,
          "text": "Fase 1",
          "selected": true
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "fase-expediente-2",
      "name": "fase-expediente-2",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Fase del expediente ZA-SP-ENE-AT-2020-15 <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 1,
          "text": "Fase 1",
          "selected": true
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "fase-expediente-3",
      "name": "fase-expediente-3",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Fase del expediente ZA-SP-ENE-AT-2020-16 <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 1,
          "text": "Fase 1",
          "selected": true
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
  </fieldset> #}

  <fieldset>
    <legend class="c-h3 pt-base">Selecciona la fase del expediente a la que corresponde el documento</legend>
    <div class="c-form-group mb-xs">
      <!-- label -->
      <label class="block font-semibold" for="fase-expediente">Fase del expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span></label>
      <!-- /label -->
      <p class="mt-xs">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="align-text-bottom inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="ayuda: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z"  fill="currentColor" /></svg><a href="#" class="c-link text-sm font-semibold" onclick="openDialog('modal1', this, 'fases-expediente1')">¿Qué fase selecciono?</a>
      </p>
      <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full md:w-1/2" id="fase-expediente" name="fase-expediente" aria-required="true">
        <option value="0" selected="" disabled="">Selecciona una fase...</option>
        <optgroup label="Agrupamiento 1">
          <option value="fase1">Nombre de la fase 1</option>
          <option value="fase2">Nombre de la fase 2</option>
          <option value="fase3">Nombre de la fase 3</option>
        </optgroup>
        <optgroup label="Agrupamiento 2">
          <option value="fase4">Nombre de la fase 4</option>
          <option value="fase5">Nombre de la fase 5</option>
          <option value="fase6">Nombre de la fase 6</option>
        </optgroup>
      </select>
    </div>
    {{ componentCheckboxes({
      "idPrefix": "asignar-fase",
      "name": "asignar-fase",
      "fieldset": {
        "legend": {
          "text": "Asignar fase",
          "classes": "sr-only"
        }
      },
      "items": [
        {
          "value": "asignar-todos",
          "text": "Asignar esta fase en todos los expedientes"
        }
      ]
    })  }} 
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}