{# Titulo de pagina #}
{% set title = "Expedientes - nuevo expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Seleccione organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1"
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  })  }}
{% endset %}
{% set buscarDoc %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Código Seguro de Verificación </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
    <a href="#" class="inline-block c-link font-semibold mt-base">Acceder a Portafirmas</a>
  </div>
{% endset %}
{% set subirDesdeEquipo %}
  {{ componentFileUpload({
    "id": "file-upload-2",
    "name": "file-upload-2",
    "label": {
      "text": "Sube el documento o documentos a añadir",
      "classes": "text-neutral-dark"
    }
  })  }}
{% endset %}
{% set docSubido %}
  <fieldset>
    <legend class="font-bold mb-sm">Documentos subidos</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      <ul class="mb-base">
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc1">Nombre_del_fichero.pdf</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class=" c-button c-button--sm c-button--transparent" aria-labelledby="eliminar1 desc1"><span id="eliminar1">Eliminar</span></button>
          {% endcall %}
        </li>
        <li>
          {% call componentItem({
            "title": {
              "html": '<span id="desc2">Nombre_del_fichero.pdf</span>'
            },
            "icon": {
              "type": "document"
            },
            "classes": "break-all mb-sm"
          })  %}
              <button class=" c-button c-button--sm c-button--transparent" aria-labelledby="eliminar2 desc2"><span id="eliminar2">Eliminar</span></button>
          {% endcall %}
        </li>
      </ul>
      {{ componentInput({
        "id": "descripcion-doc",
        "name": "descripcion-doc",
        "label": {
          "html": 'Descripción del documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },        
        "hint": {
          "text": "Éste será el nombre que tendrá el archivo para su identidficación",
          "classes": "text-sm"
        },
        "classes": "w-full",
        "formGroup": {
          "classes": "md:col-span-2"
        },
        "placeholder": "Escribe una descripción..."
      })  }}
      {{ componentSelect({
        "id": "procedimiento-doc-subido",
        "name": "procedimiento-doc-subido",
        "classes": "w-full",
        "label": {
          "html": 'Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },        
        "items": [
          {
            "value": 1,
            "text": "Procedimiento 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Procedimiento 2"
          },
          {
            "value": 3,
            "text": "Procedimiento 3",
            "disabled": true
          }
        ],
        "formGroup": {
          "classes": "md:col-span-2"
        }
      })  }}
      {{ componentSelect({
        "id": "tipo-doc-subido",
        "name": "tipo-doc-subido",
        "classes": "w-full",
        "label": {
          "html": 'Tipo de documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },        
        "items": [
          {
            "value": 1,
            "text": "Tipo documento 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Tipo documento 2"
          },
          {
            "value": 3,
            "text": "Tipo documento 3",
            "disabled": true
          }
        ]
      })  }}
      {{ componentSelect({
        "id": "visibilidad-doc-subido",
        "name": "visibilidad-doc-subido",
        "classes": "w-full",
        "label": {
          "text": "Visibilidad del documento"
        },
        "items": [
          {
            "value": 1,
            "text": "Tipo de visibilidad 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Tipo de visibilidad 2"
          },
          {
            "value": 3,
            "text": "Tipo de visibilidad 3",
            "disabled": true
          }
        ]
      })  }}
    </div>
    {{ componentButton({
      "text": "Confirmar",
      "classes": "c-button--primary mt-xl md:mt-0"
    })  }}
  </fieldset>
{% endset %}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartar csv1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M11.018 123.97L7 54.082A4.83 4.83 0 0111.872 49h44.632a4.858 4.858 0 014.718 3.64L65.17 70h63a4.83 4.83 0 014.858 5.166l-3.794 49a9.688 9.688 0 01-9.716 8.862h-98.77a9.688 9.688 0 01-9.73-9.058zM35 21v-7a7 7 0 017-7h70a7 7 0 017 7v28" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Crear un expediente nuevo
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Crear",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  <fieldset>
    <legend class="sr-only">Datos generales del expediente</legend>
    {{ componentInput({
      "id": "num-interno",
      "name": "num-interno",
      "label": {
        "html": 'Número interno <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full md:w-1/2",
      "placeholder": "Escribe el número interno...",
      "errorMessage": {
        "text": "Error: Error message goes here"
      }
    })  }}
    {{ componentCharacterCount({
      "id": "desc-expdte",
      "name": "desc-expdte",
      "label": {
        "html": 'Descripción de expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "maxlength": 200,
      "rows": 3,
      "placeholder": "Escribe una descripción del expediente...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
  </fieldset>
  <fieldset class="mt-base mb-xl">
    <legend class="mb-sm font-bold">
      Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>
    </legend>
    <div class="border border-neutral-base p-sm rounded">
      {{ componentSearchbar({
        "id": "searchbar-procedimientos",
        "label": {
          "text": "Filtrar procedimientos"
        },
        "placeholder": "Filtrar procedimientos",
        "classes": "-mt-px"
      })  }}
      <div class="max-h-64 mt-sm overflow-y-auto">
        {{ componentRadios({
          "idPrefix": "procedimientos-lista",
          "name": "procedimientos-lista",
          "classes": "c-radios--sm mt-sm",
          "formGroup": {
            "classes": "-mb-sm"
          },
          "items": [
            {
              "value": "value-1",
              "text": "1 - Reclamación de indemnización por daños a causa de carreteras",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-2",
              "text": "3 - AYUDAS DEL PROGRAMA DE APOYO A LA INNOVACIÓN DE LAS PEQUEÑAS Y MEDIANAS EMPRESAS (InnoEmpresa)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-3",
              "text": "5 - SOLICITUD DE DOCUMENTO DE CALIFICACION ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-4",
              "text": "6 - RENOVACIÓN DE DOCUMENTO DE CALIFICACIÓN ARTESANAL",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-5",
              "text": "8 - Solicitud de inscripción de entidad organizadora en el Registro oficial de actividades feriales de Aragón",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-6",
              "text": "11 - Solicitud ayudas para entidades locales en materia de certámenes feriales",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-7",
              "text": "12 - SOLICITUD AYUDAS INTERNACIONALIZACION EMPRESAS ARAGONESAS (PYMES COMERCIALES)",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-9",
              "text": "14 - SOLICITUD DE INFORME O LICENCIA COMERCIAL PARA GRANDES SUPERFICIES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-10",
              "text": "15 - SOLICITUD REGISTRO DE EMPRESARIO DE COMERCIO EN EL REGISTRO GENERAL DE EMPRESARIOS DE COMERCIO",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-11",
              "text": "52 - OTORGAMIENTO DE PERMISOS DE EXPLOTACIÓN DE RECURSOS DE LAS SECCIONES C) Y D) DE LA LEY DE MINAS",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "value-12",
              "text": "114 - AYUDAS COMPLEMENTARIAS DE INCENTIVOS REGIONALES",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  </fieldset>
  
  {# Se elige un procedimiento para que se muestren las opciones del campo Visibilidad #}
  {{ componentRadios({
    "idPrefix": "visibilidad1",
    "name": "visibilidad1",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida",
        "checked": true,
        "conditional": {
          "html": '<p class="font-bold">Seleccione organismos:</p><p class="text-sm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-xs" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>Elige un procedimiento para que se muestren las opciones</p>'
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}
  {{ componentRadios({
    "idPrefix": "visibilidad2",
    "name": "visibilidad2",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida",
        "checked": true,
        "conditional": {
          "html": checksVisibCompartida
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}

  {# Aportador #}
  <fieldset>
    <legend class="sr-only">Datos del aportador</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentInput({
        "id": "nom-aportador",
        "name": "nom-aportador",
        "label": {
          "html": 'Nombre del aportador <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full",
        "value": "Marta Pérez",
        "disabled": true
      })  }}
      {{ componentInput({
        "id": "org-aportador",
        "name": "org-aportador",
        "label": {
          "text": "Organismo del aportador"
        },
        "classes": "w-full",
        "value": "Lorem ipsum",
        "disabled": true
      })  }}
      {{ componentSelect({
        "id": "tipo-interesado",
        "name": "tipo-interesado",
        "classes": "w-full",
        "label": {
          "text": "Tipo de interesado"
        },
        "items": [
          {
            "value": 1,
            "text": "Interesado 1",
            "selected": true
          },
          {
            "value": 2,
            "text": "Interesado 2"
          },
          {
            "value": 3,
            "text": "Interesado 3",
            "disabled": true
          }
        ]
      })  }}
    </div>
  </fieldset>

  {# Añadiendo un documento al expediente #}
  {{ componentRadios({
    "idPrefix": "sum-doc",
    "name": "sum-doc",
    "fieldset": {
      "legend": {
        "text": "Añade un documento al expediente (opcional)"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarDoc
        }
      },
      {
        "value": "equipo",
        "text": "Añadir desde el equipo",
        "conditional": {
          "html": subirDesdeEquipo
        }
      }
    ]
  })  }}

  {# Añadiendo un documento al expediente - documento subido #}
  {{ componentRadios({
    "idPrefix": "sum-doc2",
    "name": "sum-doc2",
    "fieldset": {
      "legend": {
        "text": "Añade un documento al expediente (opcional)"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarDoc
        }
      },
      {
        "value": "equipo",
        "text": "Añadir desde el equipo",
        "checked": true,
        "conditional": {
          "html": docSubido
        }
      }
    ]
  })  }}
  
  {# Añadiendo un documento al expediente - documento encontrado/seleccionado #}
  <fieldset>
    <legend class="font-bold mb-sm">Añade documentos al expediente (opcional)</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <p id="descTable1">Desde la última columna es posible eliminar uno o más documentos encontrados/seleccionados y contenidos en la tabla.</p>
    {% endcall %}
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "idPrefix": "documento-encontrado",
        "caption": "Documento encontrado/seleccionado",
        "captionClasses": "mb-base font-bold text-left",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "text": "CSV"
          },
          {
            "text": "Tipo de documento"
          },
          {
            "text": "Descripción"
          },
          {
            "text": "Visibilidad"
          },
          {
            "html": '<span id="descartar" class="sr-only">Descartar</span>'
          }
        ],
        "rows": [
          [
            {
              "text": "CSVBA26ME75I1W0BENT",
              "classes": "font-semibold",
              "attributes": {
                "id": "csv1"
              }
            },
            {
              "text": "Original"
            },
            {
              "text": "Comunicación de resolución"
            },
            {
              "text": "-"
            },
            {
              "html": botonDescartar
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    <p class="text-sm mt-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="información relevante: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>El documento se añadirá sin carpeta, siquieres incorporarlo a alguna, podrás hacerlo desde el detalle del expediente.</p>
    {{ componentSelect({
      "id": "fase-expediente",
      "name": "fase-expediente",
      "formGroup": {
        "classes": "mt-lg"
      },
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase del expediente a la que corresponde el documento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>'
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 1,
          "text": "Fase 1",
          "selected": true
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir otro documento',
      "href": "#",
      "classes": "c-button--sm mb-lg"
    })  }}
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}