{# Titulo de pagina #}
{% set title = "Expedientes - notificación cambio de estado. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set formBusquedaCSV %}
  <div class="lg:w-1/2 py-base">
    <p>CSV</p>
    <p class="block text-sm text-neutral-dark">Puedes buscar más de un CSV introduciéndolos separados por ;</p>
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="grid md:grid-cols-2 gap-x-7 py-base">
    {{ componentSelect({
      "id": "procedimiento",
      "name": "procedimiento",
      "classes": "w-full",
      "label": {
        "text": "Procedimiento"
      },
      "items": [
        {
          "value": 1,
          "text": "Procedimiento 1",
          "selected": true
        },
        {
          "value": 2,
          "text": "Procedimiento 2"
        },
        {
          "value": 3,
          "text": "Procedimiento 3",
          "disabled": true
        }
      ],
      "formGroup": {
        "classes": "md:col-span-2"
      }
    })  }}
    {{ componentInput({
      "label": {
        "text": "Número de expediente interno"
      },
      "id": "numexpint",
      "name": "numexpint",
      "placeholder": "Escribe el número de expediente interno",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "text": "Descripción"
      },
      "id": "descripcion",
      "name": "descripcion",
      "placeholder": "Escribe la descripción",
      "classes": "w-full"
    })  }}    
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fechiniapertura",
        "namePrefix": "fechiniapertura",
        "fieldset": {
          "legend": {
            "text": "Fecha inicio de apertura:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechfinapertura",
        "namePrefix": "fechfinapertura",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de apertura:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fechiniultconsulta",
        "namePrefix": "fechiniultconsulta",
        "fieldset": {
          "legend": {
            "text": "Fecha inicio de última consulta:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechfinultconsulta",
        "namePrefix": "fechfinultconsulta",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de última consulta:",
            "classes": "font-normal"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    {{ componentInput({
      "label": {
        "text": "Aportador"
      },
      "id": "aportador",
      "name": "aportador",
      "placeholder": "Escribe el nombre o NIF del aportador",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "text": "Interesado"
      },
      "id": "interesado",
      "name": "interesado",
      "placeholder": "Escribe el nombre o NIF del interesado",
      "classes": "w-full"
    })  }} 
    <div class="md:col-span-2 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </form>
{% endset %}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}

  {# Notificación #}
  <section aria-labelledby="notificaciones">
    <h2 id="notificaciones" class="sr-only">Notificaciones</h2>
    <div class="fixed left-0 top-2xl z-10000 w-full" role="alert" aria-live="assertive">
      {{ componentNotification({
        "title": {
          "text": "Los expedientes seleccionados han cambiado su estado a: Abierto"
        },
        "type": "success",
        "id": "notific-cambio-estado",
        "isDismissible": true,
        "classes": "c-notification--success w-9/12 xl:w-8/12 mx-auto bg-white"
      })  }}
    </div>
  </section>
  {# fin Notificación #}
  
  <div class="lg:flex lg:flex-wrap w-full">
    <h1 class="c-h1 flex-1">Expedientes</h1>
    {# Filtros de Busqueda #}
    <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
      <h2 id="filtros-busqueda" class="sr-only">Filtros de búsqueda</h2>
      {{ componentAccordion({
        "idPrefix": "busquedas",
        "allowToggle": true,
        "items": [
          {
            "headerText": "Búsqueda por CSV",
            "html": formBusquedaCSV
          },
          {
            "headerText": "Búsqueda avanzada",
            "html": formBusquedaAvanzada
          }
        ]
      })  }}
    </section>
    {# fin Filtros de Busqueda #}
    {# Boton nuevo #}
    <section class="flex lg:items-start mt-base mb-xl lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      {{ componentButton({
        "text": "Nuevo expediente",
        "classes": "c-button--primary"
      })  }}
    </section>
    {# fin Boton nuevo #}
  </div>

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar los expedientes para realizar acciones con los botones situados antes de la tabla. Puedes seleccionar todos los expedientes con la casilla de verificación "Seleccionar todo".</p>
        <p>En la segunda columna tienes el enlace al detalle del expediente.</p>
        <p>La cabecera de las filas tiene opción de ordenación.</p>
        <p>La segunda fila tiene campos de formulario para filtrar los datos de cada columna.</p>
      </div>
  {% endcall %}
  {# Barra de Acciones #}
  <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones">
    <h2 id="acciones" class="sr-only">Selección múltiple y Acciones sobre el listado de expedientes</h2>
    <div class="lg:flex sm:flex-1">
      {{ componentCheckboxes({
        "idPrefix": "todos-expedientes",
        "name": "todos-expedientes",
        "classes": "c-checkboxes--sm mt-sm -mb-xl",
        "items": [
          {
            "value": "todos",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </div>
    <div class="flex lg:items-start lg:ml-auto lg:pl-base">
      {# {% include "includes/_action-bar-menubar.njk" %} #}
      {% include "includes/_action-bar-dropdowns.njk" %}
    </div>
  </section>
  {# fin Barra de Acciones #}

  {# Tabla-Listado de resgistros #}
  <section class="max-w-full overflow-x-auto" aria-labelledby="expedientes">
    <h2 id="expedientes" class="sr-only">Listado de expedientes</h2>
    {{ componentTableAdvanced({
      "idPrefix": "listado-expedientes",
      "hasCheckboxes": true,
      "caption": "Listado de expedientes",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Expediente',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Última">Últ.</abbr> consulta',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Descripción',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Estado',
          "orderBy": "none",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-alert-dark"></span>Anulado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-black"></span>Cerrado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Archivado</div>'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">ZA-SP-ENE-AT-2020-014</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Lorem ipsum dolor sit amet consectetur.'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </section>
  {# fin Tabla-Listado de resgistros #}

  {# Paginacion #}
  <div class="mt-base">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-listado-expdtes",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}

{% endblock %}
{# fin Contenido de la página #}