{# Titulo de pagina #}
{% set title = "Expedientes - Enviar - Bandeja personal - Buscar. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}

{# Definiciones #}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartarExp expediente1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Enviar Expediente
  <span class="block font-bold normal-case text-base text-neutral-dark">A una bandeja personal</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg">
    <legend class="c-h3 mt-sm">Expedientes seleccionados</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Desde la sexta columna es posible eliminar los expedientes de la selección para el envío.</p>
          <p>Es posible añadir más expedientes a la selección mediante el botón situado después de la tabla.</p>
        </div>
    {% endcall %}
    <div class="max-w-full overflow-x-auto mb-lg">
      {{ componentTable({
        "idPrefix": "documento-encontrado",
        "caption": "Listado de expedientes seleccionados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Expediente'
          },
          {
            "html": '<abbr title="Última">Últ.</abbr> consulta'
          },
          {
            "html": 'Descripción'
          },
          {
            "html": '<abbr title="Procedimiento">Proc.</abbr>'
          },
          {
            "html": 'Estado'
          },
          {
            "html": '<span id="descartarExp" class="sr-only">Descartar</span>'
          }
        ],
        "rows": [
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-014',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente1"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-015',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente2"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">28/09/2020, 09:45</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur comor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-016',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente3"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">06/10/2020, 13:12</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur nor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir expediente',
      "href": "#",
      "classes": "c-button--sm"
    })  }}
  </fieldset>


  <fieldset>
    <legend class="c-h3">Opciones de envío a una bandeja personal</legend>
    <div class="lg:flex items-start">
      <ul class="lg:flex">
        <li>
          {{ componentPill({
            "type": "button",
            "html": "Nombre: Javier <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
          })  }}
        </li>
        <li>
          {{ componentPill({
            "type": "button",
            "html": "Primer apellido: López <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
            "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
          })  }}
        </li>
      </ul>
      {{ componentButton({
        "text": "Limpiar búsqueda",
        "classes": "c-button--transparent c-button--sm lg:ml-base"
      })  }}
    </div>
  </fieldset>

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
      "classes": "mb-xs mt-sm  text-sm"
  })  %}
      <div id="descTable2">
        <p>Desde la primera columna se puede seleccionar la persona a la que hacer el envío.</p>
        <p>Puedes eliminar los filtros aplicados mediante los botones situados antes de la tabla.</p>
      </div>
  {% endcall %}

  <div class="max-w-full overflow-x-auto overflow-y-hidden">
    <div class="table w-full border-t border-b border-neutral-base mb-xl" aria-describedby="descTable2" role="table">
      <div class="table-caption font-bold mb-base">Listado de resultados</div>
      <div class="table-header-group" role="rowgroup">
        <div class="table-row text-sm text-neutral-dark" role="row">
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Nombre</div>
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader"><abbr title="Número de identificación fiscal">NIF</abbr></div>
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Organismo</div>
          <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader">Correo electrónico</div>
        </div>
      </div>
      <div class="table-row-group" role="rowgroup">
        <div class="table-row" role="row">
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            {{ componentRadios({
              "idPrefix": "resultado1",
              "name": "resultados",
              "formGroup": {
                "classes": "mb-0"
              },
              "items": [
                {
                  "value": "resultado1",
                  "text": "Javier López",
                  "classes": "font-semibold -my-sm"
                }
              ]
            })  }}  
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>25123456Z</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>Departamento de Vertebración del Territorio</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>jlopez@aragon.es</p>
          </div>
        </div>
        <div class="table-row" role="row">
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            {{ componentRadios({
              "idPrefix": "resultado2",
              "name": "resultados",
              "formGroup": {
                "classes": "mb-0"
              },
              "items": [
                {
                  "value": "resultado2",
                  "text": "Javier López",
                  "classes": "font-semibold -my-sm"
                }
              ]
            })  }}  
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>17123456A</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>Servicio de diseño y desarrollo de Servicios Públicos</p>
          </div>
          <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
            <p>javierlopez@aragon.es</p>
          </div>
        </div>
      </div>
    </div>
  </div>    

{% endblock %}
{# fin Contenido de la página #}