{# Titulo de pagina #}
{% set title = "Expedientes - Enviar - Bandeja personal. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{# fin Dependencias #}

{# Definiciones #}
{% set botonDescartar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" aria-hidden="true"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "aria-labelledby": "descartarExp expediente1"
    }
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Enviar Expediente
  <span class="block font-bold normal-case text-base text-neutral-dark">A una bandeja personal</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Enviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg">
    <legend class="c-h3 mt-sm">Expedientes seleccionados</legend>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Desde la sexta columna es posible eliminar los expedientes de la selección para el envío.</p>
          <p>Es posible añadir más expedientes a la selección mediante el botón situado después de la tabla.</p>
        </div>
    {% endcall %}
    <div class="max-w-full overflow-x-auto mb-lg">
      {{ componentTable({
        "idPrefix": "documento-encontrado",
        "caption": "Listado de expedientes seleccionados",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Expediente'
          },
          {
            "html": '<abbr title="Última">Últ.</abbr> consulta'
          },
          {
            "html": 'Descripción'
          },
          {
            "html": '<abbr title="Procedimiento">Proc.</abbr>'
          },
          {
            "html": 'Estado'
          },
          {
            "html": '<span id="descartarExp" class="sr-only">Descartar</span>'
          }
        ],
        "rows": [
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-014',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente1"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-015',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente2"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">28/09/2020, 09:45</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur comor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</div>'
            },
            {
              "html": botonDescartar
            }
          ],
          [
            {
              "html": 'ZA-SP-ENE-AT-2020-016',
              "classes": "font-semibold",
              "attributes": {
                "id": "expediente3"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">06/10/2020, 13:12</div>'
            },
            {
              "html": 'Lorem ipsum dolor sit amet consctetur nor'
            },
            {
              "html": '1520'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</div>'
            },
            {
              "html": botonDescartar
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir expediente',
      "href": "#",
      "classes": "c-button--sm"
    })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Opciones de envío a una bandeja personal</legend>
    {{ componentCharacterCount({
      "id": "notas",
      "name": "notas",
      "label": {
        "html": 'Notas de operación',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "maxlength": 500,
      "rows": 3,
      "placeholder": "Escribe las notas de la operación...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
    {{ componentSelect({
      "id": "ultimos-destinatarios",
      "name": "ultimos-destinatarios",
      "classes": "w-full",
      "label": {
        "text": "Últimos destinatarios",
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un destinatario...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Destinatario 1"
        },
        {
          "value": 2,
          "text": "Destinatario 2"
        }
      ]
    })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Buscar un empleado público</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentInput({
        "id": "nombre",
        "name": "nombre",
        "label": {
          "text": "Nombre",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el nombre"
      })  }}
      {{ componentInput({
        "id": "dni",
        "name": "dni",
        "label": {
          "text": "DNI",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el DNI"
      })  }}
      {{ componentInput({
        "id": "primer-apellido",
        "name": "primer-apellido",
        "label": {
          "text": "Primer apellido",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el primer apellido"
      })  }}
      {{ componentInput({
        "id": "segundo-apellido",
        "name": "segundo-apellido",
        "label": {
          "text": "Segundo apellido",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el segundo apellido"
      })  }}
      {{ componentInput({
        "id": "email",
        "name": "email",
        "label": {
          "text": "Email",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "placeholder": "Escribe el email"
      })  }}
    </div>
    {{ componentButton({
      "text": "Buscar",
      "classes": "c-button--primary mb-lg"
    })  }}
  </fieldset>  

{% endblock %}
{# fin Contenido de la página #}