{# Titulo de pagina #}
{% set title = "Inicio - Reenviar - Gestor - Añadir entrada. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas </p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Reenviando entradas
  <span class="block font-bold normal-case text-base text-neutral-dark">A una bandeja personal</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Reenviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}

  {# Instrucciones de funcionamiento de la tabla #}
  {% call componentDetails({
    "summary": {
      "html": "Acerca de esta tabla"
    },
    "classes": "mb-xs text-sm"
  })  %}
      <div id="descTable1">
        <p>En la primera columna puedes seleccionar las entradas que quieras reenviar.</p>
        <p>La segunda columna contiene enlaces de acceso al detalle de las entradas.</p>
        <p>Las cabeceras de columna tienen opción de ordenación.</p>
        <p>Añade más entradas a la selección mediante el botón "Añadir entrada" situado después de la tabla o cancela la nueva selección con el botón "Cancelar" situado después de la tabla.</p>
      </div>
  {% endcall %}

  {# Tabla-Listado de entradas #}
  <div class="max-w-full overflow-x-auto mb-lg">
    {{ componentTableAdvanced({
      "idPrefix": "listado-entradas",
      "hasCheckboxes": true,
      "caption": "Entradas seleccionadas",
      "captionClasses": "mb-base font-bold text-left",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Asunto',
          "orderBy": "none"
        },
        {
          "html": '<abbr title="Procedimiento">Proc.</abbr>',
          "orderBy": "none"
        },
        {
          "html": 'Registro',
          "orderBy": "none"
        },
        {
          "html": 'Origen',
          "orderBy": "none"
        },
        {
          "html": 'Remitente',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": tooltipTabla
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  {# fin Tabla-Listado de entradas #}

  <ul class="lg:flex mt-base">
    <li>
      {{ componentButton({
        "text": "Añadir entrada",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary mb-sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#",
        "classes": "c-button--transparent lg:ml-sm"
      })  }}
    </li>
  </ul>

{% endblock %}
{# fin Contenido de la página #}