{# Titulo de pagina #}
{% set title = "Inicio - Aceptar y añadir - Expediente existente - Carpeta creada. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set buscarCsv %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "CSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados de búsqueda </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set buscarAvanzada %}
  <div class="lg:flex items-start">
    <ul class="lg:flex">
      <li>
        {{ componentPill({
          "type": "button",
          "html": "Revisado en la última semana <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
          "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
        })  }}
      </li>
      <li>
        {{ componentPill({
          "type": "button",
          "html": "<abbr title=\"Procedimiento\">Proc.</abbr> 1520 <svg viewBox=\"0 0 140 140\" class=\" self-center ml-2 \" aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z\"/></svg>",
          "classes": "c-pill--primary cursor-pointer lg:mr-base mb-sm"
        })  }}
      </li>
    </ul>
    {{ componentButton({
      "text": "Editar búsqueda avanzada",
      "classes": "c-button--transparent c-button--sm lg:ml-base"
    })  }}
  </div>
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M11.018 123.97L7 54.082A4.83 4.83 0 0111.872 49h44.632a4.858 4.858 0 014.718 3.64L65.17 70h63a4.83 4.83 0 014.858 5.166l-3.794 49a9.688 9.688 0 01-9.716 8.862h-98.77a9.688 9.688 0 01-9.73-9.058zM35 21v-7a7 7 0 017-7h70a7 7 0 017 7v28" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadiendo entradas
  <span class="block font-bold normal-case text-base text-neutral-dark">A un expediente existente</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir a expediente",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg mt-sm">
    <legend class="c-h3">Entradas seleccionadas</legend>
    <ul>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace1" href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Pruebas Soporte Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 106"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-labelledby="boton1 enlace1"><span id="boton1" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace2" href="#" class="c-link">Solicitud de autorización de transporte escolar</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Dirección General de Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 196"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none"  aria-labelledby="boton2 enlace2"><span id="boton2" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
    </ul>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir entrada',
      "href": "#",
      "classes": "c-button--sm mt-sm"
    })  }}
  </fieldset>


  {{ componentRadios({
    "idPrefix": "sum-entrada",
    "name": "sum-entrada",
    "fieldset": {
      "legend": {
        "text": "Opciones de añadir a un expediente existente",
        "classes": "c-h3 mt-sm"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarCsv
        }
      },
      {
        "value": "avanzada",
        "text": "Búsqueda avanzada",
        "conditional": {
          "html": buscarAvanzada
        },
        "checked": true
      }
    ]
  })  }}

  <section aria-labelledby="expedientes">
    <h2 id="expedientes" class="font-bold mb-sm">Listado de resultados</h2>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
        "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>En la primera columna puedes seleccionar uno de los expedientes.</p>
          <p>La cabecera de las filas tiene opción de ordenación.</p>
          <p>La segunda fila tiene campos de formulario para filtrar los datos de cada columna.<p>
        </div>
    {% endcall %}   
    {# Listado de resgistros #}
    <div class="max-w-full overflow-x-auto overflow-y-hidden">
      <div class="table c-table-advanced w-full border-t border-b border-neutral-base" aria-describedby="descTable1" role="table">
        <div class="table-caption text-left text-neutral-dark mb-sm">Se han encontrado 7 resultados</div>
        <div class="table-header-group" role="rowgroup">
          <div class="table-row text-sm text-neutral-dark" role="row">
            <div class="table-cell py-sm px-base border-b border-r border-neutral-base" role="columnheader" aria-sort="none">
              <span class="inline-block relative" tabindex="0" role="button">
                Expediente
                <span class="c-table-advanced__order">
                  <span class="sr-only">Pulsa para ordenar por esta columna</span>
                  <span class="c-table-advanced__ascending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__descending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-base" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"></path></svg>
                  </span>
                </span>
              </span>
              {{ componentSearchbar({
                "id": "searchbar-1",
                "label": {
                  "text": "Filtrar"
                },
                "placeholder": "Filtrar",
                "classes": "c-input--sm",
                "buttonClasses": "m-xs p-0.5 text-xs"
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-b border-r border-neutral-base" role="columnheader" aria-sort="descending">
              <span class="inline-block relative" tabindex="0" role="button">
                <abbr title="Última">Últ.</abbr> consulta
                <span class="c-table-advanced__order">
                  <span class="sr-only">Pulsa para ordenar por esta columna</span>
                  <span class="c-table-advanced__ascending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__descending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-base" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"></path></svg>
                  </span>
                </span>
              </span>
              {{ componentSearchbar({
                "id": "searchbar-2",
                "label": {
                  "text": "Filtrar"
                },
                "placeholder": "Filtrar",
                "classes": "c-input--sm",
                "buttonClasses": "m-xs p-0.5 text-xs",
                "disabled": true
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-b border-r border-neutral-base" role="columnheader" aria-sort="ascending">
              <span class="inline-block relative" tabindex="0" role="button">
                Descripción
                <span class="c-table-advanced__order">
                  <span class="sr-only">Pulsa para ordenar por esta columna</span>
                  <span class="c-table-advanced__ascending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__descending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-base" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"></path></svg>
                  </span>
                </span>
              </span>
              {{ componentSearchbar({
                "id": "searchbar-3",
                "label": {
                  "text": "Filtrar"
                },
                "placeholder": "Filtrar",
                "classes": "c-input--sm",
                "buttonClasses": "m-xs p-0.5 text-xs"
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-b border-r border-neutral-base" role="columnheader" aria-sort="none">
              <span class="inline-block relative" tabindex="0" role="button">
                <abbr title="Procedimiento">Proc.</abbr>
                <span class="c-table-advanced__order">
                  <span class="sr-only">Pulsa para ordenar por esta columna</span>
                  <span class="c-table-advanced__ascending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__descending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-base" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"></path></svg>
                  </span>
                </span>
              </span>
              {{ componentSearchbar({
                "id": "searchbar-4",
                "label": {
                  "text": "Filtrar"
                },
                "placeholder": "Filtrar",
                "classes": "c-input--sm",
                "buttonClasses": "m-xs p-0.5 text-xs",
                "disabled": true
              })  }}
            </div>
            <div class="table-cell py-sm px-base border-b border-neutral-base" role="columnheader" aria-sort="none">
              <span class="inline-block relative" tabindex="0" role="button">
                Estado
                <span class="c-table-advanced__order">
                  <span class="sr-only">Pulsa para ordenar por esta columna</span>
                  <span class="c-table-advanced__ascending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__descending">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"></path></svg>
                  </span>
                  <span class="c-table-advanced__none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-base" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"></path></svg>
                  </span>
                </span>
              </span>
              {{ componentSearchbar({
                "id": "searchbar-5",
                "label": {
                  "text": "Filtrar"
                },
                "placeholder": "Filtrar",
                "classes": "c-input--sm",
                "buttonClasses": "m-xs p-0.5 text-xs"
              })  }}
            </div>
          </div>
        </div>
        <div class="table-row-group" role="rowgroup">
          <div class="table-row" role="row">
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {{ componentRadios({
                "idPrefix": "resultado1",
                "name": "resultados",
                "formGroup": {
                  "classes": "mb-0"
                },
                "items": [
                  {
                    "value": "resultado1",
                    "text": "ZA-SP-ENE-AT-2020-011",
                    "classes": "font-semibold -my-sm whitespace-nowrap"
                  }
                ]
              })  }}  
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap">21/09/2020, 10:30</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {% call componentTooltip({
                "id": "tooltipTabla1",
                "text": "1520",
                "icon": {
                  "type": "info"
                }
              })  %}
                  <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
              {% endcall %}
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-alert-dark"></span>Anulado</p>
            </div>
          </div>
          <div class="table-row" role="row">
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {{ componentRadios({
                "idPrefix": "resultado2",
                "name": "resultados",
                "formGroup": {
                  "classes": "mb-0"
                },
                "items": [
                  {
                    "value": "resultado2",
                    "text": "ZA-SP-ENE-AT-2020-012",
                    "classes": "font-semibold -my-sm whitespace-nowrap"
                  }
                ]
              })  }}  
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap">21/09/2020, 10:30</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {% call componentTooltip({
                "id": "tooltipTabla2",
                "text": "1520",
                "icon": {
                  "type": "info"
                }
              })  %}
                  <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
              {% endcall %}
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-black"></span>Cerrado</p>
            </div>
          </div>
          <div class="table-row" role="row">
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {{ componentRadios({
                "idPrefix": "resultado3",
                "name": "resultados",
                "formGroup": {
                  "classes": "mb-0"
                },
                "items": [
                  {
                    "value": "resultado3",
                    "text": "ZA-SP-ENE-AT-2020-013",
                    "classes": "font-semibold -my-sm whitespace-nowrap",
                    "checked": true
                  }
                ]
              })  }}  
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap">21/09/2020, 10:30</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {% call componentTooltip({
                "id": "tooltipTabla3",
                "text": "1520",
                "icon": {
                  "type": "info"
                }
              })  %}
                  <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
              {% endcall %}
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>En preparación</p>
            </div>
          </div>
          <div class="table-row" role="row">
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {{ componentRadios({
                "idPrefix": "resultado4",
                "name": "resultados",
                "formGroup": {
                  "classes": "mb-0"
                },
                "items": [
                  {
                    "value": "resultado4",
                    "text": "ZA-SP-ENE-AT-2020-014",
                    "classes": "font-semibold -my-sm whitespace-nowrap"
                  }
                ]
              })  }}  
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap">21/09/2020, 10:30</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {% call componentTooltip({
                "id": "tooltipTabla4",
                "text": "1520",
                "icon": {
                  "type": "info"
                }
              })  %}
                  <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
              {% endcall %}
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Archivado</p>
            </div>
          </div>
          <div class="table-row" role="row">
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {{ componentRadios({
                "idPrefix": "resultado5",
                "name": "resultados",
                "formGroup": {
                  "classes": "mb-0"
                },
                "items": [
                  {
                    "value": "resultado5",
                    "text": "ZA-SP-ENE-AT-2020-015",
                    "classes": "font-semibold -my-sm whitespace-nowrap"
                  }
                ]
              })  }}  
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap">21/09/2020, 10:30</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              {% call componentTooltip({
                "id": "tooltipTabla5",
                "text": "1520",
                "icon": {
                  "type": "info"
                }
              })  %}
                  <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
              {% endcall %}
            </div>
            <div class="table-cell px-base border-t border-neutral-base align-middle" role="cell">
              <p class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Abierto</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    {# fin Listado de resgistros #}
  </section>
  
  {# Paginacion #}
  <div class="mt-base mb-lg">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "id": "paginacion-resultados",
      "hasSelect": true,
      "idPrefix": "pagina",
      "totalItems": "7",
      "itemsPerPage": "5",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  {# fin Paginacion #}

  {# Seleccion de fase #}
  <fieldset>
    <legend class="font-bold mb-base">Selecciona la fase del expediente a la que corresponden los documentos de cada una de las entradas</legend>
    {{ componentSelect({
      "id": "fase-entrada",
      "name": "fase-entrada",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase para los documentos de la entrada "Comunicación de apertura de centro de trabajo" <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la fase...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Actuaciones previas"
        },
        {
          "value": 2,
          "text": "Inicio de la tramitación"
        },
        {
          "value": 3,
          "text": "Participación pública"
        },
        {
          "value": 4,
          "text": "Informes"
        },
        {
          "value": 5,
          "text": "Valoración/Evaluación/Licitación/Prueba"
        },
        {
          "value": 6,
          "text": "Propuesta de resolución"
        },
        {
          "value": 7,
          "text": "Resolución/Actos de finalización de la tramitación"
        },
        {
          "value": 8,
          "text": "Revisiones y recursos"
        },
        {
          "value": 9,
          "text": "Obligaciones de pago/abono/reintegro/certificaciones"
        },
        {
          "value": 10,
          "text": "Otros trámites"
        },
        {
          "value": 11,
          "text": "Gestión económica y presupuestaria"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "fase-entrada-2",
      "name": "fase-entrada-2",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase para los documentos de la entrada "Solicitud de autorización de transporte escolar" <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la fase...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Actuaciones previas"
        },
        {
          "value": 2,
          "text": "Inicio de la tramitación"
        },
        {
          "value": 3,
          "text": "Participación pública"
        },
        {
          "value": 4,
          "text": "Informes"
        },
        {
          "value": 5,
          "text": "Valoración/Evaluación/Licitación/Prueba"
        },
        {
          "value": 6,
          "text": "Propuesta de resolución"
        },
        {
          "value": 7,
          "text": "Resolución/Actos de finalización de la tramitación"
        },
        {
          "value": 8,
          "text": "Revisiones y recursos"
        },
        {
          "value": 9,
          "text": "Obligaciones de pago/abono/reintegro/certificaciones"
        },
        {
          "value": 10,
          "text": "Otros trámites"
        },
        {
          "value": 11,
          "text": "Gestión económica y presupuestaria"
        }
      ]
    })  }}
  </fieldset>

  <fieldset class="mb-xl mt-sm">
    <legend class="font-bold mb-base">Seleccionar carpeta</legend>
    <p class="mb-sm">Nueva carpeta creada:</p>
    {% call componentItem({
      "title": {
        "text": "Carpeta 1"
      },
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.15em" height="1.15em" class="text-neutral-dark fill-current ml-sm" aria-hidden="true" focusable="false" role="img"><path d="M120 35H67.89l-13-22.5a5 5 0 00-4.33-2.5H20A20 20 0 000 30v80a20 20 0 0020 20h100a20 20 0 0020-20V55a20 20 0 00-20-20z"></path></svg>'
      },
      "classes": "mb-sm sm:w-1/2 lg:w-1/3 py-sm px-base"
    })  %}
        <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Descartar entrada">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
        </button>
    {% endcall %}
  </fieldset>

{% endblock %}
{# fin Contenido de la página #}