{# Titulo de pagina #}
{% set title = "Inicio Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set tooltipTabla %}
  {% call componentTooltip({
    "id": "tooltipTabla",
    "text": "1520",
    "icon": {
      "type": "info"
    }
  })  %}
      <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
  {% endcall %}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="sr-only">Escritorio de Inicio de Carpeta del Gestor</h1>

  <section class="mb-xl" aria-labelledby="ultimos-expdtes">
    <h2 id="ultimos-expdtes" class="c-h2">Últimos expedientes consultados</h2>
    <ul class="flex flex-wrap lg:flex-nowrap gap-7 mb-base items-start place-content-center">
      <li class="lg:flex flex-wrap p-sm border border-neutral-base rounded w-full md:w-5/12 ">
        {% call componentTooltip({
          "text": "Procedimiento 1520",
          "id": "proc1",
          "icon": {
            "type": "info"
          },
          "classes": "text-lg font-bold border-b pb-sm mb-sm border-gray-400 text-neutral-dark w-full"
        })  %}
            <p class="c-paragraph-sm mb-0">1520 - Subvención para actividades de educación de personas adultas</p>
        {% endcall %}
        <div class="flex flex-wrap items-start">
          <p class="text-2xl font-bold mr-sm -mt-xs">22</p>
          <div class="flex-1">
            <p class="text-neutral-dark">Últimos <abbr title="expedientes">exp.</abbr> consultados</p>
            <p><a aria-labelledby="ver1 proc1" href="#" id="ver1" class="c-link c-paragraph-sm font-semibold">Ver expedientes</a></p>
          </div>
        </div>
      </li>
      <li class="lg:flex flex-wrap p-sm border border-neutral-base rounded w-full md:w-5/12 ">
        {% call componentTooltip({
          "text": "Procedimiento 278",
          "id": "proc2",
          "icon": {
            "type": "info"
          },
          "classes": "text-lg font-bold border-b pb-sm mb-sm border-gray-400 text-neutral-dark w-full"
        })  %}
            <p class="c-paragraph-sm mb-0">278 - Reconocimiento de asistencia jurídica gratuita </p>
        {% endcall %}
        <div class="flex flex-wrap items-start">
         <p class="text-2xl font-bold mr-sm -mt-xs">12</p>
          <div class="flex-1">
            <p class="text-neutral-dark">Últimos <abbr title="expedientes">exp.</abbr> consultados</p>
            <p><a aria-labelledby="ver2 proc2" href="#" id="ver2" class="c-link c-paragraph-sm font-semibold">Ver expedientes</a></p>
          </div>
        </div>
      </li>
      <li class="lg:flex flex-wrap p-sm border border-neutral-base rounded w-full md:w-5/12 ">
        {% call componentTooltip({
          "text": "Procedimiento 107",
          "id": "proc3",
          "icon": {
            "type": "info"
          },
          "classes": "text-lg font-bold border-b pb-sm mb-sm border-gray-400 text-neutral-dark w-full"
        })  %}
            <p class="c-paragraph-sm mb-0">107 - Identificación personal de cilcista profesional</p>
        {% endcall %}
        <div class="flex flex-wrap items-start">
          <p class="text-2xl font-bold mr-sm -mt-xs">7</p>
          <div class="flex-1">
            <p class="text-neutral-dark">Últimos <abbr title="expedientes">exp.</abbr> consultados</p>
            <p><a aria-labelledby="ver3 proc3" href="#" id="ver3" class="c-link c-paragraph-sm font-semibold">Ver expedientes</a></p>
          </div>
        </div>
      </li>
      <li class="lg:flex flex-wrap p-sm border border-neutral-base rounded w-full md:w-5/12 ">
        {% call componentTooltip({
          "text": "Procedimiento 788",
          "id": "proc4",
          "icon": {
            "type": "info"
          },
          "classes": "text-lg font-bold border-b pb-sm mb-sm border-gray-400 text-neutral-dark w-full"
        })  %}
            <p class="c-paragraph-sm mb-0">788 - Expedición del libro de actividades subacuáticas</p>
        {% endcall %}
        <div class="flex flex-wrap items-start">
          <p class="text-2xl font-bold mr-sm -mt-xs">17</p>
          <div class="flex-1">
            <p class="text-neutral-dark">Últimos <abbr title="expedientes">exp.</abbr> consultados</p>
            <p><a aria-labelledby="ver4 proc4" href="#" id="ver4" class="c-link c-paragraph-sm font-semibold">Ver expedientes</a></p>
          </div>
        </div>
      </li>
    </ul>
    <p class="text-center"><a href="#" class="c-link text-sm"><strong>Ver todos los expedientes</strong></a></p>
  </section>

  <section class="mb-xl" aria-labelledby="mis-acciones">
    <h2 id="mis-acciones" class="c-h2">Mis acciones</h2>
    <ul class="lg:flex">
      <li>
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M11.018 123.97L7 54.082A4.83 4.83 0 0111.872 49h44.632a4.858 4.858 0 014.718 3.64L65.17 70h63a4.83 4.83 0 014.858 5.166l-3.794 49a9.688 9.688 0 01-9.716 8.862h-98.77a9.688 9.688 0 01-9.73-9.058zM35 21v-7a7 7 0 017-7h70a7 7 0 017 7v28" stroke-width="14"/></g></svg>Nuevo expediente',
          "href": "#",
          "classes": "mr-base mb-sm lg:mb-0"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M137.07 137.07a10 10 0 000-14.14l-26.71-26.71a2.51 2.51 0 01-.36-3.15 60.05 60.05 0 10-17 17 2.51 2.51 0 013.15.32l26.71 26.71a10 10 0 0014.21-.03zM20 60a40 40 0 1140 40 40 40 0 01-40-40z" fill="currentColor"/></svg>Buscar expediente',
          "href": "#",
          "classes": "mr-base mb-sm lg:mb-0"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M125 12.5H15a15 15 0 00-15 15v85a15 15 0 0015 15h110a15 15 0 0015-15v-85a15 15 0 00-15-15zm-1.14 41.43L84 77.88a27.11 27.11 0 01-27.92 0l-39.9-24a7.5 7.5 0 117.72-12.86L63.76 65a12.06 12.06 0 0012.48 0l39.9-23.94a7.5 7.5 0 117.72 12.86z" fill="currentColor"/></svg>Nuevo envío',
          "href": "#",
          "classes": "mr-base mb-sm lg:mb-0"
        })  }}
      </li>
    </ul>
  </section>

  <section aria-labelledby="ultimas-entradas" class="mb-lg">
    <h2 id="ultimas-entradas" class="c-h2 mb-xs">Últimas entradas pendientes</h2>
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>En la primera columna es posible seleccionar una o más entradas pendientes. Puedes seleccionar todas las entradas pendientes con la casilla de verificación "Seleccionar todo".</p>
          <p>La segunda columna contiene enlaces de acceso a las entradas.</p>
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>Puedes realizar acciones sobre las entradas mediante los botones situados antes de la tabla.</p>
        </div>
    {% endcall %}
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-entradas">
      <h3 id="acciones-entradas" class="sr-only">Selección múltiple y Acciones sobre el listado de entradas</h3>
      <div class="lg:flex sm:flex-1">
        {{ componentCheckboxes({
          "idPrefix": "todas-entradas",
          "name": "todas-entradas",
          "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
          "items": [
            {
              "value": "todas",
              "text": "Seleccionar todo",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {% include "includes/_action-bar-ultimas-entradas.njk" %}
      </div>
    </section>    
    {# fin Barra de Acciones #}
    {# Tabla-Listado de entradas #}
    <div class="max-w-full overflow-x-auto mb-lg">
      {{ componentTableAdvanced({
        "idPrefix": "listado-entradas",
        "hasCheckboxes": true,
        "caption": "Listado de últimas entradas pendientes",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'Asunto',
            "orderBy": "none"
          },
          {
            "html": '<abbr title="Procedimiento">Proc.</abbr>',
            "orderBy": "none"
          },
          {
            "html": 'Registro',
            "orderBy": "none"
          },
          {
            "html": 'Origen',
            "orderBy": "none"
          },
          {
            "html": 'Remitente',
            "orderBy": "none"
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Interno'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'TTO'
            },
            {
              "html": 'Dirección General de Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'REGFIA'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'TTO'
            },
            {
              "html": 'Dirección General de Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Interno'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Interno'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'TTO'
            },
            {
              "html": 'Dirección General de Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'REGFIA'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Comunicación de apertura de centro de trabajo</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'TTO'
            },
            {
              "html": 'Dirección General de Administración'
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">Solicitud de autorización de transporte escolar</a>'
            },
            {
              "html": tooltipTabla
            },
            {
              "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
            },
            {
              "html": 'Interno'
            },
            {
              "html": 'Pruebas Soporte Administración'
            }
          ]
        ],
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de entradas #}
    <p class="text-center"><a href="#" class="c-link text-sm"><strong>Ver bandeja de entrada</strong></a></p>
  </section>

{% endblock %}
{# fin Contenido de la página #}