{# Titulo de pagina #}
{% set title = "Inicio - Aceptar y añadir - Expediente nuevo. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set nuevaCarpeta %}
  <div class="lg:w-1/2">
    {{ componentInput({
      "label": {
        "text": "Nombre de la carpeta"
      },
      "id": "nombre-carpeta",
      "name": "nombre-carpeta",
      "classes": "w-full sm:w-3/4",
      "placeholder": "Escribir nombre..."
    })  }}
    {{ componentButton({
      "text": "Crear",
      "classes": "c-button--primary mt-base"
    })  }}
  </div>
{% endset %}
{% set checksVisibCompartida %}
  {{ componentCheckboxes({
    "idPrefix": "organismos",
    "name": "organismos",
    "fieldset": {
      "legend": {
        "text": "Selecciona organismos:"
      }
    },
    "items": [
      {
        "value": "1",
        "text": "Organismo 1",
        "disabled": true,
        "checked": true
      },
      {
        "value": "2",
        "text": "Organismo 2"
      }
    ]
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M11.018 123.97L7 54.082A4.83 4.83 0 0111.872 49h44.632a4.858 4.858 0 014.718 3.64L65.17 70h63a4.83 4.83 0 014.858 5.166l-3.794 49a9.688 9.688 0 01-9.716 8.862h-98.77a9.688 9.688 0 01-9.73-9.058zM35 21v-7a7 7 0 017-7h70a7 7 0 017 7v28" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadiendo entradas
  <span class="block font-bold normal-case text-base text-neutral-dark">A un expediente nuevo</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir a expediente",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg mt-sm">
    <legend class="c-h3">Entradas seleccionadas</legend>
    <ul>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace1" href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Pruebas Soporte Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 106"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-labelledby="boton1 enlace1"><span id="boton1" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace2" href="#" class="c-link">Solicitud de autorización de transporte escolar</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Dirección General de Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 196"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none"  aria-labelledby="boton2 enlace2"><span id="boton2" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
    </ul>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir entrada',
      "href": "#",
      "classes": "c-button--sm mt-sm"
    })  }}
  </fieldset>

  <div class="lg:flex lg:flex-wrap w-full items-end">
    <h2 class="c-h3">Opciones de añadir a un expediente nuevo</h2>
    {{ componentButton({
      "text": "Limpiar campos",
      "classes": "mb-base lg:mb-0 lg:ml-auto lg:pl-base"
    })  }}
  </div>

  <fieldset>
    <legend class="font-bold mb-base">Crear un nuevo expediente:</legend>
    {{ componentInput({
      "id": "num-interno",
      "name": "num-interno",
      "label": {
        "html": 'Número interno <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full md:w-1/2",
      "placeholder": "Escribe el número interno..."
    })  }}
    {{ componentCharacterCount({
      "id": "desc-expdte",
      "name": "desc-expdte",
      "label": {
        "html": 'Descripción de expediente <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "classes": "w-full",
      "maxlength": 200,
      "rows": 3,
      "placeholder": "Escribe una descripción del expediente...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
    {{ componentSelect({
      "id": "procedimiento",
      "name": "procedimiento",
      "classes": "w-full",
      "label": {
        "html": 'Procedimiento <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      }, 
      "items": [
        {
          "value": 0,
          "text": "Selecciona un código de procedimiento...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Procedimiento 1"
        },
        {
          "value": 2,
          "text": "Procedimiento 2"
        },
        {
          "value": 3,
          "text": "Procedimiento 3"
        }
      ]
    })  }}
  </fieldset>

  {# Se elige un procedimiento para que se muestren las opciones del campo Visibilidad #}
  {{ componentRadios({
    "idPrefix": "visibilidad1",
    "name": "visibilidad1",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida",
        "checked": true,
        "conditional": {
          "html": '<p class="font-bold">Seleccione organismos:</p><p class="text-sm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block text-info-base -mt-1 mr-xs" role="img" aria-label="advertencia: "><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>Elige un procedimiento para que se muestren las opciones</p>'
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}
  {{ componentRadios({
    "idPrefix": "visibilidad2",
    "name": "visibilidad2",
    "fieldset": {
      "legend": {
        "html": 'Visibilidad <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      }
    },
    "items": [
      {
        "value": "limitada",
        "text": "Visibilidad limitada (aportador)",
        "attributes": {
          "aria-required": true
        }
      },
      {
        "value": "compartida",
        "text": "Visibilidad compartida",
        "checked": true,
        "conditional": {
          "html": checksVisibCompartida
        },
        "attributes": {
          "aria-required": true
        }
      }
    ]
  })  }}

  {# Aportador #}
  <fieldset>
    <legend class="sr-only">Datos del aportador</legend>
    <div class="grid md:grid-cols-2 gap-x-7">
      {{ componentInput({
        "id": "nom-aportador",
        "name": "nom-aportador",
        "label": {
          "html": 'Nombre del aportador <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
          "classes": "font-semibold"
        },
        "attributes": {
          "aria-required": true
        },
        "classes": "w-full",
        "value": "Marta Pérez",
        "disabled": true
      })  }}
      {{ componentInput({
        "id": "nif-aportador",
        "name": "nif-aportador",
        "label": {
          "text": "NIF del aportador",
          "classes": "font-semibold"
        },
        "classes": "w-full",
        "value": "17772877Y",
        "disabled": true
      })  }}
    </div>
  </fieldset>

  {# Seleccion de fase #}
  <fieldset>
    <legend class="font-bold mb-base">Selecciona la fase del expediente a la que corresponden los documentos de cada una de las entradas</legend>
    {{ componentSelect({
      "id": "fase-entrada",
      "name": "fase-entrada",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase para los documentos de la entrada "Comunicación de apertura de centro de trabajo" <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la fase...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Fase 1"
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "fase-entrada-2",
      "name": "fase-entrada-2",
      "classes": "w-full md:w-1/2",
      "label": {
        "html": 'Indica la fase para los documentos de la entrada "Solicitud de autorización de transporte escolar" <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
        "classes": "font-semibold"
      },
      "attributes": {
        "aria-required": true
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona la fase...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Fase 1"
        },
        {
          "value": 2,
          "text": "Fase 2"
        },
        {
          "value": 3,
          "text": "Fase 3"
        }
      ]
    })  }}
  </fieldset>

  {# Seleccion de carpeta #}
  {{ componentRadios({
    "idPrefix": "selec-carpeta",
    "name": "selec-carpeta",
    "fieldset": {
      "legend": {
        "text": "Seleccionar carpeta",
        "classes": "font-bold mt-sm"
      }
    },
    "items": [
      {
        "value": "nuevaCarpeta",
        "text": "Nueva carpeta",
        "conditional": {
          "html": nuevaCarpeta
        }
      },
      {
        "value": "noCarpeta",
        "text": "No quiero seleccionar ninguna carpeta"
      }
    ]
  })  }}

{% endblock %}
{# fin Contenido de la página #}