{# Titulo de pagina #}
{% set title = "Inicio - Aceptar y añadir - Expediente existente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{# fin Dependencias #}

{# Definiciones #}
{% set buscarCsv %}
  <div class="lg:w-1/2">
    {% call componentTooltip({
      "id": "tooltipCSV",
      "text": "CSV",
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.1em" height="1.1em" class="text-info-base" role="img" aria-label="advertencia"><path d="M70 0a70 70 0 1070 70A70.084 70.084 0 0070 0zm-8.75 35a8.75 8.75 0 0117.5 0v28a8.75 8.75 0 01-17.5 0zM70 112a14 14 0 1114-14 14 14 0 01-14 14z" fill="currentColor"/></svg>'
      }
    })  %}
        <p class="c-paragraph-sm mb-0">Debes introducir el CSV completo para obtener resultados de búsqueda </p>
    {% endcall %}
    {{ componentSearchbar({
      "id": "buscador-csv",
      "label": {
        "text": "Introduce un CSV"
      },
      "placeholder": "Buscar por CSV"
    })  }}
  </div>
{% endset %}
{% set buscarAvanzada %}
  <div class="grid md:grid-cols-2 gap-x-7">
    {{ componentSelect({
      "id": "procedimiento",
      "name": "procedimiento",
      "classes": "w-full",
      "label": {
        "html": 'Procedimiento',
        "classes": "font-semibold"
      },
      "items": [
        {
            "value": 0,
            "text": "Selecciona un procedimiento...",
            "selected": true,
            "disabled": true
          },
        {
          "value": 1,
          "text": "Procedimiento 1"
        },
        {
          "value": 2,
          "text": "Procedimiento 2"
        },
        {
          "value": 3,
          "text": "Procedimiento 3"
        }
      ],
      "formGroup": {
        "classes": "md:col-span-2"
      }
    })  }}
    {{ componentInput({
      "id": "num-expdte",
      "name": "num-expdte",
      "label": {
        "html": 'Número de expediente interno',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "placeholder": "Escribe el número de expediente interno..."
    })  }}
    {{ componentInput({
      "id": "descripcion",
      "name": "descripcion",
      "label": {
        "html": 'Descripción',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "placeholder": "Escribe la descripción..."
    })  }}
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fechiniapertura",
        "namePrefix": "fechiniapertura",
        "fieldset": {
          "legend": {
            "text": "Fecha inicio de apertura:",
            "classes": "font-semibold"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechfinapertura",
        "namePrefix": "fechfinapertura",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de apertura:",
            "classes": "font-semibold"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    <div class="grid lg:grid-cols-2 gap-2">
      {{ componentDateInput({
        "id": "fechiniultconsulta",
        "namePrefix": "fechiniultconsulta",
        "fieldset": {
          "legend": {
            "text": "Fecha inicio de última consulta:",
            "classes": "font-semibold"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
      {{ componentDateInput({
        "id": "fechfinultconsulta",
        "namePrefix": "fechfinultconsulta",
        "fieldset": {
          "legend": {
            "text": "Fecha fin de última consulta:",
            "classes": "font-semibold"
          }
        },
        "classes": "text-sm",
        "items": [
          {
            "name": "día",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "mes",
            "classes": "w-14",
            "attributes": {
              "maxlength": "2"
            }
          },
          {
            "name": "año",
            "classes": "w-20",
            "attributes": {
              "maxlength": "4"
            }
          }
        ]
      })  }}
    </div>
    {{ componentInput({
      "id": "interesado",
      "name": "interesado",
      "label": {
        "html": 'Interesado',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "placeholder": "Escribe el nombre o NIF del interesado..."
    })  }}
    {{ componentInput({
      "id": "aportador",
      "name": "aportador",
      "label": {
        "html": 'Aportador',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "placeholder": "Escribe el nombre o NIF del aportador..."
    })  }}
  </div>
  {{ componentButton({
    "text": "Buscar",
    "classes": "c-button--primary mt-xl md:mt-0"
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M11.018 123.97L7 54.082A4.83 4.83 0 0111.872 49h44.632a4.858 4.858 0 014.718 3.64L65.17 70h63a4.83 4.83 0 014.858 5.166l-3.794 49a9.688 9.688 0 01-9.716 8.862h-98.77a9.688 9.688 0 01-9.73-9.058zM35 21v-7a7 7 0 017-7h70a7 7 0 017 7v28" stroke-width="14"/></g></svg>
{% endblock %}
{% block titleText %}
  Añadiendo entradas
  <span class="block font-bold normal-case text-base text-neutral-dark">A un expediente existente</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Añadir a expediente",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg mt-sm">
    <legend class="c-h3">Entradas seleccionadas</legend>
    <ul>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace1" href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Pruebas Soporte Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 106"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-labelledby="boton1 enlace1"><span id="boton1" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace2" href="#" class="c-link">Solicitud de autorización de transporte escolar</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Dirección General de Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 196"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none"  aria-labelledby="boton2 enlace2"><span id="boton2" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
    </ul>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir entrada',
      "href": "#",
      "classes": "c-button--sm mt-sm"
    })  }}
  </fieldset>

  {{ componentRadios({
    "idPrefix": "sum-entrada",
    "name": "sum-entrada",
    "fieldset": {
      "legend": {
        "text": "Opciones de añadir a un expediente existente",
        "classes": "c-h3 mt-sm"
      }
    },
    "items": [
      {
        "value": "csv",
        "text": "Búsqueda por CSV",
        "conditional": {
          "html": buscarCsv
        }
      },
      {
        "value": "avanzada",
        "text": "Búsqueda avanzada",
        "conditional": {
          "html": buscarAvanzada
        }
      }
    ]
  })  }}

{% endblock %}
{# fin Contenido de la página #}