{# Titulo de pagina #}
{% set title = "Inicio - Reenviar - Organismo. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.header-fixed-actions.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{# fin Dependencias #}

{# Definiciones #}

{# fin Definiciones #}

{# Contenido de la cabecera #}
{% block titleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mr-base text-neutral-dark"><path d="M58.548 108.682l21.112 21.126a10.906 10.906 0 0018.046-4.2L132.44 21.336A10.892 10.892 0 00118.664 7.56L14.448 42.294a10.906 10.906 0 00-4.2 18.046L35 84v42zm70.77-98.938L35 84" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="14"/></svg>
{% endblock %}
{% block titleText %}
  Reenviando entradas
  <span class="block font-bold normal-case text-base text-neutral-dark">A un organismo</span>
{% endblock %}
{% block headerActions %}
  <ul class="flex">
    <li>
      {{ componentButton({
        "text": "Cancelar",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Reenviar",
        "href": "#",
        "disabled": true,
        "classes": "c-button--primary ml-sm"
      })  }}
    </li>
  </ul>
{% endblock %}
{# fin Contenido de la cabecera #}

{# Contenido de la página #}
{% block contentBlock %}
  
  <fieldset class="mb-lg mt-sm">
    <legend class="c-h3">Entradas seleccionadas</legend>
    <ul>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace1" href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Pruebas Soporte Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 106"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-labelledby="boton1 enlace1"><span id="boton1" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
      <li>
        {% call componentItem({
          "title": {
            "html": '<a id="enlace2" href="#" class="c-link">Solicitud de autorización de transporte escolar</a>',
            "classes": "font-semibold"
          },
          "description": {
            "text": "Remitente: Dirección General de Administración Electrónica",
            "classes": "font-bold"
          },
          "items": [
            {
              "text": "Fecha entrada en el Registro: 10/09/2020 11:23"
            },
            {
              "text": "Origen: Interno"
            },
            {
              "text": "Procedimiento: 196"
            }
          ],
          "classes": "mb-sm"
        })  %}
            <button class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none"  aria-labelledby="boton2 enlace2"><span id="boton2" class="sr-only">Descartar entrada</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
            </button>
        {% endcall %}
      </li>
    </ul>
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M130 60H82.5a2.5 2.5 0 01-2.5-2.5V10a10 10 0 00-20 0v47.5a2.5 2.5 0 01-2.5 2.5H10a10 10 0 000 20h47.5a2.5 2.5 0 012.5 2.5V130a10 10 0 0020 0V82.5a2.5 2.5 0 012.5-2.5H130a10 10 0 000-20z" fill="currentColor"/></svg>Añadir entrada',
      "href": "#",
      "classes": "c-button--sm mt-sm"
    })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Opciones de reenvío a un organismo o unidad</legend>
    {{ componentCharacterCount({
      "id": "notas",
      "name": "notas",
      "label": {
        "html": 'Notas de operación',
        "classes": "font-semibold"
      },
      "classes": "w-full",
      "maxlength": 500,
      "rows": 3,
      "placeholder": "Escribe las notas de la operación...",
      "countMessage": {
        "classes": "text-right"
      }
    })  }}
    {{ componentSelect({
      "id": "ultimos-destinatarios",
      "name": "ultimos-destinatarios",
      "classes": "w-full",
      "label": {
        "text": "Últimos destinatarios",
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un destinatario...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Destinatario 1"
        },
        {
          "value": 2,
          "text": "Destinatario 2"
        }
      ]
    })  }}
  </fieldset>

  <fieldset>
    <legend class="c-h3">Buscar organismo:</legend>
    {{ componentInput({
      "id": "nombre",
      "name": "nombre",
      "label": {
        "text": "Nombre o código",
        "classes": "font-semibold"
      },
      "classes": "w-full lg:w-1/2",
      "placeholder": "Escribe el nombre o código..."
    })  }}
  </fieldset>  
  <fieldset>
    <legend class="c-h3">Buscar por organigrama:</legend>
    {{ componentSelect({
      "id": "org-raiz",
      "name": "org-raiz",
      "classes": "w-full",
      "label": {
        "text": "Organismos raíz",
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 1,
          "text": "ORG000001 Diputación General de Aragón",
          "selected": true
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "org-nivel1",
      "name": "org-nivel1",
      "classes": "w-full",
      "label": {
        "text": "Organismos de primer nivel",
        "classes": "font-semibold"
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona organismo...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Organismo 1"
        },
        {
          "value": 2,
          "text": "Organismo 2"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "org-nivel2",
      "name": "org-nivel2",
      "classes": "w-full",
      "label": {
        "text": "Organismos de segundo nivel",
        "classes": "font-semibold"
      },
      "disabled": true,
      "items": [
        {
          "value": 0,
          "text": "Selecciona organismo...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Organismo 1"
        },
        {
          "value": 2,
          "text": "Organismo 2"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "org-nivel3",
      "name": "org-nivel3",
      "classes": "w-full",
      "label": {
        "text": "Organismos de tercer nivel",
        "classes": "font-semibold"
      },
      "disabled": true,
      "items": [
        {
          "value": 0,
          "text": "Selecciona organismo...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Organismo 1"
        },
        {
          "value": 2,
          "text": "Organismo 2"
        }
      ]
    })  }}
    {{ componentSelect({
      "id": "org-nivel4",
      "name": "org-nivel4",
      "classes": "w-full",
      "label": {
        "text": "Organismos de cuarto nivel",
        "classes": "font-semibold"
      },
      "disabled": true,
      "items": [
        {
          "value": 0,
          "text": "Selecciona organismo...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Organismo 1"
        },
        {
          "value": 2,
          "text": "Organismo 2"
        }
      ]
    })  }}
  </fieldset>
  {{ componentButton({
    "text": "Buscar",
    "classes": "c-button--primary mb-lg"
  })  }}

{% endblock %}
{# fin Contenido de la página #}