{# Titulo de pagina #}
{% set title = "Modal Eliminar carpeta. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p>¿Estás seguro que deseas eliminar la carpeta? Se eliminarán también todos los documentos dentro de ella.</p>
  {{ componentDescriptionList({
    "items": [
      {
        "term": {
          "text": "12 documentos"
        },
        "definition": {
          "text": "Carpeta 1",
          "classes": "font-bold"
        }
      }
    ],
    "classes": "my-lg py-sm border-t border-b border-neutral-base text-left"
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Eliminar carpeta</h1>

  {% call componentDialog({
    "button": {
      "text": "Abrir modal",
      "attributes": {
        "onclick": "openDialog('modal-eliminar-carpeta', this, 'eliminar-carpeta')"
      }
    },
    "id": "modal-eliminar-carpeta",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-eliminar-carpeta",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "eliminar-carpeta",
        "title": {
          "text": "Eliminar carpeta"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Eliminar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"><path d="M21 7A14 14 0 007 21v98a14 14 0 0014 14h98a14 14 0 0014-14V42a14 14 0 00-14-14H63l-3.808-11.424A14 14 0 0045.906 7zM49 84h42" stroke-width="14"/></g></svg>'
        },
        "classes": "mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}