{# Titulo de pagina #}
{% set title = "Modal Fases del Expediente. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}

{# Definiciones #}
{% set listadoCategoria %}
  <dl class="ml-base">
    <div class="mb-xs">
      <dt class="text-sm font-semibold">
        Nombre de la Fase
      </dt>
      <dd class="text-sm">
        Descripción de la fase...
      </dd>
    </div>
    <div class="mb-xs">
      <dt class="text-sm font-semibold">
        Nombre de la Fase
      </dt>
      <dd class="text-sm">
        Descripción de la fase...
      </dd>
    </div>
    <div class="mb-xs">
      <dt class="text-sm font-semibold">
        Nombre de la Fase
      </dt>
      <dd class="text-sm">
        Descripción de la fase...
      </dd>
    </div>
  </dl>
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Fases del Expediente</h1>

  <!-- Sin acordeones -->
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="align-text-bottom inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="ayuda: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z"  fill="currentColor" /></svg><a href="#" class="c-link text-sm font-semibold" onclick="openDialog('modal1', this, 'fases-expediente1')">¿Qué fase selecciono?</a>
  </p>
  <!-- modal 1 -->
  <div class="dialog-backdrop">
    <div id="modal1" class="hidden" role="dialog" aria-labelledby="fases-expediente1" aria-modal="true">
      <div id="modal-fase1" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white mt-2xl">
        <h2 id="fases-expediente1" class="c-h2 px-base text-center focus:outline-none focus:underline" tabindex="-1">Fases del expediente</h2>
         <!-- listado -->
        <div class="lg:max-h-96 scrolling-touch overflow-y-auto mb-sm pr-sm">
          <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
          <dl class="ml-base mb-sm">
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
          </dl>
          <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
          <dl class="ml-base mb-sm">
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
          </dl>
          <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
          <dl class="ml-base mb-sm">
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
          </dl>
          <h3 class="text-sm font-bold mb-xs">Nombre de la Categoría</h3>
          <dl class="ml-base mb-sm">
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
            <div class="mb-xs">
              <dt class="text-sm font-semibold">
                Nombre de la Fase
              </dt>
              <dd class="text-sm">
                Descripción de la fase...
              </dd>
            </div>
          </dl>
        </div>
         <!-- /listado -->
        <div class="flex flex-wrap w-full justify-center">
          <div class="mt-sm">
            <button class="c-button" onclick="closeDialog(this)">Aceptar</button>
          </div>
        </div>
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /modal 1 -->
  <!-- /Sin acordeones -->

  <!-- Con acordeones -->
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="align-text-bottom inline-block text-primary-base -mt-1 mr-xs" role="img" aria-label="ayuda: "><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z"  fill="currentColor" /></svg><a href="#" class="c-link text-sm font-semibold" onclick="openDialog('modal2', this, 'fases-expediente2')">¿Qué fase selecciono? - con acordeones</a>
  </p>
  <!-- modal 2 -->
  <div class="dialog-backdrop">
    <div id="modal2" class="hidden" role="dialog" aria-labelledby="fases-expediente2" aria-modal="true">
      <div id="modal-fase2" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white mt-2xl">
        <h2 id="fases-expediente2" class="c-h2 px-base text-center focus:outline-none focus:underline" tabindex="-1">Fases del expediente</h2>
         <!-- listado -->
        <div class="lg:max-h-96 scrolling-touch overflow-y-auto mb-sm pr-sm">
          {{ componentAccordion({
            "idPrefix": "metadatos",
            "allowToggle": true,
            "items": [
              {
                "headerText": "Nombre de la Categoría",
                "html": listadoCategoria
              },
              {
                "headerText": "Nombre de la Categoría",
                "html": listadoCategoria
              },
              {
                "headerText": "Nombre de la Categoría",
                "html": listadoCategoria
              },
              {
                "headerText": "Nombre de la Categoría",
                "html": listadoCategoria
              }
            ]
          })  }}
        </div>
         <!-- /listado -->
        <div class="flex flex-wrap w-full justify-center">
          <div class="mt-sm">
            <button class="c-button" onclick="closeDialog(this)">Aceptar</button>
          </div>
        </div>
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /modal 2 -->
  <!-- /Con acordeones -->

{% endblock %}
{# fin Contenido de la página #}