{# Titulo de pagina #}
{% set title = "Modal Anular expediente - paso II. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p>Debe leer y firmar electrónicamente el siguiente documento como paso previo a la anulación del expediente administrativo.</p>
  {{ componentDescriptionList({
    "items": [
      {
        "term": {
          "html": '<span id="Exp1">Expediente ZA-SP-ENE-AT-2020-014</span>'
        },
        "definition": {
          "html": '<div class="lg:flex"><span class="flex-1 font-bold" id="Doc1">Justificante de anulación</span><a href="#" class="block c-link text-sm font-semibold lg:ml-sm self-center" aria-labelledby="Ver1 Doc1 Exp1" ><span id="Ver1">Ver documento</span></a></div>'
        }
      }
    ],
    "classes": "my-lg py-sm border-t border-b border-neutral-base text-left"
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Anular expediente - paso II</h1>

  {% call componentDialog({
    "button": {
      "text": "Abrir modal",
      "attributes": {
        "onclick": "openDialog('modal-anular-expdte', this, 'anular-expdte')"
      }
    },
    "id": "modal-anular-expdte",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-anular-expdte",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "anular-expdte",
        "title": {
          "text": "Anular expediente"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "text": "Firmar con Cl@veFirma",
            "attributes": {
              "aria-label": "Firmar con ClaveFirma"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Firmar con certificado electrónico",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 140 140" xml:space="preserve" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><style>.st0{fill:none;stroke:currentcolor;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:56}</style><path class="st0" d="M45.5 77l49 49M94.5 77l-49 49M126 112c3.9 0 7-3.1 7-7V21c0-3.9-3.1-7-7-7H14c-3.9 0-7 3.1-7 7v84c0 3.9 3.1 7 7 7"/></svg>'
        },
        "classes": "lg:max-w-xl mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}