{# Titulo de pagina #}
{% set title = "Modal Quitar documento. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p>¿Estás seguro que deseas quitar un documento? Se eliminará de los documentos pertenecientes al expediente.</p>
  {{ componentDescriptionList({
    "items": [
      {
        "term": {
          "text": "Los documentos pertenecen a carpetas diferentes"
        },
        "definition": {
          "text": "7 documentos seleccionados",
          "classes": "font-bold"
        }
      }
    ],
    "classes": "my-lg py-sm border-t border-b border-neutral-base text-left"
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Quitar documento</h1>

  {% call componentDialog({
    "button": {
      "text": "Abrir modal",
      "attributes": {
        "onclick": "openDialog('modal-quitar-documento', this, 'quitar-documento')"
      }
    },
    "id": "modal-quitar-documento",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-quitar-documento",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "quitar-documento",
        "title": {
          "text": "Quitar documento"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Quitar",
            "classes": "c-button--alert"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 134" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><g fill="currentcolor" fill-rule="evenodd"><path d="M84 109.95V84.849c0-3.86 3.141-7 7-7h25.101L84 109.949zm56-81.101c0-11.58-9.421-21-21-21H77a7 7 0 100 14h42c3.859 0 7 3.14 7 7v35H91c-11.579 0-21 9.42-21 21v35H21c-3.859 0-7-3.14-7-7v-42a7 7 0 10-14 0v42c0 11.58 9.421 21 21 21h56c.02 0 .039-.003.059-.003.21-.001.419-.01.626-.031.102-.01.202-.03.302-.044.125-.017.25-.031.374-.055.108-.022.212-.053.318-.08.115-.028.231-.052.345-.086.099-.03.195-.07.292-.104.119-.041.237-.078.352-.126.089-.036.173-.081.259-.121.121-.056.243-.107.361-.17.081-.044.158-.095.238-.142.118-.07.238-.134.352-.21.091-.06.175-.13.263-.194.097-.071.198-.138.292-.216.179-.146.352-.302.517-.467l56-56a7.08 7.08 0 00.747-.896c.175-.245.339-.498.481-.763.01-.02.018-.041.029-.061.13-.25.24-.508.339-.772a6.955 6.955 0 00.318-1.089l.004-.023a6.88 6.88 0 00.12-1.113c.003-.078.012-.155.012-.234v-42z"/><path d="M8.2 41.648a6.979 6.979 0 004.95 2.05 6.979 6.979 0 004.95-2.05l9.9-9.9 9.898 9.9a6.979 6.979 0 004.95 2.05A7 7 0 0047.8 31.749l-9.9-9.9 9.9-9.9a7.002 7.002 0 00-9.9-9.9l-9.9 9.9-9.899-9.9a7.002 7.002 0 00-9.9 0 7.002 7.002 0 000 9.9l9.9 9.9-9.9 9.9a7 7 0 000 9.899"/></g></svg>'
        },
        "classes": "mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}