{# Titulo de pagina #}
{% set title = "Modal Añadir carpeta. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  {{ componentInput({
    "id": "nombre-carpeta",
    "name": "nombre-carpeta",
    "classes": "w-full",
    "label": {
      "html": 'Nombre de la nueva carpeta <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "text-left font-semibold"
    },
    "attributes": {
      "aria-required": true
    },
    "formGroup": {
      "classes": "mt-lg"
    },
    "placeholder": "Escribe aquí el nombre de la carpeta..."
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Añadir carpeta</h1>

  {% call componentDialog({
    "button": {
      "text": "Abrir modal",
      "attributes": {
        "onclick": "openDialog('modal-anadir-carpeta', this, 'anadir-carpeta')"
      }
    },
    "id": "modal-anadir-carpeta",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-anadir-carpeta",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "anadir-carpeta",
        "title": {
          "text": "Añadir carpeta"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Crear",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="7rem" height="7rem" class="block text-primary-light" aria-hidden="true" focusable="false"><g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"><path d="M21 7A14 14 0 007 21v98a14 14 0 0014 14h98a14 14 0 0014-14V42a14 14 0 00-14-14H63l-3.808-11.424A14 14 0 0045.906 7zM49 84h42M70 63v42" stroke-width="14"/></g></svg>'
        },
        "classes": "lg:w-lg mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}