{# Titulo de pagina #}
{% set title = "Modal con Spinner de espera. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
{# fin Dependencias #}

{# Definiciones #}
{% set spinner %}
  {{ componentSpinner({
    "classes": "text-6xl  w-60 h-20"
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal con Spinner de espera</h1>

  {% call componentDialog({
    "button": {
      "text": "Lanzar spinner",
      "attributes": {
        "onclick": "openDialog('modal-lanzar-spinner', this, 'modal-spinner')"
      }
    },
    "id": "modal-lanzar-spinner",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-modal-spinner",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "modal-spinner",
        "title": {
          "text": "Cargando",
          "classes": "sr-only"
        },
        "description": {
          "html": '<p>Espere un momento, por favor</p>'
        },
        "isDismissible": true,
        "icon": {
          "html": spinner
        },
        "classes": "mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}