{# Titulo de pagina #}
{% set title = "Modal Anular expediente - paso I. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{# fin Dependencias #}

{# Definiciones #}
{% set descripcionModal %}
  <p>¿Estás seguro que deseas anular este expediente administrativo? Si lo haces, no podrás trabajar sobre él.</p>
  {{ componentTextarea({
    "id": "motivos-anulacion",
    "name": "motivos-anulacion",
    "classes": "w-full",
    "rows": "3",
    "label": {
      "html": 'Motivos de la anulación <span aria-hidden="true" title="campo requerido">*</span><span class="sr-only">campo requerido</span>',
      "classes": "text-left font-semibold"
    },
    "attributes": {
      "aria-required": true
    },
    "formGroup": {
      "classes": "mt-base"
    },
    "placeholder": "Indica los motivos de anular el expediente..."
  })  }}
{% endset %}
{# fin Definiciones #}

{# Contenido de la página #}
{% block contentBlock %}
  <h1 class="c-h2">Modal Anular expediente - paso I</h1>

  {% call componentDialog({
    "button": {
      "text": "Abrir modal",
      "attributes": {
        "onclick": "openDialog('modal-anular-expdte', this, 'anular-expdte')"
      }
    },
    "id": "modal-anular-expdte",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-anular-expdte",
      "aria-modal": true
    }
  })  %}
      <!-- modal -->
      {{ componentModal({
        "id": "anular-expdte",
        "title": {
          "text": "Anular expediente"
        },
        "description": {
          "html": descripcionModal
        },
        "itemsPrimary": [
          {
            "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>",
            "attributes": {
              "onclick": "closeDialog(this)"
            }
          }
        ],
        "itemsSecondary": [
          {
            "text": "Siguiente",
            "classes": "c-button--primary"
          }
        ],
        "isDismissible": true,
        "icon": {
          "html": '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 140 140" xml:space="preserve" width="7rem" height="7rem" class="block text-alert-light" aria-hidden="true" focusable="false"><style>.st0{fill:none;stroke:currentcolor;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:56}</style><path class="st0" d="M45.5 77l49 49M94.5 77l-49 49M126 112c3.9 0 7-3.1 7-7V21c0-3.9-3.1-7-7-7H14c-3.9 0-7 3.1-7 7v84c0 3.9 3.1 7 7 7"/></svg>'
        },
        "classes": "mt-2xl"
      })  }}
      <!-- /modal -->
  {% endcall %}

{% endblock %}
{# fin Contenido de la página #}