{# Titulo de pagina #}
{% set title = "Notificación flotante. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}

{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="c-h2">Notificación flotante</h1>
  {# Notificación #}
  <section aria-labelledby="notificaciones">
    <h2 id="notificaciones" class="sr-only">Notificaciones</h2>
    <div class="fixed left-0 top-2xl z-10000 w-full" role="alert" aria-live="assertive">
      {{ componentNotification({
        "title": {
          "text": "Esta notificación es flotante (fija y superpuesta al contenido de la página)"
        },
        "type": "success",
        "id": "notific-flotante",
        "isDismissible": true,
        "classes": "c-notification--success w-9/12 xl:w-8/12 mx-auto bg-white"
      })  }}
    </div>
  </section>
  {# fin Notificación #}
  <p class="c-paragraph-base">Lorem fistrum torpedo la caidita consequat. Caballo blanco caballo negroorl ullamco pupita ex pupita quietooor enim diodenoo nostrud. Está la cosa muy malar no te digo trigo por no llamarte Rodrigor a wan fistro tempor nostrud condemor me cago en tus muelas torpedo incididunt. Ut aute exercitation mamaar la caidita pupita diodenoo a peich papaar papaar. Esse aliqua te voy a borrar el cerito irure quis va usté muy cargadoo reprehenderit et benemeritaar al ataquerl. Ullamco enim mamaar cillum commodo quietooor la caidita tempor te va a hasé pupitaa está la cosa muy malar ut. Duis commodo hasta luego Lucas a peich nisi a wan qui condemor. Enim labore nostrud sexuarl benemeritaar. Quis te voy a borrar el cerito no te digo trigo por no llamarte Rodrigor elit duis sexuarl condemor elit pecador.</p>
  <p class="c-paragraph-base">Ut a gramenawer occaecat et mamaar benemeritaar se calle ustée. Apetecan se calle ustée al ataquerl por la gloria de mi madre sed quis condemor caballo blanco caballo negroorl. Aliquip officia qui ad a gramenawer te va a hasé pupitaa sed veniam torpedo papaar papaar. Velit aliquip magna a wan. Aliqua al ataquerl te voy a borrar el cerito duis veniam veniam pecador ut. Fistro al ataquerl exercitation llevame al sircoo esse. Condemor magna ullamco sexuarl benemeritaar tiene musho peligro reprehenderit sexuarl sed llevame al sircoo a wan. Ut aute apetecan tempor ut de la pradera se calle ustée llevame al sircoo pecador sed.</p>
  <p class="c-paragraph-base">Consequat eiusmod qué dise usteer jarl. Aliqua a peich benemeritaar et te voy a borrar el cerito nostrud. Te voy a borrar el cerito llevame al sircoo me cago en tus muelas al ataquerl tempor condemor condemor tiene musho peligro al ataquerl velit sexuarl. Sit amet de la pradera irure te va a hasé pupitaa irure aliqua. Me cago en tus muelas ullamco al ataquerl va usté muy cargadoo jarl a gramenawer a gramenawer caballo blanco caballo negroorl voluptate. Laboris ullamco ex de la pradera diodenoo officia. Sexuarl te va a hasé pupitaa qui ex benemeritaar. Enim la caidita ese hombree nostrud.</p>
  <p class="c-paragraph-base">Hasta luego Lucas aliquip cillum occaecat ullamco magna de la pradera se calle ustée. Tiene musho peligro et llevame al sircoo al ataquerl et cillum esse irure duis adipisicing consectetur. Incididunt cillum occaecat tiene musho peligro la caidita eiusmod ut mamaar benemeritaar occaecat ad. Laboris condemor ullamco consectetur. Aliqua se calle ustée te voy a borrar el cerito condemor sexuarl aute la caidita.</p>
  <p class="c-paragraph-base">Hasta luego Lucas aliquip ullamco ahorarr ese pedazo de está la cosa muy malar cillum eiusmod nostrud. No te digo trigo por no llamarte Rodrigor velit mamaar voluptate aliqua. Por la gloria de mi madre no puedor al ataquerl condemor cillum a peich aliquip aute de la pradera. Ese hombree me cago en tus muelas ullamco va usté muy cargadoo qué dise usteer benemeritaar ese que llega ut te va a hasé pupitaa laboris consectetur. Va usté muy cargadoo occaecat consequat voluptate ex pecador sexuarl está la cosa muy malar officia tiene musho peligro mamaar.</p>
  <p class="c-paragraph-base">Papaar papaar te va a hasé pupitaa torpedo ese que llega de la pradera me cago en tus muelas me cago en tus muelas. Caballo blanco caballo negroorl tiene musho peligro jarl te voy a borrar el cerito diodenoo se calle ustée ese que llega a wan. Quietooor ese pedazo de a gramenawer llevame al sircoo pecador al ataquerl pupita condemor me cago en tus muelas papaar papaar ese que llega. A wan papaar papaar diodeno no puedor la caidita al ataquerl a peich condemor de la pradera está la cosa muy malar tiene musho peligro. Hasta luego Lucas ese hombree hasta luego Lucas pupita diodeno no puedor no puedor no puedor jarl la caidita a peich.</p>
  <p class="c-paragraph-base">No puedor va usté muy cargadoo va usté muy cargadoo fistro te va a hasé pupitaa tiene musho peligro jarl jarl ese pedazo de te voy a borrar el cerito. Ese que llega fistro amatomaa va usté muy cargadoo por la gloria de mi madre llevame al sircoo jarl amatomaa. Ese hombree ese que llega está la cosa muy malar jarl papaar papaar. Torpedo la caidita se calle ustée amatomaa jarl. Apetecan me cago en tus muelas diodenoo por la gloria de mi madre ese que llega papaar papaar de la pradera llevame al sircoo fistro. Apetecan papaar papaar pecador diodenoo no puedor sexuarl está la cosa muy malar ese que llega.</p>

{% endblock %}
{# fin Contenido de la página #}