{# Titulo de pagina #}
{% set title = "Tipos de Notificaciones. Carpeta del Gestor. Gobierno de Aragón" %}

{# Plantilla que usa la página #}
{% extends "pages/_template.default.njk" %}

{# Dependencias #}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{# fin Dependencias #}

{# Contenido de la página #}
{% block contentBlock %}

  <h1 class="c-h2">Tipos de Notificaciones</h1>
  <section aria-labelledby="notificaciones">
    <h2 id="notificaciones" class="sr-only">Notificaciones</h2>
    {# Notificación tipo SUCCESS #}
    <div role="alert" aria-live="assertive">
      {{ componentNotification({
        "title": {
          "text": "Esta notificación es de tipo SUCCESS"
        },
        "type": "success",
        "id": "notific-success",
        "isDismissible": true,
        "classes": "c-notification--success mb-base"
      })  }}
    </div>
    {# fin Notificación tipo SUCCESS #}
    {# Notificación tipo ALERT #}
    <div role="alert" aria-live="assertive">
      {{ componentNotification({
        "title": {
          "text": "Esta notificación es de tipo ALERT"
        },
        "type": "alert",
        "id": "notific-alert",
        "isDismissible": true,
        "classes": "c-notification--alert mb-base"
      })  }}
    </div>
    {# fin Notificación tipo ALERT #}
    {# Notificación tipo INFO #}
    <div role="alert" aria-live="assertive">
      {{ componentNotification({
        "title": {
          "text": "Esta notificación es de tipo INFO"
        },
        "type": "info",
        "id": "notific-info",
        "isDismissible": true,
        "classes": "c-notification--primary mb-base"
      })  }}
    </div>
    {# fin Notificación tipo INFO #}
  </section>
{% endblock %}
{# fin Contenido de la página #}