<div class="grid grid-cols-2 sm:grid-cols-4 gap-6 sm:gap-10 mt-base">
    <div class="col-span-2 sm:col-span-4 bg-neutral-light h-12 flex items-center justify-center">100%</div>
    <div class="col-span-1 sm:col-span-2 bg-neutral-light h-12 flex items-center justify-center">50%</div>
    <div class="col-span-1 sm:col-span-2 bg-neutral-light h-12 flex items-center justify-center">50%</div>
    <div class="col-span-1 sm:col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 sm:col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 sm:col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 sm:col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
</div>