
<!--  _ds.section.layout.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
  {{ DSSectionTitle({
    title: "Layout"
  }) }}
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Tamaño de pantalla"
  }) }}
  <p class="c-paragraph-base">Diseñamos para un tamaño de pantalla mínimo de <code>1200px</code> con un contenedor centrado y de anchura máxima <code>1100px</code>.</p>
  <p class="c-paragraph-base">Comienza diseñando para pantallas pequeñas.</p>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Columnas"
  }) }}
  <p class="c-paragraph-base">Usamos un sistema basado en 4 columnas, con un espacio de <code>2.5rem - 40px / 16px</code>. Utiliza las combinaciones reflejadas a continuación. Evita utilizar el layout a una columna (100%) para textos en pantallas de gran tamaño, afectaría negativamente a la legibilidad.</p>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Pantallas grandes - escritorio"
  }) }}
  <div class="grid grid-cols-4 gap-10 mt-base">
    <div class="col-span-4 bg-neutral-light h-12 flex items-center justify-center">100%</div>
    <div class="col-span-2 bg-neutral-light h-12 flex items-center justify-center">50%</div>
    <div class="col-span-2 bg-neutral-light h-12 flex items-center justify-center">50%</div>
    <div class="col-span-3 bg-blue-100 h-12 flex items-center justify-center">75%</div>
    <div class="col-span-1 bg-blue-100 h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-3 bg-neutral-light h-12 flex items-center justify-center">75%</div>
    <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
    <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">25%</div>
  </div>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Pantallas pequeñas - mobile"
  }) }}
  <div class="grid sm:grid-cols-2 gap-10">
    <div class="grid grid-cols-2 gap-10 col-span-1 mt-base">
      <div class="col-span-2 bg-neutral-light h-12 flex items-center justify-center">100%</div>
      <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">50%</div>
      <div class="col-span-1 bg-neutral-light h-12 flex items-center justify-center">50%</div>
    </div>
    <div class="col-span-1">
      <p>En móviles utilizamos solo 2 combinaciones:</p>
      <ul>
        <li>una columna (100%)</li>
        <li>dos columnas (50% + 50%)</li>
      </ul>
    </div>
  </div>
  <div class="pb"></div>
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.layout.njk") }}
  </div>
</div>