<div class="grid grid-cols-3 gap-5 mb-sm">
  <div class="border-l border-black px-4">
    <p>black 1px</p>
    <p class="text-neutral-dark text-sm">Bordes de campos de texto <br>
                                         Cabecera de tablas</p>
  </div>
  <div class="border-l border-neutral-base px-4">
    <p>neutral-base 1px</p>
    <p class="text-neutral-dark text-sm">Separadores de contenidos <br>
                                         Bordes de tarjetas <br>
                                         Bordes de menus desplegables</p>
  </div>
  <div class="border-l-2 border-alert-base px-4">
    <p>alert-base 2px</p>
    <p class="text-neutral-dark text-sm">Mensajes de error <br>
                                         Borde de campos de texto </p>
  </div>
</div>