{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}

<ul class="flex flex-wrap gap-sm mb-sm">
  <li>
    {{ componentButton({
      "text": "Organizar",
      "classes": "c-button--transparent c-button--sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Descargar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Acciones carpetas",
      "classes": "c-dropdown--sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "acciones-carpetas",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-acciones-carpetas",
          "aria-label": "Acciones sobre carpetas"
        },
        "items": [
          {
            "href": "#",
            "text": "Añadir carpeta"
          },
          {
            "href": "#",
            "text": "Eliminar carpeta",
            "disabled": true
          },
          {
            "href": "#",
            "text": "Renombrar carpeta",
            "disabled": true
          }
        ]
      })  }}
    {% endcall %}  
  </li>
  <li>
    {% call componentDropdown({
      "text": "Acciones documentos",
      "classes": "c-dropdown--sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "acciones-documentos",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-acciones-documentos",
          "aria-label": "Acciones sobre documentos"
        },
        "items": [
          {
            "href": "#",
            "text": "Añadir documento"
          },
          {
            "href": "#",
            "text": "Cambiar fase",
            "disabled": true
          },
          {
            "href": "#",
            "text": "Quitar documento",
            "disabled": true
          }
        ]
      })  }}
    {% endcall %}  
  </li>
  <li>
    {% call componentDropdown({
      "text": "Notificar o comunicar",
      "classes": "c-dropdown--sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "notificar-comunicar",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-notificar-comunicar",
          "aria-label": "Notificar o comunicar"
        },
        "items": [
          {
            "href": "#",
            "text": "Notificar"
          },
          {
            "href": "#",
            "text": "Comunicar"
          }
        ]
      })  }}
    {% endcall %}  
  </li>
</ul>