{% from "components/button/_macro.button.njk" import componentButton %}

<ul class="flex flex-wrap gap-sm mb-sm">
  <li>
    {{ componentButton({
      "text": "Quitar expediente",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Añadir expediente",
      "classes": "c-dropdown--sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "anadir-expdte",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-anadir-expdte",
          "aria-label": "Formas de añadir expediente"
        },
        "items": [
          {
            "href": "#",
            "text": "Nuevo"
          },
          {
            "href": "#",
            "text": "Existente"
          }
        ]
      })  }}
    {% endcall %}      
  </li>
</ul>