{% from "components/button/_macro.button.njk" import componentButton %}

<ul class="lg:flex">
  <li>
    {{ componentButton({
      "text": "Organizar",
      "classes": "c-button--transparent c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Descargar",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Cambiar fase",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Eliminar carpeta",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Añadir carpeta",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Quitar documento",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Añadir documento",
      "classes": "c-button--primary c-button--sm ml-sm mb-sm"
    })  }}
  </li>
</ul>