{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<ul class="lg:flex">
  <li>
    {% call componentDropdown({
      "text": "Cambiar estado",
      "classes": "c-dropdown--sm mr-sm mb-sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "cambiar-estado",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-cambiar-estado",
          "aria-label": "Cambiar estado de expedientes seleccionados"
        },
        "items": [
          {
            "href": "#",
            "text": "Abierto"
          },
          {
            "href": "#",
            "text": "Cerrado"
          }
        ]
      })  }}
    {% endcall %}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Editar metadatos",
      "classes": "c-dropdown--sm mr-sm mb-sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "editar-metadatos",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-editar-metadatos",
          "aria-label": "Editar metadatos de expedientes seleccionados"
        },
        "items": [
          {
            "href": "#",
            "text": "Gestionar visibilidad"
          },
          {
            "href": "#",
            "text": "Cambiar procedimiento"
          }
        ]
      })  }}
    {% endcall %}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Exportar",
      "classes": "c-dropdown--sm mr-sm mb-sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "exportar",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-exportar",
          "aria-label": "Exportar expedientes seleccionados"
        },
        "items": [
          {
            "href": "#",
            "text": "Descargar en formato CSV"
          },
          {
            "href": "#",
            "text": "Descargar en formato JSON"
          },
          {
            "href": "#",
            "text": "Descargar en formato XML"
          },
          {
            "href": "#",
            "text": "Descargar en formato XLS"
          }
        ]
      })  }}
    {% endcall %}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Enviar",
      "classes": "c-dropdown--sm mr-sm mb-sm"
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "enviar",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-enviar",
          "aria-label": "Enviar expedientes seleccionados"
        },
        "items": [
          {
            "href": "#",
            "text": "A una bandeja personal"
          },
          {
            "href": "#",
            "text": "A un organismo"
          }
        ]
      })  }}
    {% endcall %}
  </li>
  <li>
    {{ componentButton({
      "text": "Añadir documento",
      "classes": "c-button--sm mb-sm"
    })  }}
  </li>
</ul>