{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<ul class="lg:flex">
  <li>
    {{ componentButton({
      "text": "Importar asientos de REGFIA",
      "classes": "c-button--transparent c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Aceptar",
      "classes": "c-button--sm ml-sm mb-sm",
      "disabled": true
    })  }}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Aceptar y añadir",
      "classes": "c-dropdown--sm ml-sm mb-sm",
      "disabled": true
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "anadir",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-anadir",
          "aria-label": "Aceptar y añadir entradas seleccionadas"
        },
        "items": [
          {
            "href": "#",
            "text": "A un expediente existente"
          },
          {
            "href": "#",
            "text": "A un expediente nuevo"
          }
        ]
      })  }}
    {% endcall %}
  </li>
  <li>
    {% call componentDropdown({
      "text": "Reenviar",
      "classes": "c-dropdown--sm ml-sm mb-sm",
      "disabled": true
      })  %}
      {{ componentNav({
        "isMenu": true,
        "idPrefix": "reenviar",
        "classes": "w-max max-w-64",
        "attributes": {
          "id": "nav-reenviar",
          "aria-label": "Reenviar entradas seleccionadas"
        },
        "items": [
          {
            "href": "#",
            "text": "A una bandeja personal"
          },
          {
            "href": "#",
            "text": "A un organismo"
          }
        ]
      })  }}
    {% endcall %}
  </li>
</ul>