{% from "components/button/_macro.button.njk" import componentButton %}

<ul class="lg:flex">
  <li>
    {{ componentButton({
      "text": "Organizar",
      "classes": "c-button--transparent c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Desasociar",
      "classes": "c-button--sm ml-sm mb-sm"
    })  }}
  </li>
  <li>
    {{ componentButton({
      "text": "Asociar",
      "classes": "c-button--primary c-button--sm ml-sm mb-sm"
    })  }}
  </li>
</ul>