{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{{ componentMenubar({
  "id": "acciones-expedientes",
  "idPrefix": "accion",
  "ariaLabel": "Barra de acciones sobre el listado",
  "items": [
    {
      "text": "Cambiar estado",
      "ariaLabel": "Cambiar estado",
      "id": "cambiar-estado",
      "sub": {
        "items": [
          {
            "role": "menuitem",
            "text": "Abierto"
          },
          {
            "role": "menuitem",
            "text": "Cerrado"
          }
        ],
        "attributes": {
          "aria-labelledby": "cambiar-estado"
        }
      },
      "classes": "c-menubar__button--sm mb-sm mr-sm"
    },
    {
      "text": "Editar metadatos",
      "ariaLabel": "Editar metadatos",
      "id": "editar-metadatos",
      "sub": {
        "items": [
          {
            "role": "menuitem",
            "text": "Gestionar visibilidad"
          },
          {
            "role": "menuitem",
            "text": "Cambiar procedimiento"
          }
        ],
        "attributes": {
          "aria-labelledby": "editar-metadatos"
        }
      },
      "classes": "c-menubar__button--sm mb-sm mr-sm"
    },
    {
      "text": "Exportar",
      "ariaLabel": "Exportar",
      "id": "exportar",
      "sub": {
        "items": [
          {
            "role": "menuitem",
            "text": "Descargar en formato CSV"
          },
          {
            "role": "menuitem",
            "text": "Descargar en formato JSON"
          },
          {
            "role": "menuitem",
            "text": "Descargar en formato XML"
          },
          {
            "role": "menuitem",
            "text": "Descargar en formato XLS"
          }
        ],
        "attributes": {
          "aria-labelledby": "exportar"
        }
      },
      "classes": "c-menubar__button--sm mb-sm mr-sm"
    },
    {
      "text": "Enviar",
      "ariaLabel": "Enviar",
      "id": "enviar",
      "sub": {
        "items": [
          {
            "role": "menuitem",
            "text": "A una bandeja personal"
          },
          {
            "role": "menuitem",
            "text": "A un organismo"
          }
        ],
        "attributes": {
          "aria-labelledby": "enviar"
        }
      },
      "classes": "c-menubar__button--sm mb-sm mr-sm"
    },
    {
      "text": "Añadir documento",
      "ariaLabel": "Añadir documento",
      "id": "add-doc",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "href": "#"
    }
  ],
  "attributes": {
    "aria-label": "Realizar acciones sobre el listado de expedientes"
  }
})  }}
