{% from "components/footer/_macro.footer.njk" import componentFooter %}
{{ componentFooter({
  "meta": {
    "visuallyHiddenTitle": "Enlaces a pie de página",
    "items": [
      {
        "href": "pagina-accesibilidad.html",
        "text": "Accesibilidad"
      },
      {
        "href": "pagina-mapa-web.html",
        "text": "Mapa web"
      }
    ],
    "html": 'Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>'
  },
  "classes": "mt-lg lg:mt-48"
})  }}

<script type="module" src="js/cally.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tippy-bundle.umd.min.js"></script>
<script type="module" src="js/index.js"></script>
</body>
</html>
