{% extends "_template.default.njk" %}
{% block contentBlock %}

<div class="prose">
<div class="pb-lg"></div>
  <h1 id="welcome-to-gesexp-frontend-">Welcome to gesexp-frontend 👋</h1>
  <p><img src="https://img.shields.io/badge/version-1.0.0-blue.svg?cacheSeconds=2592000" alt="Version">
  <img src="https://img.shields.io/badge/npm-%3E%3D6.14.0-blue.svg" alt="Prerequisite">
  <img src="https://img.shields.io/badge/node-%3E%3D12.18.0-blue.svg" alt="Prerequisite">
  <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12"><img src="https://img.shields.io/badge/License-EUPL--1.2-yellow.svg" alt="License: EUPL--1.2"></a></p>
  <blockquote>
  <p>gesexp-frontend es el proyecto de maquetación HTML de la aplicación Gestor de Expedientes.</p>
  </blockquote>
  <h3 id="-homepage-https-desy-ast-aragon-es-">🏠 <a href="https://desy.aragon.es/">Homepage</a></h3>
  <h2 id="prerequisites">Prerequisites</h2>
  <ul>
  <li>npm &gt;=6.14.0</li>
  <li>node &gt;=12.18.0</li>
  </ul>
  <h2 id="install">Install</h2>
  <pre><code class="lang-sh">npm <span class="hljs-keyword">install</span>
  </code></pre>
  <h2 id="author">Author</h2>
  <p>👤 <strong>Desy (SDA Servicios Digitales de Aragón)</strong></p>
  <h2 id="show-your-support">Show your support</h2>
  <p>Give a ⭐️ if this project helped you! </p>
  <h2 id="-license">📝 License</h2>
  <p>This project is <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12">EUPL--1.2</a> licensed.</p>
  <hr>
  <p><em>This README was generated with ❤️ by <a href="https://github.com/kefranabg/readme-md-generator">readme-md-generator</a></em></p>

</div>

{% endblock %}